
  
  .loader {
    position: relative;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #3e3981;
  
  }
  .loader::before, .loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #3e3981;
    position: absolute;
    -webkit-animation: load .7s infinite alternate ease-in-out;
            animation: load .7s infinite alternate ease-in-out;
  }
  .loader::before {
    top: 0;
  }
  .loader::after {
    bottom: 0;
  }
  
  
  @keyframes load {
    0% {
      left: 0;
      height: 30px;
      width: 15px;
    }
    50% {
      height: 8px;
      width: 40px;
    }
    100% {
      left: 235px;
      height: 30px;
      width: 15px;
    }
  }
  
  .bottom  .loader::before,  .bottom .loader::after  {
    background: #F15A24;
  }
  .bottom  .loader{
    color:#F15A24;
    
  }