<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./css/all.css">
	<link rel="stylesheet" href="../fontawesome-free-5.15.4-web/css/all.css">
</head>

<body>
	<div id="app" class="wrap">
		<button id="menuBtn" class="menu_btn">
			<span></span>
		</button>
		<div class="menu">
			<div class="menu_info">
				<div class="pic">
					<img src="./images/avatar.jpeg" alt="">
				</div>
				<div class="txt">
					<h1>Jane Doe</h1>
					<p>Hyperspace Engineer</p>
				</div>
			</div>
			<ul id="menu" class="menu_group">
				<li id="intro" class="menu_group_item active">
					<span class="fas fa-home" data-txt="Intro"></span>
				</li>
				<li id="portfolio" class="menu_group_item">
					<span class="fas fa-th" data-txt="Portfolio"></span>
				</li>
				<li id="about" class="menu_group_item">
					<span class="fas fa-user" data-txt="About Me"></span>
				</li>
				<li id="contact" class="menu_group_item">
					<span class="fas fa-envelope" data-txt="Contact"></span>
				</li>
			</ul>
			<ul class="menu_link">
				<li><a href="#" class="fab fa-twitter"></a></li>
				<li><a href="#" class="fab fa-facebook-f"></a></li>
				<li><a href="#" class="fab fa-github"></a></li>
				<li><a href="#" class="fab fa-dribbble"></a></li>
				<li><a href="#" class="fas fa-envelope"></a></li>
			</ul>
		</div>
		<div id="main" class="main">
			<div name="intro" class="intro">
				<div class="container">
					<h2>
						Hi! I'm <strong>Prologue</strong>, a <a href="http://html5up.net/license">free</a>responsive
						<br>
						site template designed by <a href="http://html5up.net">HTML5 UP</a>.
					</h2>
					<p>
						Ligula scelerisque justo sem accumsan diam quis<br>
						vitae natoque dictum sollicitudin elementum.
					</p>
					<button class="normal_btn">Magna Aliquam</button>
				</div>
			</div>
			<div name="portfolio" class="portfolio">
				<div class="container">
					<div class="main_title">Portfolio</div>
					<p class="main_txt">
						Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
						egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
						Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
						fusce hendrerit lacus ridiculus.
					</p>
					<div class="portfolio_group">
						<div class="portfolio_item">
							<span data-txt="Ipsum Feugiat">
								<img src="./images/pic02.jpeg" alt="">
							</span>
							<span data-txt="Rhoncus Semper">
								<img src="./images/pic03.jpeg" alt="">
							</span>
						</div>
						<div class="portfolio_item">
							<span data-txt="Magna Nullam">
								<img src="./images/pic04.jpeg" alt="">
							</span>
							<span data-txt="Natoque Vitae">
								<img src="./images/pic05.jpeg" alt="">
							</span>
						</div>
						<div class="portfolio_item">
							<span data-txt="Dolor Penatibus">
								<img src="./images/pic06.jpeg" alt="">
							</span>
							<span data-txt="Orci Convallis">
								<img src="./images/pic07.jpeg" alt="">
							</span>
						</div>
					</div>
				</div>
			</div>
			<div name="about" class="about">
				<div class="container">
					<div class="main_title">About Me</div>
					<div class="main_pic">
						<img src="./images/pic08.jpeg" alt="">
					</div>
					<p class="main_txt">
						Tincidunt eu elit diam magnis pretium accumsan etiam id urna. Ridiculus
						ultricies curae quis et rhoncus velit. Lobortis elementum aliquet nec vitae
						laoreet eget cubilia quam non etiam odio tincidunt montes. Elementum sem
						parturient nulla quam placerat viverra mauris non cum elit tempus ullamcorper
						dolor. Libero rutrum ut lacinia donec curae mus vel quisque sociis nec
						ornare iaculis.
					</p>
				</div>
			</div>
			<div name="contact" class="contact">
				<div class="container">
					<div class="main_title">Contact</div>
					<p class="main_txt">
						Elementum sem parturient nulla quam placerat viverra
						mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
						donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
						orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.
					</p>
					<div class="contact_form">
						<input type="text" class="normal_inp" placeholder="Name">
						<input type="text" class="normal_inp" placeholder="Email">
						<textarea class="normal_textarea" name="" id="" cols="30" rows="10"
							placeholder="Message"></textarea>
						<button class="normal_btn">Send Message</button>
					</div>
				</div>
			</div>
			<footer>
				<ul class="copyright">
					<li>© Untitled. All rights reserved.</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					<li>
						Demo Images:
						<a href="http://ineedchemicalx.deviantart.com/">Felicia Simion</a> +
						<a href="http://unsplash.com">Unsplash</a>
					</li>
					<li>
						<a href="https://html5up.net/prologue">原始網頁</a>
					</li>
				</ul>
			</footer>
		</div>
	</div>


	<script src="./js/index.js"></script>
</body>

</html>