// RWD相關
$breakpoints: (
	pc: 1280px,
	big_pad: 1180px,
	pad: 1024px,
	pad_vl: 996px,
	ph: 599px
);

@mixin mw_xl {
	@media screen and (max-width: map-get($breakpoints, "pc")) {
		@content;
	}
}

h1 {
	color: #000;
	@include mw_xl {
		color: #fff;
	}
}

h2 {
	color: #ff0;
	@include mw_xl {
		color: #0ff;
	}
}
