<html>

<body>
	<div id="app">
		<nav>
			<router-link to="/">首頁</router-link>
			<router-link to="/about">關於</router-link>
		</nav>
		<router-view></router-view>
		<my-component></my-component>
		<h1>Vuex Example</h1>
		<p>Count: {{ count }}</p>
		<button @click="increment">Increment</button>
		<button @click="decrement">Decrement</button>
	</div>
	<script src="https://unpkg.com/vue@latest"></script>
	<script src="./js/libs/vue3-sfc-loader.js"></script>
	<script src="./js/libs/vue-router_4_3_2.js"></script>
	<script src="./js/libs/vuex_4_0_2.js"></script>
	<script src="./store/store.js"></script>
	<script>

		const options={
			moduleCache: {
				vue: Vue
			},
			async getFile(url) {
				const res=await fetch(url);
				if (!res.ok)
					throw Object.assign(new Error(res.statusText+' '+url), { res });
				return {
					getContentData: asBinary => asBinary? res.arrayBuffer():res.text(),
				}
			},
			addStyle(textContent) {
				const style=Object.assign(document.createElement('style'), { textContent });
				const ref=document.head.getElementsByTagName('style')[0]||null;
				document.head.insertBefore(style, ref);
			},
		}

		const { loadModule }=window['vue3-sfc-loader'];

		const routes=[
			{
				path: '/',
				component: () => loadModule('./page/home.vue', options),
			},
			{
				path: '/about',
				component: () => loadModule('./page/about.vue', options),
			},
		];
		const router=VueRouter.createRouter({
			history: VueRouter.createWebHistory(''),
			routes
		})

		const app=Vue.createApp({
			components: {
				'my-component': Vue.defineAsyncComponent(() => loadModule('./components/UserComponent.vue', options))
			}, computed: {
				count() {
					return this.$store.state.count;
				},
			},
			methods: {
				increment() {
					this.$store.dispatch('increment');
				},
				decrement() {
					this.$store.dispatch('decrement');
				},
			},
		});
		app.use(router);
		app.use(store);
		app.mount('#app');

	</script>
</body>

</html>