* {
	margin: 0;
	padding: 0;
	list-style: none;
}

html,
body {
	width: 100%;
}

.wrap {
	width: 100%;
	display: flex;
	justify-content: center;
}

.selfStyle {
	overflow: hidden;
	width: 100%;
	max-width: 1200px;
	line-height: 1;
}

.selfStyle div,
.selfStyle span {
	font-family: "Noto Sans TC", sans-serif !important;
}

.selfStyle li {
	list-style: none;
}

.selfStyle_buynow_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 25px 106px;
	background-color: #20523B;
	color: #FFFBD4;
	font-size: 80px;
	border-radius: 9px;
}

.selfStyle img {
	width: 100%;
	vertical-align: middle;
}

.selfStyle_item {
	position: relative;
}

.selfStyle_item._item1 {
	padding-top: 80px;
}

.selfStyle_item._item2 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 70px 0 95px;
	background-color: #20523B;
}

.selfStyle_item._item3 {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.selfStyle_item._item3 img {
	position: relative;
	z-index: 1;
	max-width: 840px !important;
}

.selfStyle_item._item3::before,
.selfStyle_item._item3::after {
	position: absolute;
	content: "";
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.selfStyle_item._item3::before {
	top: -1px;
	width: 1178px;
	height: 1178px;
	background-image: url('./simple/simple_img3_2.png');
}

.selfStyle_item._item3::after {
	top: 300px;
	width: 1151px;
	height: 1151px;
	background-image: url('./simple/simple_img3_3.png');
}

.selfStyle_item._item4 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 120px 0;
}

.selfStyle_item._item5 {
	z-index: 1;
	display: flex;
	align-items: center;
	height: 362px;
	padding-left: 80px;
	background-color: #20523B;
}

.selfStyle_item._item5::before {
	position: absolute;
	bottom: -320px;
	right: -415px;
	content: "";
	width: 640px;
	height: 640px;
	border: 134px solid;
	border-radius: 100%;
	box-sizing: border-box;
	border-color: #fff #20523B #20523B #20523B;
	transform: rotate(-45deg);
}


.selfStyle_item._item7 {
	padding: 32px 0;
	background-color: #20523B;
}

.selfStyle_item._item9 {
	display: flex;
	justify-content: center;
	padding: 120px 0 102px;
	background-color: #20523B;
}

.selfStyle_item_btnbox10 {
	display: flex;
	justify-content: center;
	padding: 56px 10px 76px;
}

.selfStyle_item._item10::before {
	position: absolute;
	top: -320px;
	left: -415px;
	content: "";
	width: 640px;
	height: 640px;
	border: 134px solid;
	border-radius: 100%;
	box-sizing: border-box;
	border-color: #fff #fff #20523B #20523B;
	transform: rotate(-45deg);
}


.selfStyle_item._item11 {
	z-index: 1;
	padding-top: 50px;
	height: 261px;
	background-color: #20523B;

}

.selfStyle_item._item14 {
	padding-top: 380px;
	padding-bottom: 380px;
}

.selfStyle_item._item15 {
	overflow: hidden;
	display: flex;
	align-items: center;
	height: 331px;
	padding-left: 80px;
	background-color: #20523B;
}

.selfStyle_item._item17 {
	display: flex;
	justify-content: space-between;
	padding-top: 124px;
	padding-left: 84px;
	padding-right: 84px;
	padding-bottom: 71px;
	background-color: #20523B;
}

.selfStyle_item._item18 {
	padding-bottom: 58px;
	background-color: #20523B;
}

.selfStyle_item._item20 {
	display: flex;
	justify-content: center;
	height: 224px;
	background-color: #20523B;
}

.selfStyle_item._item22 {
	padding-top: 114px;
	padding-bottom: 180px;
	padding-left: 78px;
	padding-right: 78px;
	background-color: #20523B;
}

.selfStyle_item._item23 {
	padding-top: 125px;
	padding-left: 80px;
	padding-right: 80px;
}

.selfStyle_item._item24 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 170px;
	padding-bottom: 140px;
}

.simple_img1 {
	max-width: 522px !important;
}

.simple_img1_1 {
	margin-top: 52px;
}

.selfStyle_item_txt1 {
	padding-left: 153px;
	font-size: 74px;
	font-weight: 500;
	line-height: 107.15px;
	letter-spacing: 0.06em;
	color: #20523B;
}

.simple_img2_1 {
	max-width: 228px !important;
}

.simple_img2_2 {
	max-width: 600px !important;
	margin-left: 30px;
}

.selfStyle_item_txt3 {
	z-index: 2;
	position: absolute;
	top: 85px;
	left: 80px;
}

.selfStyle_item_txt3 div:nth-child(1)::before,
.selfStyle_item_txt3 div:nth-child(1)::after {
	display: block;
	font-size: 138px;
	font-weight: 700;
	line-height: 123px;
	letter-spacing: -0.03em;
	text-align: left;
	color: #20523B;
}

.selfStyle_item_txt3 div:nth-child(1)::before {
	content: attr(data-t);
}

.selfStyle_item_txt3 div:nth-child(1)::after {
	content: attr(data-b);
}


.selfStyle_item_txt3 div:nth-child(2) {
	margin-top: 20px;
	padding: 20px 25px;
	background-color: #20523B;
	color: #fff;
	font-size: 28px;
	font-weight: 500;
	line-height: 40.54px;
	letter-spacing: 0.06em;
}

.selfStyle_item_txt3_1 {
	z-index: 2;
	position: absolute;
	top: 867px;
	right: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 230px;
	height: 230px;
	padding: 20px;
	background-color: #3C8E43;
	color: #fff;
	border-radius: 100%;
	font-size: 39px;
	font-weight: 700;
	line-height: 47.07px;
	letter-spacing: 0.04em;
	text-align: center;
}

.selfStyle_item_list4 {
	color: #20523B;
}

.selfStyle_item_list4 .light_g {
	color: #52894C;
}

.selfStyle_item_list4 div:nth-child(1) {
	font-size: 74px;
	font-weight: 700;
	line-height: 107.15px;
	letter-spacing: 0.06em;
}

.selfStyle_item_list4 div:nth-child(2) {
	font-size: 63px;
	font-weight: 500;
	line-height: 91.22px;
	letter-spacing: 0.06em;
}

.selfStyle_item_list4+.selfStyle_item_list4 {
	margin-left: 120px;
}

.simple_img5_1 {
	max-width: 228px !important;
}

.selfStyle_item_txt5 {
	margin-left: 20px;
}

.selfStyle_item_txt5 div:nth-child(1) {
	font-size: 62px;
	font-weight: 400;
	line-height: 89.78px;
	letter-spacing: 0.06em;
	color: #fff;
}

.selfStyle_item_txt5 div:nth-child(2) {
	font-size: 64px;
	font-weight: 700;
	line-height: 92.67px;
	letter-spacing: 0.06em;
	color: #fff;
}


.selfStyle_item_txt7_1 {
	position: relative;
	display: flex;
	justify-content: center;
}

.selfStyle_item_txt7_1::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 8px;
	margin: auto;
	background-color: #fff;
}

.selfStyle_item_txt7_1::after {
	content: attr(data-txt);
	position: relative;
	padding: 0 20px;
	font-size: 56px;
	font-weight: 500;
	line-height: 81.09px;
	letter-spacing: 0.06em;
	text-align: center;
	background-color: #20523B;
	color: #fff;
}

.selfStyle_item_txt7_2 {
	font-size: 88px;
	font-weight: 700;
	line-height: 127.42px;
	letter-spacing: 0.06em;
	color: #fff;
	text-align: center;
}

.simple_img9_1 {
	max-width: 682px !important;
}

.simple_img10_2 {
	position: absolute;
	top: -291px;
	left: 0;
	width: 216px !important;
}

._item10 .selfStyle_buynow_btn {
	width: 615px;
	left: 0;
	right: 0;
	bottom: 100px;
	margin: auto;
	box-sizing: border-box;
}

.selfStyle_item_txt11_1 {
	position: relative;
	display: flex;
	justify-content: center;
}

.selfStyle_item_txt11_1::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 8px;
	margin: auto;
	background-color: #fff;
}

.selfStyle_item_txt11_1::after {
	content: "";
	position: relative;
	width: 313px;
	height: 122px;
	padding: 0 20px;
	background: url('//cdn.cybassets.com/s/files/29074/ckeditor/pictures/content_a34c9f3a-abe5-487e-a269-2b2d36f33248.png')no-repeat center/contain, #20523B;

}

.selfStyle_item_txt11_2 {
	position: absolute;
	bottom: -50px;
	left: 0;
	right: 0;
	font-size: 98px;
	font-weight: 700;
	line-height: 141.9px;
	letter-spacing: 0.06em;
	text-align: center;
	color: #fff;
}

.selfStyle_item_txt13_1 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 94px;
}

.selfStyle_item_txt13_1 .num {
	font-size: 313px;
	font-weight: 700;
	line-height: 313px;
	color: #3C8E43;
}

.selfStyle_item_txt13_1 .info div:nth-child(1) {
	font-size: 125.48px;
	font-weight: 700;
	line-height: 125px;
	letter-spacing: 0.06em;
	color: #20523B;
}

.selfStyle_item_txt13_1 .info div:nth-child(2) {
	font-size: 116.48px;
	font-weight: 700;
	line-height: 116px;
	letter-spacing: 0.005em;
	color: #52894C;
}


.selfStyle_item_txt14_1 {
	position: absolute;
	top: -50px;
	bottom: 0;
	right: 0;
	left: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 563px;
	height: 231px;
	margin: auto;
	background-color: #20523B;
}

.selfStyle_item_txt14_1 div:nth-child(1) {
	font-size: 87px;
	font-weight: 700;
	line-height: 125.98px;
	letter-spacing: 0.06em;
	color: #FFFBD4;
}

.selfStyle_item_txt14_1 div:nth-child(2) {
	font-size: 69px;
	font-weight: 500;
	line-height: 99.91px;
	letter-spacing: 0.07em;
	color: #FFFBD4;
}

.icon_pn,
.icon_time,
.icon_shake {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icon_shake {
	top: 120px;
	left: 50px;
	right: 0;
	margin: auto;
	text-align: center;
}

.icon_shake img {
	max-width: 407px !important;
}

.selfStyle_item._item14 .txt1 {
	font-size: 61px;
	font-weight: 700;
	line-height: 88.33px;
	letter-spacing: 0.025em;
	text-align: left;
	color: #20523B;
}

.selfStyle_item._item14 .txt2 {
	font-size: 32px;
	font-weight: 500;
	line-height: 46.34px;
	letter-spacing: 0.01em;
	text-align: left;
	color: #20523B;
}

.selfStyle_item._item14 .txt1::after {
	content: attr(data-txt);
	margin-left: 15px;
}

.icon_time img {
	width: 267px;
	height: 267px;
}

.icon_time {
	bottom: 190px;
	left: 50px;
	margin: auto;
	text-align: center;
}

.selfStyle_item._item14 .icon_time .txt2 {
	text-align: center;
}

.icon_pn img {
	width: 267px;
	height: 267px;
}

.selfStyle_item._item14 .icon_pn .txt2 {
	text-align: center;
}

.icon_pn {
	bottom: 190px;
	right: 50px;
	margin: auto;
	text-align: center;
}

.selfStyle_item_border {
	pointer-events: none;
	position: absolute;
	top: -197px;
	right: 312px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.selfStyle_item_border::before,
.selfStyle_item_border:after {
	content: "";
	border: 2px solid #BAD59B;
	border-radius: 100%;
}

.selfStyle_item_border::before {
	width: 1600px;
	height: 1600px;
}

.selfStyle_item_border::after {
	position: absolute;
	width: 800px;
	height: 800px;
}

.selfStyle_item_txt15_1 {
	position: relative;
	font-size: 88px;
	font-weight: 700;
	line-height: 127.42px;
	letter-spacing: 0.06em;
	color: #FFFFFF;
}

.simple_img15 {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 1038px !important;
}

.selfStyle_item_txt16_1 {
	position: absolute;
	display: flex;
	padding-left: 120px;
}

.selfStyle_item_txt16_1 span:nth-child(1) {
	font-size: 182.45px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.02em;
	color: #20523B;
}

.selfStyle_item_txt16_1 span:nth-child(3) {
	position: relative;
	top: 150px;
	right: -81px;
	font-size: 127.45px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.05em;
	color: #20523B;
}

.simple_img16_2 {
	position: absolute;
	top: 55px;
	left: 37%;
	width: 240px !important;
}


.selfStyle_item_group {
	position: absolute;
	top: 222px;
	left: -116px;
	padding-top: 100px !important;
}

.selfStyle_item_group li:nth-child(1) {
	padding-left: 680px;
}

.selfStyle_item_group li:nth-child(2) {
	padding-left: 600px;
}

.selfStyle_item_group li:nth-child(3) {
	padding-left: 520px;
}

.selfStyle_item_group li:nth-child(4) {
	padding-left: 440px;
	margin-top: 80px;
}

.selfStyle_item_group li+li {
	margin-top: 60px;
}

.liTitle {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 44px;
	color: #20523B;
}

.litxt {
	position: relative;
	padding-left: 20px;
	font-weight: 400;
	font-size: 36px;
	color: #20523B;
}

.litxt::before {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 10px;
	height: 100%;
	background-color: #20523B;
}

.litxt span {
	display: block;
}


.selfStyle_item_list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #FFFBD4;
	font-size: 47px;
}

.selfStyle_item_list::before {
	content: "";
	display: block;
	width: 190px;
	height: 190px;
	margin-bottom: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.selfStyle_item_list:nth-child(1):before {
	background-image: url('//cdn.cybassets.com/s/files/29074/ckeditor/pictures/content_c6b5f9e5-365c-466e-92d1-c934dddea798.png');
}

.selfStyle_item_list:nth-child(2):before {
	background-image: url('//cdn.cybassets.com/s/files/29074/ckeditor/pictures/content_5a3381a7-fa2d-4de8-bfab-ce4609d921bb.png');
}

.selfStyle_item_list:nth-child(3):before {
	background-image: url('//cdn.cybassets.com/s/files/29074/ckeditor/pictures/content_ecaee89f-dea6-4da3-b783-3395b8559d5a.png');
}

.selfStyle_item_list:nth-child(4):before {
	background-image: url('//cdn.cybassets.com/s/files/29074/ckeditor/pictures/content_77e8a83c-26b1-44fc-ab6b-e8d16a6b00b5.png');
}



.selfStyle_item_txt18_1 {
	position: relative;
	display: flex;
	justify-content: center;
}

.selfStyle_item_txt18_1::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 8px;
	margin: auto;
	background-color: #fff;
}

.selfStyle_item_txt18_1::after {
	content: attr(data-txt);
	position: relative;
	padding: 0 20px;
	font-size: 56px;
	font-weight: 500;
	line-height: 81.09px;
	letter-spacing: 0.06em;
	text-align: center;
	background-color: #20523B;
	color: #fff;
}

.selfStyle_item_txt18_2 {
	font-size: 88px;
	font-weight: 700;
	line-height: 127.42px;
	letter-spacing: 0.06em;
	color: #fff;
	text-align: center;
}

.selfStyle_item_list19 {
	display: flex;
}

.simple_img19_1 {
	max-width: 464px !important;
}

.simple_img19_2 {
	max-width: 385px !important;
}

.simple_img19_3 {
	max-width: 381px !important;
}


.simple_img20 {
	position: relative;
	top: -80px;
	max-width: 846px !important;
}

.simple_img21_1 {
	position: absolute;
	top: 64px;
	left: 84px;
	max-width: 255px !important;
}



.selfStyle_item_group22 {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 112px;
	padding: 0 !important;
}

.selfStyle_item_group22 li {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 1038px;
}

.selfStyle_item_group22 li:nth-child(even) {
	flex-direction: row-reverse;
}

.selfStyle_item_group22 li+li {
	margin-top: 110px;
}


.selfStyle_item_group22 li img {
	flex: none;
	width: 277px !important;
	height: 277px !important;
	margin-right: 56px;
}

.selfStyle_item_group22 li:nth-child(even) img {
	margin-right: 0;
	margin-left: 56px;
}

span.bold {
	font-weight: 700;
}

.selfStyle_item_group22 .txt {
	width: calc(100% - 340px);
	color: #fff;
}

.selfStyle_item_group22 .name {
	margin-bottom: 12px;
	font-size: 41px;
	font-weight: 700;
	line-height: 52px;
	letter-spacing: 0.04em;

}

.selfStyle_item_group22 li:nth-child(even) .name {
	text-align: right;
}

.selfStyle_item_group22 .info {
	padding: 35px 33px 55px 61px;
	border-width: 3px;
	border-color: #fff;
	border-style: solid;
	line-height: 52px;
	letter-spacing: 0.06em;
	font-size: 34px;
}

.selfStyle_item_group22 li:nth-child(odd) .info {
	border-radius: 0px 152px 152px 152px;
}

.selfStyle_item_group22 li:nth-child(even) .info {
	border-radius: 131px 0px 131px 131px;
}

.selfStyle_item_txt22 div {
	color: #fff;
	font-weight: 700;
	text-align: center;
}

.selfStyle_item_txt22 div:nth-child(1) {
	font-size: 110px;
	line-height: 159.28px;

}

.selfStyle_item_txt22 div:nth-child(2) {
	margin-top: 5px;
	font-size: 36px;
	letter-spacing: 0.2em;

}

.grow_img22_6 {
	position: absolute;
	top: 140px;
	right: 0;
	width: 530px !important;
}

.selfStyle_item_txt23 {
	color: #20523B;
	font-size: 110px;
	font-weight: 700;
	line-height: 133.13px;
	letter-spacing: 0.04em;
	text-align: center;
}

img.simple_img23_1 {
	width: 182px;
}

img.simple_img23_2 {
	width: 180px;
}

img.simple_img23_3 {
	width: 271px;
}

.selfStyle_item_group23 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.selfStyle_item_group23 li {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.selfStyle_item_group23 li+li {
	margin-left: 50px;
}

.selfStyle_item_group23 div:nth-child(1) {
	margin-top: 50px;
	font-size: 61px;
	font-weight: 700;
	line-height: 88.33px;
	letter-spacing: 0.025em;
	text-align: center;
	color: #20523B;
}

.selfStyle_item_group23 div:nth-child(2) {
	margin-top: 30px;
	font-size: 42px;
	font-weight: 500;
	line-height: 55px;
	letter-spacing: 0.025em;
	text-align: center;

	color: #20523B;
}

.selfStyle_item_txt23_1 {
	margin-top: 80px;
	padding: 40px 80px;
	font-size: 48px;
	font-weight: 700;
	line-height: 64px;
	letter-spacing: 0.07em;
	text-align: center;
	background-color: #20523B;
	color: #fff;
}




.selfStyle_item_txt24 {
	font-size: 80px;
	font-weight: 700;
	line-height: 115.84px;
	color: #20523B;
	text-align: center;
}

.selfStyle_item_txt24::after {
	content: attr(data-txt);
	display: block;
	font-size: 60px;
	line-height: 73.26px;
	text-align: center;

}

.selfStyle_item_group24 {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 66px;
}

.selfStyle_item_group24 li {
	max-width: 1000px;
}

.selfStyle_item_group24 li+li {
	margin-top: 80px;
}

.selfStyle_item_group24 div:nth-child(1) {
	font-size: 36px;
	font-weight: 700;
	line-height: 52.13px;
	color: #20523B;
}

.selfStyle_item_group24 div:nth-child(2) {
	margin-top: 16px;
	padding: 38px 22px;
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
	background-color: #20523B;
	color: #fff;
}

._item24 .selfStyle_buynow_btn {
	margin-top: 116px;
}

@media screen and (max-width:991px) {
	.selfStyle_item_txt13_1 .num {
		font-size: 215px;
	}

	.selfStyle_item_txt13_1 .info div:nth-child(1) {
		font-size: 80px;
		line-height: 1;
	}

	.selfStyle_item_txt13_1 .info div:nth-child(2) {
		font-size: 73px;
		line-height: 1;
	}




	.selfStyle_item_txt11_1::after {
		width: 280px;
		height: 95px;
	}

	.selfStyle_item_txt11_2 {
		bottom: -30px;
		font-size: 75px;
		line-height: 1;
	}

	.selfStyle_item._item11 {
		padding-top: 35px;
		height: 210px;
	}



	._item10 .selfStyle_buynow_btn {
		bottom: 120px;
		width: 450px;
		padding: 25px;
		font-size: 60px;
	}

	.selfStyle_item._item10::before {
		top: -250px;
		left: -350px;
		width: 500px;
		height: 500px;
		border-width: 100px;
	}

	.simple_img9_1 {
		max-width: 450px !important;
	}

	.selfStyle_item._item9 {
		padding: 100px 0px;
	}




	.selfStyle_item._item5 {
		height: 330px;
		padding-left: 40px;
	}

	.simple_img5_1 {
		max-width: 130px !important;
	}

	.selfStyle_item_txt5 div:nth-child(1) {
		font-size: 40px;
		line-height: 50px;
	}

	.selfStyle_item_txt5 div:nth-child(2) {
		font-size: 40px;
		line-height: 60px;
	}

	.selfStyle_item._item5::before {
		bottom: -250px;
		right: -350px;
		width: 500px;
		height: 500px;
		border-width: 100px;
	}

	.selfStyle_item_list4 div:nth-child(1) {
		font-size: 50px;
		line-height: 70px;
	}

	.selfStyle_item_list4 div:nth-child(2) {
		font-size: 35px;
		line-height: 70px;
	}

	.selfStyle_item_list4+.selfStyle_item_list4 {
		margin-left: 50px;
	}

	.selfStyle_item._item3 {
		max-width: 723px;
		margin: auto;
	}

	.selfStyle_item_txt3 div:nth-child(1)::before,
	.selfStyle_item_txt3 div:nth-child(1)::after {
		font-size: 75px;
		line-height: 70px;
	}

	.selfStyle_item_txt3_1 {
		top: 450px;
		right: 90px;
		width: 160px;
		height: 160px;
		font-size: 26px;
		line-height: 35px;
	}

	.selfStyle_item._item3::after {
		top: 200px;
		left: -20px;
		width: 800px;
		height: 800px;
	}

	.selfStyle_item._item3 img {
		top: -25px;
		max-width: 630px !important;
	}

	.selfStyle_item._item3::before {
		top: -40px;
		left: -20px;
		width: 800px;
		height: 800px;
	}

	.selfStyle_item_txt3 div:nth-child(2) {
		padding: 15px 15px;
		font-size: 15px;
	}

	.simple_img2_1 {
		max-width: 180px !important;
	}

	.simple_img2_2 {
		max-width: 440px !important;
		margin-left: 20px;
	}


	.selfStyle_item_txt1 {
		padding-left: 120px;
		font-size: 60px;
	}

}

@media screen and (max-width:767px) {
	.selfStyle_item_txt11_1::after {
		width: 240px;
		height: 80px;
	}

	.selfStyle_item_txt11_2 {
		bottom: -20px;
		font-size: 50px;
	}

	.selfStyle_item._item11 {
		height: 170px;
	}






	.selfStyle_item_btnbox10 {
		padding: 50px 10px;
	}

	._item10 .selfStyle_buynow_btn {
		width: 300px;
		padding: 25px;
		font-size: 45px;
	}




	.selfStyle_item._item10::before {
		top: -150px;
		left: -200px;
		width: 300px;
		height: 300px;
		border-width: 50px;
	}

	.simple_img9_1 {
		max-width: 300px !important;
	}

	[__scoped_1] .selfStyle_item._item9 {
		padding: 70px 0px;
	}



	.selfStyle_item_txt7_2 {
		font-size: 60px;
		line-height: 90px;
	}

	.selfStyle_item_txt7_1::after {
		padding: 0 25px;
		font-size: 45px;
		line-height: 50px;
	}

	.selfStyle_item._item5 {
		height: 235px;
		padding-left: 25px;
	}

	.simple_img5_1 {
		max-width: 110px !important;
	}

	.selfStyle_item_txt5 div:nth-child(2) {
		font-size: 30px;
		line-height: 50px;
	}

	.selfStyle_item_txt5 div:nth-child(1) {
		font-size: 30px;
		line-height: 40px;
	}

	.selfStyle_item._item5::before {
		bottom: -150px;
		right: -200px;
		width: 300px;
		height: 300px;
		border-width: 50px;
	}

	.selfStyle_item._item4 {
		padding: 60px 0;
	}

	.selfStyle_item_list4 div:nth-child(1) {
		font-size: 36px;
		line-height: 52px;
	}

	.selfStyle_item_list4 div:nth-child(2) {
		font-size: 30px;
		line-height: 50px;
	}

	.selfStyle_item._item3 {
		max-width: 530px;
		margin: auto;
	}

	.selfStyle_item_txt3 div:nth-child(1) {
		line-height: 1;
	}

	.selfStyle_item_txt3 div:nth-child(1)::before,
	.selfStyle_item_txt3 div:nth-child(1)::after {
		font-size: 55px;
		line-height: 35px;
	}


	.selfStyle_item._item3 img {
		max-width: 530px;
	}

	.selfStyle_item_txt3 div:nth-child(2) {
		margin-top: 10px;
		padding: 5px;
		font-size: 12px;
	}

	.selfStyle_item_txt3 {
		left: 45px;
	}

	.selfStyle_item._item3::before {
		top: 0px;
		left: -17px;
		width: 550px;
		height: 550px;
	}

	.selfStyle_item._item3::after {
		width: 550px;
		height: 550px;
	}

	.selfStyle_item_txt3_1 {
		top: 405px;
		right: 55px;
		width: 130px;
		height: 130px;
		font-size: 20px;
		line-height: 28px;
	}

	.selfStyle_item._item2 {
		padding: 30px 0;
	}

	.simple_img2_1 {
		max-width: 130px !important;
	}

	.simple_img2_2 {
		max-width: 310px !important;
	}

	.simple_img1 {
		max-width: 300px !important;
	}

	.selfStyle_item_txt1 {
		padding-left: 90px;
		font-size: 47px;
		line-height: 65px;
	}
}

@media screen and (max-width:575px) {
	.selfStyle_item_txt11_1::after {
		width: 185px;
		height: 60px;
	}

	.selfStyle_item_txt11_2 {
		bottom: -14px;
		font-size: 35px;
	}

	.selfStyle_item._item11 {
		padding-top: 25px;
		height: 130px;
	}



	.selfStyle_item_btnbox10 {
		padding: 30px 10px;
	}

	._item10 .selfStyle_buynow_btn {
		width: 200px;
		padding: 25px;
		font-size: 28px;
	}

	.selfStyle_item._item10::before {
		top: -50px;
		left: -51px;
		width: 100px;
		height: 100px;
		border-width: 30px;
	}

	.simple_img9_1 {
		max-width: 200px !important;
	}

	.selfStyle_item._item9 {
		padding: 50px 0px;
	}






	.selfStyle_item_txt7_1::after {
		font-size: 26px;
		line-height: 35px;
	}

	.selfStyle_item_txt7_2 {
		font-size: 36px;
		line-height: 60px;
	}

	.selfStyle_item._item7 {
		padding: 25px 0;
	}






	.selfStyle_item_txt5 {
		margin-left: 10px;
	}

	.selfStyle_item._item5 {
		height: 160px;
		padding-left: 20px;
	}

	.selfStyle_item._item5::before {
		bottom: -50px;
		right: -51px;
		width: 100px;
		height: 100px;
		border-width: 30px;
	}

	.simple_img5_1 {
		max-width: 80px !important;
	}

	.selfStyle_item_txt5 div:nth-child(2) {
		font-size: 20px;
		line-height: 30px;
	}

	.selfStyle_item_txt5 div:nth-child(1) {
		font-size: 20px;
		line-height: 30px;
	}






	.selfStyle_item._item4 {
		padding: 115px 0px 30px;
	}

	.selfStyle_item_list4 div:nth-child(1) {
		font-size: 25px;
		line-height: 30px;
	}

	.selfStyle_item_list4 div:nth-child(2) {
		font-size: 20px;
		line-height: 43px;
	}

	.selfStyle_item_list4+.selfStyle_item_list4 {
		margin-left: 20px;
	}








	.selfStyle_item._item3 {
		max-width: 315px;
		margin: auto;
	}

	.selfStyle_item_txt3_1 {
		top: 195px;
		right: 5px;
		width: 90px;
		height: 90px;
		padding: 10px;
		font-size: 16px;
		line-height: 22px;
	}










	.selfStyle_item._item3 img {
		top: 0px;
		max-width: 240px !important;
		left: 30px;
	}

	.selfStyle_item._item3::before {
		top: 10px;
		left: -20px;
		width: 350px;
		height: 350px;
	}

	.selfStyle_item._item3::after {
		top: 115px;
		left: -35px;
		width: 350px;
		height: 350px;
	}






	.selfStyle_item_txt3 {
		left: 0;
	}

	.selfStyle_item._item3 img {
		max-width: 315px;
	}

	.selfStyle_item_txt3 div:nth-child(1) {
		display: flex;
		white-space: nowrap;
	}

	.selfStyle_item_txt3 div:nth-child(1)::before,
	.selfStyle_item_txt3 div:nth-child(1):after {
		font-size: 26px;
		line-height: 1px;
	}

	.selfStyle_item_txt3 div:nth-child(1):after {
		margin-left: 5px;
	}










	.simple_img2_1 {
		max-width: 70px !important;
	}

	.simple_img2_2 {
		max-width: 190px !important;
		margin-left: 10px;
	}



	.simple_img1 {
		max-width: 240px !important;
	}

	.selfStyle_item_txt1 {
		padding-left: 72px;
		font-size: 26px;
		line-height: 40px;
	}

	.simple_img1_1 {
		margin-top: 30px;
	}
}