html,
body {
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* flex-wrap: wrap; */
	width: 100%;
	height: 100%;
	background-color: #ccc;
}
.box,
.box1 {
	overflow: auto;
	width: 592px;
	height: 196px;
	background-color: #fff;
}
.box1 {
	margin-top: 5px;
}
.tb_test {
	width: 100%;
	height: 100%;
	/* table-layout: fixed; */
	text-align: center;
	background-color: #fff;
	border-collapse: collapse;
	border-spacing: 0;
}
.tb_test th,
.tb_test td {
	width: 90px;
	padding: 2px;
	background-color: #fff;
}
.tb_test th span,
.tb_test td span {
	display: block;
	width: 90px;
	height: 24px;
}
.tb_test tbody td span {
	background-color: #e6e6e5;
}
.tb_test thead th,
.tb_test thead td {
	position: sticky;
	top: 0;
	z-index: 1;
}
.tb_test tbody th {
	position: sticky;
	left: 0;
}
.tb_test thead th,
.tb_test tbody th,
.tb_test thead th span,
.tb_test tbody th span {
	width: 24px;
	height: 24px;
}
.box_btn {
	width: 100%;
	text-align: center;
}
.box1_title {
	display: flex;
}
.box1_title span {
	display: block;
	width: 90px;
	height: 24px;
	text-align: center;
}
.box1_title span:first-child {
	width: 24px;
}
