/* fallback */
.disclaimer {
    display: none !important;
}
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v107/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
        format("woff2");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.wrap {
    width: 100%;
    min-height: 100%;
    background: linear-gradient(to bottom, transparent, #1e1e1e),
        url("../images/photo-1483728642387-6c3bdd6c93e5.avif") no-repeat
            center/cover;

    @at-root &.home {
        padding-top: 30vh;
    }
}

.container {
    padding: 80px;
    @include mw(XL) {
        padding: 30px;
    }
}

.menu {
    @include d_f(flex, space-between, center);
    flex-wrap: wrap;
    color: #fff;
    // menu_time
    &_time {
        font-size: 96px;
        font-weight: 400;
        line-height: 80px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
    //menu_temperature{
    &_temperature {
        position: relative;
        @include d_f(flex, none);
        margin-left: 20px;
        font-size: 24px;
        &:after {
            position: absolute;
            top: 8px;
            left: calc(100% + 5px);
        }
        i {
            display: block;
            margin-right: 5px;
        }
        // menu_temperature_sun
        &_sun {
            width: 14px;
            height: 14px;
            fill: #fdd835;
        }
    }
    // menu_note
    &_note {
        @include d_f(inline-flex, none, center);
        width: 100%;
        margin-top: 10px;
        span {
            margin-left: 5px;
            color: #1e1e1e;
        }
        i {
            display: block;
            width: 11px;
            margin-right: 5px;
            fill: #fff;
        }
    }

    // menu_nav
    &_nav {
        @include d_f(inline-flex);
        width: 100%;
        margin-top: 20px;
        // menu_nav_li
        &_li {
            padding: 10px 20px;

            & + & {
                margin-left: 10px;
            }
        }
    }
    // menu_link
    &_link {
        margin-top: 15px;
        // menu_link_li
        &_li {
            @include d_f(flex, none, center);
            padding: 10px 20px;
        }
    }
    // dayinfo
    .dayinfo {
        @include d_f(flex, none, flex-end);
    }
    // menu_close
    &_close {
        @include d_f(inline-flex, center);
        width: 100px;
        padding: 10px;
        i {
            display: block;
            width: 16px;
            height: 16px;
            fill: #fff;
        }
    }
}

.msg_right {
    &:after {
        content: attr(data-msgr);
        font-size: 12px;
    }
}

.normal_btn {
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    @include hoverHandler {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    @extend %hand;
}

.icon {
    display: block;
    &._youtube {
        width: 18px;
        height: 16px;
        margin-right: 5px;
        fill: #ef5350;
    }
}

.info {
    width: 100%;
    margin-top: 60px;
    & + & {
        margin-top: 60px;
    }
    // info_title
    &_title {
        @include d_f(flex, none, center);
        color: #fff;
        i {
            display: block;
            width: 16px;
            height: 16px;
            margin-right: 5px;
            fill: #fff;
        }
    }
}

.scrollX {
    &:hover {
        cursor: grab;
    }
    &:active {
        cursor: grabbing;
    }
}

.week {
    // week_group
    &_group {
        overflow-x: auto;
        @include d_f(flex);
        margin-top: 20px;
        &::-webkit-scrollbar-track {
            display: none;
            opacity: 0;
        }
        //捲軸寬度
        &::-webkit-scrollbar {
            display: none;
            opacity: 0;
        }
        //捲軸本體顏色
        &::-webkit-scrollbar-thumb {
            display: none;
            opacity: 0;
        }
        // info_group_item
        &_item {
            position: relative;
            flex: none;
            @include d_f(flex, space-evenly, center);
            flex-direction: column;
            width: calc(100% / 7);
            min-width: 180px;
            max-height: 160px;
            min-height: 140px;
            padding: 10px;
            backdrop-filter: blur(3px);
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            box-shadow: 2px 2px 4px #00000040;
            transition: transform 250ms;
            color: #fff;
            & + & {
                margin-left: 15px;
            }
            i {
                display: block;
                height: 56px;
                fill: #fdd835;
                svg {
                    height: 100%;
                }
            }
        }
    }
}

.food {
    // food_group
    &_group {
        // food_group_item
        &_item {
            width: 25%;
            height: 14vw;
        }
    }
}
