.wrap {
	width: 100%;
	height: 100%;
}

body {
	background-color: #0c2565;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60px;
	padding: 0 15px;
	background-color: #0a1a47;
}


.logo {
	display: flex;
	align-items: center;
	height: 40px;
	color: #a5b0c7;
	font-size: 24px;
	white-space: nowrap;
}

.logo img {
	height: 100%;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: calc(100% - 85px);
}

.menu>*+*,
.logo+.menu {
	margin-left: 24px;
}

.memberInfo {
	color: #a5b0c7;
	font-size: 14px;
}

.memberInfo .currency {
	display: flex;
	align-items: center;
	margin-top: 5px;
	color: #30dff2;
}

.icon_refresh {
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	margin-left: 5px;
	background: url(../images/icon_refresh.svg)no-repeat center/contain;
	cursor: pointer;
	transition-duration: .3s;
}

.header_btn {
	position: relative;
	height: 40px;
	padding: 0 20px;
	color: #a5b0c7;
	border: 1px solid #a5b0c7;
	border-radius: 5px;
	cursor: pointer;
	white-space: nowrap;
	transition-duration: .3s;
}

.header_btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: linear-gradient(to right, #ffffad 50%, #b6805c 100%);
	transition-duration: 0.4s;
}

.header_btn>span,
.header_btn:after {
	content: attr(data-txt);
	position: relative;
	transition-duration: 0.3s;
}

.ani_btn_txt {
	overflow: hidden;
	min-width: 93px;
	padding: 0;
}

.ani_txt {
	display: flex;
	width: 100%;
	animation: btn_txt 4s infinite alternate;
	transform: translateX(0%);
}

@keyframes btn_txt {
	0% {
		transform: translateX(0%);
	}

	25% {
		transform: translateX(0%);
	}

	75% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

.ani_txt>span {
	display: block;
	width: 100%;
	padding: 0 20px;
}

.ani_btn_txt>span {
	flex: none;
	display: block;
	width: 100%;
	padding: 0 20px;
}

.ani_txt>span:nth-child(2) {
	position: absolute;
	left: 100%;
}

.loginOut_btn {
	color: #a5b0c7;
	cursor: pointer;
	white-space: nowrap;
}

.loginOut_btn::before {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	margin: auto;
	background: url("../images/icon_loginout.svg") no-repeat center/contain;
	cursor: pointer;
}

.marquee {
	overflow: hidden;
	position: relative;
	flex: 1 1 100%;
	position: relative;
	display: flex;
	align-items: center;
	height: 40px;
	color: #a5b0c7;
	background-color: #161210;
	/* border-radius: 5px; */
	padding: 0 40px 0 10px;
	cursor: pointer;
}

.marquee::after {
	content: "";
	position: absolute;
	right: 0;
	display: block;
	width: 30px;
	height: 100%;
	padding-right: 15px;
	background-color: #161210;
	background-image: url("../images/icon_marquee.svg");
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: center;
}

.marquee span {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	white-space: nowrap;
	z-index: 0;
	/* transform: translateX(100%); */
}

.show_1024 {
	display: none;
}

@keyframes marquee_move {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

.content {
	position: relative;
	width: 100%;
	height: calc(100% - 60px);
}

.content>iframe {
	width: 100%;
	height: 100%;
}



@media (pointer: fine),
(pointer: fine) and (-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.loginOut_btn:hover {
		filter: brightness(1.5);
	}

	.header_btn:hover {
		border: 1px solid #ffffad;
	}

	.header_btn:hover::before {
		opacity: 1;
	}

	.header_btn:hover::after,
	.header_btn:hover .ani_txt>span {
		color: #000;
	}

	.alert_close:hover {
		opacity: 0.7;
	}

	.btn_submit:hover {
		background-color: #0f2f80;
	}

	.btn_cancel:hover {
		background-color: #8f8f8f;
	}

	.icon_refresh:hover {
		opacity: 0.7;
	}

	@media screen and (max-width:1025px) {

		.header_btn:hover,
		.header_btn:hover::before {
			border: none;
			filter: brightness(1.5);
			transition-duration: 0s;
		}

		.header_btn:hover::after,
		.header_btn:hover .ani_txt>span {
			color: inherit;
		}
	}
}


.loginOut_btn:active {
	filter: brightness(1.5);
}

.header_btn:active {
	border: 1px solid #ffffad;
}

.header_btn:active::before {
	opacity: 1;
}

.header_btn:active::after {
	color: #000;
}

.alert_close:active {
	opacity: 0.7;
}

.btn_submit:active {
	background-color: #0f2f80;
}

.btn_cancel:active {
	background-color: #8f8f8f;
}

.icon_refresh:active {
	opacity: 0.7;
}

@media only screen and (max-width: 1025px) {
	.header {
		height: 56px;
		padding: 0 8px;

	}

	.memberInfo {
		order: -1;
	}

	.marquee {
		display: none;
	}

	.show_1024 {
		display: block;
	}

	.ani_btn_txt {
		min-width: 55px;
	}

	.ani_txt>span {
		padding: 0;
	}

	.header_btn {
		height: auto;
		padding: 0;
		border: none;
	}

	.logo {
		height: 35px;
		display: none;
	}

	.menu {
		width: 100%;
		justify-content: flex-start;
	}

	.menu>*+*,
	.logo+.menu {
		margin-left: 0;
	}

	.menu>*+* {
		margin-right: 15px;
	}

	.memberInfo {
		margin-right: auto;
	}

	.loginOut_btn::before,
	.header_btn::before {
		position: relative;
		width: 25px;
		height: 25px;
		margin: auto;
		transition-duration: 0s;
		opacity: 1;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	.wager::before {
		background-image: url('../images/icon_wager.svg');
	}

	.bulletin::before {
		background-image: url('../images/icon_bulletin.svg');
	}

	.changepwd::before {
		background-image: url('../images/icon_changepwd.svg');
	}

	.header_btn:active,
	.header_btn:active::before {
		border: none;
		filter: brightness(1.5);
		transition-duration: 0s;
	}

	.header_btn:active::after,
	.header_btn:active .ani_txt>span {
		color: inherit;
	}
}