.lobby_wrap {
    display: flex;
    width: 100%;
    height: 100%;
    /* background: url('../images/lobby_bg.jpeg')no-repeat center/cover; */
}

.lobby_menu {
    flex: none;
    width: 180px;
    height: 100%;
    padding: 40px 10px 0;
    background-color: #052463;
    /* font-size: 14px; */
}

.lobby_content {
    position: relative;
    width: 100%;

    background: url('../images/lobby_bg.jpeg')no-repeat center/cover;
}

.memberName {
    position: relative;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.memberName::before {
    content: '';
    flex: none;
    display: inline-block;
    width: 15px;
    height: 18px;
    margin-right: 10px;
    background: url('../images/icon_member.svg')no-repeat center/contain;
}

.member_amount {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #0A1A47;
    color: #29BDD4;
    border-radius: 6px;
    font-size: 14px;
}

.member_amount>.current {
    margin-left: 5px;
}

.refresh_btn {
    width: 16px;
    height: 16px;
    margin-left: auto;
    background: url('../images/icon_refresh.svg')no-repeat center/contain;
    cursor: pointer;
    transition-duration: .3s;
}

.btn_group {
    margin-top: 20px;
}

.lobby_btn {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    background: #02e2fe;
    background: -moz-linear-gradient(left, #02e2fe 0%, #2c4bf8 93%);
    background: -webkit-linear-gradient(left, #02e2fe 0%, #2c4bf8 93%);
    background: linear-gradient(to right, #02e2fe 0%, #2c4bf8 93%);
    cursor: pointer;
}

.lobby_btn::after,
.lobby_start_btn::after {
    content: attr(data-btntxt);
    position: relative;
}

.lobby_btn+.lobby_btn {
    margin-top: 20px;
}

.lobby_btn_mask {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: -webkit-linear-gradient(left, rgba(96, 249, 169, 1) 0%, rgba(2, 148, 251, 0) 100%);
    background: linear-gradient(to right, rgba(96, 249, 169, 1) 0%, rgba(2, 148, 251, 0) 100%);
    opacity: 0.58;
}

.lobby_btn_mask::before {
    content: '';
    position: absolute;
    top: 25%;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: #02e2fe;
    background: -webkit-linear-gradient(left, #02e2fe 0%, #2c4bf8 93%);
    background: linear-gradient(to right, #02e2fe 0%, #2c4bf8 93%);
}

.lobby_btn_mask::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#001940), to(rgba(2, 148, 251, 0)));
    background: linear-gradient(to right, #001940 0%, rgba(2, 148, 251, 0) 100%);
    opacity: 0;
    -webkit-transition: all .3s .1s ease-in-out;
    transition: all .3s .1s ease-in-out;
}

.lobby_start_btn {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 200px;
    height: 60px;
    margin: auto;
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    background: rgb(255, 153, 8);
    background: -webkit-linear-gradient(left, rgba(255, 153, 8, 1) 0%, rgba(255, 72, 121, 1) 100%);
    background: linear-gradient(to right, rgba(255, 153, 8, 1) 0%, rgba(255, 72, 121, 1) 100%);
    cursor: pointer;
}

.lobby_start_btn .lobby_btn_mask {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: -webkit-linear-gradient(left, rgba(255, 153, 8, 1) 0%, rgba(255, 72, 121, 0) 100%);
    background: linear-gradient(to right, rgba(255, 153, 8, 1) 0%, rgba(255, 72, 121, 0) 100%);
    opacity: 0.5;
}

.lobby_start_btn .lobby_btn_mask::before {
    content: '';
    position: absolute;
    top: 25%;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: rgb(255, 153, 8);
    background: -webkit-linear-gradient(left, rgba(255, 153, 8, 1) 0%, rgba(255, 72, 121, 1) 100%);
    background: linear-gradient(to right, rgba(255, 153, 8, 1) 0%, rgba(255, 72, 121, 1) 100%);
}

.lobby_start_btn .lobby_btn_mask::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#001940), to(rgba(255, 72, 121, 1)));
    background: linear-gradient(to right, #001940 0%, rgba(255, 72, 121, 1) 100%);
    opacity: 0;
    -webkit-transition: all .3s .1s ease-in-out;
    transition: all .3s .1s ease-in-out;
}

@media only screen and (max-width: 640px) {
    .memberInfo {
        display: none;
    }
    .btn_group{
        margin-top: 10px;
    }
    .lobby_menu {
        width: 80px;
        padding: 40px 0 0;
    }

    .lobby_btn {
        position: relative;
        background: transparent;
        font-size: 14px;
        padding: 5px 0;
        border-radius: 0px;
        box-sizing: content-box;
        color: #a5b0c7;
        transition-duration: .3s;
    }
    .lobby_btn::before {
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        margin: 0 auto 5px;
        transition-duration: 0s;
        opacity: 1;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .lobby_btn+.lobby_btn {
        margin-top: 0;
        border-top: 1px solid #000;
    }

    .lobby_btn.wager::before {
        background-image: url(../images/icon_wager.svg);
    }

    .lobby_btn.changepwd::before {
        background-image: url(../images/icon_changepwd.svg);
    }

    .lobby_btn .lobby_btn_mask {
        display: none;
    }

    .lobby_btn:active {
        filter: brightness(1.5);
    }
}

@media (pointer: fine),
(pointer: fine) and (-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

    .lobby_btn:hover .lobby_btn_mask::after,
    .lobby_start_btn:hover .lobby_btn_mask::after {
        opacity: 1;
    }

    .refresh_btn:hover {
        opacity: 0.7;
    }

    @media screen and (max-width:640px) {
        .lobby_btn:hover {
            filter: brightness(1.5);
        }
    }

}

.lobby_btn:active .lobby_btn_mask::after,
.lobby_start_btn:active .lobby_btn_mask::after {
    opacity: 1;
}

.refresh_btn:active {
    opacity: 0.7;
}