.dark {
    --bodyBg: linear-gradient(180deg, #182137 0%, #060e23 100%);
    /* 標題背景 */
    --title_bg: linear-gradient(90deg,
            #00002f 0%,
            #221758 25%,
            #0a124c 50%,
            #221758 75%,
            #00002f 100%);
    --history_title_tx: #ffffff;
    --comm_tx: #fff;
    --comm_tx_hv: #30dff2;
    --comm_tx_ac: #13c1c1;
    --comm_tx_on: #30dff2;
    --comm_txBl: #0c2565;
    /* COMMON INPUT */
    --comm_inp_tx: #fff;
    --comm_inp_tx_hv: #fff;
    --comm_inp_bg: transparent;
    --comm_inp_bd: #75829b;
    --comm_inp_bd_hv: #30dff2;
    --comm_inp_bd_on: #30dff2;
    --comm_inp_fi: #75829b;
    /* COMMON TAB */
    --comm_tab_tx: #75829b;
    --comm_tab_tx_hv: #30dff2;
    --comm_tab_tx_ac: #30dff2;
    --comm_tab_tx_on: #30dff2;
    --comm_tab_bg_ac: rgba(255, 255, 255, 0.1);
    --comm_tab_bd_on: #30dff2;
    /* COMMON BTN */
    --comm_btnNorm_tx: #ffffff;
    --comm_btnNorm_bg: #1e2841;
    --comm_btnNorm_bg_hv: #2d3c62;
    --comm_btnNorm_bg_ac: #131a2a;
    --comm_btnNorm_bg_on: #6700f4;
    /* COMMON TITLE */
    --comm_title_tx: #fff;
    --comm_titleBtn_bg_hv: rgba(255, 255, 255, 0.1);
    --comm_titleBtn_bg_ac: rgba(255, 255, 255, 0.45);
    --comm_titleBtn_fi: #fff;
    --comm_titleBtn_fi_on: #30dff2;
    /* icon */
    --icon_search: url("../images/icon_search_dark.svg");
    --icon_back: url("../images/icon_left_arr_dark.svg");
}

.light {
    --bodyBg: #f1f5ff;
    /* 標題背景 */
    --title_bg: linear-gradient(90deg,
            #ffffff 0%,
            #d5e4ff 25%,
            #d9ecff 50%,
            #d5e4ff 75%,
            #ffffff 100%);
    --history_title_tx: #0c2565;
    --comm_tx: #46566d;
    --comm_tx_hv: #047ef6;
    --comm_tx_ac: #0370dd;
    --comm_tx_on: #047ef6;
    --comm_txBl: #0c2565;
    /* COMMON INPUT */
    --comm_inp_tx: #46566d;
    --comm_inp_tx_hv: #46566d;
    --comm_inp_bg: transparent;
    --comm_inp_bd: #949eb5;
    --comm_inp_bd_hv: #047ef6;
    --comm_inp_bd_on: #047ef6;
    --comm_inp_fi: #b9bdc5;
    /* COMMON TAB */
    --comm_tab_tx: #b9bdc5;
    --comm_tab_tx_hv: #047ef6;
    --comm_tab_tx_ac: #047ef6;
    --comm_tab_tx_on: #047ef6;
    --comm_tab_bg_ac: rgba(0, 0, 0, 0.12);
    --comm_tab_bd_on: #047ef6;
    /* COMMON BTN */
    --comm_btnNorm_tx: #ffffff;
    --comm_btnNorm_bg: #b9bdc5;
    --comm_btnNorm_bg_hv: #3699fc;
    --comm_btnNorm_bg_ac: #0370dd;
    --comm_btnNorm_bg_on: #047ef6;
    /* COMMON TITLE */
    --comm_title_tx: #0c2565;
    --comm_titleBtn_bg_hv: rgba(0, 0, 0, 0.06);
    --comm_titleBtn_bg_ac: rgba(0, 0, 0, 0.12);
    --comm_titleBtn_fi: #0c2565;
    --comm_titleBtn_fi_on: #047ef6;
    /* icon */
    --icon_search: url("../images/icon_search_light.svg");
    --icon_back: url("../images/icon_left_arr_light.svg");
}

body {
    background: var(--bodyBg);
}


*{
	font-size: 14px;
	color: rgba(0, 0, 0, .64);
}
h1, h2, h3, h4, h5, h6, th{ font-weight:normal;}
button{
	padding: 0;
	background-color: transparent;
	border: 0;
}
button *,
div *,
span *{ color: inherit; }
i svg{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 2;
}


.msg_bar{
	padding: 0 0 8px 16px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}
.msg_enterbox{
	position: relative;
	height: 48px;
	-webkit-flex:1 1 auto;
	-ms-flex:1 1 auto;
	flex:1 1 auto;
}
.msg_enterbox input{
	width:100%;
	height: 100%;
	padding: 0 32px 0 16px;
	background-color: var(--comm_inp_bg);
	border: solid 2px var(--comm_inp_bd);
	border-radius: 4px;
	color: var(--comm_inp_tx);
	font-size: 16px;
    transform: translate3d(0, 0, 0);
}
.msg_enterbox input::placeholder{
	color: var(--comm_inp_tx);
}
.msg_enterbox.on input{
	border-color: var(--comm_inp_bd_on);
}
.msg_close{
	position: absolute;
	width: 32px;
	height: 100%;
	padding: 16px 16px 0 0;
	top: 0;
	right: 0;
	cursor: auto;
}
.msg_close i{
	display: block;
	width: 16px;
	height: 16px;
	margin: auto;
}
.msg_close svg{fill: var(--comm_inp_fi);}
.msg_enterbox input:valid + .msg_close{
	z-index: 1;
	cursor: pointer;
}
.msg_enterbox input + .msg_close{
  z-index: -1;
}
.btn_msg_enterbox{
	padding: 0 16px;
	color: var(--comm_tx);
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	float: none;
}

.msg_infobox{
	padding-bottom: 16px;
	-webkit-transform: translate3d(0,0,0);
}
.msg_infobox:empty{display: none;}

.msg_infolist{
	padding: 16px;
	color: var(--comm_tx);
	margin: auto;
	border-bottom: #D5DCEC dashed 1px;
}
.msg_infolist:last-child{
	border-bottom: none;
}
.msg_info_date{
	font-weight: bold;
	margin-bottom: 8px;
}
.msg_noinfo{
	width: 100%;
	padding: 125px 42px 0;
	text-align: center;
	color: var(--comm_tx);
	font-size: 14px;
	margin:0 auto;
}


/*彈跳公告+系統公告*/
.ann_mask{
	width: 100%;
	height: 100%;
	padding:16px;
	padding-bottom: calc(constant(safe-area-inset-bottom) + 16px);
	padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
	background-color: rgba(0, 0, 0, .32);
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	pointer-events: auto;
}

.ann_mask._features{
	display: flex;
}

.ann_box,
.ann_auto_box{
	max-width: 480px;
	max-height: 100%;
	background-color: var(--popup_content_bg);
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
	flex: 1 1 100%;
}
._features .ann_box {
	position: relative;
	border-radius: 8px;
	overflow: hidden;
}
._features .ann_box:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 16px;
	background-color: #fff;
	left: 0;
	bottom: 0;
}
.ann_auto_box{
	width: auto;
	min-width:288px;
}
.ann_title{
	position: relative;
	height: 48px;
	line-height: 48px;
	color: var(--popup_head_tx);
	background: var(--popup_head_bg);
	font-weight: 600;
	text-align: center;
	flex: none;
}
._features .ann_title{
	position: relative;
	background-color: #fff;
	color: #000;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.ann_title span{font-size: 16px;}
.ann_title.active:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 5px;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
	top: calc(100% - 5px);
	left: 0;
	z-index: 2;
}
.btn_ann_close{
	position: absolute;
	width: 48px;
	height: 48px;
	top: 0;
	right: 0;
}
._features .btn_ann_close{
	width: 32px;
	height: 32px;
	top: 8px;
	right: 8px;
}
.btn_ann_close i{
	display: block;
	width: 16px;
	height: 16px;
	margin: auto;
}
.btn_ann_close svg{fill: rgba(255, 255, 255, .88);}
._features .btn_ann_close svg{
	fill: rgba(0, 0, 0, .24);
}
.ann_txt{
	flex: 1 1 auto;
	padding: 16px 12px 0 16px;	
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;	
}
.ann_txt li{
	line-height: 19px;
	color: var(--comm_tx);
	word-break: break-word;
	white-space: normal;
}
.ann_txt li:not(:last-child){margin-bottom: 16px;}
.ann_txt img{
	max-width: 100%;
}
.ann_foot{
	padding:16px;
	height: 80px;
	flex: none;
}

.ann_model{padding-bottom: 24px;}
.ann_model h1{
	height: 21px;
	color: #a78025;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.ann_imgload{
	position: relative;	
	padding-bottom: calc(100% * .75);
	margin-bottom: 16px;	
}
.ann_imgload:before{
	content: '';
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border-width: 2px;
	border-style:solid;
    border-color: transparent #a78025 #a78025 #a78025;	
    border-radius: 50%;
    -webkit-animation: load 1s infinite linear;
    -ms-animation: load 1s infinite linear;
    animation: load 1s infinite linear;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.ann_model img{
	position: absolute;
	display: none;
	width: 100%;
	vertical-align: middle;
	top: 0;
	left: 0;
}
.tw.ann_txt img.tw,
.cn.ann_txt img.cn,
.en.ann_txt img.en{display: block;}
.ann_more_txt{
	color: #000;
	font-size: 16px;
}
.ann_more_txt li + li{
	margin-top: 16px;
}
.btn_more{
	line-height: 16px;
	font-size: 16px;
	text-align: center;
	color: #007ba8;
	margin-bottom: 32px;
}
.msg_info_txt{
	word-break: break-all;
}

/*hand*/
[class^="btn_"]{
	cursor: pointer;
}


/* PC hover effect */
@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
	/* .ann_mask._features{
		display: flex;
	} */
	.btn_ann_close.mouse_hover:hover:before{background-color: rgba(255, 255, 255, .08);}
	.btn_ann_close:hover svg{fill: #fff;}
	.btn_msg_enterbox:hover,
	.btn_more:hover{color: var(--comm_tx_hv);}
	._features .btn_ann_close:hover svg{
		fill: rgba(0, 0, 0, 1);
	}
}

/* All active effect */
.btn_ann_close.mouse_hover:active:before{background-color: rgba(0, 0, 0, .24);}
.btn_ann_close:active svg{fill: #fff;}
.btn_msg_enterbox:active,
.btn_more:active{color: var(--comm_tx_ac);}
._features .btn_ann_close.mouse_hover:active:before{
	background-color: #ebebeb;
}
._features .btn_ann_close:active svg{
	fill: rgba(0, 0, 0, 1);
}

/*RWD*/

@media only screen and (min-width: 1024px) and (max-width: 1279px){

}
@media only screen and (min-width: 1024px){
	.ann_auto_box{
		max-width: 480px;
		max-height: 100%;
	}
	.msg_infolist,
	.msg_noinfo{
		max-width: 650px;
	}
	.msg_infolist{
		padding: 8px 0;
	}
}

@media only screen and (min-width: 640px) and (max-width: 1023px){

}

@media screen and (min-width: 1px) and (max-width: 639px){
	.tool_selectbox{display: none;}
}

@media only screen and (max-height:480px) and (max-width:999px){
	.msg_noinfo{
		min-height:160px;
		padding-top: 0;
		/*margin-top: 64px;*/
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;

	}
}



/* set for mobile input focus hide bottom menu */
@media (pointer: coarse),
(-moz-touch-enabled: 1),
screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px){
	.keyin_scroll .nav_menu{
		height: 0px;
		opacity: 0;
		pointer-events: none!important;
	}
	.keyin_scroll .nav_menu .menu_bottom{
		pointer-events: none;
	}
	.keyin_scroll .content_l{
		position: relative;
		height: auto;
		min-height: 100%;
		max-height: unset;
		overflow: hidden;
	}
	.keyin_scroll .header{
		position: absolute;
		width: 100%;
		margin: 0;
	}
}
@media (pointer: coarse) and (min-width: 1px) and (max-width: 1023px),
(-moz-touch-enabled: 1) and (min-width: 1px) and (max-width: 1023px),
screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px){
 	.keyin_scroll{
		height: 100%;
		overflow-y: auto!important;
	}

}