@charset "utf-8";
.dark {
    --bet_bet_bg: #1e2841;
    --bet_bet_bg_hv: #0f2f80;
    --bet_bet_bg_ac: #091b49;
    --bet_bet_tx: #ffffff;
    --bet_titleLine_bg: rgba(255, 255, 255, 0.45);
    --bet_totleLine_bg: rgba(255, 255, 255, 0.45);
    --bet_currency_tx: #30dff2;
    --bet_maxbet_tx: rgba(255, 255, 255, 0.45);
    --bet_content_bg: #34446e;
    --bet_contentParlay_bg: #1e2841;
    --bet_content_tx: #ffffff;
    --bet_contentTotal_tx: rgba(255, 255, 255, 0.45);
    --bet_content_bd: #485e99;
    --bet_betBtn_bg: #6700f4;
    --bet_betBtn_bg_hv: #7c1fff;
    --bet_betBtn_bg_ac: #5500cc;
    --bet_betBtn_tx_db: #ffffff;
    --bet_betBtn_bg_db: rgba(255, 255, 255, 0.45);
    --bet_namet_tx: rgba(255, 255, 255, 0.45); /* 畫面上的智利盃 */
    --bet_maxbet_tx: rgba(255, 255, 255, 0.45); /* 畫面上的可贏額 */
    --bet_input_tx: #75829b;
    --bet_input_bg: #ffffff;
    --bet_input_bd: #ffffff;
    --bet_input_bd_hv: #30dff2;
    --bet_input_bd_fc: #30dff2;
    --bet_input_bd_on: #30dff2;
    --bet_input_bd_va: #30dff2;
    --bet_inputErr_tx: #75829b;
    --bet_inputErr_tx_va: #ec6e63;
    --bet_inputErr_bd_va: #ec6e63;

    --bet_close_tx: #ffffff;
    --bet_close_bg_hv: rgba(255, 255, 255, 0.1);
    --bet_close_bg_ac: rgba(255, 255, 255, 0.45);

    --bet_switchBall_bg: #ffffff;
    --bet_switch_bg: rgba(255, 255, 255, 0.45);
    --bet_switch_tx: #ec6e63;
    --bet_msg_bg: #485e99;
    --bet_msg_tx: #ffffff;

    --bet_gameMsg_fi: #30dff2;
    --bet_gameMsg_tx: #1e2841;
    --bet_gameMsg_bg: #30dff2;

    --bet_multi_tx: #ffffff;
    --bet_multi_bg: #1e2841;

    --bet_leavemsg_tx_hv: #30dff2;
}
.light {
    --bet_bet_bg: #0c2565;
    --bet_bet_bg_hv: #0f2f80;
    --bet_bet_bg_ac: #091b49;
    --bet_bet_tx: #ffffff;
    --bet_titleLine_bg: #949eb5;
    --bet_totleLine_bg: #0c2565;
    --bet_currency_tx: #047ef6;
    --bet_maxbet_tx: #949eb5;
    --bet_content_bg: #f1f5ff;
    --bet_contentParlay_bg: #d5dcec;
    --bet_content_tx: #0c2565;
    --bet_contentTotal_tx: #0c2565;
    --bet_content_bd: #6778a1;
    --bet_betBtn_bg: #047ef6;
    --bet_betBtn_bg_hv: #3699fc;
    --bet_betBtn_bg_ac: #0370dd;
    --bet_betBtn_tx_db: #ffffff;
    --bet_betBtn_bg_db: #b9bdc5;
    --bet_namet_tx: #46566d; /* 畫面上的智利盃 */
    --bet_maxbet_tx: #46566d; /* 畫面上的可贏額 */
    --bet_input_tx: #b9bdc5;
    --bet_input_bg: #ffffff;
    --bet_input_bd: #d5dcec;
    --bet_input_bd_hv: #047ef6;
    --bet_input_bd_fc: #047ef6;
    --bet_input_bd_on: #047ef6;
    --bet_input_bd_va: #047ef6;
    --bet_inputErr_tx: #b9bdc5;
    --bet_inputErr_tx_va: #ec6e63;
    --bet_inputErr_bd_va: #ec6e63;

    --bet_close_tx: #0c2565;
    --bet_close_bg_hv: rgba(0, 0, 0, 0.06);
    --bet_close_bg_ac: rgba(0, 0, 0, 0.12);

    --bet_switchBall_bg: #047ef6;
    --bet_switch_bg: #b9bdc5;
    --bet_switch_tx: #ec6e63;

    --bet_msg_bg: #bfcff3;
    --bet_msg_tx: #0c2565;

    --bet_gameMsg_fi: #047ef6;
    --bet_gameMsg_tx: #ffffff;
    --bet_gameMsg_bg: #047ef6;

    --bet_multi_tx: #46566d;
    --bet_multi_bg: #d5dcec;
    --bet_leavemsg_tx_hv: #46566d;
}
* {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.64);
}
h1,
h2,
h3,
h4,
h5,
h6,
th {
    font-weight: normal;
}
button {
    padding: 0;
    background-color: transparent;
    border: 0;
}
button *,
div *,
span * {
    font-size: inherit;
    color: inherit;
}
i svg {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.ord_down_style {
    overflow: hidden;
    position: relative;
    display: none;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 640px;
    max-height: 100%;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    background-color: var(--bet_content_bg);
    color: var(--bet_content_tx);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.32);
    pointer-events: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.on .ord_down_style {
    display: flex;
    transform: translate3d(0, 0%, 0);
}

/*ios有動畫*/
.main_ios .ord_down_style {
    display: flex;
    transition: transform 0.3s ease;
}
.main_ios .off .ord_down_style {
    transform: translate3d(0, 100%, 0);
}
/*非行動裝置有動畫*/
@media (pointer: fine) and (max-resolution: 2dppx),
    screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
    (-moz-touch-enabled: 0),
    screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
    .ord_down_style {
        display: flex;
        transition: transform 0.3s ease;
    }
    .off .ord_down_style {
        transform: translate3d(0, 100%, 0);
    }
}
._no_animation {
    transition: none !important;
}
.ord_full_style {
    position: relative;
    top: 100%;
    width: 100%;
    max-width: 640px;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
}
.ord_title {
    position: relative;
    width: 100%;
    height: 48px;
    background-color: var(--bet_bet_bg);
    display: flex;
    align-items: center;
    flex: none;
    color: #fff;
    pointer-events: auto;
}

.ord_down_style:not(.qk) .ord_title{
    height: calc(48px + env(safe-area-inset-top));
    padding-top: env(safe-area-inset-top);
}

.ord_title.remove {
    position: absolute;
    display: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    z-index: 2;
}
.ord_title.active {
    display: flex;
}
.qk .ord_title {
    display: none;
}
.main_ios .ord_title.remove {
    display: flex;
    transition: all 0.3s ease-in-out;
    transform: translate3d(100%, 0, 0);
}
/*ios有動畫*/
.main_ios .ord_title.active {
    transform: translate3d(0%, 0, 0);
}
/*非行動裝置有動畫*/
@media (pointer: fine) and (max-resolution: 2dppx),
    screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
    (-moz-touch-enabled: 0),
    screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
    .ord_title.remove {
        display: flex;
        transition: all 0.3s ease-in-out;
        transform: translate3d(100%, 0, 0);
    }
    .ord_title.active {
        transform: translate3d(0%, 0, 0);
    }
}
.ord_full_style .ord_title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.ord_title_center {
    color: #fff;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.btn_ord_close {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    right: 0;
}
.btn_ord_close i {
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
}
.btn_ord_close svg {
    fill: rgba(255, 255, 255, 0.64);
}
.btn_ord_remove + .btn_ord_close {
    position: relative;
    -webkit-flex: 0 0 48px;
    -ms-flex: 0 0 48px;
    flex: 0 0 48px;
}

.ord_fullslip,
.ord_qkslip,
.ord_function,
.ord_mask {
    width: 100%;
    pointer-events: auto;
}

/*快捷下注單*/
.ord_qkslip {
    position: relative;
    /* background-color: #fff; */
}
.ord_slip_model {
    position: relative;
    /* background-color: #fff; */
}
.btn_ord_miniclose {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 40px;
    height: 40px;
    margin: 6px;
    padding: 12px;
}
.btn_ord_miniclose.icon_close {
    padding: 6px;
    margin: 6px;
}
.btn_ord_miniclose svg,
.btn_ord_miniclose.icon_close svg {
    width: 100%;
    height: 100%;
    fill: var(--bet_close_tx);
}
.receipt .btn_ord_miniclose svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--bet_close_tx);
}

.ord_slip_info {
    padding: 16px;
    color: var(--bet_content_tx);
}
.ord_slip_model + .ord_slip_model,
.ord_slip_model + .ord_total {
    border-top: 1px solid var(--bet_content_bd);
}

.ord_slip_info.locked {
    background: url(../images/bg_locked.svg) rgba(0, 0, 0, 0.04) right bottom
        no-repeat;
}
.ord_slip_info.parlay {
    background-color: var(--bet_contentParlay_bg);
}
.ord_name {
    color: var(--bet_namet_tx);
}
.ord_odd_txt {
    width: calc(100% - 32px);
    /* color: #000; */
    font-size: 14px;
    max-height: 999999px !important; /*Text Autosizer*/
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
.ord_odd_txt li:not(.type) {
    min-height: 16px;
    line-height: 16px;
    margin-bottom: 5px;
}
.ord_odd_txt .word_yellow {
    position: relative;
    margin-left: 5px;
    top: -1px;
}
.ord_odd_txt .type {
    position: relative;
    min-height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
}
.ord_odd_txt .mouse {
    font-weight: normal;
    margin: 0 4px;
}
.no_parlayin {
    position: relative;
}
.no_parlayin:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    display: block;
    width: 5px;
    height: 5px;
    background-color: #e76565;
    border-radius: 50%;
    margin: auto;
}
.ord_amount {
    padding-top: 16px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.ord_amount_enter {
    position: relative;
    height: 40px;
    width: 272px;
    background-color: #fff;
    font-size: 16px;
    border-radius: 2px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex: 0 0 272px;
    -ms-flex: 0 0 272px;
    flex: 0 0 272px;
}
.locked .ord_amount_enter,
.ord_amount_enter.noenter {
    background-color: transparent;
}
.ord_amount_enter input {
    position: absolute;
    width: 0;
    height: 0;
    background: transparent;
    border: none;
    top: 0;
    left: 0;
    display: none;
}
.ord_amount_enter .pc_typing {
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.ord_amount_enter .pc_typing:focus {
    border-color: #19805c;
}
.ord_amount_enter div {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 4px;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    cursor: text;
}

.ord_amount_enter .normal {
    border: 2px solid var(--bet_input_bd);
    z-index: 2;
}

.ord_amount_enter .normal:not(._pc):before {
    content: '輸入下注金額';
    color: var(--bet_input_tx);
}

/*cn*/
.cn .ord_amount_enter .normal:before {
    content: '输入下注金额';
    color: var(--bet_input_tx);
}

/*en*/
.en .ord_amount_enter .normal:before {
    content: 'Enter Stake';
    color: var(--bet_input_tx);
}

.ord_amount_enter .typing,
.ord_amount_enter .pc_typing {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.32);
    color: #000;
    font-weight: bold;
}
.ord_amount_enter .typing.on {
    border-color: var(--bet_input_bd_on);
}
.ord_amount_enter .typing.on:after {
    content: '|';
    -webkit-animation: cursorAnimate 1s ease infinite;
    animation: cursorAnimate 1s ease infinite;
}
.typing.on ~ .normal,
.ord_amount_enter .typing:not(.on):empty {
    display: none !important;
}
.ord_amount_enter .typing:not(.on):empty:after {
    content: none;
}
@keyframes cursorAnimate {
    50% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes cursorAnimate {
    50% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
/*不能按*/
.locked .typing {
    border-color: rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.11);
    background-color: transparent;
}
.locked .typing.on:after {
    content: none;
}

.locked .normal {
    border-color: rgba(0, 0, 0, 0.15);
}
.locked .normal:before,
.locked .normal:focus:before {
    content: '輸入下注金額';
    color: rgba(0, 0, 0, 0.11);
    -webkit-animation: none;
    animation: none;
}

/*cn*/
.cn .locked .normal:before,
.cn .locked .normal:focus:before {
    content: '输入下注金额';
    color: rgba(0, 0, 0, 0.11);
    -webkit-animation: none;
    animation: none;
}

/*en*/
.en .locked .normal:before,
.en .locked .normal:focus:before {
    content: 'Enter Stake';
    color: rgba(0, 0, 0, 0.11);
    -webkit-animation: none;
    animation: none;
}
.parlay_x {
    position: relative;
}
.parlay_x:after {
    content: 'x' attr(data-more);
    position: absolute;
    display: block;
    font-weight: normal;
    width: 23px;
    right: -31px;
}
.ord_maxbet {
    color: var(--bet_maxbet_tx);
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.ord_amount_txt {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: var(--bet_maxbet_tx);
    font-size: 12px;
    text-align: right;
}
.ord_err {
    color: #ce3636;
    font-size: 12px;
    margin-top: 15px;
}
.ord_lasterr {
    padding: 6px 16px;
    background-color: #fff;
    color: #ce3636;
    font-size: 12px;
    margin-top: 2px;
}
.ord_lasterr.no_parlayin:before {
    left: 5px;
}

/*快捷收據*/
.ord_status {
    padding: 14px 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}
.load_inorder {
    display: flex;
}
.ope_reason {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.ope_reason svg {
    fill: #00a1db;
}
.load_inorder .load_ring {
    display: none;
}
.load_inorder .word_yellow {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.status_word.word_red:after {
    content: '已拒絕';
}
.status_word.word_red_wallet:after {
    content: '已拒絕(額度不足)';
}
.status_word.word_fail:after {
    content: '';
}
.status_word.word_green:after {
    content: '已確認';
}
.status_word.word_yellow:after {
    content: '確認中';
}

/*cn*/
.cn .status_word.word_red:after {
    content: '已拒绝';
}
.cn .status_word.word_red_wallet:after {
    content: '已拒绝(额度不足)';
}
.cn .status_word.word_fail:after {
    content: '';
}
.cn .status_word.word_green:after {
    content: '已确认';
}
.cn .status_word.word_yellow:after {
    content: '确认中';
}

/*en*/
.en .status_word.word_red:after {
    content: 'Rejected';
}
.en .status_word.word_red_wallet:after {
    content: 'Rejected(balance is insufficient)';
}
.en .status_word.word_fail:after {
    content: '';
}
.en .status_word.word_green:after {
    content: 'Confirmed';
}
.en .status_word.word_yellow:after {
    content: 'Pending';
}
.load_inorder .word_yellow .load_ring {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-width: 1px;
    border-color: transparent var(--comm_wordYellow_tx)
        var(--comm_wordYellow_tx) var(--comm_wordYellow_tx);
    margin-right: 8px;
}
.ord_betwin {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}
.ord_betwin ul:last-child {
    text-align: right;
}
.ord_betwin li:last-child {
    font-size: 16px;
    font-weight: bold;
    color: var(--bet_currency_tx);
}
.ord_betwin .betwin_x:after {
    position: relative;
    content: '(x' attr(data-betwin) ')';
    margin-left: 5px;
    top: -1px;
}

/*完整下注單*/
.ord_fullslip {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 1 100vh;
    -ms-flex: 1 1 100vh;
    flex: 1 1 100vh;
    background-color: var(--bet_content_bg);
    color: var(--bet_content_tx);
}
.ord_fullslip * {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}
.ord_full_bg {
    position: absolute;
    width: 100%;
    height: calc(100% - 48px);
}
.ord_full_group {
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.ord_info {
    position: relative;
    min-width: calc(100% - 48px);
    height: 100%;
    padding-left: 16px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex: 1 1 calc(100% - 48px);
    -ms-flex: 1 1 calc(100% - 48px);
    flex: 1 1 calc(100% - 48px);
}
.ord_info.collapse {
    padding-left: 56px;
}
.qk .ord_info.collapse {
    padding-left: 16px;
}
.ord_collapse {
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
}
.ord_collapse i {
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
}
.mini .ord_collapse i,
.minimize .ord_collapse i {
    transform: rotate(180deg);
}
.ord_collapse svg {
    fill: rgba(255, 255, 255, 0.64);
}
.ord_collapse:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.24);
    opacity: 0;
}
.ord_info .title_txt {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.ord_sline {
    display: block;
    width: 1px;
    height: 16px;
    background-color: var(--bet_titleLine_bg);
    margin: 0 8px;
}
.ord_info .balance {
    color: var(--comm_money_tx);
    font-size: 12px;
}
.currency {
    position: relative;
}
.currency_color {
    color: var(--bet_currency_tx);
}
.currency:after {
    content: attr(data-currency);
    margin-left: 4px;
    text-transform: uppercase;
}
.ord_ins_box,
.ord_ins {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 8px;
    display: flex;
    align-items: center;
    margin: auto;
}
.ord_ins_box li + li {
    margin-left: 8px;
}
.ord_ins {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 4px;
    border: 1px solid var(--mybet_bd);
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}
.ord_title .ord_ins {
    border: 1px solid #fff;
}

.ord_ins tt {
    display: inline-block;
    margin-left: 1px;
    transform: scale(0.75);
    opacity: 0.8;
}
.ord_link {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.ord_link svg {
    width: 100%;
    height: 100%;
    fill: var(--mybet_link_fi);
}
.ord_cashOut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 584px;
    margin: 8px auto;
    color: var(--mybet_cashOut_tx);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.ord_icon {
    align-self: flex-start;
    display: none;
    width: 48px;
    height: 42px;
    padding: 6px;
    background-color: var(--mybet_chg_bg);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s linear, opacity 0.3s linear;
}
._setting {
    display: block;
}
.ord_cashOut svg {
    width: 100%;
    height: 100%;
    fill: var(--mybet_chg_tx);
}
.ord_chg_money {
    width: 100%;
    color: var(--mybet_chg_tx);
}
.ord_chg_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42px;
    background-color: var(--mybet_chg_bg);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s linear, opacity 0.3s linear;
}
.ord_chg_money tt {
    display: inline;
    margin: 0 4px;
}
.ord_chg_money .ord_chg_text {
    color: var(--mybet_cashOut_tx);
}
.ord_chg_money .ord_chg_off,
.ord_chg_wait {
    display: none;
}
.ord_chg_btn::before {
    content: attr(data-normal);
}
.ord_chg_money p {
    margin-top: 8px;
    color: #75829b;
    font-size: 12px;
}
.ord_chg_money ~ .ord_icon {
    margin-left: 8px;
}
/* 兌現功能 - 無法使用 */
.box_chg.off {
    pointer-events: none;
}
.off .ord_chg_off {
    display: inline;
    color: var(--mybet_chgOff_tx);
}
.off .ord_chg_btn {
    opacity: 0.4;
    cursor: default;
}
.off .ord_chg_btn::before {
    color: var(--mybet_chg_tx);
}
.off .ord_icon {
    cursor: default;
}
.off ._setting {
    opacity: 0.4;
    display: block;
}
.off .ord_chg_text,
.off .ord_chg_curr {
    display: none;
}

/* 兌現功能 - 異動 */
.change .ord_chg_btn::before {
    content: attr(data-change);
    color: var(--mybet_chgMoney_tx);
}
.change .ord_chg_btn {
    color: var(--mybet_chgMoney_tx);
    background-color: var(--mybet_chgMoney_bg);
}
.change .ord_chg_curr,
.change .ord_chg_text {
    display: inline;
}
.change .ord_chg_text {
    color: var(--mybet_chgNum_tx);
}
.change ._close {
    display: block;
}
.change ._setting {
    display: none;
}
/* 兌現功能 - 確定狀態 */
.confirm .ord_chg_btn::before {
    content: attr(data-confirm);
}
.confirm .ord_chg_btn {
    color: var(--mybet_chgChk_tx);
    background-color: var(--mybet_chgChk_bg);
}
.confirm .ord_chg_curr,
.confirm .ord_chg_text {
    display: inline;
}
.confirm ._close {
    display: block;
}
.confirm ._setting {
    display: none;
}
.confirm .ord_chg_text {
    color: var(--mybet_chgChk_tx);
}
/* 兌現功能 - 成功 */
.box_chg.success {
    pointer-events: none;
}
.success .ord_chg_btn::before {
    content: attr(data-success);
}
.success .ord_chg_curr,
.success .ord_chg_text {
    display: inline;
}
.success .ord_chg_btn {
    color: var(--mybet_chg_tx);
    background-color: var(--mybet_chg_bg);
}
.success .ord_chg_text {
    color: var(--mybet_chgSuccess_tx);
}
.success ._link {
    display: none;
}
.success ._setting {
    display: none;
}

/* 兌現功能 - 確認中 */
.box_chg.check {
    pointer-events: none;
}
.check .ord_chg_btn::before {
    content: attr(data-check);
}
.check .ord_chg_btn {
    color: var(--mybet_chgChk_tx);
    background-color: var(--mybet_chgChk_bg);
    pointer-events: none;
}
.check .ord_chg_wait {
    display: block;
}
.check ._link,
.check .ord_chg_normal,
.check .ord_chg_curr {
    display: none;
}
.check ._setting {
    display: none;
}

/* 兌現功能 - 失敗 */
.fail .ord_chg_btn::before {
    content: attr(data-fail);
}
.fail .ord_chg_btn {
    color: var(--mybet_chgChk_tx);
    background-color: var(--mybet_chgChk_bg);
}
.fail ._close {
    display: block;
}
.fail ._link,
.fail .ord_chg_curr {
    display: none;
}
.fail ._setting {
    display: none;
}

.btn_ord_remove {
    min-width: calc(100% - 48px);
    height: 100%;
    line-height: 48px;
    background-color: #ce3636;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    -webkit-flex: 1 1 calc(100% - 48px);
    -ms-flex: 1 1 calc(100% - 48px);
    flex: 1 1 calc(100% - 48px);
}
.btn_ord_close,
.btn_ord_del {
    position: relative;
    width: 48px;
    height: 48px;
    -webkit-flex: 0 0 48px;
    -ms-flex: 0 0 48px;
    flex: 0 0 48px;
}
.btn_ord_del i {
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
}
.btn_ord_close svg,
.btn_ord_del svg {
    fill: rgba(255, 255, 255, 0.64);
}

.ord_total {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    margin-top: 2px;
    padding: 16px;
    /* background-color: #fff; */
    color: var(--bet_content_tx);
    font-size: 14px;
}
.ord_total_title,
.ord_total_amount {
    min-width: calc(100% / 3);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}
.ord_total_amount {
    min-width: calc(100% / 3 * 2);
    text-align: right;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
}
.ord_total_title span,
.ord_total_amount span {
    height: 20px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.ord_total_title span,
.ord_total_amount .currency:not(.currency_color) {
    color: var(--bet_contentTotal_tx);
}
.ord_total_title tt {
    color: var(--bet_content_tx);
}
.ope_total_tx {
    color: var(--mybet_total_tx);
}
.ope_total_num {
    color: var(--mybet_totalNum_tx);
}
.ord_total_title .ord_sline {
    background-color: var(--bet_totleLine_bg);
}
.ord_empty {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    padding: 16px;
    color: var(--bet_content_tx);
    font-size: 12px;
    text-align: center;
}

/*完整下注收據*/
.ord_multiple {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    background-color: var(--bet_multi_bg);
    color: var(--bet_multi_tx);
    font-size: 16px;
}

/*鍵盤+訊息+按鈕*/
.ord_function {
    position: relative;
    flex: none;
    background-color: var(--keyboard_content_bg);
}
.ord_msg {
    font-size: 14px;
    background-color: var(--bet_msg_bg);
    color: var(--bet_msg_tx);
    text-align: center;
}
.ord_levelmsg:not(.bg_red):not(.bg_green):not(.bg_yellow) ul {
    padding: 8px 16px 0;
    height: auto;
    max-height: 112px;
    /* border-top: 2px solid #e6e6e6; */
    overflow-x: hidden;
    overflow-y: auto;
}
.bg_red ul,
.bg_green ul,
.bg_yellow ul {
    padding: 4px 16px;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.ord_msg ul:empty,
.ord_msg button {
    display: none;
}
.ord_levelmsg button {
    display: block;
    width: 100%;
    height: 32px;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.16);
    /* color: #007ba8; */
    font-size: 14px;
}
.ord_msg ul:empty + button {
    /* border-top: 2px solid #e6e6e6; */
    box-shadow: none;
}
.ord_levelmsg li {
    /* color: #ce3636; */
    margin-bottom: 8px;
}
.ord_keyboard {
    background: var(--keyboard_normal_bg);
    color: var(--keyboard_normal_tx);
    font-size: 14px;
    border-top: 1px solid var(--keyboard_normal_bd);
}
.bg_red li,
.bg_green li,
.bg_yellow li {
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
}
.ord_keyboard_num,
.ord_keyboard_more {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.ord_keyboard_num button,
.ord_keyboard_more button {
    position: relative;
    width: 10%;
    height: 48px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-user-select: none;
}
.ord_keyboard_num button {
    background-color: var(--keyboard_normal_bg);
    color: var(--keyboard_normal_tx);
}
.ord_keyboard_more {
    background-color: var(--keyboard_addMore_bg);
    color: var(--keyboard_addMore_tx);
}
.ord_keyboard_more button {
    width: 20%;
    padding: 8px;
}
.nobet button:not(.del):not(.dom),
.ord_keyboard button:disabled {
    color: var(--keyboard_normal_tx_db);
    pointer-events: none;
}
.nobet .ord_keyboard_more button:not(.del):not(.dom) {
    color: rgba(255, 255, 255, 0.24);
}

.ord_keyboard_more .del {
    background: url(../images/icon_backspace.svg) no-repeat center;
    order: -1;
}
.ord_order_button {
    height: 56px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.btn_ord_betterbet {
    position: relative;
    width: 48px;
    height: 100%;
    background-color: var(--bet_bet_bg);
    -webkit-flex: 0 0 48px;
    -ms-flex: 0 0 48px;
    flex: 0 0 48px;
}
.btn_ord_betterbet svg {
    fill: var(--bet_bet_tx);
}
.btn_ord_betterbet:disabled svg {
    fill: var(--bet_bet_tx);
}
.btn_ord_betterbet i {
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
}
.btn_ord_rem {
    max-width: 50%;
    background-color: var(--bet_bet_bg);
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
}
.btn_ord_rem label {
    height: 100%;
    padding: 4px 8px 4px 16px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.btn_ord_rem input,
.ord_betset_switch input {
    display: none;
}
.btn_ord_rem input + i {
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.64);
    border-radius: 12px;
    margin: 2px 10px 2px 2px;
}
.btn_ord_rem input + i:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border: 1px solid transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.btn_ord_rem input:checked + i {
    background-color: #33997a;
    border: 0;
}
.btn_ord_rem input:checked + i:before {
    border-color: #ededed;
}

.btn_ord_addslip {
    position: relative;
    padding: 4px 8px;
    background-color: var(--bet_bet_bg);
    color: var(--bet_bet_tx);
    border-left: 1px solid #fff;
    -webkit-flex: 1 1 calc(50% - 48px);
    -ms-flex: 1 1 calc(50% - 48px);
    flex: 1 1 calc(50% - 48px);
}
.btn_ord_addslip:disabled {
    color: var(--bet_bet_tx);
}
.btn_ord_pLacebet {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding: 4px 8px;
    background-color: var(--bet_betBtn_bg);
    color: var(--bet_bet_tx);
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}
.btn_ord_pLacebet:disabled {
    background-color: var(--bet_betBtn_bg_db);
    color: var(--bet_betBtn_tx_db);
}
.btn_ord_pLacebet .load_ring {
    width: 28px;
    height: 28px;
    border-width: 2px;
    border-color: transparent #fff #fff #fff;
}
.delay_loading {
    text-transform: none;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.delay_loading tt {
    width: 100%;
    text-align: center;
}
.delay_animate {
    width: 16px;
    height: 16px;
    margin-top: 3px;
}
.delay_animate div {
    transform-origin: 8px 8px;
    animation: delay_animate 1.2s linear infinite;
}
.delay_animate div:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 7px;
    width: 2px;
    height: 3px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.9);
}

.delay_animate div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.delay_animate div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.delay_animate div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.delay_animate div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.delay_animate div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.delay_animate div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.delay_animate div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.delay_animate div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.delay_animate div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.delay_animate div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.delay_animate div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.delay_animate div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@-webkit-keyframes delay_animate {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes delay_animate {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.btn_ord_reselect {
    position: relative;
    padding: 4px 8px;
    background-color: var(--bet_bet_bg);
    color: #fff;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
}
.btn_ord_ok {
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding: 4px 8px;
    background-color: var(--bet_betBtn_bg);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

/*下注單設定*/
.ord_setting {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    z-index: 6;
    visibility: hidden;
    pointer-events: auto;
}
.ord_setting.on {
    visibility: visible;
}
.ord_full_mask,
.ord_nobet_mask {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.24);
    pointer-events: auto;
    transition: opacity 0.3s ease;
}
.ord_nobet_mask {
    background: none;
    z-index: 10;
}
.ord_betset {
    width: 100%;
    max-width: 640px;
    height: 320px;
    transform: translate3d(0, 100%, 0);
    transition: all 0.3s ease;
}
.ord_setting.on .ord_betset {
    transform: translate3d(0, 0%, 0);
}
.ord_setting.on > .ord_full_mask {
    opacity: 1;
}
.ord_betset_txt {
    height: calc(100% - 48px);
    padding: 20px 16px;
    background-color: var(--bet_content_bg);
    color: var(--bet_content_tx);
}
.ord_betset_txt h1 {
    color: var(--bet_content_tx);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 26px;
}
.ord_betset_function {
    height: 24px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.ord_betset_function tt {
    /* color: #000; */
    font-size: 14px;
}
.ord_betset_switch {
    position: relative;
    width: 40px;
    height: 24px;
    background-color: var(--bet_switch_bg);
    border-radius: 24px;
}
.ord_betset_switch input + span {
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 22px;
    top: 1px;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s ease;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.ord_betset_switch input:checked + span {
    background-color: var(--bet_switchBall_bg);
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}
.ord_betset_switch_txt {
    position: absolute;
    top: 100%;
    display: flex;
    width: 100%;
    margin: 4px 0;
    overflow: hidden;
    justify-content: flex-start;
}
.ord_betset_switch_txt tt {
    display: block;
    width: 100%;
    text-align: center;
    flex: none;
    font-weight: bold;
    color: var(--bet_switch_tx);
    transform: translate3d(-100%, 0, 0);
    transition: 0.3s ease;
}
.ord_betset_switch input:checked ~ .ord_betset_switch_txt tt {
    transform: translate3d(0%, 0, 0);
}

/*橫向阻擋*/
.ord_rotate_ph {
    min-height: 88px;
    padding: 12px 32px;
    background-color: var(--bet_content_bg);
    color: var(--bet_content_tx);
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: none;
}
.ord_fullslip .ord_rotate_ph {
    padding-top: 32px;
}
.ord_rotate_ph span {
    line-height: 32px;
    pointer-events: auto;
}
.btn_ord_rotate {
    color: #047ef6;
}

/*下注整頁loading*/
.ord_betload {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--comm_bg);
    z-index: 7;
    -webkit-transform: translate3d(0, 0, 0);
}
.ord_loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--comm_bg);
}
.ord_betload .load_ring,
.ord_loading .load_ring {
    width: 30px;
    height: 30px;
    border-width: 2px;
    border-color: transparent #a78025 #a78025 #a78025;
}
.ord_fullslip + .ord_betload {
    position: fixed;
    top: 48px;
    height: calc(100% - 104px);
}

/*帳戶歷史*/
.his_info_tb {
    width: 100%;
    text-align: center;
}
.his_info_tb .dark_head {
    background-color: hsl(27, 23%, 0%);
}
.his_info_tb th {
    height: 56px;
    background-color: var(--history_th_bg);
    color: var(--history_th_tx);
}
.his_info_tb td {
    height: 56px;
    color: var(--history_td_tx);
}
.his_info_tb .date {
    padding-left: 16px;
}
/* .his_info_tb tr:nth-child(odd):not(.dark_head){background-color: #d4d4d4;} */
.his_info_tb tr:nth-child(odd) td {
    background: var(--history_td_bg);
}

.his_noinfo {
    width: 100%;
    padding: 0 16px;
    /*border-top: 1px solid rgba(0, 0, 0, 0.16);*/
    font-size: 12px;
    text-align: center;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin: auto;
    color: var(--history_title_tx);
}
.his_noinfo:empty {
    display: none;
}

/*交易狀況*/
.ope_info_title {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    min-height: 56px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: var(--mybet_head_bg);
    color: var(--mybet_tx);
}
/*.ope_info_title li{word-break: break-word;}*/
.ope_info_title tt:empty {
    display: none;
}
.ope_info_title tt.word_lightyellow,
tt.ope_count {
    margin-left: 8px;
}
.ope_info_title span {
    margin: 0 8px;
}
.ope_info_link{
    margin: 0;
    border-bottom: 1px solid ;
    cursor: pointer;
}
.ope_info_normal,
.ope_info_more {
    position: relative;
}
.ope_info_more + .ope_info_more,
.ope_info_txt + .ope_info_txt {
    border-top: 1px solid var(--mybet_content_bd);
}
.ope_info_txt {
    padding: 8px 16px 0;
}
.ope_info_txt li:not(.ope_txt_team) {
    min-height: 16px;
    line-height: 16px;
    margin-bottom: 8px;
}
.ope_info_name {
    color: var(--mybet_teamName_tx);
}
.ope_info_txt {
    color: var(--mybet_tx);
}
.acc_remind {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-right: 3px;
}
.api_list_bet .acc_remind {
    display: none;
}
.acc_remind_txt {
    position: absolute;
    top: 25px;
    left: 0px;
    display: block;
    width: auto;
    max-width: 100%;
    padding: 8px;
    text-align: center;
    border-radius: 3px;
    visibility: hidden;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    background-color: var(--bet_gameMsg_bg);
    color: var(--bet_gameMsg_tx);
    z-index: 1;
    font-weight: normal;
    font-size: 14px;
}
.icon_wageri {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 16px;
    fill: var(--bet_gameMsg_fi);
}
.icon_wageri svg {
    width: 100%;
    height: 100%;
}

.acc_remind:hover ~ .acc_remind_txt,
.acc_remind_txt:hover {
    visibility: visible;
}

.ope_txt_team {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}
.ope_txt_team.history {
    display: flex;
    justify-content: space-between;
}
.ope_txt_team span:not(.acc_remind_txt) {
    width: 50%;
    flex: 1 1 50%;
}

.ope_point {
    color: var(--bet_custom_score_tx);
    font-size: 14px;
    font-weight: normal;
    text-align: right;
}
.ope_txt_team tt {
    position: relative;
    font-size: 14px;
    font-weight: normal;
    top: -2px;
}
/* .ope_txt_team tt:not(.word_lightgreen){
	color: #a78025;} */
.ope_txt_team tt.big {
    font-size: 16px;
}
.ope_txt_vs tt,
.ope_txt_odd tt {
    font-weight: bold;
}
.ope_txt_win,
.ope_txt_time {
    /*padding-bottom: 8px;*/
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}
.ope_txt_win tt {
    font-weight: bold;
}
.ope_info_foot {
    height: 48px;
    padding: 0 16px;
    background-color: var(--mybet_head_bg);
    color: var(--mybet_tx);
    font-weight: bold;
    margin-top: 8px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

/* 額度修改記錄 */

.credit_color th {
    color: rgba(255, 255, 255, 0.64);
}
.ord_no_event {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 200px;
    padding: 0 8px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
}
.ord_no_event i {
    display: block;
    width: 120px;
    height: 85px;
    margin: 0 auto 25px;
    background: url('../images/img_nodata.svg') no-repeat center/cover;
}
.ord_no_event span {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.56);
    font-size: 12px;
    text-align: center;
}
.ph_td {
    display: none;
}
.credit_color th:nth-child(1) {
    width: 16%;
}
.credit_color th:nth-child(2),
.credit_color th:nth-child(3),
.credit_color th:nth-child(4),
.credit_color th:nth-child(6) {
    width: 21%;
}
.credit_color th:nth-child(5) {
    width: 0;
}

/*loding*/
.ord_inn_loading {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: calc(100% + 56px);
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 5;
    display: none;
}

/*hand*/
.ord_keyboard:not(.nobet) button,
.del,
.dom,
.btn_ord_rem i,
.ord_maxbet span,
.ord_collapse:hover:after {
    -webkit-transition: color 0.3s linear, background-color 0.3s linear,
        opacity 0.3s linear, box-shadow 0.3s linear, border-color 0.3s linear;
    -ms-transition: color 0.3s linear, background-color 0.3s linear,
        opacity 0.3s linear, box-shadow 0.3s linear, border-color 0.3s linear;
    transition: color 0.3s linear, background-color 0.3s linear,
        opacity 0.3s linear, box-shadow 0.3s linear, border-color 0.3s linear;
}

[class^='btn_'],
.ord_betset_switch,
.ord_keyboard:not(.nobet) button,
.del,
.dom,
.ord_maxbet span,
.ord_collapse,
.ope_reason,
.date.word_bold,
.ord_msg button {
    cursor: pointer;
}
/*no hand*/
button:disabled,
.ord_keyboard button:disabled {
    cursor: default;
}

/* PC hover effect */
@media (pointer: fine) and (max-resolution: 2dppx),
    screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
    (-moz-touch-enabled: 0),
    screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
    .ord_keyboard:not(.nobet) .ord_keyboard_num button:hover {
        background-color: var(--keyboard_normal_bg_hv);
    }
    .ord_keyboard:not(.nobet) .ord_keyboard_more button:hover,
    .del:hover,
    .dom:hover {
        background-color: #474747;
    }

    .ord_keyboard:not(.nobet) .ord_keyboard_num button:disabled:hover {
        background-color: unset;
    }
    .ord_keyboard:not(.nobet) .ord_keyboard_more button:disabled:hover {
        background-color: rgba(0, 0, 0, 0.24);
    }

    .ord_maxbet span:hover,
    .btn_ord_rotate:hover,
    .ope_reason:hover {
        color: #008abd;
    }
    .ord_levelmsg button:hover {
        color: var(--bet_leavemsg_tx_hv);
    }

    .btn_ord_pLacebet:hover:not(:disabled) {
        background-color: var(--bet_betBtn_bg_hv);
    }
    .btn_ord_ok:hover {
        background-color: var(--bet_betBtn_bg_hv);
    }
    .ord_betset_switch:hover span {
        background-color: var(--bet_switchBall_bg);
    }
    .btn_ord_rem input:hover + i {
        border: 1px solid #33997a;
    }
    .btn_ord_remove:hover {
        background-color: #d65757;
    }
    .ord_collapse:hover svg {
        fill: #fff;
    }

    .btn_ord_betterbet:not(:disabled).mouse_hover:hover:before,
    .btn_ord_addslip.mouse_hover:hover:before,
    .btn_ord_reselect.mouse_hover:hover:before {
        background-color: rgba(0, 0, 0, 0.04);
    }

    .ord_amount_enter .normal:hover,
    .ord_amount_enter .typing:hover {
        border-color: var(--bet_input_bd_hv);
    }

    .btn_ord_close.mouse_hover:hover:before,
    .btn_ord_del.mouse_hover:hover:before {
        background-color: rgba(255, 255, 255, 0.08);
    }
    .btn_ord_del:hover svg,
    .btn_ord_close:hover svg {
        fill: #fff;
    }
    .btn_ord_betterbet:hover {
        background-color: var(--bet_bet_bg_hv);
    }
    .box_chg:not(.off):not(.check) .ord_chg_btn:hover,
    .box_chg:not(.off):not(.check) .ord_icon:hover {
        /* background-color: var(--mybet_chg_bg_hv); */
        opacity: 0.8;
    }

    .btn_ord_miniclose:hover {
        background-color: var(--bet_close_bg_hv);
    }
}

/* All active effect */
.ord_keyboard:not(.nobet) .ord_keyboard_num button:active {
    background-color: var(--keyboard_normal_bg_ac);
}
.ord_keyboard:not(.nobet) .ord_keyboard_more button:active,
.del:active,
.dom:active {
    background-color: #1f1f1f;
}

.receipt .btn_ord_miniclose:hover {
    background-color: var(--bet_close_bg_hv);
}

.ord_keyboard:not(.nobet) .ord_keyboard_num button:disabled:active {
    background-color: unset;
}
.ord_keyboard:not(.nobet) .ord_keyboard_more button:disabled:active {
    background-color: rgba(0, 0, 0, 0.24);
}

.ord_maxbet span:active,
.ord_levelmsg button:active,
.btn_ord_rotate:active,
.ope_reason:active {
    color: #008abd;
}

.btn_ord_pLacebet:active:not(:disabled) {
    background-color: var(--bet_betBtn_bg_ac);
}
.btn_ord_ok:active {
    background-color: var(--bet_betBtn_bg_ac);
}
.ord_betset_switch:active span {
    background-color: var(--bet_switchBall_bg);
}
.btn_ord_rem input:active + i {
    background-color: #33997a;
}
.btn_ord_rem input:active + i:before {
    border-color: #ededed;
}
.btn_ord_remove:active {
    background-color: #b02b2b;
}

.ord_collapse:active:after,
.btn_ord_miniclose:active {
    background-color: var(--bet_close_bg_ac);
}

.ord_collapse:active svg {
    fill: #fff;
}
.btn_ord_betterbet:not(:disabled).mouse_hover:active:before,
.btn_ord_addslip.mouse_hover:active:before,
.btn_ord_reselect.mouse_hover:active:before {
    background-color: rgba(0, 0, 0, 0.08);
}

.btn_ord_close.mouse_hover:active:before,
.btn_ord_del.mouse_hover:active:before {
    background-color: rgba(0, 0, 0, 0.24);
}
.btn_ord_del:active svg,
.btn_ord_close:active svg {
    fill: #fff;
}
.btn_ord_betterbet:hover {
    background-color: var(--bet_bet_bg_ac);
}
.box_chg:not(.off):not(.check) .ord_chg_btn:active,
.box_chg:not(.off):not(.check) ~ .ord_icon:active {
    /* background-color: var(--mybet_chg_bg_hv); */
    opacity: 0.8;
}

.receipt .btn_ord_miniclose:active {
    background-color: var(--bet_close_bg_ac);
}
/*RWD*/
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
    .ord_amount_enter {
        width: 147px;
        -webkit-flex: 0 0 147px;
        -ms-flex: 0 0 147px;
        flex: 0 0 147px;
    }
    .ord_keyboard_num button {
        width: 20%;
    }
}
@media only screen and (min-width: 1024px) {
    .ord_full_mask {
        position: absolute;
        height: calc(100% - 56px);
    }
    /* mini無動畫狀態 避免注單切換時造成動畫閃退 */
    .mini .ord_down_style,
    .minimize .ord_down_style {
        transform: translateY(100%) translateY(-48px);
        transform: translate3d(0, calc(100% - 48px), 0);
    }

    .mini .ord_down_style._bounce {
        transform: translateY(100%) translateY(-32px);
        transform: translateY(calc(100% - 32px));
    }

    .ord_outside_box,
    .ope_info_box,
    .his_info_box {
        padding: 0 16px;
    }
    .ord_no_event {
        margin-bottom: 32px;
    }
}
@media only screen and (max-width: 1023px) {
    .mini .ord_down_style,
    .minimize .ord_down_style {
        transform: translate3d(0, 100%, 0);
    }
    .bet_slip.on > .ord_full_mask {
        opacity: 1;
    }
    .bet_slip.off > .ord_full_mask {
        height: 0;
    }

    #total_print.btn_ord_del,
    .receipt .btn_ord_miniclose {
        display: none;
    }
    .qk .ord_title {
        display: flex;
    }
    .qk .btn_ord_miniclose.icon_close {
        display: none;
    }
}

@media screen and (min-width: 1px) and (max-width: 639px) {
    .ord_amount_enter {
        width: 136px;
        -webkit-flex: 0 0 136px;
        -ms-flex: 0 0 136px;
        flex: 0 0 136px;
    }
    .ord_keyboard_num button {
        width: 20%;
    }

    .pc_td {
        display: none;
    }
    .ph_td {
        display: table-cell;
    }
    .credit_color th:nth-child(1) {
        width: 21%;
    }
    .credit_color th:nth-child(2) {
        width: 25%;
    }
    .credit_color th:nth-child(5) {
        width: 27%;
    }
    .credit_color th:nth-child(6) {
        width: 27%;
    }
}
@media screen and (min-width: 1px) and (max-width: 320px) {
    .en.credit_color tt {
        display: block;
    }
}

/*橫向阻擋*/
@media (pointer: coarse) and (orientation: landscape) and (max-height: 428px) {
    .ord_down_style.qk {
        box-shadow: none;
        overflow: unset;
        pointer-events: none;
        background: transparent;
    }
    .ord_qkslip {
        background-color: transparent;
        padding-bottom: 96px;
        pointer-events: none;
    }
    .ord_fullslip {
        pointer-events: none;
    }
    .qk .ord_rotate_ph {
        box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.24);
    }
    .ord_slip_model,
    .ord_empty,
    .ord_lasterr,
    .ord_total,
    .ord_function,
    .ord_slip_info,
    .ord_multiple {
        display: none;
    }
    .ord_rotate_ph {
        display: flex;
    }
    .his_noinfo {
        min-height: 160px;
        /*margin-top: 64px;*/
    }
    .ord_betset {
        height: calc(100% - 48px);
    }
}

.ord_delay ~ .ord_order_button .load_ring:not(._inside) {
    display: none !important;
}
.ord_delay ~ .ord_order_button .delay_loading {
    display: flex;
}

.delay_loading .load_ring {
    width: 18px;
    height: 18px;
}
