

.alert {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	padding: 10px;
	transition: visibility 0s 0.3s;
	background-color: rgba(0, 0, 0, 0.45);
}

.plugBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.plugBox>iframe {
	width: 100%;
	height: 100%;
}

.alert.on {
	display: flex;
}

.alert_box {
	display: flex;
	flex-direction: column;
	min-width: 400px;
	min-height: 200px;
	max-height: 100%;
	background-color: #fff;
}

.alert_title {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	background-color: #0c2565;
	color: #fff;
	font-size: 18px;
}

.alert_content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 100%;
	padding: 16px;
	background-color: #fff;
	color: #46566d;
}

.alert._change_pwd .alert_content,
.alert._firstLogin .alert_content {
	flex-direction: column;
}

.alert._firstLogin .alert_content {
	max-width: 500px;
}

.alert._change_pwd .alert_input+.alert_input {
	margin-top: 10px;
}

.alert_btnbox {
	display: flex;
	width: 100%;
	padding: 0 16px 16px;
}

.btn_submit {
	display: block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	-webkit-box-flex: 1;
	color: #fff;
	background: #0c2565;
	text-transform: uppercase;
	cursor: pointer;
	transition-duration: 0.3s;
}

.btn_submit.unclick {
	background-color: #b9bdc5;
	pointer-events: none;
}

.btn_cancel {
	display: block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	color: #fff;
	background-color: #b9bdc5;
	transition: background 0.3s ease;
	cursor: pointer;
}

.alert_btnbox button+button {
	margin-left: 16px;
}

.alert_input {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 200px;
	height: 48px;
	margin: auto;
	background-color: #fff;
	font-size: 16px;
	border-radius: 2px;
}

.alert._change_pwd .alert_input,
.alert._firstLogin .alert_input {
	max-width: unset;
}

.alert_input input {
	width: 100%;
	height: 100%;
	padding: 8px;
	font-size: 16px;
	border: 2px solid #d5dcec;
	transition-duration: 0.3s;
}

.alert_input input:focus {
	border: 2px solid #047ef6;
}

.alert_close {
	position: absolute;
	right: 16px;
	width: 15px;
	height: 15px;
	background: url("../images/icon_close.svg") no-repeat center/contain;
	cursor: pointer;
	transition-duration: 0.3s;
}

.alert_msg._rule {
	width: 100%;
	text-align: left;
}

.check_input {
	display: flex;
	width: 100%;
}

.check_input .alert_input {
	flex: 1 1 100%;
}

.check_input .btn_submit {
	width: auto;
	margin-left: 5px;
	padding: 0 25px;
	white-space: nowrap;
}

.alert_msg+.alert_msg,
.alert_count+.alert_input,
.alert_count+.check_input {
	margin-top: 20px;
}

.alert_msg+.alert_count,
.alert_input+.alert_prompt,
.check_input+.alert_prompt {
	margin-top: 10px;
}

.alert_count {
	padding-left: 16px;
}

.alert_count li {
	list-style-type: decimal;
}

.alert_count li,
.alert_prompt li {
	line-height: 18px;
}

.alert_count li+li,
.alert_prompt li+li {
	margin-top: 10px;
}


/* 跑馬燈 */
.marquee {
	overflow: hidden;
	position: relative;
	flex: 1 1 100%;
	position: relative;
	display: flex;
	align-items: center;
	height: 40px;
	color: #a5b0c7;
	background-color: #161210;
	/* border-radius: 5px; */
	padding: 0 40px 0 10px;
	cursor: pointer;
}

.marquee::after {
	content: "";
	position: absolute;
	right: 0;
	display: block;
	width: 30px;
	height: 100%;
	padding-right: 15px;
	background-color: #161210;
	background-image: url("../images/icon_marquee.svg");
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: center;
}

.marquee span {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	white-space: nowrap;
	z-index: 0;
	/* transform: translateX(100%); */
}

@keyframes marquee_move {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
/* 跑馬燈 */

@media (pointer: fine),
(pointer: fine) and (-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

	.btn_submit:hover,
	.btn_cancel:hover {
		opacity: 0.8;
	}
}

.btn_submit:active,
.btn_cancel:active {
	opacity: 0.8;
}
@media only screen and (max-width: 496px) {
	.alert_box{
		min-width: unset;
	}
}

