/* 111 */

.dark {
    --bodyBg: linear-gradient(180deg, #182137 0%, #060e23 100%);

    /* 捲軸顏色 */
    --header_scroll_bg: linear-gradient(
        270deg,
        #212b46 50%,
        rgba(33, 43, 70, 0) 100%
    );
    --comm_scrollBtn_bg: #75829b;

    /* COMMON BG */
    --comm_bg: #060e23;
    --comm_mask: rgba(0, 0, 0, 0.45);
    --comm_money_tx: #30dff2;

    /* COMMON TEXT COLOR */
    --comm_tx: #fff;
    --comm_tx_hv: #30dff2;
    --comm_tx_ac: #13c1c1;
    --comm_tx_on: #30dff2;
    --comm_txBl: #0c2565;

    /* COMMON BTN */
    --comm_btnNorm_tx: #ffffff;
    --comm_btnNorm_bg: #1e2841;
    --comm_btnNorm_bg_hv: #2d3c62;
    --comm_btnNorm_bg_ac: #131a2a;
    --comm_btnNorm_bg_on: #6700f4;

    /* BLUE */
    --comm_btn_tx: #fff;
    --comm_btn_bg: #6700f4;
    --comm_btn_bg_hv: #7c1fff;
    --comm_btn_bg_ac: #5500cc;
    /* GRAY / CANCEL */
    --comm_btnF_tx: #fff;
    --comm_btnF_bg: #1e2841;
    --comm_btnF_bg_hv: #2d3c62;
    --comm_btnF_bg_ac: #414f6d;
    /* UNABLE */
    --comm_btnUn_tx: ;
    --comm_btnUn_bg: rgba(0, 0, 0, 0.24);

    /* COMMON INPUT */
    --comm_inp_tx: #fff;
    --comm_inp_tx_hv: #fff;
    --comm_inp_bg: transparent;
    --comm_inp_bd: #75829b;
    --comm_inp_bd_hv: #30dff2;
    --comm_inp_bd_on: #30dff2;
    --comm_inp_fi: #75829b;
    /* ERROR */
    --comm_inp_er: #ec6e63;
    /* PLACEHOLDER */
    --comm_inpP_tx: #75829b;
    --comm_inpP_tx_on: #30dff2;
    --comm_inpP_tx_vl: #fff;
    --comm_inpP_bg: ;
    --comm_inpP_bg_vl: #060e23;
    --comm_inpP_bg_on: #060e23;

    /* COMMON RADIO */
    --comm_rdo_tx: #ffffff;
    --comm_rdo_tx_hv: #30dff2;
    --comm_rdo_tx_ac: #30dff2;
    --comm_rdo_bd: #75829b;
    --comm_rdo_bd_hv: #30dff2;
    --comm_rdo_bd_ac: #30dff2;
    --comm_rdo_bg: #6700f4;

    /* COMMON MSG */
    --comm_msg_tx_ok: #19805c;
    --comm_msg_tx_er: #ec6e63;

    /* COMMON SELECT */
    --comm_sel_tx: #ffffff;
    --comm_sel_tx_ac: #30dff2;
    --comm_sel_tx_on: #30dff2;
    --comm_sel_bg: #262f41;
    --comm_sel_bg_hv: rgba(255, 255, 255, 0.1);
    --comm_sel_bg_ac: rgba(255, 255, 255, 0.1);
    --comm_sel_bd: ;

    /* COMMON TITLE */
    --comm_title_tx: #fff;
    --comm_titleBtn_bg_hv: rgba(255, 255, 255, 0.1);
    --comm_titleBtn_bg_ac: rgba(255, 255, 255, 0.45);
    --comm_titleBtn_fi: #fff;
    --comm_titleBtn_fi_on: #30dff2;

    /* COMMON TAB */
    --comm_tab_tx: #75829b;
    --comm_tab_tx_hv: #30dff2;
    --comm_tab_tx_ac: #30dff2;
    --comm_tab_tx_on: #30dff2;
    --comm_tab_bg_ac: rgba(255, 255, 255, 0.1);
    --comm_tab_bd_on: #30dff2;

    /* comm color */
    --comm_wordGreen_tx: #84f230;
    --comm_wordYellow_tx: #ffe62e;
    --comm_wordRed_tx: #ec6e63;

    /* header */
    --header_bg: #1e2841;
    --header_btn_tx: #75829b;
    --header_btn_tx_hv: #ffffff;
    --header_btn_tx_ac: #ffffff;
    --header_btn_tx_on: #ffffff;
    --header_btn_bg_ac: #6700f4;
    --header_btn_bg_on: #6700f4;

    /* 下方menu */
    --menu_bg: #1e2841;
    --menu_tx: #ffffff;
    --menuB_bet_bg: #6700f4;
    --menuB_bet_bg_hv: #7c1fff;
    --menuB_bet_bg_ac: #5500cc;
    --menuB_btn_bg: #1e2841;
    --menuB_btn_bg_hv: rgba(255, 255, 255, 0.1);
    --menuB_btn_bg_ac: rgba(255, 255, 255, 0.1);
    --menuB_btn_tx: #ffffff;
    --menuB_btn_tx_ac: #30dff2;
    --menuB_btn_tx_on: #30dff2;

    /* header + 下方menu */
    --openbetNum_tx: #131a2a;
    --openbetNum_bg: #fec12b;

    /* 標題背景 */
    --title_bg: linear-gradient(
        90deg,
        #00002f 0%,
        #221758 25%,
        #0a124c 50%,
        #221758 75%,
        #00002f 100%
    );

    /* 首頁sport按鈕 */
    --home_titleLine_bg: #75829b;
    --home_sportBtn_bd: rgba(255, 255, 255, 0.1);
    --home_sportBtn_bg: rgba(255, 255, 255, 0.1);
    --home_sportBtn_tx: #ffffff;
    --home_sportBtnIcon_bg: #131a2a;
    --home_sportBtnIcon_fi: #ffffff;
    --home_sportBtn_bd_hv: #30dff2;
    --home_sportBtn_bd_ac: #30dff2;
    --home_sportBtnIcon_bg_ac: #1e2841;
    --home_sportBtn_tx_ac: #30dff2;
    --home_sportBtn_fi_ac: #30dff2;

    /* 跑馬燈 */
    --marquee_tx: #ffffff;
    --marquee_bg: #1e2841;
    --marquee_icon_bg: #6700f4;

    /* 廣告 */
    --event_box_bg: #1e2841;

    /* 外層盤面sport按鈕 */
    --game_sportBtn_tx: rgba(255, 255, 255, 0.45);
    --game_sportBtn_tx_hv: #ffffff;
    --game_sportBtn_tx_ac: #ffffff;
    --game_sportBtn_bg_ac: rgba(255, 255, 255, 0.1);
    --game_sportBtn_tx_on: #30dff2;

    /* 日期按鈕 */
    --game_date_tx: #ffffff;
    --game_date_tx_ac: #ffffff;
    --game_date_tx_on: #ffffff;
    --game_date_bg: rgba(255, 255, 255, 0.1);
    --game_date_bg_hv: rgba(255, 255, 255, 0.45);
    --game_date_bg_ac: #6700f4;
    --game_date_bg_on: #6700f4;
    --game_date_bd: rgba(255, 255, 255, 0.45);
    --game_date_bd_hv: #ffffff;
    --game_date_bd_ac: #ffffff;
    --game_date_bd_on: #6700f4;

    /* 彈窗 */
    --popup_head_tx: #ffffff; /* 通用色 */
    --popup_head_bg: #1e2841;
    --popup_close_tx: #75829b;
    --popup_close_tx_hv: #ffffff;
    --popup_close_tx_ac: #ffffff;
    --popup_close_bg_ac: rgba(255, 255, 255, 0.1);
    --popup_mtCoutent_bg: #141435;
    /* --popup_content_tx: #75829B; */
    --popup_content_bg: #34446e;
    --popup_contentEven_bg: #485e99;
    --popup_money_tx: #30dff2;
    --popup_range_bg: rgba(255, 255, 255, 0.45);
    --popup_rangeBall_bg: #ffffff;

    --history_title_tx: #ffffff;
    --history_th_tx: #ffffff;
    --history_th_bg: #1e2841;
    --history_td_tx: #ffffff;
    --history_td_bg: rgba(255, 255, 255, 0.1);
    /* --history_total_tx:rgba(255, 255, 255, 0.45); */

    --mybet_tx: #ffffff;
    --mybet_head_bg: #1e2841;
    --mybet_teamName_tx: rgba(255, 255, 255, 0.45);
    --mybet_total_tx: rgba(255, 255, 255, 0.45);
    --mybet_totalNum_tx: #30dff2;
    /* --mybet_backBtn_tx:#FFFFFF; */
    /* --mybet_backBtn_bg:#75829B; */
    --mybet_bd: #ffffff;
    --mybet_link_fi: #ffffff;
    --mybet_cashOut_tx: #30dff2;
    /* --mybet_info_bd:#485E99; */
    --mybet_customNum_tx: #fec12b;
    --mybet_showMore_tx: #ffffff;
    --mybet_winloss_posi: #30dff2;
    --mybet_winloss_nega: #ec6e63;

    /* 兌現 */
    --mybet_chg_tx: #ffffff;
    --mybet_chg_bg: rgba(255, 255, 255, 0.1);
    --mybet_chg_bg_hv: #2d3c62;
    --mybet_chgOff_tx: #30dff2; /* 無法使用 */
    --mybet_chgMoney_tx: #1e2841; /* 確定金額改變為 */
    --mybet_chgNum_tx: #6700f4; /* 確定金額改變為 */
    --mybet_chgMoney_bg: #30dff2; /* 確定金額改變為 */
    --mybet_chgChk_tx: #1e2841; /* 確定兌現 */
    --mybet_chgChk_bg: #30dff2; /* 確定兌現 */
    --mybet_chgSuccess_tx: #30dff2; /* 兌現成功數字 */

    /* 兌現 */
    --keyboard_content_bg: #1e2841;
    --keyboard_normal_tx: #ffffff;
    --keyboard_normal_tx_db: rgba(255, 255, 255, 0.24);
    --keyboard_normal_bg: #34446e;
    --keyboard_normal_bg_hv: rgba(0, 0, 0, 0.12);
    --keyboard_normal_bg_ac: rgba(0, 0, 0, 0.3);
    --keyboard_normal_bd: #485e99;
    --keyboard_addMore_tx: #ffffff;
    --keyboard_addMore_bg: rgba(255, 255, 255, 0.45);

    /* 盤面賠率/球頭 */
    --custom_odd_posi: #ec6e63;
    --custom_odd_nega: #047ef6;
    --custom_odd_off: #ccc;
    --custom_ballHd: ;
    --custom_ballHdNum: ;

    /* 計分板 */
    --score_bg: linear-gradient(0deg, #1e1e30, #46467c);
    --score_team_tx: #fff;
    --score_time_tx: #fff;
    --score_score_tx: #f28300;
    --score_redcard_tx: #fff;
    --score_redcard_bg: #d3655f;
    --score_serve: #30dff2;
    --score_score_tx: #f28300;
    --score_redcard_tx: #fff;
    --score_redcard_bg: #d3655f;
    --score_serve: #30dff2;
    --score_iconN_img: right center;
    --score_rps_bg: rgba(255,255,255,0.32);
    --score_rpsRound_tx: rgba(255,255,255,0.4);

    /* 盤面*/
    --custom_ballHd: #fff;
    --custom_ballHdNum: #fff;

    --game_lebet_bd: #485e99;
    --game_lebetHeadHf_tx: #30dff2;
    --game_lebetTotal_tx_hv: #30dff2;
    --game_lebetTotal_tx_ac: #30dff2;
    --game_obtMenu_tx: #fff;
    --game_obtMenu_tx_ac: #30dff2;
    --game_obtMenu_tx_on: #30dff2;
    --game_obtMenu_bg: #121c32;
    --game_obtMenu_bg_hv: #131a2a;
    --game_obtMenu_bg_ac: #131a2a;
    --game_legTitle_tx: #ffffff;
    --game_legTitle_bg: #202b52;
    --game_legTitle_bg_hv: #2d3c62;
    --game_legTitle_bg_ac: #131a2a;
    --game_legSubTitle_tx: #30dff2;
    --game_legParlay_tx: #ffffff;
    --game_legFlag_bg: #ffffff;
    --game_legBtn_tx: #30dff2;
    --game_legBtn_tx_ac: #0fd1e6;
    --game_legBtn_bg_hv: rgba(255, 255, 255, 0.1);
    --game_legBtn_bg_ac: rgba(255, 255, 255, 0.1);

    /* 賽程 */
    --game_schedBtn_fi: #30dff2;

    /* 冠軍玩法Title */
    --game_fsTitle_tx: #30dff2;
    --game_fsTitle_bg_hv: rgba(255, 255, 255, 0.1);
    --game_fsTitle_bg_ac: rgba(255, 255, 255, 0.45);

    --game_moreBtn_bg_hv: rgba(91, 162, 255, 0.24);
    --game_moreBtn_bg_ac: rgba(91, 162, 255, 0.32);

    /* TN TT BM VB 迷你計分板 */
    --score_scoreGame_tx: #fff;
    --score_scorePoint_tx: #75829b;

    /* 賠率格子 */
    --game_oddBtn_tx: #ffffff;
    --game_oddBtn_tx_on: #ffffff;
    --game_oddBtn_bg: #1e2841;
    --game_oddBtn_bg_hv: #2d3c62;
    --game_oddBtn_bg_on: #6700f4;
    --game_oddBtn_bd: #34446e;
    --game_oddBtn_bd_on: #34446e;
    --bet_oddChangeUp_bg: #8c0b00;
    --bet_oddChangeDown_bg: #3f6b00;
    --bet_oddChange_bg: #485e99;
    --bet_oddChange_bd: #34446e;
    --bet_lock_tx: #75829b;
    --bet_lock_bg: #131a2a;
    --bet_lock_bd: #34446e;
    --bet_lock_img: center top;

    --bet_custom_score_tx: #fec12b; /* 畫面上的(0-0) */
    --bet_customNum_tx: #fec12b; /* 隊伍旁邊的數字 */

    /* TV VF 轉播 */
    --tvmt_menu_bg: #1e2841;
    --tvmt_video_bg: #262f41;
    --tvmt_video_bg_hv: #6700f4;
    --tvmt_video_bg_ac: #6700f4;
    --tvmt_video_bg_on: #6700f4;
    --tvmt_videoLi_bg_hv: #2d3c62;
    --tvmt_video_tx: #ffffff;
    --tvmt_video_tx_on: #30dff2;
    --tvmt_video_fi: #75829b;
    --tvmt_video_fi_hv: #ffffff;
    --tvmt_video_fi_ac: #ffffff;
    --tvmt_video_fi_on: #ffffff;

    /* 右選單 */
    --menuR_header_tx: #fff;
    --menuR_header_bg: #1e2841;
    --menuR_headerBtn_fi: #75829b;
    --menuR_headerBtn_fi_hv: #fff;
    --menuR_headerBtn_fi_ac: #fff;
    --menuR_headerBtn_bg_ac: #6700f4;

    --menuR_title_tx: #fff;

    --menuR_btn_tx: #fff;
    --menuR_btn_bg: rgba(255, 255, 255, 0.1);
    --menuR_btn_bd: rgba(255, 255, 255, 0.1);
    --menuR_btn_bd_hv: #fff;
    --menuR_btn_tx_ac: #30dff2;
    --menuR_btn_bd_ac: #30dff2;

    --menuR_secSelBox_bg: linear-gradient(180deg, #060e23 0%, #060e23 100%);
    --menuR_secSel_tx: #ffffff;
    --menuR_secSel_tx_ac: #30dff2;
    --menuR_secSel_bg: rgba(255, 255, 255, 0.1);
    --menuR_secSel_bg_ac: rgba(255, 255, 255, 0.1);
    --menuR_secSel_bd: rgba(255, 255, 255, 0.1);

    /* 賽果 */
    --rusult_form_bg: #34446e;
    --rusult_form_bd: #485e99;
    --rusult_formTH_tx: #fff;
    --rusult_formTH_bg: #34446e;
    --rusult_formLeTH_tx: #fff;
    --rusult_formLeTH_bg: #485e99;
    --rusult_formHalfTD_bg: rgba(0, 0, 0, 0.06);
    --rusult_formBtn_tx: #fff;
    --rusult_formBtn_bg: #1e2841;
    --rusult_formBtn_bg_hv: #7c1fff;
    --rusult_formBtn_bg_ac: #5500cc;
    --rusult_week_bg: #34446e;
    --rusult_goal_bg: #34446e;
    --rusult_cal_img: 100% center;

    /* 新功能頁 */
    --feaTitle_tx: #30dff2;
}

.light {
    --bodyBg: #f1f5ff;

    /* 捲軸顏色 */
    --header_scroll_bg: linear-gradient(
        270deg,
        #212b46 20%,
        rgba(33, 43, 70, 0) 100%
    );
    --comm_scrollBtn_bg: #d5dcec;

    /* COMMON BG */
    --comm_bg: #f1f5ff;
    --comm_mask: rgba(0, 0, 0, 0.45);
    --comm_money_tx: #30dff2;

    /* COMMON TEXT COLOR */
    --comm_tx: #46566d;
    --comm_tx_hv: #047ef6;
    --comm_tx_ac: #0370dd;
    --comm_tx_on: #047ef6;
    --comm_txBl: #0c2565;

    /* COMMON BTN */
    --comm_btnNorm_tx: #ffffff;
    --comm_btnNorm_bg: #b9bdc5;
    --comm_btnNorm_bg_hv: #3699fc;
    --comm_btnNorm_bg_ac: #0370dd;
    --comm_btnNorm_bg_on: #047ef6;

    /* BLUE */
    --comm_btn_tx: #fff;
    --comm_btn_bg: #0c2565;
    --comm_btn_bg_hv: #0f2f80;
    --comm_btn_bg_ac: #091b49;
    /* GRAY / CANCEL */
    --comm_btnF_tx: #fff;
    --comm_btnF_bg: #b9bdc5;
    --comm_btnF_bg_hv: #b1b5be;
    --comm_btnF_bg_ac: #a6abb5;
    /* UNABLE */
    --comm_btnUn_tx: ;
    --comm_btnUn_bg: rgba(0, 0, 0, 0.24);

    /* COMMON INPUT */
    --comm_inp_tx: #46566d;
    --comm_inp_tx_hv: #46566d;
    --comm_inp_bg: transparent;
    --comm_inp_bd: #949eb5;
    --comm_inp_bd_hv: #047ef6;
    --comm_inp_bd_on: #047ef6;
    --comm_inp_fi: #b9bdc5;
    /* ERROR */
    --comm_inp_er: #ec6e63;
    /* PLACEHOLDER */
    --comm_inpP_tx: #b9bdc5;
    --comm_inpP_tx_on: #047ef6;
    --comm_inpP_tx_vl: #047ef6;
    --comm_inpP_bg: ;
    --comm_inpP_bg_vl: #f1f5ff;
    --comm_inpP_bg_on: #f1f5ff;

    /* COMMON RADIO */
    --comm_rdo_tx: #46566d;
    --comm_rdo_tx_hv: #047ef6;
    --comm_rdo_tx_ac: #047ef6;
    --comm_rdo_bd: #949eb5;
    --comm_rdo_bd_hv: #46566d;
    --comm_rdo_bd_ac: #047ef6;
    --comm_rdo_bg: #047ef6;

    /* COMMON MSG */
    --comm_msg_tx_ok: #19805c;
    --comm_msg_tx_er: #ec6e63;

    /* COMMON SELECT */
    --comm_sel_tx: #0c2565;
    --comm_sel_tx_ac: #047ef6;
    --comm_sel_tx_on: #047ef6;
    --comm_sel_bg: #ffffff;
    --comm_sel_bg_hv: rgba(0, 0, 0, 0.06);
    --comm_sel_bg_ac: rgba(0, 0, 0, 0.06);
    --comm_sel_bd: ;

    /* COMMON TITLE */
    --comm_title_tx: #0c2565;
    --comm_titleBtn_bg_hv: rgba(0, 0, 0, 0.06);
    --comm_titleBtn_bg_ac: rgba(0, 0, 0, 0.12);
    --comm_titleBtn_fi: #0c2565;
    --comm_titleBtn_fi_on: #047ef6;

    /* COMMON TAB */
    --comm_tab_tx: #b9bdc5;
    --comm_tab_tx_hv: #047ef6;
    --comm_tab_tx_ac: #047ef6;
    --comm_tab_tx_on: #047ef6;
    --comm_tab_bg_ac: rgba(0, 0, 0, 0.12);
    --comm_tab_bd_on: #047ef6;

    /* comm color */
    --comm_wordGreen_tx: #69c523;
    --comm_wordYellow_tx: #f2b200;
    --comm_wordRed_tx: #ec6e63;

    /* header */
    --header_bg: #0c2565;
    --header_btn_tx: #949eb5;
    --header_btn_tx_hv: #ffffff;
    --header_btn_tx_ac: #ffffff;
    --header_btn_tx_on: #ffffff;
    --header_btn_bg_ac: #047ef6;
    --header_btn_bg_on: #047ef6;

    /* 下方menu */
    --menu_bg: #0c2565;
    --menu_tx: #0c2565;
    --menuB_bet_bg: #047ef6;
    --menuB_bet_bg_hv: #3699fc;
    --menuB_bet_bg_ac: #0370dd;
    --menuB_btn_bg: #0c2565;
    --menuB_btn_bg_hv: rgba(255, 255, 255, 0.1);
    --menuB_btn_bg_ac: rgba(255, 255, 255, 0.1);
    --menuB_btn_tx: #ffffff;
    --menuB_btn_tx_ac: #fec12b;
    --menuB_btn_tx_on: #fec12b;

    /* header + 下方menu */
    --openbetNum_tx: #0c2565;
    --openbetNum_bg: #fec12b;

    /* 標題背景 */
    --title_bg: linear-gradient(
        90deg,
        #ffffff 0%,
        #d5e4ff 25%,
        #d9ecff 50%,
        #d5e4ff 75%,
        #ffffff 100%
    );

    /* 首頁sport按鈕 */
    --home_titleLine_bg: #d5dcec;
    --home_sportBtn_bd: #d5dcec;
    --home_sportBtn_bg: #ffffff;
    --home_sportBtn_tx: #46566d;
    --home_sportBtnIcon_bg: #0c2565;
    --home_sportBtnIcon_fi: #ffffff;
    --home_sportBtn_bd_hv: #0c2565;
    --home_sportBtn_bd_ac: #047ef6;
    --home_sportBtnIcon_bg_ac: #047ef6;
    --home_sportBtn_tx_ac: #047ef6;
    --home_sportBtn_fi_ac: #ffffff;
    /* 跑馬燈 */
    --marquee_tx: #0c2565;
    --marquee_bg: #d5dcec;
    --marquee_icon_bg: #047ef6;

    /* 廣告 */
    --event_box_bg: #d5dcec;

    /* 外層盤面sport按鈕 */
    --game_sportBtn_tx: #6778a1;
    --game_sportBtn_tx_hv: #047ef6;
    --game_sportBtn_tx_ac: #047ef6;
    --game_sportBtn_bg_ac: rgba(0, 0, 0, 0.12);
    --game_sportBtn_tx_on: #047ef6;

    /* 日期按鈕 */
    --game_date_tx: #46566d;
    --game_date_tx_ac: #ffffff;
    --game_date_tx_on: #ffffff;
    --game_date_bg: #ffffff;
    --game_date_bg_hv: rgba(0, 0, 0, 0.06);
    --game_date_bg_ac: #0370dd;
    --game_date_bg_on: #047ef6;
    --game_date_bd: #d5dcec;
    --game_date_bd_hv: #bfcff3;
    --game_date_bd_ac: #d5dcec;
    --game_date_bd_on: #047ef6;

    /* 彈窗 */
    --popup_head_tx: #ffffff;
    --popup_head_bg: #0c2565;
    --popup_close_tx: #949eb5;
    --popup_close_tx_hv: #ffffff;
    --popup_close_tx_ac: #ffffff;
    --popup_close_bg_ac: #091b49;
    --popup_mtCoutent_bg: transparent;
    /* --popup_content_tx: #46566d; */
    --popup_content_bg: #f1f5ff;
    --popup_contentEven_bg: #ffffff;
    --popup_money_tx: #047ef6;
    --popup_range_bg: #b9bdc5;
    --popup_rangeBall_bg: #047ef6;

    --history_title_tx: #0c2565;
    --history_th_tx: #46566d;
    --history_th_bg: #d5dcec;
    --history_td_tx: #46566d;
    --history_td_bg: rgba(0, 0, 0, 0.06);
    /* --history_total_tx:#6778A1; */

    --mybet_tx: #46566d;
    --mybet_head_bg: #d5dcec;
    --mybet_teamName_tx: #6778a1;
    --mybet_total_tx: #6778a1;
    --mybet_totalNum_tx: #047ef6;
    /* --mybet_backBtn_tx:#FFFFFF; */
    /* --mybet_backBtn_bg:#949EB5; */
    --mybet_bd: #46566d;
    --mybet_link_fi: #6778a1;
    --mybet_cashOut_tx: #047ef6;
    /* --mybet_info_bd:#D5DCEC; */
    --mybet_customNum_tx: #f28300;
    --mybet_showMore_tx: #0c2565;
    --mybet_winloss_posi: #047ef6;
    --mybet_winloss_nega: #ec6e63;

    /* 兌現 */
    --mybet_chg_tx: #46566d;
    --mybet_chg_bg: rgba(0, 0, 0, 0.12);
    --mybet_chg_bg_hv: rgba(0, 0, 0, 0.06);
    --mybet_chgOff_tx: #047ef6; /* 無法使用 */
    --mybet_chgMoney_tx: #d5dcec; /* 確定金額改變為 */
    --mybet_chgNum_tx: #fec12b; /* 確定金額改變為 */
    --mybet_chgMoney_bg: #047ef6; /* 確定金額改變為 */
    --mybet_chgChk_tx: #d5dcec; /* 確定兌現 */
    --mybet_chgChk_bg: #047ef6; /* 確定兌現 */
    --mybet_chgSuccess_tx: #047ef6; /* 兌現成功數字 */

    /* 注單鍵盤 */
    --keyboard_content_bg: #d5dcec;
    --keyboard_normal_tx: #0c2565;
    --keyboard_normal_tx_db: rgba(0, 0, 0, 0.3);
    --keyboard_normal_bg: #ffffff;
    --keyboard_normal_bg_hv: rgba(0, 0, 0, 0.12);
    --keyboard_normal_bg_ac: rgba(0, 0, 0, 0.3);
    --keyboard_normal_bd: #ffffff;
    --keyboard_addMore_tx: #ffffff;
    --keyboard_addMore_bg: #6778a1;

    /* 盤面賠率/球頭 */
    --custom_odd_posi: #ec6e63;
    --custom_odd_nega: #047ef6;
    --custom_odd_off: #ccc;
    --custom_ballHd: ;
    --custom_ballHdNum: ;

    /* 計分板 */
    --score_bg: linear-gradient(0deg, #1e1e30, #46467c);
    --score_team_tx: #fff;
    --score_time_tx: #fff;
    --score_score_tx: #f28300;
    --score_redcard_tx: #fff;
    --score_redcard_bg: #d3655f;
    --score_serve: #30dff2;
    --score_score_tx: #f28300;
    --score_redcard_tx: #fff;
    --score_redcard_bg: #d3655f;
    --score_serve: #30dff2;
    --score_iconN_img: left center;
    --score_rps_bg: rgba(0,0,0,0.32);
    --score_rpsRound_tx: rgba(0,0,0,0.4);

    /* 盤面*/
    --custom_ballHd: #46566d;
    --custom_ballHdNum: #46566d;

    --game_lebet_bd: #d5dcec;
    --game_lebetHeadHf_tx: #047ef6;
    --game_lebetTotal_tx_hv: #047ef6;
    --game_lebetTotal_tx_ac: #047ef6;
    --game_obtMenu_tx: #46566d;
    --game_obtMenu_tx_ac: #047ef6;
    --game_obtMenu_tx_on: #047ef6;
    --game_obtMenu_bg: #e5e8f1;
    --game_obtMenu_bg_hv: #bfcff3;
    --game_obtMenu_bg_ac: #bfcff3;
    --game_legTitle_tx: #46566d;
    --game_legTitle_bg: #d5dcec;
    --game_legTitle_bg_hv: #bfcff3;
    --game_legTitle_bg_ac: #bdc3d0;
    --game_legSubTitle_tx: #047ef6;
    --game_legParlay_tx: #46566d;
    --game_legFlag_bg: #46566d;
    --game_legBtn_tx: #047ef6;
    --game_legBtn_tx_ac: #0370dd;
    --game_legBtn_bg_hv: rgba(0, 0, 0, 0.06);
    --game_legBtn_bg_ac: rgba(0, 0, 0, 0.06);

    /* 賽程 */
    --game_schedBtn_fi: #047ef6;

    /* 冠軍玩法Title */
    --game_fsTitle_tx: #047ef6;
    --game_fsTitle_bg_hv: rgba(0, 0, 0, 0.06);
    --game_fsTitle_bg_ac: rgba(0, 0, 0, 0.12);

    --game_moreBtn_bg_hv: rgba(91, 162, 255, 0.24);
    --game_moreBtn_bg_ac: rgba(91, 162, 255, 0.32);

    /* TN TT BM VB 迷你計分板 */
    --score_scoreGame_tx: #0c2565;
    --score_scorePoint_tx: #6778a1;

    /* 賠率格子 */
    --game_oddBtn_tx: #ffffff;
    --game_oddBtn_tx_on: #ffffff;
    --game_oddBtn_bg: #ffffff;
    --game_oddBtn_bg_hv: rgba(0, 0, 0, 0.06);
    --game_oddBtn_bg_on: #047ef6;
    --game_oddBtn_bd: #d5dcec;
    --game_oddBtn_bd_on: #34446e;
    --bet_oddChange_bg: #c3e0fe;
    --bet_oddChange_bd: #34446e;
    --bet_oddChangeUp_bg: #ffbeb8;
    --bet_oddChangeDown_bg: #b7ee6a;

    --bet_lock_tx: #46566d;
    --bet_lock_bg: #e5e5e5;
    --bet_lock_bd: #d5dcec;
    --bet_lock_img: center bottom;

    --bet_custom_score_tx: #f28300; /* 畫面上的(0-0) */
    --bet_customNum_tx: #f28300; /* 隊伍旁邊的數字 */

    /* TV VF 轉播 */
    --tvmt_menu_bg: #d5dcec;
    --tvmt_video_bg: #ffffff;
    --tvmt_video_bg_hv: #047ef6;
    --tvmt_video_bg_ac: #047ef6;
    --tvmt_video_bg_on: #047ef6;
    --tvmt_videoLi_bg_hv: #d5dcec;
    --tvmt_video_tx: #0c2565;
    --tvmt_video_tx_on: #047ef6;
    --tvmt_video_fi: #46566d;
    --tvmt_video_fi_hv: #ffffff;
    --tvmt_video_fi_ac: #ffffff;
    --tvmt_video_fi_on: #ffffff;

    /* 右選單 */
    --menuR_header_tx: #fff;
    --menuR_header_bg: #0c2565;
    --menuR_headerBtn_fi: #949eb5;
    --menuR_headerBtn_fi_hv: #fff;
    --menuR_headerBtn_fi_ac: #fff;
    --menuR_headerBtn_bg_ac: #047ef6;

    --menuR_title_tx: #46566d;

    --menuR_btn_tx: #0c2565;
    --menuR_btn_bg: #fff;
    --menuR_btn_bd: #d5dcec;
    --menuR_btn_bd_hv: #047ef6;
    --menuR_btn_tx_ac: #047ef6;
    --menuR_btn_bd_ac: #047ef6;

    --menuR_secSelBox_bg: #f1f5ff;
    --menuR_secSel_tx: #0c2565;
    --menuR_secSel_tx_ac: #047ef6;
    --menuR_secSel_bg: #ffffff;
    --menuR_secSel_bg_ac: #d5dcec;
    --menuR_secSel_bd: #d5dcec;

    /* 賽果 */
    --rusult_form_bg: #fff;
    --rusult_form_bd: #d5dcec;
    --rusult_formTH_tx: #fff;
    --rusult_formTH_bg: #6778a1;
    --rusult_formLeTH_tx: #46566d;
    --rusult_formLeTH_bg: #d5dcec;
    --rusult_formHalfTD_bg: rgba(0, 0, 0, 0.06);
    --rusult_formBtn_tx: #fff;
    --rusult_formBtn_bg: #949eb5;
    --rusult_formBtn_bg_hv: #3699fc;
    --rusult_formBtn_bg_ac: #0370dd;
    --rusult_week_bg: #f1f5ff;
    --rusult_goal_bg: rgba(0, 0, 0, 0.15);
    --rusult_cal_img: 0 center;

    /* 新功能頁 */
    --feaTitle_tx: #0c2565;
}

.oddTxt1 {
    --bet_custom_odd_posi: #ec6e63;
    --bet_custom_odd_nega: #13c1c1;
}
.oddTxt2 {
    --bet_custom_odd_posi: #ffc524;
    --bet_custom_odd_nega: #9dda1d;
}
.oddTxt3 {
    --bet_oddColor: #ffc524;
}
.oddTxt4 {
    --bet_oddColor: #9dda1d;
}
.oddTxt5 {
    --bet_oddColor: #00bd79;
}
.oddTxt6 {
    --bet_oddColor: #ff5cb4;
}
.oddTxt7 {
    --bet_oddColor: #047ef6;
}
.oddTxt8 {
    --bet_oddColor: #ff912b;
}
.oddTxt9 {
    --bet_oddColor: #929292;
}
.oddTxt10 {
    --bet_oddColor: #c956ff;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	list-style: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
html,
body {
	width: 100%;
	height: 100%;
	color: #000000;
	touch-action: manipulation;
	font-family: 'Noto Sans SC', sans-serif;
	font-size: 13px;	
	scroll-behavior: smooth;
	line-height: 1;
}
*:hover,
*:focus,
*:active {
	outline: 0;
	-moz-outline: none;
	-webkit-tap-highlight-color: transparent;
}

a,
a:hover {
	text-decoration: none;
	color: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

input[type=number] {
	-moz-appearance: textfield;
}

input[type="password"]::-webkit-textfield-decoration-container {
	visibility: hidden;
}

input,
button,
select,
textarea {
	font-family: 'Noto Sans SC', sans-serif;
	padding: 0;
	border: 0;
	background-color: transparent;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	resize: none;
}

input::-ms-clear {
	display: none;
}

input::-ms-reveal {
	display: none;
}

.nofloat:after {
	content: '';
	display: table;
	clear: both;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

tt {
	font-family: 'Noto Sans SC', sans-serif;
}


.normal_loading {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 11;
}
.normal_loading.on {
    display: flex;
}
.normal_loading_txt {
    margin-top: 10px;
    color: #0579ad;
    font-size: 20px;
    text-shadow: 1px 1px #fff;
}
.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #0479ad;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
    box-shadow: 0 0 1px 1px #fff;
}
.lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
}
.lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
}
.lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
}
.lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
}
.lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
}
.lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
}
.lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
}
.lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
}
.lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
}
.lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
}
.lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
}
.lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
}

html[class*="oddTxt"] .tool_category{
    display: flex;
}

/* frame */
.ma_content,
.ma_content> iframe{
    width: 100%;
    height: 100%;
}
/* frame */
.loading {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: var(--comm_bg);
}
.icon_load {
    display: block;
    width: 40px;
    height: 40px;
    border: 3px solid #FFF;
    -webkit-animation: loading-animate 2s linear infinite both;
    animation: loading-animate 2s linear infinite both;
}


@keyframes loading-animate{
	0%{
		transform: rotate(0);
		border: 3px solid #FFF;
	}
	25%{
		border-radius: 100%;
		border: 3px solid #27a67b;
	}
	50%{
		border-radius: 0%;
		border: 3px solid #FFF;
	}
	75%{
		border-radius: 100%;
		border: 3px solid #ff7f00;
	}
	100%{
		border-radius: 0%;
		transform: rotate(360deg);
		border: 3px solid #FFF;
	}
}
@-webkit-keyframes loading-animate{
	0%{
		transform: rotate(0);
		border: 3px solid #FFF;
	}
	25%{
		border-radius: 100%;
		border: 3px solid #27a67b;
	}
	50%{
		border-radius: 0%;
		border: 3px solid #FFF;
	}
	75%{
		border-radius: 100%;
		border: 3px solid #ff7f00;
	}
	100%{
		border-radius: 0%;
		transform: rotate(360deg);
		border: 3px solid #FFF;
	}
}
@media only screen and (min-device-width: 1025px) {
	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: #f1f1f1;
	}

	::-webkit-scrollbar-thumb {
		background-color: #c1c1c1;
		border: 1px #f1f1f1 solid;
		border-radius: 3px;
		cursor: pointer;
		-webkit-transition: background .5s linear;
		transition: background .5s linear;
	}

	*:hover::-webkit-scrollbar-thumb {
		background-color: #a9a9a9;
	}

	::-webkit-scrollbar-corner {
		background-color: #f1f1f1;
	}
}
