@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap");
.warroom_machine_item::after, .warroom_machine_item, .home_item::before, .home_item, .normal_sel_item, .normal_sel_title:after, .normal_sel, .icon_btn._home, .normal_btn {
  transition: all 0.3s ease-in-out;
}

.login_box_forgot, .home_item, .normal_sel_item, .normal_sel_title, .icon_btn, .normal_btn {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Noto Sans TC", "Arial", sans-serif;
  line-height: 1;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  color: #565656;
}

html.ph,
body.ph {
  overflow: hidden;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -moz-outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  border: none;
}

button {
  border: none;
  background-color: transparent;
}

img {
  width: 100%;
  vertical-align: middle;
}

select {
  font-size: 16px;
  border: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media only screen and (min-device-width: 1025px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border: 1px #f1f1f1 solid;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background 0.5s linear;
    transition: background 0.5s linear;
  }
  *:hover::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
  }
  ::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
  }
}
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.logo {
  width: 128px;
  height: 32px;
}
.logo > a {
  display: block;
  width: 100%;
  height: 100%;
}
.login .logo {
  width: 300px;
  height: 75px;
}

.normal_btn {
  height: 30px;
  border-radius: 10px;
}
.login .normal_btn {
  width: 100%;
  height: 70px;
}
.normal_btn._primary {
  background-color: #2E7FDF;
  color: #fff;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_btn._primary:hover {
    background-color: #2E55DF;
  }
}
.normal_btn._primary:active {
  background-color: #1D3EB3;
}
.normal_btn._secondry {
  background-color: #A4B2C2;
  color: #fff;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_btn._secondry:hover {
    background-color: #88A1BD;
  }
}
.normal_btn._secondry:active {
  background-color: #69829F;
}
.normal_btn._edit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 85px;
  font-size: 14px;
}
.normal_btn._edit::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background: url("../assets/images/icon_edit_w.svg") no-repeat center/contain;
}

.icon_btn {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.icon_btn._eyeclose {
  background-image: url("./assets/images/icon_eye_close.svg");
}
.icon_btn._eyeopen {
  background-image: url("./assets/images/icon_eye_open.svg");
}
.icon_btn._home {
  width: 36px;
  height: 36px;
  margin-left: auto;
  margin-right: 50px;
  border-radius: 100%;
  background: url("./assets/images/icon_home.svg") no-repeat center/22px 20px, rgb(238, 240, 243);
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .icon_btn._home:hover {
    background: url("./assets/images/icon_home.svg") no-repeat center/22px 20px, rgb(235, 235, 235);
  }
}
.icon_btn._home:active {
  background: url("./assets/images/icon_home.svg") no-repeat center/22px 20px, rgb(203, 203, 203);
}

.normal_sel {
  position: relative;
  min-width: 180px;
  border: 1px solid #BCBCBC;
  border-radius: 8px;
}
.normal_sel.user {
  border: none;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_sel:hover:not(.user) {
    background-color: #E7F0FF;
  }
}
.normal_sel:active:not(.user) {
  background-color: #E7F0FF;
}
.normal_sel_title {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 44px 10px 12px;
  color: #464646;
  font-size: 16px;
  font-weight: 400;
}
.normal_sel_title:after {
  pointer-events: none;
  content: "";
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  flex: none;
  display: block;
  width: 24px;
  height: 24px;
  margin: auto;
  background-size: contain;
  background-position: center/center;
  background-repeat: no-repeat;
  background-image: url("./assets/images/icon_arrDown_sel.svg");
}
.normal_sel_title.on:after {
  transform: rotate(180deg);
}
.user .normal_sel_title:after {
  background-image: url("./assets/images/icon_arrDown_user.svg");
}
.home .normal_sel_title {
  color: #ffffff;
}
.home .normal_sel_title:after {
  background-image: url("./assets/images/icon_arrDown_w.svg");
}
.normal_sel.on {
  background-color: #E7F0FF;
}
.normal_sel_group {
  position: absolute;
  right: 0;
  top: calc(100% + 5px);
  display: none;
  width: 100%;
  min-width: 180px;
  padding: 10px 0;
  background-color: #FFFFFF;
  border: 1px solid #BCBCBC;
  border-radius: 8px;
}
.on + .normal_sel_group {
  display: block;
}
.normal_sel_item {
  padding: 8px 15px;
  background-color: #FFFFFF;
  color: #565656;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_sel_item:hover {
    background-color: #D9DFE9;
  }
}
.normal_sel_item:active {
  background-color: #D9DFE9;
}

.WAIT {
  background-color: #FA2E2E;
}

.PM {
  background-color: #2E90FA;
}

.PD_RUN {
  background-color: #29D20D;
}

.ENG {
  background-color: #FB9823;
}

.OFF {
  background-color: #838383;
}

.PR_RUN {
  background-color: #8210B8;
}

.wrap {
  width: 100%;
  min-width: 1440px;
  height: 100%;
  background-color: #f6f6f6;
}
.wrap.home {
  background: url("./assets/images/home_bg.jpg") no-repeat center/cover;
}

.container {
  overflow: hidden;
  width: 100%;
  height: calc(100% - 60px);
  padding: 20px;
  background-color: #f6f6f6;
}
.home .container {
  padding-top: 60px;
}
.container_title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.container_title::after {
  content: attr(data-tw);
  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.home .head {
  background-color: transparent;
  box-shadow: none;
}

.user {
  position: relative;
  display: flex;
  align-items: center;
}
.user::before, .user:after {
  content: "";
  flex: none;
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center/center;
  background-repeat: no-repeat;
}
.user::before {
  margin-right: 4px;
  background-image: url("./assets/images/icon_user_blue.svg");
}
.home .user {
  color: #fff;
}
.home .user::before {
  background-image: url("./assets/images/icon_user_w.svg");
}

.system_txt {
  font-size: 32px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.home_group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1060px;
  margin: 10px auto 0;
}
.home_item {
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 250px;
  margin-top: 50px;
  padding: 30px 40px;
  border-radius: 36px;
  background: linear-gradient(137.22deg, #7DF66B 1.74%, #1ABCD7 98.16%);
  box-shadow: 46px 56px 70px 0px rgba(125, 125, 175, 0.4);
}
.home_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 36px;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .home_item:hover::before {
    background-color: rgba(255, 255, 255, 0);
  }
}
.home_item:active::before {
  background-color: rgba(255, 255, 255, 0);
}
.home_item h2 {
  position: relative;
}
.home_item_txt {
  position: relative;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.home_item_pic {
  position: absolute;
  right: 40px;
  bottom: 30px;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 90px;
  background: url("./assets/images/login_bg.jpg") no-repeat center/cover;
}
.login_txt {
  margin-top: 42px;
  font-size: 32px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.login_box {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 500px;
  margin-top: 50px;
  padding: 40px 96px 40px 100px;
  background: linear-gradient(123.55deg, rgba(0, 108, 146, 0.2) 13.15%, rgba(142, 211, 0, 0.2) 98.35%), linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.6980392157);
}
.login_box_title {
  padding: 10px 0;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
}
.login_box_inp {
  position: relative;
  width: 100%;
  margin-top: 50px;
}
.login_box_inp::before {
  position: absolute;
  top: -6px;
  left: 0;
  content: attr(data-txt);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fff;
  transform: translateY(-100%);
}
.login_box_inp input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border-radius: 10px;
  border: 1px solid #BCBEC0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #565656;
}
.login_box_inp .icon_btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  margin: auto;
  cursor: pointer;
}
.login_box_forgot {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  text-align: right;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .login_box_forgot:hover {
    text-decoration: underline;
  }
}
.login_box_forgot:active {
  text-decoration: underline;
}
.login_box .normal_btn {
  margin-top: 60px;
}

.warroom {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
.warroom_all {
  flex: none;
  width: 120px;
  padding: 14px 10px 12px;
  background-color: #0295F7;
  border-radius: 10px;
}
.warroom_all_title {
  padding-left: 13px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #8DD1FF;
}
.warroom_all_item {
  position: relative;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  background-color: #0281D5;
  border-radius: 10px;
}
.warroom_all_item .num {
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  line-height: 24px;
}
.warroom_all_item .num:after {
  content: attr(data-unit);
  margin-left: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.warroom_all_item .txt {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #8DD1FF;
}
.warroom_all_item:after {
  content: "";
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: block;
  width: 24px;
  height: 24px;
}
.warroom_all_item._people:after {
  background-image: url("../assets/images/icon_warroom_people.svg");
}
.warroom_all_item._attendance:after {
  background-image: url("../assets/images/icon_warroom_attendance.svg");
}
.warroom_all_item._input:after {
  background-image: url("../assets/images/icon_warroom_input.svg");
}
.warroom_all_item._output:after {
  background-image: url("../assets/images/icon_warroom_output.svg");
}
.warroom_all_item._achievement:after {
  background-image: url("../assets/images/icon_warroom_achievement.svg");
}
.warroom_info {
  overflow: hidden;
  width: calc(100% - 120px);
  height: 100%;
  padding-left: 10px;
}
.warroom_head {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.warroom_body {
  overflow-y: auto;
  height: 100%;
}
.warroom_machine {
  overflow: hidden;
  padding-right: 5px;
  border-radius: 10px;
}
.warroom_machine + .warroom_machine {
  margin-top: 10px;
}
.warroom_machine_head {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px 14px;
  background-color: #8C95A6;
}
.warroom_machine_li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 4px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.warroom_machine_li + .warroom_machine_li {
  border-left: 1px solid #A6AEBC;
}
.warroom_machine_li._title {
  width: 163px;
}
.warroom_machine_li:not(._title) {
  padding-left: 16px;
  padding-right: 20px;
}
.warroom_machine_li._payment {
  align-items: center;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}
.warroom_machine_li._payment::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: url("../assets/images/icon_payment.svg") no-repeat center/contain;
}
.warroom_machine_li._payment:after {
  content: attr(data-unit);
  margin-left: 4px;
}
.warroom_machine_li._water {
  align-items: center;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}
.warroom_machine_li._water::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: url("../assets/images/icon_water.svg") no-repeat center/contain;
}
.warroom_machine_li._water:after {
  content: attr(data-unit);
  margin-left: 4px;
}
.warroom_machine_li._total {
  align-items: center;
  flex-direction: row;
  height: auto;
  margin-left: auto;
  border: none;
  font-size: 20px;
  line-height: 18px;
}
.warroom_machine_li._total::before {
  content: attr(data-l);
  align-self: flex-end;
  font-size: 14px;
  margin-right: 4px;
  line-height: 1;
}
.warroom_machine_li._total::after {
  content: attr(data-r);
  align-self: flex-end;
  font-size: 14px;
  margin-left: 4px;
  line-height: 1;
}
.warroom_machine_span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.warroom_machine_span:after {
  content: attr(data-unit);
}
.warroom_machine_span:nth-child(1) {
  color: #D6E0F1;
}
.warroom_machine_span:nth-child(2) {
  margin-top: 4px;
}
._title .warroom_machine_span:nth-child(1) {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.warroom_machine_outside {
  height: 136px;
  padding: 0 7px 6px;
  background-color: #fff;
}
.warroom_machine_outside ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
.warroom_machine_outside ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px transparent solid;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
.warroom_machine_outside *:hover::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}
.warroom_machine_outside ::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}
.warroom_machine_group {
  overflow-x: auto;
  display: flex;
  padding: 4px 0px 5px 0;
  width: 100%;
  background-color: #fff;
}
.warroom_machine_item {
  position: relative;
  flex: none;
  width: 100px;
  padding: 6px 9px 7px;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 6px;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .warroom_machine_item:hover {
    border-color: rgb(59, 149, 255);
  }
  .warroom_machine_item:hover:after {
    opacity: 1;
  }
}
.warroom_machine_item::after {
  content: attr(data-txt);
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0;
  width: calc(100% - 12px);
  margin: auto;
  padding: 15px 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 20px 0px rgba(30, 49, 84, 0.55);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.015em;
  border-radius: 10px;
  opacity: 0;
  box-sizing: border-box;
}
.warroom_machine_item .state {
  width: 54px;
  height: 12px;
  margin: 0 auto 8px;
  border-radius: 21px;
}
.warroom_machine_item .machine {
  width: 80px;
  height: 60px;
  background: url("../assets/images/machine.svg") no-repeat center/contain;
}
.edit .warroom_machine_item .machine {
  background-image: url("../assets/images/machine_edit.svg");
}
.warroom_machine_item .name {
  overflow: hidden;
  width: 100%;
  margin-top: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Noto Sans CJK TC;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}/*# sourceMappingURL=all.css.map */