@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f0f0fa;
  font-family: "微軟正黑體", sans-serif;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -moz-outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  border: none;
}

button {
  border: none;
  background-color: transparent;
}

img {
  width: 100%;
  vertical-align: middle;
}

@media only screen and (min-device-width: 1025px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border: 1px #f1f1f1 solid;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background 0.5s linear;
    transition: background 0.5s linear;
  }
  *:hover::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
  }
  ::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
  }
}
.wrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header {
  flex: none;
  width: 100%;
  height: 50px;
  background-color: #138b8b;
}

.content {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1 1 100%;
}

.menu {
  flex: none;
  width: 60px;
  height: 100%;
  background-color: #085a5a;
}

.main {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}

.head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  margin-bottom: 10px;
}
.head_title {
  color: #108080;
  font-size: 20px;
}
.head_range {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding: 0 15px;
  background-color: #108080;
  color: #ffffff;
  border-radius: 50px;
}

.tab {
  display: inline-flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 20px;
  color: #fff;
}
.tab_item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  padding: 0 30px;
  background-color: #359b9b;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transform: translateX(-30px);
}
.tab_item:first-child {
  transform: translateX(0);
}
.tab_item.on {
  position: relative;
  background-color: #085a5a;
  z-index: 1;
}

.tbBox {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  height: calc(100% - 60px);
}
.tbBox table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}
.tbBox th {
  height: 30px;
  background-color: #085a5a;
  color: #ffffff;
  font-size: 16px;
}
.tbBox td {
  height: 30px;
}
.tbBox_head {
  flex: none;
  overflow-y: scroll;
  width: calc(100% + 6px);
  height: 30px;
}
.tbBox_body {
  overflow-y: scroll;
  width: calc(100% + 6px);
}/*# sourceMappingURL=all.css.map */