.icon_more{background: url('../images/icon_more.svg') no-repeat center center;}
.icon_statistics{background: url('../images/icon_statistics.svg') no-repeat center center;}
.icon_commentary{background: url('../images/icon_commentary.svg') no-repeat center center;}
.icon_team{background: url('../images/icon_team.svg') no-repeat center center;}
.icon_headhead{background: url('../images/icon_headhead.svg') no-repeat center center;}
.icon_league{background: url('../images/icon_league.svg') no-repeat center center;}
.icon_tv{background: url('../images/icon_tv.svg') no-repeat center center;}
.TN .icon_league{background: url('../images/icon_ranking.svg') no-repeat center center;}
.mt_btn:active .icon_tv,.mt_btn.now .icon_tv{background: url('../images/icon_tv2.svg') no-repeat center center;}

i[class^="icon_match"]{background-size: 25px auto!important;}
.icon_match_IH{background: url('../images/icon_match_IH.svg') no-repeat center center;}
.icon_match_BK{background: url('../images/icon_match_BK.svg') no-repeat center center;}
.icon_match_FT{background: url('../images/icon_match_FT.svg') no-repeat center center;}
.icon_match_TN{background: url('../images/icon_match_TN.svg') no-repeat center center;}
.icon_match_RU{background: url('../images/icon_match_RU.svg') no-repeat center center;}
.icon_match_VB{background: url('../images/icon_match_VB.svg') no-repeat center center;}
.icon_match_BM{background: url('../images/icon_match_BM.svg') no-repeat center center;}
.icon_match_TT{background: url('../images/icon_match_TT.svg') no-repeat center center;}
.icon_match_DA{background: url('../images/icon_match_DA.svg') no-repeat center center;}
.mt_btn:active .icon_match_IH,.mt_btn.now .icon_match_IH{background: url('../images/icon_match_IH2.svg') no-repeat center center;}
.mt_btn:active .icon_match_BK,.mt_btn.now .icon_match_BK{background: url('../images/icon_match_BK2.svg') no-repeat center center;}
.mt_btn:active .icon_match_FT,.mt_btn.now .icon_match_FT{background: url('../images/icon_match_FT2.svg') no-repeat center center;}
.mt_btn:active .icon_match_TN,.mt_btn.now .icon_match_TN{background: url('../images/icon_match_TN2.svg') no-repeat center center;}
.mt_btn:active .icon_match_RU,.mt_btn.now .icon_match_RU{background: url('../images/icon_match_RU2.svg') no-repeat center center;}
.mt_btn:active .icon_match_VB,.mt_btn.now .icon_match_VB{background: url('../images/icon_match_VB2.svg') no-repeat center center;}
.mt_btn:active .icon_match_BM,.mt_btn.now .icon_match_BM{background: url('../images/icon_match_BM2.svg') no-repeat center center;}
.mt_btn:active .icon_match_TT,.mt_btn.now .icon_match_TT{background: url('../images/icon_match_TT2.svg') no-repeat center center;}
.mt_btn:active .icon_match_DA,.mt_btn.now .icon_match_DA{background: url('../images/icon_match_DA2.svg') no-repeat center center;}

iframe{border:none;}
.mt_box{
	position: relative;
	width: 100vw;
	height: 61vw;
	margin: auto;
	background: #707070;
	overflow: hidden;
}
.mt_box.mt_DA,.DA_loading{
	height: 80vw!important;
	max-height: 233px!important;
}
.timeline_btn_on ~ .mt_box{
	height: calc(56.25vw + 90px);
	max-height: calc(56.25vw + 90px);
}
.FT .timeline_btn_on ~ .mt_box,.timeline_loading.FT_loading{
	height: calc(61vw + 115px);
	max-height: calc(375px + 115px);
}
.timeline_btn_off ~ .mt_box{
	height: 56.25vw;
	max-height: 56.25vw;
}
.FT .timeline_btn_off ~ .mt_box,.mt_loading.FT_loading{
	height: 61.8vw;
	max-height: 375px;
}
.mt_loading.FT_loading{
	top: 115px;
	bottom: unset;
}
@media screen and (orientation: landscape){
	.BK .timeline_btn_on ~ .mt_box,
	.TN .timeline_btn_on ~ .mt_box,
	.BM .timeline_btn_on ~ .mt_box,
	.OP .timeline_btn_on ~ .mt_box{
		height: calc(56vw + 90px);
		max-height: calc(200px + 90px);
	}
	.BK .timeline_btn_off ~ .mt_box,
	.TN .timeline_btn_off ~ .mt_box,
	.BM .timeline_btn_off ~ .mt_box,
	.OP .timeline_btn_off ~ .mt_box{
		height: 56.25vw;
		max-height: 210px;
	}
	.FT .timeline_btn_on ~ .mt_box,.timeline_loading.FT_loading{
		max-height: calc(450px + 115px);
	}
	.FT .timeline_btn_off ~ .mt_box,.mt_loading.FT_loading{
		max-height: 450px;
	}
}
@media only screen and (min-width: 570px) and (orientation: landscape){
	.mt_box.mt_DA,.DA_loading{
		max-height: 315px!important;
	}
}
@media only screen and (max-width: 569px) and (orientation: landscape){
	.mt_box.mt_DA{
		max-height: 233px!important;
	}
}
@media only screen and (min-width: 768px){
	.mt_box {
		width: 768px;
		height: 432px!important;
		max-height: unset!important;
	}
	.FT .timeline_btn_on ~ .mt_box,.timeline_loading.FT_loading{
		height: 590px;
		max-height: none;
	}
	.FT .timeline_btn_off ~ .mt_box,.mt_loading.FT_loading{
		height: 476px!important;
		max-height: none!important;
	}
	.BK .timeline_btn_on ~ .mt_box,
	.TN .timeline_btn_on ~ .mt_box,
	.BM .timeline_btn_on ~ .mt_box,
	.OP .timeline_btn_on ~ .mt_box{
		height: calc(432px + 90px)!important;
		max-height: calc(432px + 90px);
	}
	.mt_box.mt_DA, .DA_loading{
    	max-height: 315px!important;
	}
}
.mt_main{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.timeline_btn_on ~ .mt_box>.mt_main{
	top: 0;
}
.timeline_btn_off ~ .mt_box>.mt_main{
	top: -90px;
	height: calc(100% + 90px)!important;
}
.FT .timeline_btn_off ~ .mt_box>.mt_main{
	top: -115px;
	height: calc(100% + 115px)!important;
}
.mt_menu{
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 48px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	background: #5d554c;
	z-index: 3;
}
.mt_menu>div{
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 100%;

	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;

	-webkit-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}
.mt_menu>div:after{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 6px;
	height: 100%;
	opacity: 0.48;
	z-index: 2;
	background-image: linear-gradient(to left, rgba(25, 25, 25, 0.24), rgba(0, 0, 0, 0.0));
}
.mt_btn{
	position: relative;
	display: block;
	width: 20%;
	height: 100%;
	-webkit-order: 0;
	order: 0;
	background: #5d554c;
	flex: 1 1 20%;
	cursor: pointer;
}
.mt_btn.mt_more{
	-webkit-order: 2;
	order: 2;
	background: #5d554c;
}
.mt_tv_off{
	display: none;
}
.show_more{
	-webkit-order: 3;
	order: 3;
	z-index: 1;
	background: #4f4740;
	flex: 0 1 20%;
}
.show_more:active{
	background: #413934;
}


/*
.mt_06 .mt_tv_off ~ span.mt_btn.mt_more,
.mt_05 .mt_btn.mt_more{
	display: none;
}
.mt_07 .mt_tv_off ~ span.mt_btn:nth-of-type(n+6){
	-webkit-order: 3;
	order: 3;
	z-index: 1;
	background: #4f4740;
	flex: 0 1 20%;
}
.mt_07 .mt_tv_on ~ span.mt_btn:nth-child(n+6),
.mt_06 .mt_tv_on ~ span.mt_btn:nth-child(n+6){
	-webkit-order: 3;
	order: 3;
	z-index: 1;
	background: #4f4740;
	flex: 0 1 20%;
}
.mt_07 .mt_tv_on ~ span.mt_btn:nth-child(n+6):active,
.mt_06 .mt_tv_on ~ span.mt_btn:nth-child(n+6):active,
.mt_07 .mt_tv_off ~ span.mt_btn:nth-of-type(n+6):active{
	background: #413934;
}
*/
.mt_btn:active,.mt_btn.now{
	background: #4f4740;
}

.mt_btn>i{
	display: block;
	width: 100%;
	height: 100%;
}
.mt_switch_on,.mt_switch_off{
	display: block;
	width: 54px;
	height: 100%;
	-webkit-flex: 0 0 54px;
	flex: 0 0 54px;
	background: url('../images/iconArrow.svg') no-repeat center center;
	cursor: pointer;
}
.mt_switch_off{
	transform: rotate(180deg);
}
.mt_switch_on:active,.mt_switch_off:active{
	background: url('../images/iconArrow.svg') no-repeat center center #4f4740;
}
.mt_more_menu{
	position: absolute;
	top: -48px;
	right: 0px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 100%;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.mt_tv_on ~ span.mt_btn:nth-child(5) ~ .mt_more_menu{ display: none;}
.mt_tv_on ~ span.mt_btn:nth-child(6) ~ .mt_more_menu{ width: 20%;}
.mt_tv_on ~ span.mt_btn:nth-child(7) ~ .mt_more_menu{ width: 40%;}
.mt_tv_on ~ span.mt_btn:nth-child(8) ~ .mt_more_menu{ width: 60%;}
.mt_tv_on ~ span.mt_btn:nth-child(9) ~ .mt_more_menu{ width: 80%;}
.mt_tv_on ~ span.mt_btn:nth-child(10) ~ .mt_more_menu{ width: 100%;}
.mt_tv_off ~ span.mt_btn:nth-child(6) ~ .mt_more_menu{ display: none;}
.mt_tv_off ~ span.mt_btn:nth-child(7) ~ .mt_more_menu{ width: 20%;}
.mt_tv_off ~ span.mt_btn:nth-child(8) ~ .mt_more_menu{ width: 40%;}
.mt_tv_off ~ span.mt_btn:nth-child(9) ~ .mt_more_menu{ width: 60%;}
.mt_tv_off ~ span.mt_btn:nth-child(10) ~ .mt_more_menu{ width: 80%;}
.mt_tv_off ~ span.mt_btn:nth-child(11) ~ .mt_more_menu{ width: 100%;}

.timeline_box{
	position: relative;
	width: 100vw;
	height: 146px;
	vertical-align: bottom;/*消除iframe下方空白*/
	overflow: hidden;
}
.timeline_TN,
.BK .timeline_box,
.BM .timeline_box,
.OP .timeline_box,
.OP .timeline_IH,
.OP .timeline_RL{
	height: 90px;
}
.timeline_main{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
/*	background: #FFF;*/
}
.timeline_btn_on,.timeline_btn_off{
	position: absolute;
	left: calc(50% - 20px);
	width: 40px;
	height: 16px;
	margin: 0 auto;
	z-index: 3;
}
.timeline_btn_on{
	top: 90px;
	background: url('../images/timeline_on.svg') no-repeat center center;
}
.FT .timeline_btn_on{
	top: 115px;
}
.timeline_btn_off{
	top: 0;
	background: url('../images/timeline_off.svg') no-repeat center center;
}
.relating_title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #FFF;
	background: #5d554c;
}
.relating_title:active{
	background: #4f4740;
}
.relating_title .arrow_close,.relating_title .arrow_open{
	height: 100%;
	transform: rotate(180deg);
}
.relating_content{
	padding: 16px 16px 17px 16px;
	font-size: 13px;
	color: #333;
	background: #FFF;
}
.mt_pop{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	padding: 12px;
	z-index: 999;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: rgba(0,0,0,0.56);
}
.mt_pop>div{
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 100%;
	background: #FFF;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;

	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;

	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.mt_pop_title{
	width: 100%;
	height: 48px;
	line-height: 48px;
	background: #FFF;
	z-index: 3;
	font-family: Arial, sans-serif;
}
.mt_pop_title:after{
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 8px;
	opacity: 0.56;
	background-image: linear-gradient(to bottom, rgba(25, 25, 25, 0.24), rgba(0, 0, 0, 0.0));
	z-index: 2;
}
.mt_pop_title span{
	display: inline-block;
	margin-left: 10px;
	font-size: 15px;
	color: #323232;
}
.mt_pop .closeBtn{
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 46px;
	height: 48px;
	opacity: 0.64;
	background: transparent;
	z-index :3;
}
.mt_pop .closeBtn:after{
	content:'';
	display: block;
	width: 24px;
	height: 24px;
	margin: 12px;
	background: url('../images/iconClose.svg') no-repeat center center;
	background-size: 16px;
}
.mt_pop .closeBtn:active::after{
	background: url('../images/iconClose.svg') no-repeat center center rgba(0, 0, 0, 0.05);
	background-size: 16px;
}
.mt_pop_content{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.mt_pop iframe{
	display: block;
	width: 100%;
	min-height: 100%;
}
.watch_live{
	position: relative;
}
.mt_loading{
	display: none!important;
}
.mt_loading, .timeline_loading, .mt_pop_loading{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	margin: auto;
	background: #FFF;
	z-index: 9;
}
.mt_pop_loading{
	z-index: 2;
}
.mt_loading .fading-circle, .timeline_loading .fading-circle, .mt_pop_loading .fading-circle{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -19.5px 0 0 -19.5px;
	display: block;
	width: 39px;
	height: 39px;
	background: url('../images/iconLoading_gray.svg') no-repeat;
	background-size: 100%;
	-webkit-animation: loading-animate 1s linear infinite both;
	animation: loading-animate 1s linear infinite both;
}
.mt_box>.mt_loading{
	height: 100%;
}
.mt_loading{
	position: absolute;
	top: unset;
	bottom: 0;
	height: 80vw;
	max-height: 365px;
	background:#FFF;
	z-index: 3;
}
.mt_loading:before,.timeline_loading:before{
	content:'';
	background: #ededed;
	display:block;
	width:100%;
	height:100%;
}
.mt_loading .fading-circle,.timeline_loading .fading-circle{
	background: url('http://../images/icon_load.svg') no-repeat;
	background-size: cover;
	width: 32px;
	height: 32px;
	margin: -16px 0 0 -16px;
}

.mt_pop_loading .fading-circle{
	top: 128px;
	bottom: unset;
}
.fading-circle .circle,.fading-circle .circle-ios {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
@keyframes loading-animate{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}
@-webkit-keyframes loading-animate{
	0%{
		-webkit-transform: rotate(0);
	}
	100%{
		-webkit-transform: rotate(360deg);
	}
}

/* Outer Game - rose */

.mticon_ft, .mticon_bk, .mticon_ih, .mticon_tn, .mticon_ru, .mticon_vb, .mticon_bm, .mticon_tt, .mticon_da {
	display:inline-block;
	margin-right:9px; 
	vertical-align:middle;
	width:25px;
	height:48px;
}

.mticon_ft {
	background:url(../images/icon_match_FT.svg) no-repeat 0 center; 
	background-size: contain;
}
.mticon_bk {
	background:url(../images/icon_match_BK.svg) no-repeat 0 center; 
	background-size: contain;
}
.mticon_ih {
	background:url(../images/icon_match_IH.svg) no-repeat 0 center; 
	background-size: contain;
}
.mticon_tn {
	background:url(../images/icon_match_TN.svg) no-repeat 0 center; 
	background-size: contain;
}
.mticon_ru {
	background:url(../images/icon_match_RU.svg) no-repeat 0 center; 
	background-size: contain;
}
.mticon_vb {
	background:url(../images/icon_match_VB.svg) no-repeat 0 center; 
	background-size: contain;
}
.mticon_bm {
	background:url(../images/icon_match_BM.svg) no-repeat 0 center; 
	background-size: contain;
}
.mticon_tt {
	background:url(../images/icon_match_TT.svg) no-repeat 0 center; 
	background-size: contain;
}
.mticon_da {
	background:url(../images/icon_match_DA.svg) no-repeat 0 center; 
	background-size: contain;
}
/*active*/
.bet:active .mticon_ft {
	background:url(../images/icon_match_FT2.svg) no-repeat 0 center; 
	background-size: contain;
}
.bet:active .mticon_bk {
	background:url(../images/icon_match_BK2.svg) no-repeat 0 center; 
	background-size: contain;
}
.bet:active .mticon_ih {
	background:url(../images/icon_match_IH2.svg) no-repeat 0 center; 
	background-size: contain;
}
.bet:active .mticon_tn {
	background:url(../images/icon_match_TN2.svg) no-repeat 0 center; 
	background-size: contain;
}
.bet:active .mticon_ru {
	background:url(../images/icon_match_RU2.svg) no-repeat 0 center; 
	background-size: contain;
}
.bet:active .mticon_vb {
	background:url(../images/icon_match_VB2.svg) no-repeat 0 center; 
	background-size: contain;
}
.bet:active .mticon_bm {
	background:url(../images/icon_match_BM2.svg) no-repeat 0 center; 
	background-size: contain;
}
.bet:active .mticon_tt {
	background:url(../images/icon_match_TT2.svg) no-repeat 0 center; 
	background-size: contain;
}
.bet:active .mticon_da {
	background:url(../images/icon_match_DA2.svg) no-repeat 0 center; 
	background-size: contain;
}
.white_bg{
	background: #FFF;
}

.mt_pop iframe{
  width: 1px;
  min-width: 100%;
  *width: 100%;
}

