@charset "utf-8";

*::-moz-focus-inner {
	border: 0;
}

* {
	-webkit-text-size-adjust: none;
}

/*通用元件*/
.all_outside {
	position: relative;
	width: 100%;
	min-height: auto;
	/*    min-height: 100%;
     -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%; */
	flex: 1 0 auto;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 1;
}

.outside>.all_outside {
	overflow-y: auto;
	height: 100%;
}

.outside .ord_setting {
	display: none;
}

/*title*/
.tool_title48,
.tool_title_extend>div:first-child {
	position: relative;
	flex: none;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	height: 48px;
	background-image: url(../images/bg_title.png), var(--title_bg);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	-webkit-flex: none;
	-ms-flex: none;
}

.tool_title_extend {
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	background: url(../images/bg_normal.jpg) no-repeat center bottom var(--title_bg);
}

.btn_tool_back {
	position: absolute;
	width: 48px;
	height: 48px;
	top: 0;
	left: 0;
}

.btn_tool_back svg {
	fill: var(--history_title_tx);
}

.btn_tool_search,
.btn_tool_cal {
	position: absolute;
	width: 48px;
	height: 48px;
	top: 0;
	right: 0;
}

.btn_tool_search {
	fill: var(--comm_titleBtn_fi);
}

.btn_tool_back i,
.btn_tool_search i {
	display: block;
	width: 16px;
	height: 16px;
	margin: auto;
}

.btn_tool_cal i {
	display: block;
	width: 20px;
	height: 20px;
	margin: auto;
}

.btn_tool_cal svg {
	fill: var(--history_title_tx);
}

.tool_title_txt {
	width: calc(100% - 96px);
	font-size: 16px;
	font-weight: bold;
	color: var(--history_title_tx);
	text-transform: uppercase;
}

/*title選項按鈕*/
.tool_category {
	overflow: hidden;
	height: 40px;
	font-size: 0;
	text-align: center;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	color: var(--comm_tab_tx);
	display: none;
}

.tool_category>ul {
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	height: 55px;
	padding: 0 8px;
	font-size: 0;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.tool_category li {
	position: relative;
	display: inline-block;
	height: 40px;
	padding: 0 6px;
	line-height: 40px;
	font-size: 14px;
}

.tool_category li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.tool_category li:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 0;
	height: 2px;
	margin: auto;
	background-color: var(--comm_tab_tx_on);
}

.tool_category li.active {
	color: var(--comm_tab_tx_on);
}

.tool_category li.active:after {
	width: calc(100% - 16px);
}

.tool_category i:before {
	content: none;
	position: absolute;
	top: 8px;
	right: 0;
	display: block;
	width: 4px;
	height: 4px;
	background-color: #19805c;
	border-radius: 50%;
}

.tool_category li.on i:before {
	content: '';
}

/*滿版按鈕*/
.tool_category.big {
	height: 48px;
	flex: none;
}

.tool_category.big li {
	width: calc(100% / 2);
	height: 48px;
	line-height: 48px;
}

.tool_category.big li.active:after {
	width: 100%;
}

/*方形選項按鈕*/
.tool_squarebtn {
	display: flex;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	margin: 16px 0 0;
}

.tool_squarebtn ul {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	height: 40px;
	padding: 0 10px;
	font-size: 0;
	text-align: center;
	/*overflow-x: auto;
	overflow-y: hidden;*/
	white-space: nowrap;
}

.tool_squarebtn li {
	display: inline-block;
	min-width: 80px;
	height: 100%;
	margin: 0 8px;
	padding: 0 16px;
	border-radius: 4px;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	line-height: 40px;
	background: var(--comm_btnNorm_bg);
	color: var(--comm_btnNorm_tx);
}

.tool_squarebtn li.active {
	background: var(--comm_btnNorm_bg_on);
}

/*下拉選單*/
.tool_selectbox {
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	width: 100%;
	padding: 16px;
	margin: 0 auto;
}

.tool_select {
	position: relative;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	height: 48px;
	border-radius: 3px;
	background-color: var(--comm_sel_bg);
	color: var(--comm_sel_tx);
}

.tool_select span {
	padding: 0 16px;
}

.tool_select select {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 36px 0 8px;
	background-color: transparent;
	border: 0;
	font-size: 14px;
	letter-spacing: -0.5px;
	white-space: normal;
}

.tool_select i.icon_arr {
	position: absolute;
	top: 8px;
	right: 8px;
	display: block;
	width: 32px;
	height: 32px;
	padding: 8px;
	transform: rotate(180deg);
	pointer-events: none;
}

.tool_select i.icon_arr._history {
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto 0;
}

.icon_arr svg {
	fill: var(--comm_sel_tx);
}

.txt_sport .icon_arr svg {
	fill: rgba(255, 255, 255, .72);
}

.tool_select select:-moz-focusring {
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.64);
}

.tool_select select::-moz-focus-inner {
	border: 1px solid rgba(0, 0, 0, 0.32);
}

.tool_select.full {
	width: 100%;
}

.tool_select.half {
	width: calc(100% / 2 - 8px);
}

.tool_select ul {
	z-index: 3;
	overflow: hidden;
	position: absolute;
	top: -5px;
	left: 0;
	width: calc(100% + 2px);
	padding: 8px 0;
	border-radius: 4px;
	background-color: var(--comm_sel_bg);
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
}

.tool_select li {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	min-height: 40px;
	padding: 0 8px;
	text-align: left;
}

/* 下拉選單v2 */
.tool_selboxv2 {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	padding: 16px;
}

.tool_selv2 {
	position: relative;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	height: 40px;
	font-size: 12px;
}

.tool_selv2_span {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	padding: 3px 0;
	border-radius: 4px;
	line-height: 16px;
	background-color: var(--comm_sel_bg);
	color: var(--comm_sel_tx);
}

.tool_select li.on,
.tool_selv2_span.on,
.tool_selv2 li.on {
	color: var(--comm_sel_tx_on);
}

.tool_selv2 .use_animate {
	cursor: default;
}

.tool_selv2_span.on .icon_arrdown svg {
	fill: var(--comm_sel_tx_on);
	transform: rotate(180deg);
}

.tool_selv2_span p {
	width: 100%;
	padding: 0 8px;
}

.ph_select .tool_selv2_span p {
	position: absolute;
	top: 4px;
	left: 0px;
	width: calc(100% - 6px);
}

.tool_selboxv2 .tool_select {
	width: 100%;
	height: 40px;
}

.tool_selv2 .icon_arrdown {
	position: absolute;
	right: 10px;
	right: 1px;
	top: 2px;
	bottom: 2px;
	display: block;
	width: 17px;
	margin: auto 0;
	padding-right: 10px;
	pointer-events: none;
	fill: var(--comm_sel_tx);
	box-sizing: content-box;
}

.on .icon_arrdown svg {
	transform: rotate(180deg);
}

.tool_selv2 select {
	position: relative;
	width: 100%;
	height: 40px;
	padding: 0 36px 0 16px;
	background-color: transparent;
	border: 0;
	font-size: 12px;
	letter-spacing: -0.5px;
	white-space: normal;
}

.ph_select .tool_selv2 select {
	position: absolute;
	top: 0;
	left: 0;
	padding: 16px 0 0 8px;
	font-weight: bold;
	-webkit-appearance: none;
}

.tool_rangebox {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 100%;
}

.tool_selv2+.tool_rangebox,
.tool_select+.tool_rangebox,
.tool_rangebox+.tool_rangebox {
	margin-top: 16px;
}

.tool_rangebox .tool_selv2+.tool_selv2,
.tool_rangebox .tool_selv2+.tool_selicon {
	margin-left: 8px;
}

.tool_selicon {
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	width: 40px;
	height: 40px;
	padding: 11px;
	border-radius: 4px;
	background-color: #7a7a7a;
	fill: #fff;
}

.tool_selv2 .use_animate {
	z-index: 3;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% + 2px);
	padding: 8px 0;
	border-radius: 4px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
	background-color: var(--comm_sel_bg);
	color: var(--comm_sel_tx);
}

.tool_selv2 li {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	min-height: 40px;
	padding: 0 8px;
	font-size: 14px;
	text-align: left;
}

.tool_selv2 li.outdate {
	color: #ccc;
	cursor: default;
	pointer-events: none;
}

/* 下拉選單v2 */
/*回到頂部顯示更多*/
.tool_backtop {
	padding: 16px;
}

.tool_backtop .btn_gray_full {
	text-transform: uppercase;
}

.btn_showmore {
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	width: calc(100% - 32px);
	height: 48px;
	margin: 16px auto 0;
	line-height: 48px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: var(--history_showMore_tx);
	fill: var(--history_showMore_fi);
}

.btn_showmore i {
	display: block;
	width: 16px;
	height: 16px;
	margin-left: 8px;
}

/*有按鈕的吐司訊息*/
.toast_mask {
	position: fixed;
	top: 0;
	left: 0;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.32);
}

.toast_box {
	padding: 23px 16px 16px;
	background-color: #fff;
}

.toast_txt li {
	margin-bottom: 13px;
}

.toast_txt li:last-child {
	margin-bottom: 12px;
}

.toast_checkbox {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	padding-top: 16px;
}

.toast_checkbox input {
	display: none;
}

.toast_checkbox input+i {
	display: block;
	width: 18px;
	height: 18px;
	margin-right: 11px;
	border: 1px solid rgba(0, 0, 0, 0.64);
	border-radius: 50%;
}

.toast_checkbox input:checked+i {
	background: url(../images/icon_tick.svg) no-repeat #33997a;
	background-size: cover;
	border-color: #33997a;
}

.btn_gray_full,
.btn_green_full {
	width: 100%;
	height: 48px;
	border-radius: 4px;
}

.function_group {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.btn_gray,
.btn_green,
.announcement_btn {
	width: calc(100% / 2 - 8px);
	height: 48px;
	border-radius: 4px;
}

.announcement_btn {
	background-color: var(--comm_btn_bg);
	color: var(--comm_btn_tx);
}

.btn_full {
	color: var(--comm_btn_tx);
	background: var(--comm_btn_bg);
}

.btn_full,
.btn_goTop,
.btn_gray_full,
.btn_green_full {
	width: 100%;
	height: 48px;
	background-color: #7a7a7a;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
}

.btn_goTop {
	background-color: #75829b;
}

.btn_gray_full,
.btn_green_full,
.btn_gray,
.btn_green {
	font-weight: bold;
	background-color: #7a7a7a;
	color: #fff;
}

.btn_green,
.btn_green_full {
	background-color: #19805c;
}

.mouse_hover:before,
.minimouse_hover:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.minimouse_hover:before {
	bottom: 0;
	right: 0;
	width: 32px;
	height: 32px;
	margin: auto;
}

/*捲軸陰影*/
.scrollmask {
	position: relative;
}

.scrollmask:before,
.scrollmask:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 16px;
	height: 100%;
	z-index: 2;
}

.scrollmask:after {
	left: auto;
	right: 0;
}

.tool_category.scrollmask:after {
	background-image: linear-gradient(to right,
			rgba(217, 211, 208, 0),
			#d9d3d0);
}

/*load model*/
.load_ring {
	display: inline-block;
	border-style: solid;
	border-radius: 50%;
	-webkit-animation: load 1s infinite linear;
	-ms-animation: load 1s infinite linear;
	animation: load 1s infinite linear;
}

@-webkit-keyframes load {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes load {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/*pc左右按鈕*/
.box_slide {
	overflow-x: auto;
	overflow-y: hidden;
	display: inline-block;
	flex: 1 1 auto;
	width: 100%;
	height: 55px;
	padding: 0 4px;
	white-space: nowrap;
}

.box_slide ul {
	display: inline-block;
	width: auto;
	height: 100%;
	color: rgba(0, 0, 0, 0.72);
}

.btn_to_l,
.btn_to_r {
	position: absolute;
	z-index: 3;
	display: block;
	opacity: 0;
	transition: visibility 0s, opacity 0.3s ease;
}

.btn_to_l {
	transform: translate3d(0, 0, 0) rotate(180deg);
}

.btn_to_r {
	transform: translate3d(0, 0, 0);
	padding-left: 10px;
}

.btn_to_l {
	transform: rotate(180deg);
}

.btn_to_l svg,
.btn_to_r svg {
	width: 8px;
	height: 12px;
	fill: rgba(0, 0, 0, 0.72);
}

/*status*/
.status_db {
	display: block;
}

.mb7 {
	margin-bottom: 7px;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.24);
	font-weight: normal;
}

/*word bg*/
.txtl,
td.txtl,
th.txtl {
	text-align: left;
	padding-left: 16px;
}

.txtr,
td.txtr,
th.txtr {
	text-align: right;
	padding-right: 16px;
}

.txtc,
td.txtc,
th.txtc {
	text-align: center;
}

.word12 {
	font-size: 12px;
}

.word14 {
	font-size: 14px;
}

.word_black {
	color: #000;
}

.word_lightred {
	color: #eb7f7f;
}

.word_red,
.word_fail,
.word_red_wallet,
.word_red_unsuccess {
	color: var(--comm_wordRed_tx);
}

.word_blue {
	color: #1e497d;
}

.word_lightgreen {
	color: #26c48d;
}

.word_green {
	color: var(--comm_wordGreen_tx);
}

.word_lightyellow {
	color: #debb69;
}

.word_yellow {
	color: var(--comm_wordYellow_tx);
}

.word_gray {
	color: rgba(0, 0, 0, 0.64);
}

.word_white {
	color: #fff;
}

.word_lightwhite {
	color: rgba(255, 255, 255, 0.64);
}

.word_delline {
	text-decoration: line-through;
}

.word_bold,
tr.word_bold * {
	font-weight: bold;
}

.word_oddbg,
.highlight #bet_ior,
.highlight #bet_con,
.highlight #bet_con_c,
.highlight #bet_score,
.highlight #bet_chose_con {
	padding: 0 1px;
	background-color: #a78025;
	color: #fff !important;
}

.word_oddbg:empty,
.highlight #bet_ior:empty,
.highlight #bet_con:empty,
.highlight #bet_con_c:empty,
.highlight #bet_score:empty,
.highlight #bet_chose_con:empty {
	padding: 0;
	background-color: none;
}

.bg_red {
	background-color: #ce3636;
}

.bg_green {
	background-color: #19805c;
}

.bg_yellow {
	background-color: #a78025;
}

/*animate*/
/*開啟加上on*/
.use_animate {
	opacity: 0;
	visibility: collapse;
	-webkit-transform: scale(0.35, 0.35);
	-ms-transform: scale(0.35, 0.35);
	transform: scale(0.35, 0.35);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
	-webkit-transition: opacity 121ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		transform 187ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		visibility 187ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	-ms-transition: opacity 121ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		transform 187ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		visibility 187ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	transition: opacity 121ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		transform 187ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		visibility 187ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.on .use_animate,
.on+.use_animate {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}

/*hand*/
[class^='btn_']:not(.btn_ord_pLacebet),
.load_ring,
.btn_green_full,
.btn_gray,
.btn_green,
.toast_checkbox input+i,
.mouse_hover:before,
.tool_category li,
.tool_category li:before,
.tool_squarebtn li,
.tool_select,
.tool_select:after,
.tool_select li,
.btn_tool_search,
.tool_selicon,
.tool_selv2,
.tool_selv2_span,
.tool_selv2 i,
.tool_selv2 li {
	-webkit-transition: color 0.3s linear, fill 0.3s linear,
		background-color 0.3s linear, opacity 0.3s linear,
		box-shadow 0.3s linear, border-color 0.3s linear;
	-ms-transition: color 0.3s linear, fill 0.3s linear,
		background-color 0.3s linear, opacity 0.3s linear,
		box-shadow 0.3s linear, border-color 0.3s linear;
	transition: color 0.3s linear, fill 0.3s linear,
		background-color 0.3s linear, opacity 0.3s linear,
		box-shadow 0.3s linear, border-color 0.3s linear;
}

.btn_green_full,
.btn_gray,
.btn_green,
.toast_checkbox input+i,
.tool_category li,
.tool_squarebtn li,
.tool_select,
.tool_select li,
.btn_tool_search,
.tool_selicon,
.tool_selv2,
.tool_selv2 li {
	cursor: pointer;
}

/*no hand*/
button:disabled {
	cursor: default;
}

/* PC hover effect */
@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.toast_checkbox:hover i {
		border: 1px solid #33997a;
	}

	.btn_gray:hover,
	.btn_gray_full:hover {
		background-color: #8f8f8f;
	}

	.tool_category li:not(.active):hover {
		color: var(--comm_tab_tx_hv);
	}

	.tool_squarebtn li:not(.active):hover {
		background-color: var(--comm_btnNorm_bg_hv);
	}

	.btn_showmore:hover {
		background-color: var(--history_showMore_bg_hv);
	}

	.minimouse_hover:hover:before,
	.btn_tool_search:hover::before {
		background-color: var(--comm_titleBtn_bg_hv);
	}

	.tool_select:hover,
	.tool_select li:not(.outdate):hover,
	.tool_selv2 li:not(.outdate):hover,
	.tool_selv2_span:hover {
		background-color: var(--comm_sel_bg_hv);
	}

	/*pc左右按鈕*/
	.tool_category.scrollmask:after {
		content: none;
	}

	.btn_to_l,
	.btn_to_r {
		top: -100%;
		width: 44px;
		height: 38px;
		line-height: 38px;
		padding-top: 13px;
		cursor: pointer;
		background: #d6d6d6;
		border-radius: 50% 0 0 50%;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
	}

	.btn_to_l {
		left: -22px;
		padding-left: 10px;
		transition: all 0.3s ease;
	}

	.btn_to_r {
		right: -22px;
		padding-left: 10px;
		transition: all 0.3s ease;
	}

	.btn_to_l.on,
	.btn_to_r.on {
		opacity: 1;
		top: calc(50% - 19px);
	}

	.btn_to_l svg,
	.btn_to_r svg {
		display: block;
	}

	.btn_to_l:hover {
		left: 0;
		background: #ebebeb;
	}

	.btn_to_r:hover {
		right: 0;
		background: #ebebeb;
	}

	.btn_to_l:active,
	.btn_to_r:active {
		background: #c2c2c2;
	}

	.tool_selicon:hover {
		background-color: #858585;
	}

	/* 預約住單 */
	.btn_betmain:hover:not(.on),
	.btn_betcorr:hover:not(.on) {
		background-color: var(--comm_btnNorm_bg_hv);
	}

	.announcement_btn:hover {
		background-color: var(--comm_btn_bg_hv);
	}
}

/* All active effect */
.announcement_btn:active {
	background-color: var(--comm_btn_bg_ac);
}

.btn_gray:active,
.btn_gray_full:active {
	background-color: #666;
}

.btn_green:active,
.btn_green_full:active {
	background-color: #056b48;
}

.tool_category li:not(.active):active {
	background-color: var(--comm_tab_bg_ac);
	color: var(--comm_tab_tx_ac);
}

.tool_category li:not(.active):active:before {
	background-color: rgba(0, 0, 0, 0.08);
}

.tool_squarebtn li:active:not(.active) {
	background: var(--comm_btnNorm_bg_ac);
}

.tool_select:active {
	background-color: var(--comm_sel_bg_ac);
}

.tool_select li:active {
	color: var(--comm_sel_tx_ac);
	background-color: var(--comm_sel_bg_ac);
}

.minimouse_hover:active:before {
	background-color: var(--comm_titleBtn_bg_ac);
}

.btn_showmore:active {
	background-color: var(--history_showMore_bg_ac)
}

/* 預約住單 */
.btn_betmain:not(.on):active,
.btn_betcorr:not(.on):active {
	background-color: var(--comm_btnNorm_bg_ac);
}

/* 預約住單 */
.odd_score {
	color: var(--bet_custom_score_tx);
}

.odd_count {
	color: var(--bet_customNum_tx);
}

.ope_count {
	color: var(--mybet_customNum_tx);
}

/* 賠率正/負 */
.odd_posi {
	color: var(--bet_custom_odd_posi);
}

.odd_nega {
	color: var(--bet_custom_odd_nega);
}

/* 贏輸正/負 */
.odd_winloss_posi {
	color: var(--mybet_winloss_posi);
}

.odd_winloss_nega {
	color: var(--mybet_winloss_nega);
}

/* 預約住單 */
.box_market {
	display: flex;
	align-items: center;
	max-width: calc(100% - 16px);
	width: 100%;
	height: 40px;
	margin: auto;
}

.box_market._appt {
	flex: none;
	margin-top: 0;
	margin-bottom: 16px;
}

.box_market .box_market_group {
	display: inline-flex;
	margin: auto;
}

.box_market_group>div+div {
	margin-left: 16px;
}

.box_market_group>div:first-child:not([style="display: none;"]) {
	margin-left: 0;
}

.btn_betmain,
.btn_betcorr {
	flex: none;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 16px;
	font-size: 12px;
	border-radius: 4px;
	background-color: var(--comm_btnNorm_bg);
	color: var(--comm_btnNorm_tx);
	transition: all 0.3s ease;
}

.box_market._appt .btn_betmain,
.box_market._appt .btn_betcorr {
	position: relative;
}

.btn_betmain.on,
.btn_betcorr.on {
	background-color: var(--comm_btnNorm_bg_on);
}

.ope_appointment_title {
	margin-left: 0;
	padding: 11px 6px;
	border-radius: 4px;
	font-size: 12px;
	background-color: #6778a1;
	color: #fff;
}

.tab_count {
	position: absolute;
	top: 0px;
	right: 0;
	/* left: calc(100% - 12px); */
	display: none;
	justify-content: center;
	align-items: center;
	min-width: 12px;
	height: 12px;
	padding: 0 2px;
	font-size: 12px;
	border-radius: 3px;
	z-index: 2;
	background: var(--openbetNum_bg);
	color: var(--openbetNum_tx);
}

.tab_count.on {
	display: flex;
}

/* 預約住單 */
.btn_tool_search:active ::before {
	background-color: var(--comm_titleBtn_bg_ac);
}

.tool_selicon:active {
	background-color: #666666;
}

.tool_selv2_span:active {
	background-color: var(--comm_sel_bg_ac);
}

.tool_selv2 li:not(.outdate):active {
	background-color: rgba(0, 0, 0, 0.04);
	color: #a78025;
}

/*RWD*/
.ph_select {
	display: none;
}

@media (pointer: coarse),
(-moz-touch-enabled: 1),
screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
	.mobile .ph_select {
		display: flex;
	}

	.mobile .pc_select {
		display: none;
	}
}

@media only screen and (min-width: 1024px) {

	/* .tool_category.big, */
	.scrollmask:before,
	.scrollmask:after {
		display: none;
	}

	.tool_selectbox {
		padding: 32px 16px;
	}

	.tool_squarebtn {
		margin: 32px 16px 16px;
	}

	.tool_selectbox:not(.full) {
		max-width: 650px;
		padding: 32px 0;
	}

	.tool_selboxv2 {
		flex-wrap: nowrap;
	}

	.tool_selboxv2 .tool_select.half,
	.tool_selv2.half,
	.tool_rangebox.half {
		width: 100%;
	}

	.tool_selv2+.tool_rangebox,
	.tool_select+.tool_rangebox,
	.tool_rangebox+.tool_rangebox {
		margin-top: 0;
		margin-left: 16px;
	}
}

@media only screen and (max-height: 414px) and (max-width: 639px) {
	.tool_squarebtn {
		-webkit-justify-content: flex-start;
		-ms-justify-content: flex-start;
		justify-content: flex-start;
	}
}

@media only screen and (max-width: 320px) {
	.tool_select.half:after {
		width: 20px;
	}

	.tool_select.half span,
	.tool_select.half select {
		padding-left: 4px;
		font-size: 12px;
	}

	.tool_select.half span {
		padding-left: 8px;
	}
}