.photo {
    @include d_f(flex);
    &_item {
        width: 30%;
        margin: 0 0 0 8px;

        &_f,
        &_s {
            overflow: hidden;
            position: relative;
            height: calc(50% - 8px);
            img {
                position: absolute;
                width: auto;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                height: 100%;
                margin: auto;
            }
        }
        &_f {
            margin-bottom: 16px;
        }
        &_s {
            margin-top: 16px;
        }
    }
    &_item._big {
        width: 70%;
        margin: 0 8px 0 0;
    }
    // &_item{
    //     width: calc(30% - 8px);
    //     float: right;
    // }
    // &_item._big{
    //     width: calc(70% - 8px);
    //     float: left;
    // }
    // &:after {
    //     content: "";
    //     clear: both;
    // }
}

.room {
    &_box {
        @include d_f(flex, stretch, space-between);
        padding-top: 35px;
    }
    &_info {
        @include d_f(flex, stretch, space-between);
        align-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        h2 {
            font-size: 48px;
        }
        // room_info_evaluate
        &_evaluate {
            margin-bottom: 10px;
            li {
                &:first-child {
                    border-bottom: 1px solid #000;
                }
                .material-icons {
                    font-size: 18px;
                }
            }
        }

        table {
            width: 100%;
            margin-bottom: 55px;
            text-align: left;
            th {
                font-weight: bold;
                font-size: 18px;
            }
            td {
                font-size: 16px;
            }
            th,
            td {
                height: 40px;
            }
        }
        // room_info_txt
        &_txt {
            margin-bottom: 10px;
            color: #656565;
            font-size: 16px;
            line-height: 24px;
        }
        //room_info_device
        &_device {
            @include d_f(flex);
            flex-wrap: wrap;
            color: #cbcbcb;
            fill: #cbcbcb;
            width: 90%;
            li {
                width: calc(100% / 6);
                text-align: center;
                margin-bottom: 20px;
                font-weight: 300;
                font-size: 14px;
                &:first-child {
                    width: 100%;
                    margin-bottom: 40px;
                    color: #000;
                    text-align: left;
                    font-weight: bold;
                    font-size: 18px;
                }

                span {
                    display: block;
                }

                &.on {
                    color: #000;
                    fill: #000;
                }
            }
        }
    }
    &_reserve {
        flex: 0 0 378px;
        margin-left: 50px;
        // room_reserve_price
        &_price {
            @include d_f(flex, stretch, flex-end);
            margin-bottom: 20px;
            &_item {
                font-size: 36px;
                &::before {
                    content: attr(data-bef);
                    display: block;
                    color: #949494;
                    font-size: 16px;
                }
                &::after {
                    content: attr(data-aft);
                    font-size: 18px;
                }
                & + & {
                    margin-left: 15px;
                }
            }
        }

        &_box {
            padding: 30px;
            background-color: #fff;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
            label {
                display: block;
            }
            label + label {
                margin-bottom: 10px;
            }
            p {
                color: #6d6d6d;
                font-size: 16px;
                line-height: 34px;
            }
            input {
                display: block;
                width: 100%;
                max-width: 320px;
                height: 40px;
                background-color: #ededed;
            }
            .date {
                @include d_f(flex, stretch, space-between);
                margin-bottom: 30px;
                &_start,
                &_end {
                    display: inline-block;
                    width: calc(50% - 8px);
                }
                &_box {
                    @include d_f(flex, center, space-between);
                    height: 40px;
                    padding: 0 10px;
                    background-color: #ededed;
                }
            }
            // .date {
            //
            //
            //     font-size: 0;
            //     & + & {
            //         margin-left: 15px;
            //     }
            //     // date_box
            //     &_box {
            //         @include d_f(flex, center, space-between);
            //     }
            // }
            .normal_btn {
                width: 100%;
                max-width: 320px;
                height: 50px;
            }
        }
    }
}
