/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v107/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
        format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @include d_f(flex, center, space-between);
    width: 100%;
    height: 110px;
    padding: 0 37px 0 23px;
    background-color: #ffffff9e;
    @include mw(S) {
        height: 55px;
    }
    &.showMenu {
        background-color: transparent;
    }
}
.logo {
    position: relative;
    z-index: 1;
    width: 120px;
    height: 60px;

    @include mw(S) {
        width: 60px;
        height: 30px;
    }
    img {
        height: 100%;
    }
}
.menu {
    @include d_f(flex, center);

    @include mw(S) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.62);
        text-align: center;
        padding-top: 55px;
        .showMenu & {
            display: block;
        }
        li {
            padding: 7px 0;
        }
    }
    li + li {
        margin-left: 48px;
        @include mw(S) {
            margin-left: 0;
        }
    }

    &_btn {
        position: relative;
        z-index: 1;
        @include d_f(flex, center);
        width: 20px;
        height: 15px;
        &_line {
            display: block;
            width: 100%;
            height: 2px;
            background-color: rgba(0, 0, 0, 1);

            &::before,
            &::after {
                position: absolute;
                left: 0;
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: #000;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }

            .showMenu & {
                background-color: rgba(0, 0, 0, 0);
                &::before {
                    top: 50%;
                    transform: rotate(45deg) translateY(-50%);
                }
                &::after {
                    bottom: 50%;
                    transform: rotate(-45deg) translateY(50%);
                }
            }
        }

        @include mw(S) {
            display: block;
        }
    }
}
.container {
    width: 100%;
    height: 100%;
}

.normal_btn {
    background-color: #000000;
    color: #fff;
}

// .scroll_y {
//     overflow-x: hidden;
//     overflow-y: auto;
// }
// .normal_inp {
//     width: 100%;
//     max-width: 180px;
//     height: 30px;
//     padding: 0 10px;
//     background-color: #fff;
//     border-radius: 25px;
//     font-size: 14px;
// }
