* {
	margin: 0;
	padding: 0;
	list-style: none;
}

html,
body {
	width: 100%;
	height: 100%;
}

.wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100%;
	background-color: #F5F5F5;
}

.car {
	position: absolute;
	width: 30px;
	height: 30px;
	background: url('./images/car.svg')no-repeat center/contain;
	transition: 0.01s;
}

.box {
	position: relative;
	width: 1000px;
	height: 600px;
	border: 1px solid #000;
}

.box_group {
	display: flex;
	width: 100%;
}

.box_itme {
	flex: none;
	width: 60px;
	height: 60px;
	background-color: #ccc;
}

.box_itme._road {
	font-size: 0;
	background-color: #999;
}

.ccc {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 500px;
}

.sideBox {
	position: relative;
    /* position: absolute;
    left: 42%;
    top: 40%; */
}
.top{
	width: 100px;
    transform: skew(55deg, -35deg);
    background: #FFFFFF;
    margin-left: 5px;
    height: 40px;
	border: 1px solid #EBEBEB;
}
.left {
    width: 57px;
	height: 20px;
    transform: skew(0, 35deg);
    background: #ECECEC;
    margin-top: 14px;
    margin-left: -23px;
	border: 1px solid #EBEBEB;
}
.right {
    position: absolute;
    bottom: 14px;
    left: 34px;
    width: 100px;
	height: 20px;
    transform: skew(0, -35deg);
    background: #ECECEC;
	border: 1px solid #EBEBEB;
}
/* .box_itme._road._c{
transform: rotate(90deg);
}
.box_itme._road::before,
.box_itme._road::after {
	content: "";
	display: block;
	width: 100%;
	height: 25px;
	background-color: #999;
}
.box_itme._road::before{
	margin-bottom: 5px;
}
.box_itme._road::after {
	margin-top: 5px;
} */