<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="./all.css">
</head>

<body>
	<div class="wrap">
		<div class="box" style="display: none;">
			<div class="box_group">
				<div class="box_itme">Item</div>
				<div class="box_itme">Item</div>
				<div class="box_itme">Item</div>
				<div class="box_itme">Item</div>
				<div class="box_itme _road">Item</div>
				<div class="box_itme">Item</div>
				<div class="box_itme">Item</div>
				<div class="box_itme">Item</div>
				<div class="box_itme">Item</div>
			</div>
			<div class="box_group">
				<div class="box_itme">Item</div>
				<div class="box_itme _road">Item</div>
				<div class="box_itme _road">Item</div>
				<div class="box_itme _road">Item</div>
				<div class="box_itme _road">Item</div>
				<div class="box_itme _road">Item</div>
				<div class="box_itme _road">Item</div>
				<div class="box_itme _road">Item</div>
				<div class="box_itme">Item</div>
			</div>
			<div id="car" class="car"></div>
		</div>

		<div class="sideBox">
			<div class="top side"></div>
			<div class="left side"></div>
			<div class="right side"></div>
		</div>


	</div>


	<script>
		var carX, carY, carR, moveCount=1;
		var moveTime;
		var line_data=[
			{ x: 240, y: 0 }, { x: 240, y: 60 }, { x: 180, y: 60 },
			{ x: 120, y: 60 }, { x: 60, y: 60 }, { x: 60, y: 90 },
			{ x: 120, y: 90 }, { x: 180, y: 90 }, { x: 450, y: 90 },
			{ x: 450, y: 60 }, { x: 270, y: 60 }, { x: 270, y: 0 },
		]
		var car=document.querySelector("#car");
		carX=line_data[0].x
		carY=line_data[0].y

		car.style=`left:${ carX }px; top:${ carY }px;`
		// 
		moveTime=setInterval(() => {
			if (carX!==line_data[moveCount].x&&carY!==line_data[moveCount].y) {
				console.log('no');
				carX-line_data[moveCount].x>0? carX--:carX++
				carY-line_data[moveCount].y>0? carY--:carY++

			} else if (carX==line_data[moveCount].x&&carY!==line_data[moveCount].y) {
				carY-line_data[moveCount].y>0? carR=0:carR=180
				carY-line_data[moveCount].y>0? carY--:carY++
			} else if (carX!==line_data[moveCount].x&&carY==line_data[moveCount].y) {
				carX-line_data[moveCount].x>0? carR=270:carR=90
				carX-line_data[moveCount].x>0? carX--:carX++
			} else {
				console.log("yes")
				moveCount++
				if (moveCount==line_data.length) {
					clearInterval(moveTime)
				}
			}
			console.log('carX:'+carX);
			console.log('carY:'+carY);
			console.log('carR:'+carR);
			car.style=`left:${ carX }px; top:${ carY }px;transform: rotate(${ carR }deg);`
		}, 10);



	</script>
</body>

</html>