
.frame__main__otherinside{
    &.--detailRoad{
        padding: 20px 40px;

        @include mw_xs{
            padding: 0;
        }
    }
}

// title
.detailRoad__title{
    @include d_f(flex, center, flex-start);
    position: relative;
    width: 200px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
    overflow: hidden;

    @include mw_xs{
        width: 100%;
        justify-content: center;
    }

    &::before{
        @include pos_a(tbl, 0, 0, -20px);
        content: '';
        width: 100%;
        background: map-get($btn_color, lightblue_vl);
        border-top-right-radius: 5px;
        transform: skewX(35deg);

        @include mw_xs{
            border-radius: 0;
            left: 0;
            transform: none;
        }
    }

    &::after{
        content: attr(data-txt);
        position: relative;
        font-size: 20px;
        font-weight: bold;
    }

    i{
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

// 圖文內容
.detailRoad__info{
    @include d_f(flex, unset, flex-start);
    align-content: flex-start;
    flex-wrap: wrap;

    @include mw_xs{
        padding: 0 30px;
    }

    // .detailRoad__info__item
    &__item{
        @include d_f(flex, unset, flex-start);
        @include radius_hidden(5px);
        flex-direction: column;
        position: relative;
        width: calc(100% / 3 - 15px);
        background: map-get($bg_color, lightblue);
        padding: 2px;
        margin:0 20px 30px 0;

        &:nth-child(3n){
            margin-right: 0;
        }

        @include mw_sm{
            width: calc(100% / 2 - 30px);
            
            &:nth-child(even){
                margin-right: 0;
            }
            &:nth-child(odd){
                margin-right: 60px;
            }
        }

        @include mw_xs{
            width: 100%;
            
            &:nth-child(odd){
                margin-right: 0;
            }
        }

        &::before{
            @include pos_a(trbl, 0);
            content: '';
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            background: map-get($bg_color, black);
            margin: auto;
        }

        .title{
            @include border(0 0 1px, map-get($border_color, secondary));
            position: relative;
            padding: 5px 10px;
            flex: none;
            background: map-get($bg_color, primary_vl);
            font-weight: bold;
            font-size: 18px;
            text-align: center;
        }

        .detail{
            @include d_f(flex, flex-start, space-between);
            flex: 1 1 100%;
            padding: 10px;
            font-size: 14px;

            // .detail__img
            &__img{
                @include radius_hidden();
                position: relative;
                width: 40%;
                border: 1px solid map-get($bg_color, lightblue);
                
                &::before{
                    content: attr(data-txt);
                    display: block;
                    padding: 5px 10px;
                    background: map-get($bg_color, primary_vl);
                }
            }

            // .detail__txt
            &__txt{
                width: 50%;
                flex: none;

                &::before{
                    content: attr(data-txt);
                    display: table; //我偷懶
                    padding: 3px;
                    background: map-get($bg_color, secondary);
                    border-radius: 3px;
                    color: map-get($txt_color, secondary);
                    margin-bottom: 10px;
                }
            }
        }

        img{
            position: relative;
        }
    }
}


