// 各種狀態關鍵字 >> 電網投各種狀態
.frame{
    display: grid;
    position: relative;
    width: 100%;
    max-width: 1290px;
    height: 100%;
    // min-height: 900px;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    grid-template-rows: minmax(0, 1fr);
    grid-template-columns: 130px minmax(0, 1fr);
    grid-template-areas:"menu main";
    margin: auto;
    @include mw_lg {
        grid-template-columns: 80px minmax(0, 1fr);
    }

    @include mw_md {
        grid-template-rows: minmax(0, 1fr) 50px;
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas:"main"
                            "menu";
    }
    
    @include mw_ls{
        grid-template-rows: minmax(0, 1fr);
        grid-template-columns: 50px minmax(0, 1fr);
        grid-template-areas:"menu main";
    }

    // .frame__menu
    &__menu {       
        grid-area: menu;
        background: map-get($bg_color, primary);
        z-index: 5;
        @include mw_md{
            @include d_f(flex, center, center);
            position: fixed;
            width: 100%;
            height: 50px;
            bottom: constant(safe-area-inset-bottom);
            bottom: env(safe-area-inset-bottom);
        }
        @include mw_ls{
            flex-direction: column;
        }
    }

    // .frame__main
    &__main {
        grid-area: main;

        display: grid;
        grid-template-rows: 50px minmax(0, 1fr);
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas:"nav"
                            "inside";
        @include mw_xs{
            grid-template-rows: 40px minmax(0, 1fr);
        }

        // .frame__main__nav
        &__nav{
            @include d_f(flex, center, flex-start);
            grid-area: nav;
            
            padding: 0 20px;
            background: map-get($bg_color, primary_vl);
            z-index: 4;

            @include mw_xs{
                padding: 0 10px;
            }
        }

        // 遊戲室專屬.frame__main__inside
        &__inside {
            grid-area: inside;

            display: grid;
            grid-template-rows: 480px 80px minmax(200px, 1fr);
            grid-template-columns: 750px minmax(0, 1fr);
            grid-template-areas:"video order"
                                "table order"
                                "road detail";
            
            @include mw_lg{
                grid-template-rows: 430px 30px minmax(200px, 230px);
                grid-template-columns: 700px minmax(0, 1fr);
            }
            @include mw_md {
                @include scrollbar(hidden, auto);
            }
            @include mw_sm {
                grid-template-areas:"video"
                                    "order"
                                    "road";
                grid-template-rows: 50vw 1fr minmax(200px, 420px);
                grid-template-columns: minmax(0, 1fr);

                // 選擇桌次展開
                @at-root .--tableOpen .frame__main__inside {
                    grid-template-areas:"video"
                                        "table"
                                        "order"
                                        "road";
                    grid-template-rows: 50vw 120px 1fr minmax(200px, 420px);
                }
            }
            @include mw_xs {
                grid-template-rows: 50vw 1fr 130px;

                // 選擇桌次展開
                @at-root .--tableOpen .frame__main__inside {
                    grid-template-rows: 50vw 120px 1fr 130px;
                }
            }
            
            .video {
                grid-area: video;
                
                background-color: map-get($bg_color, black);
                @include mw_sm{
                    grid-area: 1 / 1 / 2 / 2;
                }
            }

            .table {
                grid-area: table;
                
                background-color: map-get($bg_color, black);
                z-index: 2;

                @include mw_sm {
                    grid-area: auto;
                    display: none;

                    // 選擇桌次展開
                    @at-root .--tableOpen .table {
                        display: flex;
                    }
                }
            }

            .order {
                grid-area: order;

                @include mw_sm {
                    grid-area: 2 / 1 / 3 / 2;

                    // 選擇桌次展開
                    @at-root .--tableOpen .order {
                        grid-area: auto;
                    }
                }                
            }

            .road {
                grid-area: road;
                background-color: map-get($bg_color, white);

                @include mw_sm {
                    min-height: 130px;

                    // 選擇桌次展開
                    @at-root .--tableOpen .road {
                        grid-area: auto;
                    }
                }
            }
            
            .detail {
                grid-area: detail;

                z-index: 3;

                @include mw_sm {
                    grid-area: 1 / 1 / 2 / 2;
                }
            }




            .result{
                grid-area: road;
                
                background: map-get($bg_color, black_alpha);
                z-index: 2;
            }
        }
        
        // 其他頁面 .frame__main__otherinside
        &__otherinside {
            grid-area: inside;

            @include scrollbar(hidden, auto);
        }
    }
}

// 呼叫公關縮小
.pr_mini{
    @extend %hand;
    @include btn_set(130px, auto, map-get($btn_color, lightblue_vl));
    @include pos_a(bl, 0);
    @include d_f(flex, center, center);
    @include border(1px 0, map-get($border_color, gold));
    flex-direction: column;
    padding: 10px 3px;
    font-size: 14px;
    z-index: 4;

    @include mw_lg{
        width: 80px;
        font-size: 12px;
    }
    @include mw_md{
        width: 100%;
        padding: 5px;
        flex-direction: row;
        bottom: 50px;
    }


    // .pr_mini__txt
    &__txt{
        @extend %txtshadow;

        code{
            color: map-get($txt_color, yellow);
            font-weight: bold;
        }
    }

    // .load
    .load{
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        margin: 15px 0 10px;

        @include mw_md{
            margin: 0 20px;
        }
        
        &::before{
            @include pos_a(rbl, 0, calc(100% + 10px), 0);
            content: attr(data-txt);
            color: map-get($txt_color, yellow);
            font-size: 12px;
            margin: auto;
            white-space: nowrap;
        }
        
        div {
            @include pos_a(trbl, 0);
            border: 2px solid map-get($bg_color, white);
            border-radius: 50%;
            box-shadow: 0 0 5px map-get($bg_color, lightblue);
            opacity: 1;

            animation: load 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

            &:nth-child(2) {
                animation-delay: -.5s;
            }
        }
        @keyframes load {
            0% {
                transform: scale(0);
            }
            80% {
                transform: scale(1.5);
                opacity: 1;
            }
            100% {
                transform: scale(1.8);
                opacity: 0;
            }
        }
    }
}


// 電網投各種狀態
// ============================================
// 主要區塊配置 電投有卡
.--telType .frame__main__inside{
    grid-template-areas:"video detail"
                        "table detail"
                        "road road";

    @include mw_sm{
        grid-template-areas:"video"
                            "order"
                            "road";
        grid-template-rows: 60vw 60px minmax(200px, 300px);

        // 選擇桌次展開
        @at-root .--telType.--tableOpen .frame__main__inside{
            grid-template-areas:"video"
                                "table"
                                "order"
                                "road";
            grid-template-rows: 60vw 1fr 1fr minmax(200px, 300px);
        }

        
        // 卡片all展開
        @at-root .--telType.--cardOpen .frame__main__inside{
            grid-template-rows: 60vw 200px minmax(200px, 300px);
        }

        // 卡片all展開 + 選擇桌次展開
        @at-root .--telType.--cardOpen.--tableOpen .frame__main__inside{
            grid-template-areas:"video"
                                "table"
                                "order"
                                "road";
            grid-template-rows: 60vw 1fr 1fr minmax(200px, 300px);
        }
    }

    @include mw_xs{
        grid-template-rows: 60vw 48px minmax(200px, 300px);
    }
}
// 主要區塊配置 電投無卡 網投無卡
.--noCard .frame__main__inside,
.--noOrder .frame__main__inside {
    grid-template-areas:"video detail"
                        "table detail"
                        "road road";
    
    @include mw_sm{
        grid-template-areas:"video"
                            "road";
        grid-template-rows: 60vw minmax(200px, 420px);

        // 選擇桌次展開
        @at-root .--noCard.--tableOpen .frame__main__inside,
        .--noOrder.--tableOpen .frame__main__inside{
            grid-template-areas:"video"
                                "table"
                                "road";
            grid-template-rows: 60vw 120px minmax(200px, 420px);
        }
    }
}

// 內層配置 電投有卡 
.--telType .order {
    grid-area: 1 / 2 / 3 / 3;

    @include mw_sm{
        grid-area: auto;
    }
}
// 內層配置 電投無卡 網投無卡
.--noCard .order,
.--noOrder .order {
    display: none;
}



// 視訊放大
// 主要區塊配置 網投有卡
.--bigTv .frame__main__inside {
    grid-template-rows: 550px 20px 200px 30px;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:"video"
                        "table"
                        "order"
                        "road";
}
// 主要區塊配置 電投有卡
.--telType.--bigTv .frame__main__inside{
    grid-template-rows: 550px 20px 30px;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:"video"
                        "table"
                        "road";
    
    // 卡片all展開
    // 選擇桌次展開
    @at-root .--telType.--bigTv.--cardOpen .frame__main__inside,
    .--telType.--bigTv.--tableOpen .frame__main__inside{
        grid-template-rows: 550px 20px 100px 30px;
        grid-template-areas:"video"
                            "table"
                            "order"
                            "road";
    }
    
    .order {
        grid-area: auto;
    }
}

// 主要區塊配置 電投無卡 網投無卡
.--noCard.--bigTv .frame__main__inside,
.--noOrder.--bigTv .frame__main__inside {
    grid-template-rows: 550px 20px;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:"video"
                        "table";

    // 選擇桌次展開
    @at-root .--noCard.--bigTv.--tableOpen .frame__main__inside,
    .--noOrder.--bigTv.--tableOpen .frame__main__inside{
        grid-template-rows: 550px 120px;
    }
}
// 內層配置 電投有卡 網投有卡 電投無卡 網投無卡
.--bigTv .detail,
.--bigTv .result,
// 內層配置 電投無卡 網投無卡
.--bigTv.--noCard .order,
.--bigTv.--noCard .road,
.--bigTv.--noOrder .order,
.--bigTv.--noOrder .road{
    display: none;
}


