// 勾勾
@mixin checktick($box, $xy, $boder, $bg) {
	position: relative;

	input{
        display: none;
    }

	span{
		position: relative;
		display: inline-block;
        width: $box;
        height: $box;
        background: $bg;
        margin: 2px;

		&::before{
			@include pos_a(tl, $xy);
			content: none;
			display: block;
			width: ($box / 2);
			height: ($box / 3);
			border-width: 0 0 $boder $boder;
			border-style:  solid;
			border-color: map-get($bg_color , white);
			transform: rotate(-48deg);
		}
	}

	input:checked + span::before{
		content: '';
	}
	
}

// 單選圓圈
@mixin radio($box, $bg) {
    @extend %hand;
	@include d_f(inline-flex, center, flex-start);

	input{
        display: none;
    }

	span{
        position: relative;
        width: $box;
        height: $box;
        display: block;
        background: map-get($bg_color, white);
		border-radius: $box;
        margin-right: 5px;

        &::before{
            @include pos_a(trbl, 0);
            content: none;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            background: $bg;
			border-radius: 100%;
            margin: auto;
        }
    }
	
	input:checked + span::before{
		content: '';
	}
}

// loading元件
@mixin load_set {
	.load_item{
		@include pos_a(trbl, 0);
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin: auto;
		-webkit-transform:rotate(0deg);		
		overflow: hidden;

		&::before,
		&::after,
		span{
			@include pos_a(trbl, 0);
			content: "";
			display: inline-block;
			border-radius: 50%;
		}

		// 漸層線
		&::before{
			border-width: 40px;
			border-style: solid;
			border-image: linear-gradient(to top, #753F1F 0%, #D89951 10%, rgba(240, 216, 139, 0) 100%);
			border-image-slice: 30 30 30 0;
			
			animation: spinnaRot 1s infinite linear;
		}
		// 遮成圓形
		&::after{
			border: 3px solid transparent;
			box-shadow: inset 0 0 0 3em map-get($bg_color, black);
		}
		// 發光圈
		span{
			animation: spinnaRot 1s infinite linear;

			&::before{
				content: '';
				position: absolute;
				height: 3px;
				width: 3px;
				top: 100%;
				left: 45%;
				border-radius: 100%;
				border-width: 0;
				box-shadow: 0px 0 5px 5px #fefdb3;
				
			}
		}
		@keyframes spinnaRot{
			100% {
					transform: rotate(360deg);
				}
		}

		// logo圖
		code{
			@include pos_a(trbl, 0);
			background: url(../images/logo_icash.svg) no-repeat center / 50%;
			margin: auto;
			z-index: 1;
		}
	}
}

// 百家按鈕基本組件
@mixin btn_set($width, $height, $bg){
	position: relative;
	width: $width;
	height: $height;
	background: $bg;
}
@mixin btn_txt($jc, $color, $shadow) {
	@include d_f(flex, center, $jc);
	@extend %hand;
	content: attr(data-txt);
	position: relative;
	width: 100%;
	height: 100%;	
	color: $color;
	text-shadow: 2px 1px $shadow;
	pointer-events: none;
	// white-space: nowrap;
}
// 內部span漸層
@mixin btn_hoveritem($bg_img) {
	@include pos_a(tl, 0);
	width: 100%;
	height: 100%;
	background: $bg_img;
	opacity: 0;
	transition: all .3s .1s ease-in-out;
	@content;
}
// 按鈕圓弧反光層
@mixin btn_hoverlight01($bgx) {
	@include pos_a(tl, 0);
	content: '';
	width: 100%;
	height: 100%;
	background: radial-gradient(100% 105% ellipse, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .25) 51%, rgba(255, 255, 255, .25) 100%);
	background-size: $bgx 200%;
	background-repeat: no-repeat;
}
// 按鈕切角反光層
@mixin btn_hoverlight02 {
	@include pos_a(tl, 0);
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(127deg, rgba(255, 255, 255, .2) 40%, transparent 41%, transparent 100%);
}
// 按鈕50%銳利反光層
@mixin btn_hoverlight03 {
	@include pos_a(tl, 0);
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, .3) 50%, transparent 51%, transparent 100%);
}
// 按鈕50%模糊反光層
@mixin btn_hoverlight04 {
	@include pos_a(trbl, 0);
	content: '';
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	background: linear-gradient(to bottom, rgba(255, 255, 255, .15) 0%, rgba(255, 255, 255, .15) 30%, transparent 60%, transparent 100%);
	margin: auto;
}
// ba3投注按鈕光點
@mixin btn_i($bg_img) {
	@include pos_a(trbl, 0);
	background: linear-gradient(to right, transparent 0%, $bg_img 50%, transparent 100%) 0 3% / 100% 2px no-repeat;
	&::before{
		@include pos_a(trbl, 0);
		content:'';
		background: linear-gradient(to right, transparent 0%, $bg_img 50%, transparent 100%) 0 97% / 100% 2px no-repeat;
	}
	&::after{
		@include pos_a(trbl, 0);
		content:'';
		background: radial-gradient(ellipse at center, $bg_img 3%, transparent 40%) 0 -50% / 100% 150% no-repeat;
	}
}
// _on效果
@mixin btn_on($color) {
	&.--on{
		@extend %no_hand;

		&::after {
			color: $color;
		}

		.hover_item {
			opacity: 1;
		}
		@content;
	}
	
}
// 特殊菱形title
@mixin title_diamondBG{
	position: relative;
	height: 35px;
	background: map-get($bg_color, primary_vl);
	overflow: hidden;

	@include mw_xs{
		background: transparent;
	}

	&::before{
		@include pos_a(tl, 0);
		content: '';
		width: 150%;
		height: 2500%;
		background: linear-gradient(-137deg, #004889 0%, #001940 100%);
		background-size: 25px 25px;
		pointer-events: none;
		transform: rotate(-45deg);
		transform-origin: 2% 5%;
		opacity: .4;

		@include mw_xs{
			opacity: 0;
		}
	}

	span{
		@include pos_a(trl, 0);
		@include radius_hidden(0 0 20px 20px);
		display: block;
		width: 40%;
		height: 100%;
		border: 2px solid map-get($bg_color, secondary);
		border-top: none;
		margin: auto;

		@include mw_xs{
			width: 80%;
			border-radius: 0 0 10px 10px;
		}

		&::before {
			@include pos_a(tl, 0);
			content: '';
			width: 150%;
			height: 2500%;
			background: map-get($bg_color, darkblue);
			background-size: 25px 25px;
			pointer-events: none;
			transform: rotate(-45deg);
			transform-origin: 8% 20%;                
		}

		&::after{
			@include pos_a(trbl, 0);
			content: attr(data-txt);
			color: map-get($txt_color, yellow);
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			text-shadow: none;
			margin: auto;
		}
	}
}

// icon設定
$icon: (
	'firefox',
	'google',
	'download',
	'downArr',
	'member',
	'language',
	'backlobby',
	'history',
	'rule',
	'password',
	'card',
	'PR',
	'line',
	'logout',
	'back',
	'titlechange',
	'titlemem',
	'titlemoney',
	'titletip',
	'road_set',
	'bank_tw',
	'play_tw',
	'bank_cn',
	'play_cn',
	'bank_en',
	'play_en',
	'filled_bank',
	'filled_play',
	'hollow_bank',
	'hollow_play',
	'slash_bank',
	'slash_play',
	'detail',
	'warn',
);

@each $name in $icon {
	.icon_#{$name} {
		display: inline-block;
		//若沒有svg就讀png
		background://url(../images/icon_#{$name}.png) no-repeat center / contain,
		url(../images/icon_#{$name}.svg) no-repeat center / contain;
	}
}

// 籌碼
$chips: (
	'10',
	'20',
	'50',
	'100',
	'200',
	'500',
	'1k',
	'2k',
	'5k',
	'10k',
	'50k',
	'100k',
	'auto01',
	'auto02',
	'set',
	'allin'
);
@each $name in $chips {
	.chips_#{$name} {
		@extend %hand;
        @extend %transition;
		display: inline-block;
		background:url(../images/chips_#{$name}.png) no-repeat center / contain;
	}
}

// video高度測試用
@function videoH($px){
    @return $px * 100 / 428 + vw;
}