// 客戶資訊
.menu__info{    
    @include mw_md{
        @include d_f(inline-flex, center, center);
        width: 50px;
        height: 50px;
        flex: none;
        box-shadow: 3px 2px 3px map-get($bg_color, black_alpha);
        z-index: 1;
    }

    // .menu__info__logo
    &__logo {
        padding-bottom: 80%;
        background: url(../images/icon_logo.png) no-repeat center 10px / 60%;
        @include mw_md {
            display: none;
        }
    }

    // .menu__info_btn
    &_btn{
        @extend %no_hand;
        width: 100%;
        height: 25px;
        background: url(../images/icon_member.svg) no-repeat center;
        cursor: default!important;
        margin-bottom: 5px;

        @include mw_md{
            height: 100%;
            background-color: map-get($bg_color, middblue);
            cursor: pointer!important;
            margin-bottom: 0;
        }
        
    }

    // pc語系選單 .menu__info__language
    &__language{
        @extend %hand;
        @include d_f(flex, center, flex-start);
        @include border(0 0 1px, map-get($border_color, secondary));
        position: relative;
        padding: 5px 10px;
        font-size: 14px;
        margin-bottom: 10px;
        z-index: 2;

        @include mw_lg{
            padding: 5px;
        }

        @include mw_md{
            display: none;
        }

        &::after{
            @include triangle(8px, map-get($txt_color, primary), bottom);
            content: '';
            margin-left: 5px;
            pointer-events: none;
        }

        i{
            width: 18px;
            height: 18px;
            filter: brightness(0) invert(1);
            margin-right: 10px;

            @include mw_lg{
                display: none;
            }
        }

        .language_list{
            @extend %transition;
            @include pos_a(tl, calc(100% + 1px), 0);
            width: 100%;
            background: map-get($bg_color, black_alpha);
            text-align: center;
            transform: scale(1, 0);
            transform-origin: center 0;

            @include mw_lg{
                font-size: 12px;
            }

            // 開啟下拉選單
            @at-root .menu__info__language.--active .language_list{
                transform: scale(1, 1);
            }

            li{
                position: relative;
                padding: 5px 0;

                // 手指效果
                @include hoverHandler{
                    background: map-get($bg_color, secondary_alpha);
                }
            }

            li + li::before{
                @include pos_a(tlr, 0);
                @include border(1px 0 0, map-get($border_color, secondary));
                content: '';
                width: calc(100% - 20px);
                height: 1px;
                margin: auto;
            }
        }
    }

    // .menu__info__txt
    &__txt{
        position: relative;
        max-width: 300px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font-size: 0;
        margin-bottom: 10px;

        @include mw_md {
            @include border(0 0 1px, map-get($border_color, secondary));
            position: fixed;
            padding: 50px 5px 5px;
            background: url(../images/icon_logo.png) no-repeat center 10px / 40px map-get($bg_color, black_alpha);
            bottom: 50px;
            left: 0;
            right: 0;
            margin: auto;
            text-shadow: 1px 1px map-get($txt_color, secondary);
            transform: translate3d(0, 100%, 0);
            transition: all .3s ease-in-out;
            opacity: 0;
            pointer-events: none;

            @at-root .--active .menu__info__txt {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                pointer-events: auto;
            }
        }
        @include mw_ls{
            max-width: 200px;
            top: 0;
            right: auto;
            bottom: auto;
            left: 50px;
            transform: translate3d(-100%, 0, 0);

            @at-root .--active .menu__info__txt {
                transform: translate3d(0, 0, 0);
            }
        }

        .name {
            display: inline-block;
            position: relative;
            max-width: 100%;
            padding: 3px 15px;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 5px;

            // &::after{
            //     @extend %transition;
            //     @include pos_a(tl, 0);
            //     content: '';
            //     width: calc(100% - 2px);
            //     height: calc(100% - 2px);
            //     border: 1px solid transparent;
            // }
            @include mw_lg {
                max-width: 100%;
            }

            @include mw_md {
                @include d_f(flex, center, flex-start);
                white-space: normal;
                word-break: break-word;

                &::before {
                    content: '';
                    flex: none;
                    width: 15px;
                    height: 15px;
                    background: url(../images/icon_miniMem.svg) no-repeat center / contain;
                    margin-right: 10px;
                }
            }

            // 手指效果
            @include hoverHandler {
                max-width: none;
                background: map-get($bg_color, black_alpha);
                // &::after{
                //     border: 1px solid map-get($bg_color, secondary);
                // }

                @include mw_md {
                    display: flex;
                    background: transparent;
                    margin: auto auto 5px;
                }
            }
        }

        .amount{
            @extend %hand;
            @include d_f(flex, center, space-between);
            position: relative;
            width: calc(100% - 20px);
            padding: 3px 5px;
            background: map-get($bg_color, black);
            border: 1px solid transparent;
            color: map-get($txt_color, yellow);
            font-size: 12px;
            margin: auto;

            @include mw_lg {
                width: 100%;
                padding: 3px 5px;
                flex-direction: column-reverse;
            }
            @include mw_md{
                background: transparent;
                font-size: 14px;
                flex-direction: row;
                justify-content: flex-start;

                &::before {
                    content: '';
                    flex: none;
                    width: 15px;
                    height: 15px;
                    background: url(../images/icon_miniMoney.svg) no-repeat center / contain;
                    margin-right: 10px;
                }
            }

            &::after{
                content: '';
                width: 8px;
                height: 8px;
                flex: none;
                border-width: 2px;
                border-color:transparent #fff #fff #fff;
                display: inline-block;
                border-style:solid;
                border-radius: 50%;
                animation: moneyload .5s linear infinite;
                @include mw_lg {
                    margin-bottom: 5px;
                }
                @include mw_md{
                    margin: 0 0 0 5px;
                }

                @keyframes moneyload {
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }

            // 手指效果
            @include hoverHandler{
                border: 1px solid map-get($bg_color, secondary);
            }
        }
    }
}

// 分頁按鈕
.menu__main {
    @include scrollbar(auto, hidden);

    @include mw_md{
        @include d_f(inline-flex, center, flex-start);
        height: 50px;
    }
    @include mw_ls{
        @include scrollbar(hidden, auto);
        height: calc(100% - 50px);
    }

    >ul{
        @include mw_md {
            @include d_f(inline-flex, center, flex-start);
            flex: none;
            height: 100%;
        }
        @include mw_ls{
            flex-direction: column;
        }

        >li {
            height: 100%;
            font-size: 14px;
        }

        // 一般 btn
        >li:not(.--PR) {
            @extend %hand;
            @include d_f(inline-flex, center, flex-start);
            @include btn_set(100%, auto, transparent);
            padding: 10px;

            @include mw_lg {
                width: 80px;
                flex-direction: column;
                padding: 5px;
                font-size: 12px;
            }
            @include mw_ls{
                width: 50px;
                padding: 5px 0;
            }
            
            &::after {
                @include btn_txt(center, map-get($txt_color, primary), transparent);
                width: auto;
                height: auto;
            }

            .hover_item {
                @include btn_hoveritem(map-get($btn_color, primary));
                @include border(1px 0, map-get($border_color, primary));

                &::before {
                    @include btn_hoverlight03;

                    @include mw_lg {
                        content: none;
                    }
                }

                @include mw_md {
                    @include btn_hoveritem(map-get($btn_color, primary_vl));
                }

            }
            
            // _on效果
            @include btn_on(map-get($txt_color, secondary)) {
                i {
                    filter: none;
                }
            }

            // 手指效果
            @include btn_hoverHandler(1px 0, map-get($txt_color, secondary)) {
                i {
                    filter: none;
                }
            }
        }
        
        i[class^="icon_"] {
            position: relative;
            width: 20px;
            height: 20px;
            filter: brightness(0) invert(1);
            margin-right: 10px;

            @include mw_lg {
                margin: auto auto 5px;
            }
        }

        // 槍手桌號
        >li.--PR {
            position: relative;
            width: calc(100% - 20px);
            padding-bottom: 5px;
            background: map-get($bg_color, black);
            font-weight: bold;
            text-align: center;
            margin: auto auto 20px;

            @include mw_lg {
                width: 100%;
                border-radius: 0;
                font-size: 14px;
            }
            @include mw_md {
                width: 80px;
                height: 100%;
                margin: 0;
            }
            @include mw_ls{
                    width: 50px;
                    height: 80px;
                    font-weight: normal;
                    font-size: 12px;
                    overflow: unset;
            }

            &::before {
                content: attr(data-txt);
                display: block;
                height: 50%;
                background: map-get($bg_color, secondary_vl);
                border: 1px solid map-get($bg_color, black);
                color: map-get($txt_color, secondary);
                margin-bottom: 5px;
                text-align: center;
            }
            
            /// 有兩個以上桌號
            &.hasTable {
                @include mw_lg {
                    text-align: left;

                    span {
                        padding-left: 5px;
                    }
                }

                &::after {
                    @include pos_a(br, 8px, 2px);
                    @include triangle(8px, map-get($bg_color, white), bottom);
                    content: '';

                    @include mw_md {
                        bottom: 5px;
                    }
                }

                input {
                    @extend %hand;
                    @include pos_a(trbl, 0);
                    width: 100%;
                    margin: auto;
                    background: transparent;
                }
            }
        }
        
        // 桌號展開
        .pr_table {
            @extend %transition;
            @include pos_a(tl, 21px, 0);
            @include border(1px, map-get($border_color, primary));
            width: 100%;
            background: map-get($bg_color, black);
            line-height: 25px;
            text-align: center;
            opacity: 0;

            z-index: -1;

            @include mw_md {
                top: 0;
                left: 100%;
                line-height: 14px;
                font-size: 12px;
            }

            @at-root .--PR.hasTable.--active .pr_table {
                opacity: 1;
                z-index: 1;
            }
        }
        
        // ph語系選單
        li.ph_language{
            display: none;

            @include mw_md{
                display: flex;
            }

            label {
                @include pos_a(trbl, 0);
                margin: auto;
                opacity: 0;
            }
            

            select{
                @extend %hand;
                width: 100%;
                padding: 5px 10px;
                background: map-get($bg_color, black);
                color: map-get($txt_color, primary);
                font-size: 14px;
            }
        }
    }
}