.logBg{
    @include d_f(flex, center, center);
    flex-direction: column;
    background: map-get($bg_color, black);
    color: map-get($txt_color, gray);

    @include mw_xs{
        display: block;
    }
}

// 登入資訊
.logArea{
    @include d_f(flex, flex-start, center);
    padding-top: 5%;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1024px;
    min-height: 550px;
    background: url(../images/img_login.png) no-repeat left bottom / 700px;

    @include mw_sm{
        min-height: auto;
        padding-top: 0;
        background-position: 10% 60%;
        background-size: 450px;
    }

    @include mw_xs{
        height: 100%;
        background-position: center bottom;
        background-size: 350px;
    }

    // 宣傳文.logArea__txt
    &__txt{
        @include bg_txt(map-get($bg_color, gold), 80px);
        width: calc(100% - 400px);
        position: relative;
        font-style: italic;

        @include mw_sm{
            font-size: 50px;
        }        

        @include mw_xs{
            display: none;
        }

        &:after{
            @include pos_a(tl, calc(100% - 10px), 0);
            @include bg_txt(map-get($bg_color, gold), 30px);
            font-style: normal;
        }
    }

    // 輸入資訊.logArea__from
    &__from{
        width: 100%;
        max-width: 300px;
        text-align: right;
        
        @include mw_xs{
            width: 100%;
            max-width: none;
            height: 100%;
            padding: 5% 30px 0;
        }

        // pc語系.logArea__from__Language
        ul.logArea__from__Language {
            @extend %hand;
            @include d_f(inline-flex, center, flex-end);
            position: relative;
            padding-left: 20px;
            margin-bottom: 30px;
            
            input{
                @extend %hand;
                width: 100%;
                height: 100%;
                color: map-get($txt_color, primary);
                font-size: 14px;
            }

            &::after{
                content:'';
                width: 10px;
                height: 10px;
                background: url(../images/icon_downArr.svg) no-repeat center;
                margin-left: 10px;
                pointer-events: none;
            }

            @include coarse {
                display: none;
            }

            ul{
                @include pos_a(tr, calc(100% + 10px), 0);
                min-width: 100px;
                padding: 5px 0;
                background: map-get($bg_color, black_alpha);
                border: 1px solid map-get($bg_color, secondary);
                border-radius: 3px;
                color: map-get($txt_color, primary);
                font-size: 14px;

                li{
                    padding: 5px;
                    text-align: center;

                    &:not(:last-child){
                        @include border(0 0 1px, map-get($border_color, gold));
                    }

                    @include hoverHandler{
                        background: map-get($bg_color, secondary_alpha);
                    }
                }
            }
        }
        // ph語系.logArea__from__Language
        label.logArea__from__Language {
            min-width: 80px;
            margin-bottom: 30px;
            display: none;

            @include coarse{
                @include d_f(inline-flex, center, flex-start);
            }

            select{
                width: calc(100% - 10px);
                color: map-get($txt_color, primary);
                font-size: 14px;
            }

            option{
                background: map-get($bg_color, black);
                color: map-get($txt_color, primary);
            }

            i{
                width: 10px;
                height: 10px;
                pointer-events: none;
            }
        }

        // 輸入input.logArea__from__import
        &__import{
            padding: 10px 20px;
            border-bottom: 1px solid map-get($bg_color, gray);
            margin-bottom: 20px;

            input{
                width: 100%;
                color: map-get($txt_color, primary);
                font-weight: bold;
                font-size: 18px;
                text-align: center;

                &::placeholder{
                    color: map-get($txt_color, gary);
                }
                
                &:-webkit-autofill,
                :-webkit-autofill:hover,
                :-webkit-autofill:focus {
                    -webkit-text-fill-color: map-get($txt_color, primary);
                    -webkit-background-clip: text;
                }
            }
        }

        // 記住帳號.logArea__from__remeber
        &__remeber{
            @include d_f(flex, center, flex-start);
            @include checktick(20px, 2px, 3px, transparent);
            margin-bottom: 30px;

            &::after{
                content: attr(data-txt);
                margin-left: 10px;
            }
            
            span{
                border:1px solid map-get($bg_color, gray);
            }
        }

        // 登入按鈕.logArea__from_btn
        &_btn{
            @include btn_set(100%, 40px, transparent);
            border:1px solid map-get($bg_color, gray);
            border-radius: 40px;
            margin-bottom: 30px;

            &::after{
                @include btn_txt(center,map-get($txt_color, gray), transparent);
                
                font-weight: bold;
            }

            &.--guest{
                @include d_f(flex, center, center);
                border-color: map-get($bg_color, secondary);

                &::after{
                    width: auto;
                    color: map-get($txt_color, yellow);
                }
            }

            .hover_item{
                @include btn_hoveritem(map-get($bg_color, gold));
                border-radius: 40px;
            }

            i{
                position: relative;
                width: 15px;
                height: 15px;
                margin-right: 10px;
                filter: brightness(150%);
            }

            // 手指效果
            @include btn_hoverHandler(1px, map-get($txt_color, secondary)){
                i{
                    filter: brightness(10%);
                }
            }
        }

    }

    // QR扣
    .logQR{
        width: 100px;
        text-align: center;
        margin: auto;

        @include fine{
            display: none;
        }

        a{
            display: block;
            padding: 3px 10px;
            background: map-get($bg_color, gold);
            color: map-get($txt_color, secondary);
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

// foot
.logFoot{
    @include d_f(flex, center, center);    
    padding: 50px 0 5px;
    
    @include mw_md{
        display: none;
    }

    @include coarse{
        display: none;
    }
    

    // 清除緩存說明.logFoot__clear
    &__clear{
        @include d_f(flex, center, flex-start);
        font-size: 14px;

        li + li{
            position: relative;
            margin-left: 15px;

            &::before{
                @include pos_a(trb, 0, calc(100% + 5px), 0);
                content: '';
                width: 1px;
                height: 80%;
                background: map-get($bg_color, gold);
                margin: auto;
            }

            // 手指效果
            @include hoverHandler{
                color: map-get($txt_color, yellow);
                text-decoration: underline;
            }
        }
    }

    // 瀏覽器下載.logFoot__downdload
    &__downdload{
        @include d_f(flex, center, center);
        padding: 5px 10px;
        border: 1px solid map-get($bg_color, gray);
        border-radius: 5px;
        color: map-get($txt_color, gray);
        font-size: 12px;
        margin-left: 20px;

        >i{
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }

        a{
            display: block;
            text-align: left;

            i{
                width: 10px;
                height: 10px;
                margin-left: 5px;
            }

            // 手指效果
            @include hoverHandler{
                color: map-get($txt_color, yellow);
                text-decoration: underline;
            }
        }
    }
}


// copyright
.logCopyright{
    @include d_f(flex, flex-end, center);
    padding-bottom: 10px;
    font-size: 12px;
    margin: 0 auto;

    &::before{
        content: '';
        display: block;
        flex: none;
        width: 100px;
        height: 32px;
        background: url(../images/copyright_icash.png) no-repeat center / contain;
        margin-right: 5px;
    }
}

