// 視訊上物件
.video{
    position: relative;

    // .video__function
    &__function{
        @include pos_a(trbl, 0);
        @include d_f(flex, flex-start, flex-start);
        margin: auto;

        // 桌次資訊.video__function__info
        &__info{
            @include border(0 0 1px, map-get($border_color , secondary));
            flex: none;
            padding: 5px 10px;
            background: map-get($bg_color , darkblue_vl);
            .txt{
                @include d_f(flex, center, space-between);
                font-size: 14px;
                margin-bottom: 10px;

                li:first-child{
                    font-size: 16px;
                    font-weight: bold;
                }

                @include mw_sm {
                    font-size: 12px;
                    margin-bottom: 0;
                }
            }
            .time{
                min-width: 150px;
                display: block;
                color: map-get($txt_color, yellow);
                font-weight: bold;
                text-align: center;
                
                &::before{
                    content: attr(data-time);
                    font-size: 50px;
                }
                &::after {
                    content: attr(data-txt);
                    font-size: 35px;
                }
                &[data-time=""]::before,
                &[data-txt=""]::after{
                    content: none;
                }
                @include mw_sm{
                    min-width: 100px;
                    &::before {
                        font-size: 40px;
                    }
                    &::after{
                        font-size: 20px;
                    }
                }
            }
        }

        // 跑馬燈.video__function__marquee
        &__marquee{
            @include d_f(flex, center, flex-end);
            position: relative;
            flex: 1 1 100%;
            padding: 5px 0;
            overflow: hidden;
            z-index: 0;

            &::after{
                @include pos_a(tr, 5px, 0);
                content: 'NEWS';
                padding: 4px 3px;
                background: map-get($bg_color, red);
                font-size: 12px;
            }
            span{
                @extend %txtshadow;
                flex: 0 0 100%;
                white-space: nowrap;
            }

            @keyframes marquee_move {
                0% {
                    transform: translateX(100%);
                }

                100% {
                    transform: translateX(-100%);
                }
            }

        }

        // 視訊放大
        .videobig_btn{
            @include btn_set(40px, 30px, url(../images/icon_vedioBig.svg) no-repeat center / contain);
            margin: 0 10px;
            @at-root .--bigTv .videobig_btn{
                background-image: url(../images/icon_vedioSmall.svg);
            }
            
            @include coarse{
                display: none;
            }
        }


        // 選擇卡片呼叫公關
        .pr_btn{
            @include btn_set(auto, 30px, map-get($btn_color, green));
            @include pos_a(bl, calc(100% + 10px), 380px);
            @include radius_hidden();
            padding: 0 10px;
            border: 1px solid map-get($bg_color, lightgreen);
            z-index: 4; //層級要比.frame__main__nav高

            @include mw_md{
                position: fixed; //需停在nav不能跟著捲軸移動
                bottom: auto;
                top: 10px;
                left: 380px;
            }

            @include mw_sm{
                @include pos_a(tbl, auto, 0, 10px);
                border-radius: 3px 3px 0 0;
                z-index: 1; //層級還原不能比.detail高
            }

            &::before{
                @include btn_hoverlight03;
            }
            &::after{
                @include btn_txt(center, map-get($txt_color, primary), map-get($txt_color, shadow));
            }
            .hover_item{
                @include btn_hoveritem(map-get($btn_color, lightgreen));
                box-shadow: 0 0 1px map-get($bg_color, secondary) inset,
                            0 0 3px map-get($bg_color, secondary) inset;
                &::before {
                    @include btn_hoverlight03;
                }
            }
            i{
                @include btn_i(map-get($bg_color, i_green));
            }

            // 手指效果
            @include btn_hoverHandler(1px, map-get($txt_color, primary));
        }

        // 換桌與開始遊戲按鈕
        .apply_btn{
            @include btn_set(190px, 150px, url(../images/changetable_btn.png) no-repeat center / contain);
            @include pos_a(rbl, 0);
            margin: auto;

            &.--start{
                display: none;
            }
            
            @include mw_xs{
                bottom: -30px;
                transform: scale(.8);
            }

            &::before{
                text-shadow: 2px 2px 3px map-get($txt_color, shadow);
            }
            &::before,
            &::after{
                @include pos_a(tl, 54px, 0);
                @include bg_txt(map-get($bg_color, gold), 30px);
                width: 100%;
                line-height: 52px;
                font-weight: bold;
                text-transform: uppercase;
            }

            // 手指效果
            @include hoverHandler{
                &::before{
                    text-shadow: 0 0 3px map-get($txt_color, yellow);
                }
            }
        }

        // 視訊訊息 .video__function__msg
        &__msg {
            @include d_f(flex, center, center);
            @include pos_a(tl, 40%, 0);
            @include border(1px 0, map-get($border_color, secondary));
            width: 100%;
            min-height: 100px;
            padding: 10px;
            background: map-get($bg_color, black_alpha);
            font-size: 32px;
            text-shadow: 0 0 5px map-get($txt_color, secondary);
            text-align: center;
            margin: auto;

            // &::before{
            //     content: '';
            //     display: block;
            //     width: 30px;
            //     height: 30px;
            //     background: url(../images/icon_warn.svg) no-repeat center / cover;
            //     margin-right: 10px;
            // }

            @include mw_xs {
                min-height: auto;
                font-size: 16px;

                &::before {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        // 連線訊號燈.video__function__speed
        &__speed{
            @include pos_a(rb, 0);
            padding: 5px 10px 5px 5px;
            font-size: 14px;
            text-shadow: 1px 1px map-get($txt_color, shadow);

            &::before{
                @include pos_a(trb, 0, 100%, 0);
                content: '';
                width: 8px;
                height: 8px;
                border-radius: 8px;
                background: map-get($bg_color, green);
                margin: auto;
            }
            &.--slow::before{
                background: map-get($bg_color, red);
            }
        }
    }
}



// 選擇桌次
.table{
    @include d_f(flex, flex-start, flex-start);
    position: relative;
    flex-direction: column;

    // .table__title
    &__title{
        position: relative;
        width: 100%;
        flex: none;
        height: 20px;
        background: map-get($bg_color, primary_vl);
        overflow: hidden;

        @at-root .--bigTv .table__title{
            @extend %hand;
        }

        @include mw_lg{
            height: 30px;
            cursor: pointer;
        }

        @include mw_sm{
            height: 20px;
        }

        &::before{
            @include pos_a(tbl, 0, 0, calc(50% + 50px));
            @include triangle(10px, map-get($bg_color, secondary), bottom);
            content: none;
            margin: auto;
            animation: shake 2s infinite;
            z-index: 1;

            // 選擇桌次展開
            @at-root .--tableOpen .table__title::before{
                transform: rotateX(180deg);
                animation: shake_up 2s infinite;
            }

            @include mw_lg{
                content: '';
            }

            @include mw_sm {
                content: none;
            }
            
            @keyframes shake {
                10%,
                30%,
                50%,
                70%,
                90% {
                    -webkit-transform: translateY(-3px);
                    transform: translateY(-3px);
                }
                0%,
                20%,
                40%,
                60%,
                80%,
                100% {
                    -webkit-transform: translateY(3px);
                    transform: translateY(3px);
                }
            }

            @keyframes shake_up {
                10%,
                30%,
                50%,
                70%,
                90% {
                    -webkit-transform: translateY(-3px) rotateX(180deg);
                    transform: translateY(-3px) rotateX(180deg);
                }
                0%,
                20%,
                40%,
                60%,
                80%,
                100% {
                    -webkit-transform: translateY(3px) rotateX(180deg);
                    transform: translateY(3px) rotateX(180deg);
                }
            }

        }
        &::after{
            @include btn_txt(center, map-get($txt_color, yellow), map-get($txt_color, shadow));
            @include pos_a(trbl, 0);
            margin: auto;
            transform: translateZ(0);
        }

        span{
            display: block;
            width: 200px;
            height: 60px;
            background: map-get($bg_color, darkblue_vl);
            border-left: 1px solid map-get($bg_color, secondary);
            border-right: 1px solid map-get($bg_color, secondary);
            transform: perspective(150px) rotateX(-45deg);
            transform-origin: 50% 0;
            margin: auto;
        }
    }

    // .table__group
    &__group{
        @include scrollbar(hidden, auto);
        @include d_f(flex, flex-start, flex-start);
        flex: 1 1 100%;
        width: 100%;
        align-content: flex-start;
        flex-wrap: wrap;
        background: map-get($bg_color, black_alpha);
        padding: 5px;

        @include mw_lg{
            @include pos_a(tl, 30px, 0);
            max-height: 100px;
            display: none;

            // 選擇桌次展開
            @at-root .--tableOpen .table__group{
                display: flex;
            }
        }
        @include mw_sm {
            position: static;
            display: flex;
        }

        li{
            @extend %hand;
            @include btn_set(125px, 35px, map-get($btn_color, secondary));
            border-radius: 3px;
            border: 2px solid map-get($bg_color, lightblue);
            margin: 0 10px 5px;

            @include mw_lg {
                width: 110px;
            }

            @include mw_sm {
                margin: 0 5px 5px;
            }


            &::before{
                @include btn_hoverlight03;
            }
            &::after {
                @include btn_txt(center, map-get($txt_color, primary), transparent);
                font-weight: bold;
            }
            .hover_item {
                @include btn_hoveritem(map-get($btn_color, primary));
                box-shadow: 0 0 3px map-get($bg_color, secondary) inset,
                0 0 6px map-get($bg_color, secondary) inset;
                &::before {
                    @include btn_hoverlight03;
                }
            }
            // 狀態
            &.--i_vip::after {
                width: calc(100% - 5px);
                padding-left: 5px;
                justify-content: flex-start;
            }
            >i {
                @include pos_a(trb, 0, 10px, 0);
                display: block;
                width: 30px;
                height: 13px;
                margin: auto;
            }
            &.--i_vip>i {
                background: url(../images/icon_vip.svg) no-repeat center / contain;
            }
            &.--i_ex>i::before,
            &.--i_fast>i::after {
                @include pos_a(trb, 0, -20px, 0);
                content: '';
                width: 20px;
                height: 20px;
                background: url(../images/icon_ex.svg) no-repeat center / contain;
                margin: auto;
            }
            &.--i_fast>i::after {
                background-image: url(../images/icon_fast.svg);
            }
            &.--i_ex.--i_fast>i::before,
            &.--i_ex.--i_fast>i::after {
                @include pos_a(trb, -8px, -15px, auto);
                content: '';
                width: 15px;
                height: 15px;
            }

            &.--i_ex.--i_fast>i::after {
                top: 8px;
            }        

            // _on效果
            @include btn_on(map-get($txt_color, secondary)){
                border-color: map-get($bg_color, lightyellow);
            }

            // 手指效果
            @include btn_hoverHandler(2px, map-get($txt_color, secondary)){
                border-color: map-get($bg_color, lightyellow);
            }
        }
    }
}



// 下注區與珠路共用 會員資訊
.memberInfo {
    @include d_f(flex, center, space-between);
    @include border(1px 0 0, map-get($border_color, secondary));
    padding: 5px 10px;
    background: map-get($bg_color, darkblue);
    font-size: 14px;
    order: -4;

    // 996以下會員資訊
    @at-root .order .memberInfo{
        display: none;
        
        @include mw_sm{
            display: flex;
        }

        @include mw_xs{
            font-size: 12px;
            padding: 3px 5px;
        }
    }
    // 996以上會員資訊
    @at-root .road .memberInfo {
        @include mw_sm{
            display: none;
        }
    }

    li {
        &::before {
            content: attr(data-txt);
            color: map-get($txt-color, yellow);
            margin-right: 10px;
        }

        @include mw_xs {

            &::before{
                margin-right: 0;
            }
        }
    }
}



// 下注區與卡號
.order{
    @include d_f(flex, unset, flex-start);
    position: relative;
    height: 100%;
    flex-direction: column;
    
    // 下注資訊.order__info
    &__info {
        background: map-get($bg_color, primary_vl);
        padding: 5px;
        order: -2;

        @include mw_xs{
            display: none;
        }

        ul {
            @include d_f(flex, center, center);
            padding: 3px 5px;
            background: map-get($bg_color, black);
            font-size: 12px;
        }

        li {
            &::before {
                content: attr(data-txt);
            }

            &:not(:last-child)::after {
                content: '';
                border-left: 1px solid map-get($bg_color, white);
                margin: 0 5px;
            }
        }
    }

    // 下注桌布.order__area
    &__area {
        @include d_f(flex, flex-start, center);
        position: relative;
        flex-wrap: wrap;
        flex: 1 1 100%;
        background: map-get($bg_color, order_area);
        border: 1px solid map-get($bg_color, black);

        // 上桌按鈕
        .uptable_btn{
            @include btn_set(100px, 45px, url(../images/uptable_btn.png) no-repeat center / contain);
            @include pos_a(rbl, 0, 50%, 0);
            margin: auto;
            z-index: 1;
            
            &::before{
                text-shadow: 2px 2px 3px map-get($txt_color, shadow);
            }
            &::before,
            &::after{
                @include pos_a(trbl, 0);
                @include bg_txt(map-get($bg_color, gold), 25px);
                line-height: 45px;
                font-weight: bold;
                text-transform: uppercase;
                margin: auto;
            }

            // 手指效果
            @include hoverHandler{
                &::before{
                    text-shadow: 0 0 5px map-get($txt_color, yellow);
                }
            }
        }

        .area_b,
        .area_p,
        .area_t,
        .area_bp,
        .area_pp {
            @include d_f(flex, unset, flex-start);
            flex-direction: column;
            position: relative;
            width: 50%;
            height: 55%;
            padding: 5px;
            font-size: 60px;

            // 不能下注
            &.--nobet::after {
                @include pos_a(trbl, 0);
                content: '';
                background: map-get($bg_color, black_alpha);
                margin: auto;

            }

            @include mw_lg {
                font-size: 50px;
            }
            @include mw_xs {
                font-size: 30px;
            }
        }

        // 線段出現樣式
        .area_p,
        .area_b,
        .area_t {
            border-style: solid;
            border-color: map-get($bg_color, black);
        }
        .area_p{
            border-width: 0 1px 1px 0;
        }
        .area_b {
            border-width: 0 0 1px;
        }
        .area_t{
            border-width: 0 1px;
        }

        .area_t,
        .area_bp,
        .area_pp {
            width: calc(100% / 3);
            height: 45%;
            font-size: 40px;

            @include mw_lg {
                font-size: 30px;
            }
            @include mw_xs {
                font-size: 20px;
            }
        }

        // 對子隱藏
        @at-root .--pair_none .area_bp,
        .--pair_none .area_pp{
            display: none;
        }

        // 下注區內容物
        .shine {
            @include pos_a(trbl, 0);
            background: map-get($bg_color, secondary_alpha);
            margin: auto;
            animation: shine .8s ease infinite;

            @keyframes shine {
                0% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }

            // 贏牌效果
            &.--win{
                animation: none;

                &::after{
                    content: '';
                    @include pos_a(trbl, 0);
                    border: 2px solid map-get($bg_color, secondary);
                    box-shadow: -1px 0 5px map-get($bg_color, white) inset,
                    0 -1px 5px map-get($bg_color, white) inset,
                    1px 0 5px map-get($bg_color, white) inset,
                    0 1px 5px map-get($bg_color, white) inset;
                    background: map-get($bg_color, win);
                    margin: auto;
                }
            }
        }

        .odd {
            position: relative;
            font-size: 14px;
            text-shadow: 2px 1px map-get($txt_color, shadow);

            @include mw_xs{
                font-size: 12px;
            }
        }

        .txt {
            @include d_f(flex, center, center);
            position: relative;
            flex: 1 1 100%;
            font-weight: bold;
        }

        .limit {
            position: relative;
            color: map-get($txt_color, yellow);
            font-size: 14px;
            text-shadow: 2px 1px map-get($txt_color, shadow);

            @include mw_xs {
                font-size: 12px;
            }

            @at-root .area_b .limit{
                text-align: right;
            }

            &::before,
            &::after {
                content: attr(data-min);
            }

            &::after {
                content: attr(data-max);
            }
        }

        .total_amount {
            @include pos_a(tr, 0, 5px);
            @include border(0 0 1px, map-get($border_color, secondary));
            min-width: 50px;
            padding: 2px 10px;
            background: map-get($bg_color, black);
            border-radius: 0 0 5px 5px;
            color: map-get($txt_color, primary);
            font-size: 14px;
            text-align: center;
        }

        .amount {
            @include pos_a(bl, 25px, 5px);
            @include d_f(flex, center, flex-start);
            @include border(1px, map-get($border_color, primary));
            min-width: 50px;
            height: 25px;
            background: map-get($bg_color, black);
            color: map-get($txt_color, primary);
            font-size: 14px;

            @at-root .area_b .amount {
                left: auto;
                right: 5px;
            }
            >span{
                width: calc(100% - 23px);
                padding-left: 5px;
            }
            &_btn {
                @include btn_set(23px, 23px, transparent);
                background: url(../images/icon_x.svg) no-repeat center / 50%;

                // 手指效果
                @include hoverHandler {
                    transform: scale(1.2);
                }
            }
        }

        .coin {
            @include pos_a(rb, 0);
            width: 75px;
            max-height: 60%;
            transform: scale(.8);

            @at-root .area_p .coin {
                right: auto;
                left: 0;
                bottom: 45px;
            }

            @at-root .area_b .coin {
                bottom: 45px;
            }
        }
    }

    // 籌碼.order__chips
    &__chips {
        @include d_f(flex, center, space-around);
        flex: none;
        height: 70px;
        background: map-get($bg_color, darkblue_vl);
        z-index: 1;

        @include mw_sm{
            height: 50px;
            justify-content: center;
            order: -1;
        }

        li{
            width: 50px;
            height: 50px;
            flex: none;
            transform: translate3d(0, 0, 0);

            @include mw_sm {
                margin: 0 20px;
            }

            @include mw_sm {
                width: 40px;
                height: 40px;
                margin: 0 5px;
            }


            &.--on{
                width: 70px;
                height: 70px;
                transform: translate3d(0, -10%, 0);
                
                @include mw_sm {
                    width: 50px;
                    height: 50px;
                }
            }

            // 手指效果
            @include hoverHandler {
                width: 70px;
                height: 70px;
                transform: translate3d(0, -10%, 0);

                @include mw_sm {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    // 下注按鈕.order__function
    &__function {
        @include d_f(flex, center, center);
        flex: none;
        height: 10%;
        min-height: 30px;
        background: map-get($bg_color, black);

        .function_btn {
            @include btn_set(calc(100% / 3), 100%, map-get($bg_color, blue));
            @include border(2px, map-get($border_color, blue));

            @include mw_xs {
                border-width: 1px;
            }
            &::before {
                @include btn_hoverlight04;
            }

            &::after {
                @include btn_txt(center, map-get($txt_color, primary), map-get($txt_color, shadow));
                font-size: 24px;
                
                @include mw_xs {
                    font-size: 20px;
                }
            }

            .hover_item {
                @include btn_hoveritem(map-get($bg_color, middblue));

                &::before {
                    @include btn_hoverlight04;
                }
            }

            i {
                @include btn_i(map-get($bg_color, i_blue));
            }

            // 續押
            &.--repeat {
                background: map-get($bg_color, green);
                border-image: map-get($border_color, green);

                .hover_item {
                    background: map-get($bg_color, darkgreen);
                }

                i {
                    @include btn_i(map-get($bg_color, i_green));
                }
            }

            // 取消
            &.--cancel {
                background: map-get($bg_color, red);
                border-image: map-get($border_color, red);

                .hover_item {
                    background: map-get($bg_color, darkred);
                }

                i {
                    @include btn_i(map-get($bg_color, i_red));
                }
            }

            // 手指效果
            @include btn_hoverHandler(2px, map-get($txt_color, primary));
        }
    }

    // 卡號按鈕.cardTitle
    .cardTitle {
        @include scrollbar(auto, hidden);
        @include d_f(flex, center, flex-start);
        height: 35px;
        flex: none;
        padding: 5px 5px 0;
        background: map-get($bg_color, black);
        font-size: 0;
        order: -3;

        @include mw_sm{
            height: 30px;
            padding-top: 0;
        }

        @include mw_xs{
            height: 25px;
        }

        >li {
            @extend %hand;
            @include btn_set(auto, 100%, map-get($btn_color, secondary));
            padding: 0 5px;
            border: 1px solid map-get($bg_color, secondary);
            border-bottom: none;

            +li {
                border-left: none;
            }

            &:first-child{
                min-width: 50px;
                border-top-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
            }

            &::before {
                @include btn_hoverlight03;
            }

            &::after {
                @include btn_txt(center, map-get($txt_color, primary), transparent);
                font-size: 14px;
                white-space: nowrap;
            }

            .hover_item {
                @include btn_hoveritem(map-get($btn_color, primary));

                &::before {
                    @include btn_hoverlight03;
                }
            }

            i {
                @include btn_i(map-get($bg_color, i_blue));
            }

            // _on效果
            @include btn_on(map-get($txt_color, secondary)) {
                i {
                    @include btn_i(map-get($bg_color, i_gold));
                }
            }

            // 手指效果
            @include btn_hoverHandler(1px 1px 0, map-get($txt_color, secondary)) {
                i {
                    @include btn_i(map-get($bg_color, i_gold));
                }
            }
        }
    }

    // 卡號all.cardAll
    .cardAll {
        @include pos_a(tl, 30px, 0);
        @include scrollbar(hidden, auto);
        width: 100%;
        height: calc(100% - 30px);
        background: map-get($bg_color, black);
        z-index: 2;

        display: none;

        @include mw_sm{
            top: 47px;
            height: calc(100% - 47px);
        }

        @include mw_xs {
            top: 60px;
            height: calc(100% - 60px);
        }

        // 卡片all展開
        @at-root .--cardOpen .cardAll{
            display: block;
        }
        @at-root .--telType.--cardOpen .cardAll{
            position: static;
        }

        table {
            width: 100%;
            font-size: 12px;
            text-align: center;
        }

        tr+tr {
            border-top: 1px solid map-get($bg_color, secondary);
        }

        td,
        th {
            padding: 10px 0;
        }

        td:first-child {
            font-size: 18px;
            font-weight: normal;
        }

        th {
            background: map-get($bg_color, darkblue_vl_re);
            color: map-get($txt_color, yellow);
            font-size: 14px;
        }

    }
}



// 珠路
.road{
    @include d_f(flex, unset, flex-start);
    flex-direction: column;

    // 結果統計
    .totalCount{
        @extend %hand;
        @include border(1px 0 0, map-get($border_color, secondary));
        position: relative;
        background: map-get($bg_color, darkblue_vl);

        @include mw_xs{
            display: none;
        }

        // 莊閒和.totalCount__item
        &__item{
            @include d_f(flex, center, space-around);
            padding: 3px 10px;

            @include mw_sm{
                justify-content: space-between;
                padding-right: 30px;
            }

            li{
                @include d_f(flex, center, center);
                position: relative;
                width: 25px;
                height: 25px;
                background: map-get($txt_color, play);
                border-radius: 50%;
                color: map-get($txt_color, white);
                font-size: 14px;

                &:nth-child(3n + 1){
                    background: map-get($txt_color, bank);
                }

                &:nth-child(3){
                    background: map-get($txt_color, tie);
                }

                &.--pair::before{
                    @include pos_a(tl, -1px);
                    content: '';
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: map-get($txt_color, bank);
                    border: 1px solid map-get($bg_color, white);
                }

                &::after{
                    @include pos_a(l, calc(100% + 5px));
                    content: attr(data-num);
                    font-size: 16px;
                }
            }
        }

        // 百分比.totalCount__percent
        &__percent {
            @include pos_a(trbl, 0);
            @include d_f(flex, center, center);
            margin: auto;

            // 無統計資料
            &.--none::before {
                @include pos_a(trbl, 0);
                content: attr(data-txt);
                line-height: 30px;
                background: map-get($bg_color, darkblue_vl);
                margin: auto;
                text-align: center;
            }
            li{
                @include d_f(flex, center, center);
                height: 100%;
                text-shadow: 2px 1px map-get($txt_color, shadow);
            }
            &.--none li{
                display: none;
            }
        }
    }

    


    // 珠路包.road__group
    &__group{
        @include d_f(flex, unset, flex-start);
        position: relative;
        flex: 1 1 100%;

        //珠路資訊.road__group__info
        &__info{
            width: 25px;
            height: 100%;
            background: map-get($bg_color, gray);

            .ballBox {
                @include d_f(flex, center, center);
                align-content: center;
                flex-wrap: wrap;
                height: 50%;

                i{
                    width: 10px;
                    height: 10px;
                    margin: 2px;

                    &:first-child{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        // 切換珠路按鈕
        .roadChange_btn{
            @include btn_set(30px, 30px, url(../images/icon_changeroad.svg) no-repeat center / contain);
            @include pos_a(trb, 0, 10px, 0);
            margin: auto;
            opacity: .3;

            @include mw_md {
                display: none;
            }

            // 手指效果
            @include hoverHandler{
                opacity: .6;
            };
        }

        // 珠路圖.road__group__img
        &__img{
            flex: 1 1 100%;
            height: 100%;
            background: url(../images/road_img.png) left top no-repeat;

            @include mw_xs{
                background-size: 200% 130px;
            }
        }
    }
}



// 詳細資訊
.detail{
    @include d_f(flex, flex-end, space-between);
    position: relative;
    flex-wrap: wrap;
    pointer-events: none;

    // 卡片all展開
    @at-root .--telType.--cardOpen .detail{
        display: none;

        @include mw_sm{
            display: flex;
        }
    }

    // .detail__box
    &__box{
        @include d_f(flex, unset, flex-start);
        flex-direction: column;
        width: calc(100% / 2 - 1px);
        height: 100%;
        background: map-get($bg_color, black);
        pointer-events: auto;
        z-index: 1;

        &:last-child {
            margin-left: auto;
        }

        @include mw_lg {
            width: 100%;


            &:not(.--on) {
                display: none;
            }
        }
        @include mw_sm{
            width: calc(100% / 2 - 2px);
            height: 100%;

            &:not(.--on) {
                display: flex;
            }
        }

        @include mw_sm {
            max-width: 250px;
            background: map-get($bg_color, black_alpha);
        }

        // title統一樣式.detail__box__title
        &__title {
            @include d_f(flex, center, center);
            @include border(1px 0, map-get($border_color, secondary));
            position: relative;
            height: 35px;
            flex: none;
            background: map-get($btn_color, secondary_vl);
            font-size: 18px;

            @include mw_lg{
                display: none;
            }

            @include mw_sm {
                display: flex;
                font-size: 14px;
            }

            span {
                position: relative;

                &::after {
                    @include btn_txt(center, map-get($txt_color, primary), transparent);
                }
            }
        }
    }

    // pad切換title.detail__padChange
    &__padChange {
        @include border(1px 0, map-get($border_color, secondary));
        width: 100%;
        height: 35px;
        pointer-events: auto;
        display: none;

        @include mw_lg {
            @include d_f(flex, unset, flex-start);
        }

        @include mw_sm{
            display: none;
        }

        li {
            @extend %hand;
            @include btn_set(50%, 100%, map-get($btn_color, secondary_vl));
            line-height: 35px;
            text-align: center;

            &::after{
                @include btn_txt(center, map-get($txt_color, primary), transparent);
            }

            .hover_item {
                @include btn_hoveritem(map-get($btn_color, primary_vl));
            }

            // _on效果
            @include btn_on(map-get($txt_color, secondary)){
                width: 80%;
            }

            // 手指效果
            @include btn_hoverHandler(1px 0, map-get($txt_color, secondary));
        }
    }

    // ph切換title.detail__phChange
    &__phChange{
        @include pos_a(trb, 0);
        @include d_f(flex, center, center);
        @include radius_hidden(5px 0 0 5px);
        flex-direction: column;
        width: 35px;
        height: 140px;
        border: 1px solid map-get($bg_color, secondary);
        border-width: 1px 0 1px 1px;
        margin: auto;
        pointer-events: auto;

        display: none;

        @include mw_sm{
            display: flex;
        }
        
        li{
            @extend %hand;
            @include btn_set(100%, 100%, map-get($btn_color, secondary));
            font-size: 14px;

            &::after{
                @include btn_txt(center, map-get($txt_color, primary), transparent);
                @include pos_a(trbl, 0);
                margin: auto;
                writing-mode: vertical-lr;
            }

            .hover_item{
                @include btn_hoveritem(map-get($btn_color, primary));
            }

            // 手指效果
            @include btn_hoverHandler(1px, map-get($txt_color, secondary));

            &:last-child{
                background: map-get($btn_color, primary);

                &::after{
                    color: map-get($txt_color, secondary);
                }

                .hover_item{
                    background: map-get($btn_color, secondary);
                }

                // 手指效果
                @include btn_hoverHandler(1px, map-get($txt_color, primary));
            }
        }
    }

    // 好路提示設定按鈕
    .goodroad_btn{
        @include btn_set(30px, 100%, url(../images/icon_setting.svg) no-repeat center / 70%);
        @include pos_a(tbl, 0);
        margin: auto;

        @at-root .--on>.goodroad_btn {
            filter: invert(1);
        }

        // 手指效果
        @include hoverHandler{
            transform: scale(1.2);
        }
    }

    // 好路提示關閉按鈕
    .close_btn{
        @include btn_set(30px, 100%, url(../images/icon_x.svg) no-repeat center / 50%);
        @include pos_a(trb, 0, -3px, 0);
        margin: auto;
        
        display: none;

        @include mw_md{
            display: block;
        }

        // 手指效果
        @include hoverHandler{
            transform: scale(1.2);
        }
    }
}

// 好路追注.goodroadList
.goodroadList {
    @include scrollbar(hidden, auto);
    position: relative;
    flex: 1 1 100%;
    padding: 10px 5px;

    // .goodroadList__item
    &__item {
        @include d_f(flex, center, center);
        @include radius_hidden(5px);
        @extend %hand;
        position: relative;
        height: 55px;
        padding: 2px;
        background: map-get($bg_color, middblue);
        color: map-get($txt_color, primary);
        font-size: 14px;
        margin-bottom: 5px;

        &::before {
            content: '';
            position: absolute;
            display: flex;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            background: map-get($btn_color, secondary_vl);
        }

        .hover_item {
            @include btn_hoveritem(map-get($btn_color, lightblue_vl));
        }

        // .goodroadList__item__tb
        &__tb {
            @include d_f(flex, center, center);
            position: relative;
            flex: 0 0 45px;
            height: 90%;
            border-right: 1px solid map-get($bg_color, lightblue);
            font-weight: bold;

            @include mw_lg{
                flex: 0 0 80px;
                font-size: 18px;
            }

            @include mw_xs{
                font-size: 14px;
                flex: 0 0 45px;
            }

            // 網投無卡
            @at-root .--noOrder .goodroadList__item__tb{
                flex: 0 0 80px;
                font-size: 18px;

                @include mw_xs{
                    font-size: 14px;
                    flex: 0 0 45px;
                }
            }
        }

        // .goodroadList__item__txt
        &__txt {
            @include d_f(flex, center, center);
            position: relative;
            flex: 1 1 100%;
            height: 100%;
        }

        // .goodroadList__item__go
        &__go {
            position: relative;
            flex: 0 0 50px;
            padding: 0 5px;

            @include mw_lg{
                flex: 0 0 100px;
                height: 40px;
            }
            
            @include mw_sm{
                flex: 0 0 50px;
            }

            // 網投無卡
            @at-root .--noOrder .goodroadList__item__go{
                flex: 0 0 100px;
                height: 40px;

                @include mw_sm{
                    flex: 0 0 50px;
                    height: auto;
                }
            }

            i {
                @include btn_set(100%, 100%, map-get($btn_color, primary));
                display: block;
                padding: 0 5px;
                border: 1px solid map-get($bg_color, secondary);
                border-radius: 3px;

                &::before {
                    @include btn_hoverlight02;
                }

                &::after {
                    @include btn_txt(center, map-get($txt_color, secondary), transparent);
                }
            }
        }

        // 雙
        &:nth-child(even) {
            background: map-get($bg_color, lightblue);

            &::before {
                background: map-get($btn_color, lightblue_vl);
            }

            .hover_item {
                @include btn_hoveritem(map-get($btn_color, secondary_vl));
            }
        }

        // 手指效果
        @include btn_hoverHandler(1px 0, map-get($txt_color, primary));
    }

    // 沒有好路時
    &:empty::after {
        @include pos_a(trbl, 0);
        content: attr(data-txt);
        height: 20px;
        padding: 0 5px;
        margin: auto;
        text-align: center;
    }
}
// 最新投注.orderInfo
.orderInfo{
    @include scrollbar(hidden, auto);
    flex: 1 1 100%;

    >li+li {
        @include border(1px 0 0, map-get($border_color, secondary));
    }

    // .orderInfo__txt
    &__txt {
        padding: 10px;
        color: map-get($txt_color, primary);

        >li+li {
            margin-top: 3px;
        }

        li:not(:first-child) {
            font-size: 14px;

        }

        li:last-child {
            @include d_f(flex, center, flex-end);
        }
    }

    // .orderInfo__btn
    &__btn {
        @include btn_set(40%, 100%, map-get($bg_color, secondary));
        max-width: 80px;
        border-radius: 3px;
        color: map-get($txt_color, secondary);
        font-size: 14px;

        // 手指效果
        @include hoverHandler {
            opacity: 0.5;
        }
    }
}
// 限紅.limitList
.limitList{
    @include scrollbar(hidden, auto);
    height: 100%;
    background: map-get($bg_color, darkblue_vl);

    @include mw_sm{
        background: map-get($bg_color, black_alpha);
    }

    li{
        @include border(0 0 1px, map-get($border_color, gold));
        padding: 20px 30px;
        font-size: 18px;

        @include mw_sm{
            padding: 10px;
            font-size: 14px;
        }

        &:first-child{
            color: map-get($txt_color, yellow);
            text-align: center;
            &::before{
                @include mr_distance;
                content: attr(data-txt);
            }
        }

        &:not(:first-child)::before{
            @include mr_distance;
            content: attr(data-txt);
            display: inline-block;
            min-width: 50px;
            padding: 5px;
            background: map-get($bg_color, tie);
            border: 1px solid map-get($bg_color, secondary);
            border-radius: 3px;
            text-align: center;

            @include mw_sm {
                min-width: 30px;
            }
        }
        &.bg_bank_gradual::before {
            background: map-get($bg_color, bank);
        }
        &.bg_play_gradual::before {
            background: map-get($bg_color, play);
        }
    }
}



// 開牌動畫
.result{

    // 寬度控制 .result__box
    &__box{
        @include d_f(flex, center, space-between);
        width: 100%;
        height: 100%;

        // 莊閒牌組 .result__box__item
        &__item{
            @include d_f(flex, center, space-between);
            width: 35%;
            padding: 0 20px;

            @include mw_xs{
                padding: 0 5px;
            }

            // 點數
            .txt{
                position: relative;
                width: 40px;
                padding: 10px 0;
                background: map-get($bg_color, play_gradual_vl);
                border: 2px solid map-get($bg_color, secondary);
                border-radius: 5px;
                color: map-get($txt_color, yellow);
                font-size: 30px;
                text-align: center;
                top: 20px;

                @include mw_xs{
                    font-size: 20px;
                    top: auto;
                }

                // 莊
                @at-root .--banker .txt{
                    background: map-get($bg_color, bank_gradual_vl);
                }

                &::after{
                    @include pos_a(rbl, 0, calc(100% + 5px), 0);
                    content: attr(data-txt);
                    color: map-get($txt_color, play);
                    font-weight: bold;
                    text-shadow: -1px 0 map-get($bg_color, secondary),
                                0 -1px map-get($bg_color, secondary),
                                1px 0 map-get($bg_color, secondary),
                                0 1px map-get($bg_color, secondary);

                    // 莊
                    @at-root .--banker .txt::after{
                        color: map-get($txt_color, red);
                    }
                }
            }

            // 牌
            .poker{
                @include d_f(flex, unset, space-between);
                position: relative;
                width: 120px;
                padding: 0 5px;

                @include mw_xs{
                    width: 100px;
                    top: -20px;
                }

                li{
                    position: relative;
                    width: 50px;
                    height: 70px;
                    transform-style: preserve-3d;
                    animation: poker_ani 1.5s ease-in-out both;

                    @include mw_xs{
                        width: 35px;
                        height: 49px;
                    }

                    &:last-child{
                        @include pos_a(trl, 100%, 0,  0);
                        transform: rotate(90deg);
                        margin: auto;
                        animation: poker_ani_P3rd 1.5s ease-in-out both;

                        @at-root .--banker.result__box__item .poker li:last-child{
                            transform: rotate(-90deg);
                            animation: poker_ani_B3rd 1.5s ease-in-out both;
                        }
                    }



                    // 一般
                    @keyframes poker_ani {
                        0% {
                            transform: scale(0);
                        }

                        30% {
                            transform: scale(1);
                        }

                        100% {
                            transform: rotateY(180deg);
                        }
                    }
                    // 閒第三張
                    @keyframes poker_ani_P3rd {
                        0% {
                            transform: scale(0) rotate(90deg);
                        }

                        30% {
                            transform: scale(1) rotate(90deg);
                        }

                        100% {
                            transform: rotate(90deg) rotateY(180deg);
                        }
                    }
                    // 莊第三張
                    @keyframes poker_ani_B3rd {
                        0% {
                            transform: scale(0) rotate(-90deg);
                        }

                        30% {
                            transform: scale(1) rotate(-90deg);
                        }

                        100% {
                            transform: rotate(-90deg) rotateY(180deg);
                        }
                    }
                }

                img{
                    @include pos_a(trbl, 0);
                    backface-visibility: visibility;
                    transform: rotateY(180deg);
                    margin: auto;
                }

                span{
                    @include pos_a(trbl, 0);
                    background: url(../images/porker_back.png) no-repeat center / cover;
                    backface-visibility: hidden;
                    margin: auto;
                }
            }
        }

        // 結果圖 .result__box__img
        &__img{
            width: 30%;
            height: 100%;
            background: no-repeat center / contain;
            background-image: url(../images/img_tie.png);
            overflow: hidden;

            animation: pop .5s ease-in-out;

            // 彈出動畫
            @keyframes pop {
                0% {
                    transform: scale(0);
                    opacity: 0;
                }

                80% {
                    transform: scale(1.2);
                    opacity: 1;
                }

                100% {
                    transform: scale(1);
                    opacity: 1;
                }
            }
            
            // 英
            @at-root .--en .result__box__img{
                background-image: url(../images/img_tie_en.png);
            }

            // 莊贏
            &.--banker{
                background-image: url(../images/img_banker.png);

                // 簡
                @at-root .--cn .--banker{
                    background-image: url(../images/img_banker_cn.png);
                }
                // 英
                @at-root .--en .--banker{
                    background-image: url(../images/img_banker_en.png);
                }
            }

            // 閒贏
            &.--player{
                background-image: url(../images/img_player.png);

                // 簡體
                @at-root .--cn .--player{
                    background-image: url(../images/img_player_cn.png);
                }
                // 英
                @at-root .--en .--banker{
                    background-image: url(../images/img_player_en.png);
                }
            }

            // 發光動畫
            .shining{
                position: relative;
                width: 100%;
                height: 100%;
                margin: auto;
                animation: spin 2s linear infinite;

                // 發光線條 .shining__item
                &__item{
                    @include pos_a(tb, 0);
                    border-radius: 300px;
                    margin: auto;

                    @for $i from 1 through 6 {
                        &.sun#{$i} {
                            width: 100%;
                            height: 10px;
                            background-image: map-get($bg_color, gold_gradual);
                            transform-style: preserve-3d;
                            transform: rotateX(10deg) rotateZ(#{((360/12)*$i)}deg);
                        }
                    }
                }

                // 旋轉
                @keyframes spin {
                    0% {
                        transform: scale(1) rotate(0deg);
                        opacity: 1;
                    }

                    50% {
                        transform: scale(1.2) rotate(180deg);
                        opacity: 0;
                    }

                    100% {
                        transform: scale(1) rotate(360deg);
                        opacity: 1;
                    }
                }
            }
        }
    }
}



// 好路提示設定
.roadSet {
    @include pos_a(rb, 0);
    @include d_f(flex, unset, center);
    @include radius_hidden(5px);
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    max-height: 100%;
    padding: 2px;
    background: map-get($bg_color, lightblue);
    z-index: 3;

    @include mw_md {
        position: relative;
    }

    @include mw_xs {
        max-width: 300px;
    }

    &::before {
        @include pos_a(trbl, 0);
        content: '';
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        background: map-get($bg_color, black);
        margin: auto;
    }

    // .roadSet__title
    &__title {
        @include border(0 0 1px, map-get($border_color, secondary));
        position: relative;
        background: map-get($bg_color, primary_vl);
        flex: none;
        padding: 10px;
        font-weight: bold;
        text-align: center;

        .roadSet_btn {
            @include pos_a(trb, 0, 20px, 0);
            @include d_f(flex, center, flex-start);
            color: map-get($txt_color, primary);
            font-size: 14px;
            margin: auto;

            @include mw_xs {
                code {
                    display: none;
                }
            }

            &::before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                background: url(../images/icon_notice.svg) no-repeat left center;
                margin-right: 5px;
            }

            // 手指效果
            @include hoverHandler {
                opacity: .7;
            }
        }
    }

    // .roadSet__info
    &__info {
        @include scrollbar(hidden, auto);
        @include d_f(flex, flex-start, space-around);
        align-content: flex-start;
        flex-wrap: wrap;
        flex: 1 1 100%;
        padding: 20px 20px 0;

        .--allChecked {
            @extend %hand;
            @include pos_a(bl, 20px);
            @include d_f(flex, center, center);
            color: map-get($txt_color, primary);
            font-size: 14px;

            @include mw_xs {
                position: relative;
                width: 100%;
                justify-content: flex-start;
                bottom: auto;
                left: 15px;
                margin-bottom: 10px;
            }
        }

        // .roadSet__info__item
        &__item {
            @extend %hand;
            @include d_f(flex, center, flex-start);
            @include radius_hidden();
            flex-wrap: wrap;
            position: relative;
            width: 100px;
            padding: 1px;
            background: map-get($bg_color, lightblue);
            margin-bottom: 20px;

            &::before {
                @include pos_a(trbl, 0);
                content: '';
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                background: map-get($bg_color, primary_vl);
                pointer-events: none;
                margin: auto;
            }

            * {
                position: relative;
            }

            code {
                font-size: 12px;
            }
        }
    }

    .func {
        justify-content: center;

        // .func_btn
        &_btn {
            max-width: 150px;
            margin-bottom: 10px;

            &+button {
                margin-left: 10px;
            }
        }
    }
}









// 電網投各種狀態============================================
// .video內層細項設定
// 電投有卡 電投無卡
.--telType .apply_btn,
.--noOrder .apply_btn{
    display: none;
}

// 網投無卡
.--noOrder .apply_btn.--start{
    display: block;
    background-image: url(../images/start_btn.png);
}

// -----------------------------------------
// .order內層細項設定
// 電投有卡 電投無卡 網投無卡
.--telType [class^="order__"],
.--noCard .memberInfo,
.--noOrder .memberInfo {
    display: none;
}

// 電投有卡
.--telType .memberInfo li:nth-child(2) ~ li{
    display: none;
}

// -----------------------------------------
// .detail內層細項設定
// 電投有卡 電投無卡 網投無卡
.--telType .--limit,
.--noOrder .--goodroad {
    width: 100%;

    @include mw_lg {
        &:not(.--on) {
            display: flex;
        }
    }
    @include mw_sm {
        width: 50%;
    }
}

.--telType .detail__phChange,
.--noOrder .detail__phChange{
    height: 70px;
}

// -----------------------------------------
// .road內層細項設定
// 電投有卡 電投無卡 網投無卡
.--telType .road__group__info .ballBox,
.--noOrder .road__group__info .ballBox{
    @include mw_sm{
        height: calc(100% / 3);
    }
}

.--telType .totalCount,
.--noOrder .totalCount{
    display: block;
}



// 網投有卡
.frame:not(.--telType):not(.--noOrder) .detail__box{
    @include mw_lg {
        height: calc(100% - 35px);
    }

    @include mw_sm {
        height: 100%;
    }
}
// 電投有卡
.--telType:not(.--noCard) .--limit{
    height: calc(100% - 35px);

    @include mw_sm {
        height: 100%;
    }
}

// 網投有卡
.frame:not(.--telType):not(.--noOrder) .--limit,
.frame:not(.--telType):not(.--noOrder) .--title_limit,
// 電投有卡 電投無卡 網投無卡
.--telType .--goodroad,
.--telType .--title_goodroad,
.--telType .--neworder,
.--telType .--title_neworder,
.--noOrder .--limit,
.--noOrder .--title_limit,
.--noOrder .--neworder,
.--noOrder .--title_neworder,
.--telType .detail__padChange,
.--noOrder .detail__padChange{
    display: none;
}

// 電投有卡 電投無卡 網投無卡
.--telType .detail__box__title,
.--noOrder .detail__box__title{
    @include mw_lg{
        display: block;
    }
}

// -----------------------------------------
// .result內層細項設定
// 電投有卡 電投無卡 網投無卡
.--telType .result__box,
.--noOrder .result__box{
    width: 750px;

    @include mw_lg{
        width: 700px;
    }

    @include mw_md{
        width: 100%;
    }
}

// 視訊放大狀態============================================
// .table內層細項設定
// 網投有卡
.--bigTv .table{
    &__title{
        height: 20px;

            &::before{
            content: '';
        }
    }

    &__group{
        @include pos_a(tl, 20px, 0);
        max-height: none;
        height: 200px;

        display: none;

        // 選擇桌次展開
        @at-root .--bigTv.--tableOpen .table__group{
            display: flex;
        }
    }
}
// 電投有卡 電投無卡 網投無卡
.--telType.--bigTv .table__group,
.--noOrder.--bigTv .table__group{
    height: 100px;
}
// -----------------------------------------
// .order內層細項設定
// 網投有卡
.--bigTv .order{
    flex-wrap: wrap;

    &__area{
        width: 60%;
        order: -3;

        .area_b,
        .area_p{
            font-size: 50px;
        }
        .area_t,
        .area_bp,
        .area_pp{
            font-size: 30px;
        }
    }

    &__chips{
        width: 40%;
        height: 100px;
    }
    
    &__function{
        height: 67px;
    }

    .cardTitle{
        @include pos_a(bl, calc(100% + 20px), 0);
        background: transparent;
    }
    
    .cardAll{
        @include pos_a(tl, -20px, 0);
        height: calc(100% + 20px);
    }
}
// 電投有卡
.--telType.--bigTv .cardTitle{
    @include pos_a(bl, calc(100% + 50px), 0);

    @at-root .--telType.--bigTv.--cardOpen .cardTitle,
    .--telType.--bigTv.--tableOpen .cardTitle{
        bottom: calc(100% + 20px);
    }
}
// -----------------------------------------
// .road內層細項設定
// 網投有卡
.--bigTv .totalCount,
.--bigTv .road__group{
    display: none;
}




