
// 動畫
.active_item {
    opacity: 0;
    visibility: collapse;
}

.active {
    > .active_item,
    ~ .active_item {
        visibility: visible;
        opacity: 1;
    }
}

// 尺寸顯示隱藏
.hidden_xs{
    @include mw_xs{
        display: none;
    }
}

.show_xs{
    @include mw_sm{
        display: none;
    }
    @include mw_xs{
        display: block;
    }
}


// 通用的input select checkbox等
.input_style{
    width: calc(100% - 100px);
    height: 30px;
    padding: 0 10px;
    background: map-get($bg_color , black);
    border-radius: 3px;
    color: map-get($txt_color, primary);

    // 手指效果
    @include hoverHandler{
        box-shadow: 0 0 5px map-get($bg_color, lightblue) inset;
        
        @at-root .input_style:focus{
            box-shadow: 0 0 5px map-get($bg_color, lightblue) inset;
        }
    }
}

.select_style{
    position: relative;
    width: calc(100% - 100px);
    height: 30px;

    &::after{
        @include pos_a(trb, 0, 5px, 0);
        @include triangle(8px, map-get($txt_color, primary), bottom);
        content: '';
        margin: auto;
    }

    select{
        width: 100%;
        height: 100%;
        padding: 0 20px 0 10px;
        background: map-get($bg_color , black);
        border-radius: 3px;
        color: map-get($txt_color, primary);
    }
}

.radio_style{
    @include radio(12px, map-get($bg_color, blue));
}

.checkbox_style{
    @include checktick(15px, 2px, 2px, map-get($bg_color , middblue));
}



// 可共用元件

// 左上關閉按鈕
.close_btn{
    @include btn_set(20px, 20px, url(../images/icon_x.svg) no-repeat center / 80%);

    // 手指效果
    @include hoverHandler{
        transform: scale(1.2);
    }
}

// 通用確定取消按鈕
.func{
    @include d_f(flex, center, center);
    flex: none;

    // .func_btn
    &_btn{
        @include btn_set(calc(100% / 2 - 10px), 35px, map-get($btn_color, lightblue));
        @include radius_hidden();
        border: 1px solid map-get($bg_color, lightblue);

        &::before{
            @include btn_hoverlight03;
        }
        &::after{
            @include btn_txt(center, map-get($txt_color, primary), map-get($txt_color, shadow));
            font-weight: bold;
            
        }
        .hover_item{
            @include btn_hoveritem(map-get($btn_color, primary));

            &::before {
                @include btn_hoverlight03;
            }
        }

        // 手指效果
        @include btn_hoverHandler(1px, map-get($txt_color, secondary)){
            border-color: map-get($bg_color, secondary);
        }


        // 紅色款
        &.--red {
            background: map-get($btn_color, orange_hl);
            border-color: map-get($bg_color, secondary);
            
            .hover_item {
                background: map-get($btn_color, lightorange_hl);
            }

            // 手指效果
            @include btn_hoverHandler(1px, map-get($txt_color, primary)){
                border-color: map-get($bg_color, secondary);
            }
        }

        // 金色款
        &.--gold {
            background: map-get($btn_color, primary);
            border-color: map-get($bg_color, secondary);
            
            &::after{
                @include btn_txt(center, map-get($txt_color, secondary), map-get($txt_color, shadow));
            }

            .hover_item {
                background: map-get($btn_color, lightblue);
            }

            // 手指效果
            @include btn_hoverHandler(1px, map-get($txt_color, primary)){
                border-color: map-get($bg_color, lightblue);
            }
        }
    }
}

// 可點擊字串
.txtlink_style{
    @extend %hand;
    color: map-get($txt_color, win);
    font-weight: bold;
    text-decoration: underline;

    // 手指效果
    @include hoverHandler{
        color: map-get($txt_color, play);
    
    }
}

// 大loading遮罩
.loadingBg {
    @include load_set;
    @include pos_a(trbl, 0);
    position: fixed;
    background: map-get($bg_color, black_alpha);
    margin: auto;
    opacity: 0;
    pointer-events: none;
    z-index: 10;

    animation: temporary 3s both;

    @keyframes temporary {
        0% {
            opacity: 1;
        }

        60% {
            opacity: 1;
        }

        85% {
            opacity: 0;
            pointer-events: none;
        }
    }
}