
// 返回按鈕
.back_btn{
    @include btn_set(30px, 30px, url(../images/icon_back.svg) no-repeat center / contain);
    @include mr_distance;
    flex: none;
    
    // 手指效果
    @include hoverHandler{
        filter: brightness(150%);
    }
}

// 視訊頻道
.channel {
    @include mr_distance;
    height: 30px;
    
    // .channel__item
    &__item {
        @include d_f(flex, center, flex-start);
        @include radius_hidden();
        position: relative;
        height: 100%;

        @include mw_sm {
            display: none;
            height: auto;
            flex-direction: column;
            border-radius: 0;
        }
    }

    // .channel__1st
    li,
    &__1st {
        @extend %hand;
        @include btn_set(60px, 100%, map-get($btn_color, secondary));
        border: 1px solid map-get($bg_color, secondary);
        font-weight: bold;
        
        @include mw_sm {
            height: 30px;
        }
        &::before {
            @include btn_hoverlight03;
        }
        &::after {
            @include btn_txt(center, map-get($txt_color, primary), transparent);
        }
        .hover_item {
            @include btn_hoveritem(map-get($btn_color, primary));
            &::before {
                @include btn_hoverlight03;
            }
        }
        
        // _on效果
        @include btn_on(map-get($txt_color, secondary));
        // 手指效果
        @include btn_hoverHandler(0 0, map-get($txt_color, secondary));
    }

    // ph當前頻道 .channel__1st
    &__1st {
        @include radius_hidden();
        
        display: none;
        
        @include mw_sm {
            display: block;
            height: 30px;
        }
    }
}

// 疑難排解
.handle_btn{
    @include btn_set(30px, 30px, url(../images/icon_err.svg) no-repeat center / contain);
    @include mr_distance;
    position: relative;

    &::after{
        @include pos_a(tl, calc(100% + 5px), 0);
        @include border(1px, map-get($border_color, primary ));
        content: attr(data-txt);
        background: map-get($bg_color , black_alpha );
        padding: 3px 5px;
        font-size: 14px;
        white-space: nowrap;
        visibility: hidden;
    }

    // 手指效果
    @include hoverHandler{
        
        &::after{
            visibility: visible;
        }
    }
}

// ph選擇桌次
.tableph_btn{
    @include btn_set(auto, 30px, map-get($btn_color, primary));
    @include radius_hidden();
    @include mr_distance;
    padding: 0 25px 0 10px;
    font-weight: bold;
    border: 1px solid map-get($bg_color, secondary);
    
    display: none;

    @include mw_sm{
        display: block;
    }

    &::before {
        @include btn_hoverlight03;
    }

    &::after {
        @include btn_txt(center, map-get($txt_color, black), transparent);
    }

    .hover_item {
        @include btn_hoveritem(map-get($btn_color, secondary));

        &::before {
            @include btn_hoverlight03;
        }
    }

    i {
        @include btn_i(map-get($bg_color, i_gold));
    }

    .triangle {
        @include pos_a(trb, 0, 5px, 0);
        @include triangle(12px, map-get($bg_color, black), bottom);
        display: inline-block;
        margin: auto;
        animation: shake 2s infinite;
        
        // 選擇桌次展開
        @at-root .--tableOpen .triangle{
            transform: rotateX(180deg);
            animation: shake_up 2s infinite;
        }

        @keyframes shake {
            10%,
            30%,
            50%,
            70%,
            90% {
                -webkit-transform: translateY(-3px);
                transform: translateY(-3px);
            }

            0%,
            20%,
            40%,
            60%,
            80%,
            100% {
                -webkit-transform: translateY(3px);
                transform: translateY(3px);
            }
        }
        @keyframes shake_up {
                10%,
                30%,
                50%,
                70%,
                90% {
                    -webkit-transform: translateY(-3px) rotateX(180deg);
                    transform: translateY(-3px) rotateX(180deg);
                }
                0%,
                20%,
                40%,
                60%,
                80%,
                100% {
                    -webkit-transform: translateY(3px) rotateX(180deg);
                    transform: translateY(3px) rotateX(180deg);
                }
            }
    }

    // 手指效果
    @include btn_hoverHandler(1px, map-get($txt_color, primary)){
        i {
            @include btn_i(map-get($bg_color, i_blue));
        }
        .triangle{
            border-top-color: map-get($bg_color, white);
        }
    };

    
}

// 打賞
.tip_btn{
    @include btn_set(auto, 30px, map-get($btn_color, orange));
    @include border(1px, map-get($border_color, primary));
    padding: 0 10px;
    border: 1px solid map-get($bg_color, secondary);
    border-radius: 3px;

    &::before {
        @include btn_hoverlight03;
    }

    &::after {
        @include btn_txt(center, map-get($txt_color, primary), map-get($txt_color, shadow));
    }

    .hover_item {
        @include btn_hoveritem(map-get($btn_color, lightorange));
        box-shadow: 0 0 1px map-get($bg_color, secondary) inset,
            0 0 3px map-get($bg_color, secondary) inset;

        &::before {
            @include btn_hoverlight03;
        }
    }

    i {
        @include btn_i(map-get($bg_color, i_gold));
    }

    // 手指效果
    @include btn_hoverHandler(1px, map-get($txt_color, primary));
}

// 全螢幕
.zoom_btn{
    @include btn_set(auto, 30px, url(../images/icon_zoomin.svg) no-repeat left center / 20px);
    flex: none;
    padding-left: 25px;
    margin-left: auto;
    color: map-get($txt_color, gray);
    font-weight: bold;

    @include coarse{
        display: none;
    }

    // .zoom_btn__txt
    &__txt{
        &.--in{
            display: none;
        }
    }

    // 縮小螢幕
    &.--zoomout{
        background-image: url(../images/icon_zoomout.svg);
        .zoom_btn__txt{
            display: none;
        }
        .--in{
            display: block;
        }
    }
    
    // 手指效果
    @include hoverHandler{
        opacity: 0.7;
    }
}


// 大廳跑馬燈
.lobby__marquee{
    @include d_f(flex, center, flex-end);
    @include radius_hidden();
    position: relative;
    flex: 1 1 100%;
    padding: 5px 0;
    background: map-get($bg_color, black);
    margin-right: 20px;

    @include coarse{
        margin-right: 0;
    }

    @include coarse{
        margin-right: 0;
    }

    &::before{
        @include pos_a(tr, 5px);
        content: 'NEWS';
        padding: 2px 3px;
        background: map-get($bg_color, red);
        font-size: 12px;
        z-index: 1;
    }
    &::after{
        @include pos_a(tr, 5px, 0);
        content: '';
        width: 5px;
        height: 18px;
        background: map-get($bg_color, black);
    }
    span{
        flex: 0 0 100%;
        white-space: nowrap;
        z-index: 0;
    }

    @keyframes marquee_move {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

}
