
// 寬度距離基本設定
@function distance($count: 1) {
	@return 5px * $count;
}

$num: 100; 
@while $num > 0 {
	.w#{$num} {
		width: $num * 1%;
	}
	.w#{$num}px {
		width: $num + px;
	}
	.mb#{$num} {
		margin-bottom: $num + px;
	}
	.mt#{$num} {
		margin-top: $num + px;
	}

	$num: $num - 1;
}

// 常用設定
%txtshadow{
	text-shadow: 2px 2px hsla(354, 29%, 7%, 0.5);
}
@mixin pos_abs($top , $right , $bottom , $left){
	position: absolute;
	top: $top;
	bottom: $bottom;
	right: $right;
	left: $left;
}
@mixin d_f($flex, $ai, $jc) {
	display: $flex;
	align-items: $ai;
	justify-content: $jc;
}
@mixin bg_set($x, $y, $repeat, $size) {
	background-position: $x $y;
	background-repeat: $repeat;
	background-size: $size;
}
// 多行縮字點點點
@mixin omission($line, $height) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
	overflow: hidden;
	max-height:$height;
}
// scroll
@mixin scrollbar($x, $y, $open:touch) {
	overflow-x: $x;
	overflow-y: $y;
	-webkit-overflow-scrolling: $open;
}
// 動畫
%transition {
	transition: all .3s ease-in-out;
}

// 自定義
// 選取勾勾
@mixin checktick($width, $height, $x, $y, $boder, $bc) {
	@include pos_abs($y, unset, unset, $x);
	content: none;
	display: block;
	width: $width;
	height: $height;
	border-width: 0 0 $boder $boder;
	border-style:  solid;
	border-color: $bc;
	transform: rotate(-48deg);
}

// 漸層背景字
@mixin bg_txt($bg, $size) {
	color: transparent;
	background: $bg;
	-webkit-background-clip: text;
	font-size: $size;
}

// 三角形
@mixin triangle ($size, $color, $align, $type: 0.8666666) {
	height: 0;
	width: 0;

	@if $align==top {
		border-bottom: ($size * $type) solid $color;
		border-left: ($size / 2) solid transparent;
		border-right: ($size / 2) solid transparent;
	}

	@else if $align==right {
		border-left: ($size * $type) solid $color;
		border-top: ($size / 2) solid transparent;
		border-bottom: ($size / 2) solid transparent;
	}

	@else if $align==bottom {
		border-top: ($size * $type) solid $color;
		border-left: ($size / 2) solid transparent;
		border-right: ($size / 2) solid transparent;
	}

	@else if $align==left {
		border-right: ($size * $type) solid $color;
		border-top: ($size / 2) solid transparent;
		border-bottom: ($size / 2) solid transparent;
	}

	@else if $align==right-top {
		border-right: $size solid $color;
		border-bottom: $size solid transparent;
	}

	@else if $align==left-top {
		border-left: $size solid $color;
		border-bottom: $size solid transparent;
	}

	@else if $align==right-bottom {
		border-right: $size solid $color;
		border-top: $size solid transparent;
	}

	@else if $align==left-bottom {
		border-left: $size solid $color;
		border-top: $size solid transparent;
	}
}

// loading元件
@mixin load_set($scale, $color) {
	.load_item {
		@include d_f(flex, center, center);
		@include pos_abs(0, 0, 0, 0);
		width: 150px;
		height: 150px;
		color: $color;
		text-shadow: 0 0 5px $color;
		font-size: 20px;
		text-transform: uppercase;
		transform: scale($scale);
		margin: auto;

		&::before,
		&::after {
			@include pos_abs(0, 0, 0, 0);
			content: "\0020";
			border-radius: 100px;
			border: 5px solid $color;
			box-shadow: 0 0 20px $color,
				0 0 20px $color inset;
			opacity: 0;
			animation: load_item 2s infinite;
		}

		&::after {
			animation: load_item 2s infinite 1s;
		}
	}
}
@keyframes load_item {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: scale(1);
		opacity: 0;
	}
}

// 漸層線
@mixin border($border_px, $border_img) {
	border: 1px solid #000;
	border-width: $border_px;
	border-image: $border_img;
}

// 百家按鈕基本組件
@mixin btn_set($width, $height, $bg){
	position: relative;
	width: $width;
	height: $height;
	background: $bg;
}
@mixin btn_txt($jc, $color, $shadow) {
	@include d_f(flex, center, $jc);
	@extend %hand;
	content: attr(data-txt);
	position: relative;
	width: 100%;
	height: 100%;	
	color: $color;
	text-shadow: 2px 1px $shadow;
	pointer-events: none;
}
// 內部span漸層
@mixin btn_hoveritem($bg_img) {
	@include pos_abs(0, unset, unset, 0);	
	width: 100%;
	height: 100%;
	background: $bg_img;
	opacity: 0;
	transition: all .3s .1s ease-in-out;
	@content;
}
// 按鈕圓弧反光層
@mixin btn_hoverlight01($bgx) {
	@include pos_abs(0, unset, unset, 0);
	content: '';
	width: 100%;
	height: 100%;
	background: radial-gradient(100% 105% ellipse, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .25) 51%, rgba(255, 255, 255, .25) 100%);
	background-size: $bgx 200%;
	background-repeat: no-repeat;
}
// 按鈕切角反光層
@mixin btn_hoverlight02 {
	@include pos_abs(0, unset, unset, 0);
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(127deg, rgba(255, 255, 255, .2) 40%, transparent 41%, transparent 100%);
}
// 按鈕50%銳利反光層
@mixin btn_hoverlight03 {
	@include pos_abs(0, unset, unset, 0);
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, .3) 50%, transparent 51%, transparent 100%);
}
// 按鈕50%模糊反光層
@mixin btn_hoverlight04 {
	@include pos_abs(0, 0, 0, 0);
	content: '';
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	background: linear-gradient(to bottom, rgba(255, 255, 255, .15) 0%, rgba(255, 255, 255, .15) 30%, transparent 60%, transparent 100%);
	margin: auto;
}
// ba3投注按鈕光點
@mixin btn_i($bg_img) {
	@include pos_abs(0, 0, 0, 0);
	background: linear-gradient(to right, transparent 0%, $bg_img 50%, transparent 100%) 0 3% / 100% 2px no-repeat;
	&::before{
		@include pos_abs(0, 0, 0, 0);
		content:'';
		background: linear-gradient(to right, transparent 0%, $bg_img 50%, transparent 100%) 0 97% / 100% 2px no-repeat;
	}
	&::after{
		@include pos_abs(0, 0, 0, 0);
		content:'';
		background: radial-gradient(ellipse at center, $bg_img 3%, transparent 40%) 0 -50% / 100% 150% no-repeat;
	}
}
// _on效果
@mixin btn_on($color) {
	&.--on{
		@extend %no_hand;
		@content;

		&::after {
			color: $color;
		}

		>span {
			opacity: 1;
		}
	}
	
}

// icon設定
$icon: (
	'member',
	'backlobby',
	'history',
	'rule',
	'card',
	'line',
	'logout',
	'back',
	'road_set',
	'groad01',
	'groad02',
	'groad03',
	'groad04',
	'groad05',
	'groad06',
	'groad07',
	'groad08',
	'rwm',
	'ibo',
);

@each $name in $icon {
	.icon_#{$name} {
		display: inline-block;
		background:url(../images/icon_#{$name}.svg) no-repeat center / contain;
	}
}



// RWD相關
$breakpoints: (
	pc: 1280px,
	big_pad: 1180px,
	pad: 1024px,
	pad_vl: 996px,
	ph: 599px
	);

@mixin mw_xl {
	@media screen and (max-width: map-get($breakpoints, "pc")) {
		@content;
	}
}

@mixin mw_lg {
	@media screen and (max-width: map-get($breakpoints, "big_pad")) {
		@content;
	}
}

@mixin mw_md {
	@media screen and (max-width: map-get($breakpoints, "pad")) {
		@content;
	}
}

@mixin mw_ms {
	@media screen and (max-width: map-get($breakpoints, "pad_vl")) {
		@content;
	}
}

@mixin mw_xs {
	@media screen and (max-width: map-get($breakpoints, "ph")) {
		@content;
	}
}


// 手指hover相關
// 一般
[class*="_btn"]:not(disable),
%hand {
	cursor: pointer;
	transition: all .2s ease-in-out;
}

%no_hand {
	cursor: default;
}

@mixin hoverHandler {
	@media (pointer: fine),
	(-moz-touch-enabled: 0),
	screen and (-ms-high-contrast: active),
	(-ms-high-contrast: none) {
		&:hover {
			@content;
		}
	}
	&:active {
		@content;
	}
}

// 按鈕
@mixin btn_hoverHandler($border, $txt) {

	@media (pointer: fine),
	(-moz-touch-enabled: 0),
	screen and (-ms-high-contrast: active),
	(-ms-high-contrast: none) {
		&:hover {
			border-width: $border;
			@content;

			&::after {
				color: $txt;
			}

			.hover_item {
				opacity: 1;
			}
		}
	}

	&:active {
		border-width: $border;
		@content;

		&::after {
			color: $txt;
		}

		.hover_item {
			opacity: 1;
		}
	}
}

