* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    height: 100%;
    background-image: url(/all_bg.png);
    background-color: #6DD0CD;
}

/* logo */
.nav_left {
    position: sticky;
    top: 32px;
    height: 0px;
    z-index: 999;
    margin-left: 50px;
    display: inline-block;
}

.nav_left img {
    width: 120px;
}


/* 主標 */
.course_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.course_title h1 {
    font-size: 3.5rem;
    color: #005F5F;
    display: flex;
    justify-content: center;
    margin-right: 48px;
}

.course_title img {
    height: 350px;
    justify-content: center;
    display: flex;
}

/* 右搜尋欄 */
/* 選單列表 */
.formItem {
    color: #005F5F;
    font-size: 24px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.formItem1 {
    text-align: center;
    margin-bottom: 48px;

}

.formItem1_select {
    background-color: antiquewhite;
    border-radius: 8px;
    width: 195px;
    height: 36px;
    margin-right: 48px;
    border: 2px solid #333333;
    padding: 4px 14px;
    color: #005F5F;

}

.step {
    letter-spacing: 0.2em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 8px;
}

/* 地圖卡片 */
.mappic img {
    border-radius: 20px;
    margin-right: 64px;
    width: 387px;
    height: 277px;
}

.mapcard {
    border-radius: 20px;
    border: 2px solid #333333;
    background-color: #FFF6E9;
    box-shadow: #333333 3px 3px;
    padding: 24px;
    width: 1140px;
    height: 325px;
    display: flex;
    /* margin-bottom: 48px; */
    /* margin: auto; */
    /* margin-top: 48px; */
    margin: 0 auto 48px;
    
}
.mapcardp1{
    display: flex;
}

.mapcardp {
    color: #333333;
    width: 100%;
    padding: 0 48px;

}

.mapcardp1 {
    margin-top: 23.25px;
    justify-content: space-between;
}

.mapcardp2 {
    margin-top: 23.25px;
}

.mapcardp3 {
    margin-top: 23.25px;
}

.mapcardp4 {
    margin-top: 23.25px;
}

.mapcardp5 {
    display: flex;
    justify-content: space-between;
    margin-top: 28.75px;
    color: #005F5F;
    align-items: center;
}

.mapcardp5 p {
    border: 2px solid #005F5F;
    padding: 2px;
    margin-right: 12px;
    border-radius: 5px;
    height: 30px;

}

.mapcardp5 span {
    display: flex;
}

.maplink {
    background: #005F5F;
    border: 2px solid #333333;
    box-shadow: 4px 4px 0px #333333;
    border-radius: 8px;
    padding: 8px 35px;
    color: #FFF6E9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    text-decoration: none;
    letter-spacing: 0.1em;
    transition-duration: .3s;
}

.maplink:hover {
    transform: translate(3px, 3px);
    box-shadow: none;
    color: #333333;
}
/* 收藏icon */
.mapcardp1 i{
 font-size: 2em;
}
/* 頁面選單 */
.bigpageitem {
    text-align: center;
}

.pagination {
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link {
    background-color: #005F5F;
    border: none;
    color: #FFF6E9;
    transition: .3s;
    text-decoration: none;
    height: 100%;
}

.page-link:hover {
    background-color: #FFF6E9;
}

.page-item:first-child .page-link {
    border-radius: 8px 0px 0px 8px;
}

.page-item:last-child .page-link {
    border-radius: 0px 8px 8px 0px;
}


footer {
    background-color: #005F5F;
    box-shadow: 0px -3px 0px #333333;
    padding: 11px 0px;
    margin-top: 48px;
}

footer p {
    color: #FFF6E9;
    font-size: 1rem;
    margin-bottom: 0px;
    text-align: center;
}
@media screen and (min-width:768px) {
    .nav_left img{
        display: block;
    }
    img {
        height: auto;
        max-width: 100%;
      }
          
}
