@charset "UTF-8";
* {
  font-family: 'Helvetica', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #1D1A31;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  font-size: 15px;
}

/* 
僅限ios15以上的safari瀏覽器
才加class在html上(高度改為100vh的class)
並於以下狀態
在html加上重整高度class(一秒後移除)
1.從登入頁進入到主框架時
2.鍵盤彈出後收起時 
*/
html.ios15_height,
html.ios15_height > body {
  height: 100vh;
}

html.ios15_height.main_rotate,
html.ios15_height.main_rotate > body {
  height: 100.1%;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -moz-outline: none;
  -webkit-tap-highlight-color: transparent;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="password"]::-webkit-textfield-decoration-container {
  visibility: hidden;
}

input,
button,
select,
textarea {
  font-family: 'Helvetica', sans-serif;
  padding: 0;
  border: 0;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  resize: none;
  font-size: 15px;
}

input::-ms-clear,
input::-ms-reveal,
select::-ms-expand {
  display: none;
}

.nofloat:after {
  content: '';
  display: table;
  clear: both;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tt {
  font-family: 'Helvetica', sans-serif;
}

@media only screen and (min-device-width: 1025px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border: 1px #f1f1f1 solid;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .5s linear;
    transition: background .5s linear;
  }
  *:hover::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
  }
  ::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
  }
}

.wrap {
  width: 100%;
  height: 100%;
}

.buttonBox {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.button1 .normal_btn {
  position: relative;
  padding: 5px 35px;
  border-radius: 100px;
  font-size: 14px;
  background-color: #3baeff;
  color: #fff;
  border: 1px solid #3baeff;
  cursor: pointer;
}

.button1 .normal_btn:hover {
  color: #ffffff;
  background-color: #222226;
  border-color: #222226;
  -webkit-transition: background 0.4s 0.4s, border-color 0.4s 0s, color 0.2s 0s;
  transition: background 0.4s 0.4s, border-color 0.4s 0s, color 0.2s 0s;
}

.button4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button4 .normal_btn {
  overflow: hidden;
  position: relative;
  width: 110px;
  height: 45px;
  padding: 12px 40px;
  color: #ffffff;
  background-color: #7b68ee;
}

.button4 .normal_btn::after {
  position: relative;
  display: block;
  content: attr(data-txt);
  pointer-events: none;
}

.button4 .normal_btn span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #3e57d0;
  -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 30px;
  pointer-events: none;
}

.button4 .normal_btn:hover span {
  width: 225%;
  height: 562.5px;
}
/*# sourceMappingURL=all.css.map */