.flag{background-image: url(../images/flag/flag_none.svg);}
.flag_SI{background-image: url(../images/flag/flag_SI.svg);}
.flag_SK{background-image: url(../images/flag/flag_SK.svg);}
.flag_AD{background-image: url(../images/flag/flag_AD.svg);}
.flag_AL{background-image: url(../images/flag/flag_AL.svg);}
.flag_ARM{background-image: url(../images/flag/flag_ARM.svg);}
.flag_AO{background-image: url(../images/flag/flag_AO.svg);}
.flag_AR{background-image: url(../images/flag/flag_AR.svg);}
.flag_AT{background-image: url(../images/flag/flag_AT.svg);}
.flag_AU{background-image: url(../images/flag/flag_AU.svg);}
.flag_AZ{background-image: url(../images/flag/flag_AZ.svg);}
.flag_BA{background-image: url(../images/flag/flag_BA.svg);}
.flag_BD{background-image: url(../images/flag/flag_BD.svg);}
.flag_BE{background-image: url(../images/flag/flag_BE.svg);}
.flag_BG{background-image: url(../images/flag/flag_BG.svg);}
.flag_BH{background-image: url(../images/flag/flag_BH.svg);}
.flag_BO{background-image: url(../images/flag/flag_BO.svg);}
.flag_BR{background-image: url(../images/flag/flag_BR.svg);}
.flag_BS{background-image: url(../images/flag/flag_BS.svg);}
.flag_BY{background-image: url(../images/flag/flag_BY.svg);}
.flag_CA{background-image: url(../images/flag/flag_CA.svg);}
.flag_CL{background-image: url(../images/flag/flag_CL.svg);}
.flag_CN{background-image: url(../images/flag/flag_CN.svg);}
.flag_CO{background-image: url(../images/flag/flag_CO.svg);}
.flag_CR{background-image: url(../images/flag/flag_CR.svg);}
.flag_CY{background-image: url(../images/flag/flag_CY.svg);}
.flag_CZ{background-image: url(../images/flag/flag_CZ.svg);}
.flag_DE{background-image: url(../images/flag/flag_DE.svg);}
.flag_DK{background-image: url(../images/flag/flag_DK.svg);}
.flag_DO{background-image: url(../images/flag/flag_DO.svg);}
.flag_DZ{background-image: url(../images/flag/flag_DZ.svg);}
.flag_EC{background-image: url(../images/flag/flag_EC.svg);}
.flag_EE{background-image: url(../images/flag/flag_EE.svg);}
.flag_EG{background-image: url(../images/flag/flag_EG.svg);}
.flag_FL{background-image: url(../images/flag/flag_FL.svg);}
.flag_FR{background-image: url(../images/flag/flag_FR.svg);}
.flag_GB{background-image: url(../images/flag/flag_GB.svg);}
.flag_GE{background-image: url(../images/flag/flag_GE.svg);}
.flag_GR{background-image: url(../images/flag/flag_GR.svg);}
.flag_GT{background-image: url(../images/flag/flag_GT.svg);}
.flag_HK{background-image: url(../images/flag/flag_HK.svg);}
.flag_HN{background-image: url(../images/flag/flag_HN.svg);}
.flag_HR{background-image: url(../images/flag/flag_HR.svg);}
.flag_HU{background-image: url(../images/flag/flag_HU.svg);}
.flag_ID{background-image: url(../images/flag/flag_ID.svg);}
.flag_IE{background-image: url(../images/flag/flag_IE.svg);}
.flag_IL{background-image: url(../images/flag/flag_IL.svg);}
.flag_IN{background-image: url(../images/flag/flag_IN.svg);}
.flag_IQ{background-image: url(../images/flag/flag_IQ.svg);}
.flag_IR{background-image: url(../images/flag/flag_IR.svg);}
.flag_IS{background-image: url(../images/flag/flag_IS.svg);}
.flag_IT{background-image: url(../images/flag/flag_IT.svg);}
.flag_JO{background-image: url(../images/flag/flag_JO.svg);}
.flag_JP{background-image: url(../images/flag/flag_JP.svg);}
.flag_KP{background-image: url(../images/flag/flag_KP.svg);}
.flag_KW{background-image: url(../images/flag/flag_KW.svg);}
.flag_KZ{background-image: url(../images/flag/flag_KZ.svg);}
.flag_LB{background-image: url(../images/flag/flag_LB.svg);}
.flag_LT{background-image: url(../images/flag/flag_LT.svg);}
.flag_LU{background-image: url(../images/flag/flag_LU.svg);}
.flag_LV{background-image: url(../images/flag/flag_LV.svg);}
.flag_MA{background-image: url(../images/flag/flag_MA.svg);}
.flag_MK{background-image: url(../images/flag/flag_MK.svg);}
.flag_ML{background-image: url(../images/flag/flag_ML.svg);}
.flag_MN{background-image: url(../images/flag/flag_MN.svg);}
.flag_MNE{background-image: url(../images/flag/flag_MNE.svg);}
.flag_MO{background-image: url(../images/flag/flag_MO.svg);}
.flag_MT{background-image: url(../images/flag/flag_MT.svg);}
.flag_MX{background-image: url(../images/flag/flag_MX.svg);}
.flag_MY{background-image: url(../images/flag/flag_MY.svg);}
.flag_NG{background-image: url(../images/flag/flag_NG.svg);}
.flag_NL{background-image: url(../images/flag/flag_NL.svg);}
.flag_NO{background-image: url(../images/flag/flag_NO.svg);}
.flag_NZ{background-image: url(../images/flag/flag_NZ.svg);}
.flag_OM{background-image: url(../images/flag/flag_OM.svg);}
.flag_PA{background-image: url(../images/flag/flag_PA.svg);}
.flag_PE{background-image: url(../images/flag/flag_PE.svg);}
.flag_PH{background-image: url(../images/flag/flag_PH.svg);}
.flag_PK{background-image: url(../images/flag/flag_PK.svg);}
.flag_PY{background-image: url(../images/flag/flag_PY.svg);}
.flag_SV{background-image: url(../images/flag/flag_SV.svg);}
.flag_AE{background-image: url(../images/flag/flag_AE.svg);}
.flag_CH{background-image: url(../images/flag/flag_CH.svg);}
.flag_ES{background-image: url(../images/flag/flag_ES.svg);}
.flag_GP{background-image: url(../images/flag/flag_GP.svg);}
.flag_JM{background-image: url(../images/flag/flag_JM.svg);}
.flag_KE{background-image: url(../images/flag/flag_KE.svg);}
.flag_KR{background-image: url(../images/flag/flag_KR.svg);}
.flag_LK{background-image: url(../images/flag/flag_LK.svg);}
.flag_MC{background-image: url(../images/flag/flag_MC.svg);}
.flag_MD{background-image: url(../images/flag/flag_MD.svg);}
.flag_MM{background-image: url(../images/flag/flag_MM.svg);}
.flag_NC{background-image: url(../images/flag/flag_NC.svg);}
.flag_NI{background-image: url(../images/flag/flag_NI.svg);}
.flag_PL{background-image: url(../images/flag/flag_PL.svg);}
.flag_PR{background-image: url(../images/flag/flag_PR.svg);}
.flag_PT{background-image: url(../images/flag/flag_PT.svg);}
.flag_QA{background-image: url(../images/flag/flag_QA.svg);}
.flag_RO{background-image: url(../images/flag/flag_RO.svg);}
.flag_RS{background-image: url(../images/flag/flag_RS.svg);}
.flag_RU{background-image: url(../images/flag/flag_RU.svg);}
.flag_SA{background-image: url(../images/flag/flag_SA.svg);}
.flag_SD{background-image: url(../images/flag/flag_SD.svg);}
.flag_SG{background-image: url(../images/flag/flag_SG.svg);}
.flag_SM{background-image: url(../images/flag/flag_SM.svg);}
.flag_SY{background-image: url(../images/flag/flag_SY.svg);}
.flag_TH{background-image: url(../images/flag/flag_TH.svg);}
.flag_TN{background-image: url(../images/flag/flag_TN.svg);}
.flag_TR{background-image: url(../images/flag/flag_TR.svg);}
.flag_TW{background-image: url(../images/flag/flag_TW.svg);}
.flag_UA{background-image: url(../images/flag/flag_UA.svg);}
.flag_US{background-image: url(../images/flag/flag_US.svg);}
.flag_UY{background-image: url(../images/flag/flag_UY.svg);}
.flag_UZ{background-image: url(../images/flag/flag_UZ.svg);}
.flag_VE{background-image: url(../images/flag/flag_VE.svg);}
.flag_VN{background-image: url(../images/flag/flag_VN.svg);}
.flag_YE{background-image: url(../images/flag/flag_YE.svg);}
.flag_ZA{background-image: url(../images/flag/flag_ZA.svg);}
.flag_ZW{background-image: url(../images/flag/flag_ZW.svg);}

.flag_WO{background-image: url(../images/flag/flag_WO.svg);}
.flag_AS{background-image: url(../images/flag/flag_AS.svg);}
.flag_EU{background-image: url(../images/flag/flag_EU.svg);}
.flag_WI{background-image: url(../images/flag/flag_WI.svg);}
.flag_GB_ENG{background-image: url(../images/flag/flag_GB_ENG.svg);}
.flag_GB_NIR{background-image: url(../images/flag/flag_GB_NIR.svg);}
.flag_GB_SCT{background-image: url(../images/flag/flag_GB_SCT.svg);}
.flag_GB_WLS{background-image: url(../images/flag/flag_GB_WLS.svg);}
.flag_UA_IN{background-image: url(../images/flag/flag_UA_IN.svg);}
.flag_CA_BC{background-image: url(../images/flag/flag_CA_BC.svg);}

.flag_AF{background-image: url(../images/flag/flag_AF.svg);}
.flag_AM{background-image: url(../images/flag/flag_AM.svg);}
.flag_BN{background-image: url(../images/flag/flag_BN.svg);}
.flag_CT{background-image: url(../images/flag/flag_CT.svg);}
.flag_EAS{background-image: url(../images/flag/flag_EAS.svg);}
.flag_INT{background-image: url(../images/flag/flag_INT.svg);}
.flag_ME{background-image: url(../images/flag/flag_ME.svg);}
.flag_NAM{background-image: url(../images/flag/flag_NAM.svg);}
.flag_OC{background-image: url(../images/flag/flag_OC.svg);}
.flag_SAM{background-image: url(../images/flag/flag_SAM.svg);}
.flag_SAS{background-image: url(../images/flag/flag_SAS.svg);}
.flag_SESA{background-image: url(../images/flag/flag_SESA.svg);}

/* e-sport */
.flag_eWC3{background-image: url(../images/flag/flag_eWC3.svg);}
.flag_eAOV{background-image: url(../images/flag/flag_eAOV.svg);}
.flag_eART{background-image: url(../images/flag/flag_eART.svg);}
.flag_eBA{background-image: url(../images/flag/flag_eBA.svg);}
.flag_eCOD{background-image: url(../images/flag/flag_eCOD.svg);}
.flag_eDOTA{background-image: url(../images/flag/flag_eDOTA.svg);}
.flag_eFT{background-image: url(../images/flag/flag_eFT.svg);}
.flag_eHS{background-image: url(../images/flag/flag_eHS.svg);}
.flag_eKOG{background-image: url(../images/flag/flag_eKOG.svg);}
.flag_eLOL{background-image: url(../images/flag/flag_eLOL.svg);}
.flag_eMLBB{background-image: url(../images/flag/flag_eMLBB.svg);}
.flag_eOP{background-image: url(../images/flag/flag_eOP.svg);}
.flag_eOW{background-image: url(../images/flag/flag_eOW.svg);}
.flag_ePUBG{background-image: url(../images/flag/flag_ePUBG.svg);}
.flag_eSC{background-image: url(../images/flag/flag_eSC.svg);}
.flag_eSC2{background-image: url(../images/flag/flag_eSC2.svg);}
.flag_eSMITE{background-image: url(../images/flag/flag_eSMITE.svg);}

/* add & edit in 2021/03/24 */
.flag_eCS{background-image: url(../images/flag/flag_eCS.svg);}
.flag_eurotour{background-image: url(../images/flag/flag_eurotour.svg);}
.flag_formulaone{background-image: url(../images/flag/flag_formulaone.svg);}
.flag_motogp{background-image: url(../images/flag/flag_motogp.svg);}
.flag_pgatour{background-image: url(../images/flag/flag_pgatour.svg);}
.flag_majors{background-image: url(../images/flag/flag_majors.svg);}

/* add & edit in 2021/04/26 */
.flag_atptour{background-image: url(../images/flag/flag_atptour.svg);}
.flag_boxing{background-image: url(../images/flag/flag_boxing.svg);}
.flag_mma{background-image: url(../images/flag/flag_mma.svg);}
.flag_wtatour{background-image: url(../images/flag/flag_wtatour.svg);}
.flag_badminton{background-image: url(../images/flag/flag_badminton.svg);}
.flag_basketball{background-image: url(../images/flag/flag_basketball.svg);}
.flag_eIH{background-image: url(../images/flag/flag_eIH.svg);}
.flag_football{background-image: url(../images/flag/flag_football.svg);}
.flag_handball{background-image: url(../images/flag/flag_handball.svg);}
.flag_rugby{background-image: url(../images/flag/flag_rugby.svg);}
.flag_snooker{background-image: url(../images/flag/flag_snooker.svg);}
.flag_tabletennis{background-image: url(../images/flag/flag_tabletennis.svg);}
.flag_tennis{background-image: url(../images/flag/flag_tennis.svg);}

/* add in 2021/06/22 */
.flag_olympics{background-image: url(../images/flag/flag_olympics.svg);}

/* add & edit in 2022/04/22 */
.flag_cricket{background-image: url(../images/flag/flag_cricket.svg);}
.flag_cycling{background-image: url(../images/flag/flag_cycling.svg);}
.flag_darts{background-image: url(../images/flag/flag_darts.svg);}
.flag_gymnastics{background-image: url(../images/flag/flag_gymnastics.svg);}
.flag_lottery{background-image: url(../images/flag/flag_lottery.svg);}
.flag_motorracing{background-image: url(../images/flag/flag_motorracing.svg);}
.flag_swimming{background-image: url(../images/flag/flag_swimming.svg);}
.flag_track{background-image: url(../images/flag/flag_track.svg);}
.flag_wintersports{background-image: url(../images/flag/flag_wintersports.svg);}

/* add for world cup */
.cup_flag.cup_AR{background-image: url(../images/flag/cup_AR.svg);}
.cup_flag.cup_AU{background-image: url(../images/flag/cup_AU.svg);}
.cup_flag.cup_BE{background-image: url(../images/flag/cup_BE.svg);}
.cup_flag.cup_BR{background-image: url(../images/flag/cup_BR.svg);}
.cup_flag.cup_CM{background-image: url(../images/flag/cup_CM.svg);}
.cup_flag.cup_CA{background-image: url(../images/flag/cup_CA.svg);}
.cup_flag.cup_CR{background-image: url(../images/flag/cup_CR.svg);}
.cup_flag.cup_HR{background-image: url(../images/flag/cup_HR.svg);}
.cup_flag.cup_DK{background-image: url(../images/flag/cup_DK.svg);}
.cup_flag.cup_EC{background-image: url(../images/flag/cup_EC.svg);}
.cup_flag.cup_ENG{background-image: url(../images/flag/cup_ENG.svg);}
.cup_flag.cup_FR{background-image: url(../images/flag/cup_FR.svg);}
.cup_flag.cup_DE{background-image: url(../images/flag/cup_DE.svg);}
.cup_flag.cup_GH{background-image: url(../images/flag/cup_GH.svg);}
.cup_flag.cup_IR{background-image: url(../images/flag/cup_IR.svg);}
.cup_flag.cup_JP{background-image: url(../images/flag/cup_JP.svg);}
.cup_flag.cup_KR{background-image: url(../images/flag/cup_KR.svg);}
.cup_flag.cup_MX{background-image: url(../images/flag/cup_MX.svg);}
.cup_flag.cup_MC{background-image: url(../images/flag/cup_MC.svg);}
.cup_flag.cup_NL{background-image: url(../images/flag/cup_NL.svg);}
.cup_flag.cup_NZ{background-image: url(../images/flag/cup_NZ.svg);}
/* .cup_flag.cup_PL{background-image: url(../images/flag/cup_PL.svg);}*/
.cup_flag.cup_PT{background-image: url(../images/flag/cup_PT.svg);}
.cup_flag.cup_QA{background-image: url(../images/flag/cup_QA.svg);}
.cup_flag.cup_SA{background-image: url(../images/flag/cup_SA.svg);}
.cup_flag.cup_SCT{background-image: url(../images/flag/cup_SCT.svg);}
.cup_flag.cup_SN{background-image: url(../images/flag/cup_SN.svg);}
.cup_flag.cup_RS{background-image: url(../images/flag/cup_RS.svg);}
.cup_flag.cup_ES{background-image: url(../images/flag/cup_ES.svg);}
.cup_flag.cup_CH{background-image: url(../images/flag/cup_CH.svg);}
.cup_flag.cup_TN{background-image: url(../images/flag/cup_TN.svg);}
.cup_flag.cup_AE{background-image: url(../images/flag/cup_AE.svg);}
/* .cup_flag.cup_UA{background-image: url(../images/flag/cup_UA.svg);} */
.cup_flag.cup_US{background-image: url(../images/flag/cup_US.svg);}
.cup_flag.cup_UY{background-image: url(../images/flag/cup_UY.svg);}
/* .cup_flag.cup_WLS{background-image: url(../images/flag/cup_WLS.svg);} */

/* add in 2022/07/04 */
.flag_FO{background-image: url(../images/flag/flag_FO.svg);}

/* add in 2023/01/30 */
.flag_VAL{background-image: url(../images/flag/flag_VAL.svg);}
.flag_LOLWR{background-image: url(../images/flag/flag_LOLWR.svg);}

/* add in 2023/04/24 */
.flag_KH{background-image: url(../images/flag/flag_KH.svg);}

/* add & edit in 2023/06/21 */
.flag_otPOL{background-image: url(../images/flag/flag_otPOL.svg);}
.flag_otFM{background-image: url(../images/flag/flag_otFM.svg);}
.flag_ePKMN{background-image: url(../images/flag/flag_ePKMN.svg);}
.flag_eAoE2{background-image: url(../images/flag/flag_eAoE2.svg);}
.flag_eAoE{background-image: url(../images/flag/flag_eAoE.svg);}
.flag_eFreefire{background-image: url(../images/flag/flag_eFreefire.svg);}
.flag_eCrossfire{background-image: url(../images/flag/flag_eCrossfire.svg);}
.flag_otAWD{background-image: url(../images/flag/flag_otAWD.svg);}
.flag_otSPB{background-image: url(../images/flag/flag_otSPB.svg);}
.flag_CG{background-image: url(../images/flag/flag_CG.svg);}
.flag_otCrypto{background-image: url(../images/flag/flag_otCrypto.svg);}
.flag_eRL{background-image: url(../images/flag/flag_eRL.svg);}
.flag_eR6{background-image: url(../images/flag/flag_eR6.svg);}
.flag_ES_AR{background-image: url(../images/flag/flag_ES_AR.svg);}
.flag_BWF_WT{background-image: url(../images/flag/flag_BWF_WT.svg);}
.flag_BWF_WC{background-image: url(../images/flag/flag_BWF_WC.svg);}
.flag_BWF_OT{background-image: url(../images/flag/flag_BWF_OT.svg);}
.flag_TN_GSTA{background-image: url(../images/flag/flag_TN_GSTA.svg);}

/* add & edit in 2024/03/18 */
.cup_flag.cup_AL{background-image: url(../images/flag/cup_AL.svg);}
.cup_flag.cup_AUT{background-image: url(../images/flag/cup_AUT.svg);}
.cup_flag.cup_BA{background-image: url(../images/flag/cup_BA.svg);}
.cup_flag.cup_CZ{background-image: url(../images/flag/cup_CZ.svg);}
.cup_flag.cup_EE{background-image: url(../images/flag/cup_EE.svg);}
.cup_flag.cup_FI{background-image: url(../images/flag/cup_FI.svg);}
.cup_flag.cup_GEO{background-image: url(../images/flag/cup_GEO.svg);}
.cup_flag.cup_GR{background-image: url(../images/flag/cup_GR.svg);}
.cup_flag.cup_HU{background-image: url(../images/flag/cup_HU.svg);}
.cup_flag.cup_IS{background-image: url(../images/flag/cup_IS.svg);}
.cup_flag.cup_IL{background-image: url(../images/flag/cup_IL.svg);}
.cup_flag.cup_IT{background-image: url(../images/flag/cup_IT.svg);}
.cup_flag.cup_KAZ{background-image: url(../images/flag/cup_KAZ.svg);}
.cup_flag.cup_LU{background-image: url(../images/flag/cup_LU.svg);}
.cup_flag.cup_PL{background-image: url(../images/flag/cup_PL.svg);}
.cup_flag.cup_RO{background-image: url(../images/flag/cup_RO.svg);}
.cup_flag.cup_SK{background-image: url(../images/flag/cup_SK.svg);}
.cup_flag.cup_SI{background-image: url(../images/flag/cup_SI.svg);}
.cup_flag.cup_TR{background-image: url(../images/flag/cup_TR.svg);}
.cup_flag.cup_UA{background-image: url(../images/flag/cup_UA.svg);}
.cup_flag.cup_WLS{background-image: url(../images/flag/cup_WLS.svg);}

/* add in 2024/07/30 */
.flag_BT{background-image: url(../images/flag/flag_BT.svg?v4);}



