/* login.html edit 19/08/06 */
i>svg {
	display: block;
	width: 100%;
	height: 100%;
}

input[type="text"] {
	transform: translate3d(0, 0, 0);
}

input[type="button"] {
	cursor: pointer;
}

.login {
	background-color: var(--comm_bg);
}

.bg_login {
	display: flex;
	flex-direction: column;
	flex: none;
	width: 100%;
	min-height: 100%;
	padding: 16px;
}

.ios15 .bg_login {
	height: -webkit-fit-content;
	padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
}

.box_language {
	order: 2;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 12px 0;
	text-align: center;
	font-size: 14px;
	border-top: 1px solid var(--log_btnLan_bd);
}

.btn_language {
	display: inline-block;
	margin: 6px 8px;
	line-height: 24px;
	cursor: pointer;
	transition: all 0.3s ease;
	color: var(--log_btnLan_tx);
}

.btn_language.on {
	color: var(--log_btnLan_tx_on);
}

.icon_login {
	display: block;
	width: 55px;
	height: 55px;
	margin: 16px auto;
	border-radius: 50%;
	background: url(../images/icon_login.svg) no-repeat;
	background-size: contain;
}

.box_login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 1 1 auto;
	order: 0;
	width: 100%;
	max-width: 320px;
	margin: 16px auto;
}

.lab_input {
	position: relative;
	display: block;
	width: 100%;
	height: 48px;
	margin-bottom: 16px;
}

.input_chgpwd .lab_input {
	margin-bottom: 0;
}

.lab_input>input {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 32px 0 16px;
	font-size: 16px;
	border-radius: 4px;
	box-shadow: none;
	transition: all 0.3s ease;
	pointer-events: auto;
	background-color: var(--comm_inp_bg);
	color: var(--comm_inp_tx);
	border: 1px solid var(--comm_inp_bd);
}

input.userid {
	font-family: TAHOMA2, "Times New Roman", Georgia;
}

.text_input {
	line-height: normal !important;
	pointer-events: none;
}

.text_input:after {
	content: attr(data-tooltip);
	position: absolute;
	top: 0px;
	left: 14px;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 4px;
	font-size: 16px;
	transition: all 0.3s ease, background 0.1s 0.1s;
	background-color: var(--comm_inpP_bg);
	color: var(--comm_inpP_tx);
}

.lab_input>input:valid~.text_input:after {
	top: -8px;
	height: 16px;
	font-size: 12px;
	background-color: var(--comm_inpP_bg_vl);
	color: var(--comm_inpP_tx_vl);
}

.lab_input.error>input {
	border: 2px solid var(--comm_inp_er) !important;
}

.lab_input.error>input:valid~.text_input:after,
.lab_input.on.error .text_input:after {
	color: var(--comm_inp_er) !important;
}

.text_error {
	display: block;
	width: 100%;
	margin-bottom: 16px;
	line-height: 16px;
	text-align: center;
	font-size: 12px;
	color: var(--comm_msg_tx_er);
}

.lab_input .btn_clear {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 32px;
	height: 32px;
	padding: 8px;
	background-image: url(../images/icon_close_b.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: none !important;
	pointer-events: auto;
	z-index: -1;
}

.lab_input .btn_clear svg {
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	fill: var(--comm_inp_fi);
}

.btn_login {
	width: 100%;
	height: 48px;
	margin-bottom: 16px;
	padding: 0 16px;
	border-radius: 4px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	border: none;
	line-height: 48px;
	transition: background 0.3s ease;
	background-color: var(--comm_btn_bg);
	color: var(--comm_btn_tx);
}

.box_remember {
	width: 100%;
	height: 48px;
	margin-bottom: 11px;
	line-height: 48px;
	text-align: left;
}

.lab_radio {
	position: relative;
	float: left;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--comm_rdo_tx);
}

.check_remember {
	height: 48px;
	margin-right: 8px;
}

.lab_radio input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 3px;
	vertical-align: middle;
	border-radius: 50%;
	background: url('../images/icon_check.svg') no-repeat;
	background-size: contain;
	background-position: -24px;
	border: 1px solid var(--comm_rdo_bd);
}

.lab_radio tt {
	display: inline-block;
	margin-left: 4px;
	vertical-align: middle;
	font-size: 14px;
	color: var(----comm_rdo_tx);
}

.lab_radio input:checked~.checkmark {
	border: none !important;
	background: url("../images/icon_check.svg") no-repeat var(--comm_rdo_bg);
}

.btn_forgot {
	float: right;
	display: block;
	margin-top: 1px;
	text-align: right;
	font-size: 14px;
	color: #0066CC;
	cursor: pointer;
}

.btn_passcode {
	width: 100%;
	height: 48px;
	margin-bottom: 16px;
	padding: 0 16px;
	line-height: 48px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 600;
	border: none;
	transition: background 0.3s ease;
	background-color: #9b8d79;
	color: #fff;
}

.btn_oldsite {
	width: 100%;
	height: 48px;
	line-height: 48px;
	padding: 0 16px;
	border-radius: 4px;
	font-size: 14px;
	border: none;
	color: #007ba8;
	background: #fff;
	transition: background 0.3s ease;
	/* display: none!important; */
}

.gridContainer.clearfix.login {
	background: none;
}

.gridContainer.clearfix {
	width: 100%;
}

.open_bet,
.open_bet.chg_psw_title {
	background-image: url(../images/bg_all_sport.png);
	background-position: bottom;
}

.box_img {
	display: block;
	width: 100%;
	max-width: 320px;
	margin: 16px auto 0 auto;
}

.img_ip {
	position: relative;
	display: flex;
	/* display: none; */
	width: 100%;
	height: 156px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.img_ip a {
	width: 172px;
}

.img_ip .btn_ipguide {
	width: auto;
	height: 100%;
	flex: 1 1 auto;
	cursor: pointer;
}

.img_ip.no_ip a {
	pointer-events: none;
}

.img_ip span {
	position: absolute;
	display: inline-flex;
	height: 32px;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	color: #0499C8;
	align-items: center;
}

.TW .img_ip span,
.CN .img_ip span {
	top: 90px;
	left: 16px;
}

.EN .img_ip span {
	top: 97px;
	left: 16px;
}

.TW .img_ip {
	background-image: url('../images/img_ip_tw.png');
}

.CN .img_ip {
	background-image: url('../images/img_ip_cn.png');
}

.EN .img_ip {
	background-image: url('../images/img_ip_en.jpg');
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.TW .img_ip {
		background-image: url('../images/img_ip_tw2.jpg');
	}

	.CN .img_ip {
		background-image: url('../images/img_ip_cn2.jpg');
	}

	.EN .img_ip {
		background-image: url('../images/img_ip_en2.jpg');
	}
}


.img_festival {
	display: none;
	/* display: block; */
	width: 100%;
	padding-bottom: 40.625%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

/*
.TW .img_festival{background-image: url('../images/festival_tw.jpg');}
.CN .img_festival{background-image: url('../images/festival_cn.jpg');}
.EN .img_festival{background-image: url('../images/festival_en.jpg');}
*/


.lab_input.on>input {
	border: 2px solid var(--comm_inp_bd_on);
}

.lab_input.on .text_input:after {
	top: -8px;
	height: 16px;
	font-size: 12px;
	background-color: var(--comm_inpP_bg_on);
	color: var(--comm_inpP_tx_on) !important;
}

.lab_input.error.on>input {
	border: 2px solid var(--comm_inp_er) !important;
}

.lab_input.error.on .text_input:after {
	top: -8px;
	font-size: 12px;
	color: var(--comm_inp_er);
}

.lab_input.on>input:valid~.btn_clear {
	z-index: 1;
	cursor: pointer;
}

.lab_input .btn_clear:active {
	z-index: 1;
}

.lab_input .btn_clear {
	z-index: -1;
}

.lab_input.on .icon_status {
	visibility: hidden;
}

.box_browser {
	display: flex;
	flex-direction: column;
	align-content: center;
	flex: none;
	width: 100%;
	max-width: 320px;
	margin: 16px auto;
	padding: 16px;
	line-height: 16px;
	font-size: 14px;
	color: #000;
	background: #fff;
}

.box_browser>span {
	width: 100%;
	font-weight: bold;
}

.box_browser a {
	display: inline-block;
	color: #0066CC;
	cursor: pointer;
}

.wrap_browser {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 16px 0;
}

.btn_browser {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 64px;
	height: 84px;
	margin-right: 8px;
	line-height: 16px;
	font-size: 12px;
	border-radius: 8px;
	color: #000;
	cursor: pointer;
}

.btn_browser span {
	font-size: 12px;
}

.btn_browser:last-child {
	margin-right: 0;
}

.btn_browser i {
	width: 56px;
	height: 56px;
	margin-bottom: 4px;
	border-radius: 50%;
	background-position: top center;
	background-size: cover;
}

.icon_chrome {
	background-image: url('../images/icon_chrome.svg');
}

.icon_uc {
	background-image: url('../images/icon_uc.svg');
}

.icon_safari {
	background-image: url('../images/icon_safari.svg');
}

.icon_firefox {
	background-image: url('../images/icon_firefox.svg');
}


/* first_login */
.title_chgpwd {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 56px;
	margin-bottom: 16px;
	padding: 0 8px 0 16px;
	line-height: 56px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background: #503f32;
}

.mobile .btn_oldsite {
	display: none !important;
}

.title_chgpwd span {
	display: inline-block;
	font-size: 16px;
}

.btn_help {
	position: absolute;
	top: 0;
	right: 8px;
	display: inline-block;
	width: 32px;
	height: 32px;
	padding: 8px;
	margin: 12px 0;
}

.btn_help svg {
	display: block;
	width: 100%;
	height: 100%;
	fill: #fff;
	opacity: 0.64;
}

.content_chgpwd {
	margin: 0 auto;
	padding: 0 16px 16px 16px;
}

@media screen and (min-width: 1024px) {
	.title_chgpwd {
		margin-bottom: 32px;
	}

	.first_login_help {
		margin-bottom: 16px;
	}

	.content_chgpwd {
		width: 100%;
		max-width: 650px;
		padding: 0 0 16px 0;
	}
}

.content_chgpwd .text_user {
	display: block;
	line-height: 16px;
	margin-bottom: 16px;
	font-size: 14px;
	color: #000;
}

.content_chgpwd .text_user b {
	font-weight: bold;
}

.content_chgpwd .text_sub,
.content_chgpwd .text_normal {
	font-size: 14px;
	color: #000;
}

.content_chgpwd .text_sub {
	display: flex;
	min-height: 16px;
	line-height: 16px;
	align-items: center;
}

.content_chgpwd.forpwd .text_sub {
	margin: 16px 0 24px 0;
}

.content_chgpwd.forpwd .text_normal {
	margin: 0 0 24px 0;
}

.forpwd .text_sub.text_sub_st4 {
	margin: 0 0 16px 0;
}

.forpwd_help .text_normal {
	margin: 0 0 16px 0;
}

.input_chgpwd {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 24px;
}

.input_chgpwd .lab_login {
	margin-bottom: 0;
	flex: 1 1 auto;
}

.icon_status {
	position: absolute;
	top: 0px;
	right: 87px;
	display: block;
	width: 40px;
	height: 100%;
	background: url('../images/icon_allow.svg') no-repeat center left;
	z-index: 1;
}

.icon_status.error {
	display: block !important;
	visibility: visible !important;
	background: url('../images/icon_disallow.svg') no-repeat center left;
}

.btn_choose {
	width: 79px;
	height: 48px;
	line-height: 48px;
	margin-left: 8px;
	flex: 0 0 79px;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	background: #19805c;
	cursor: pointer;
}

.btn_choose.unable {
	background: rgba(0, 0, 0, 0.24);
	pointer-events: none;
}

.tip_chgpwd {
	width: 100%;
	margin-top: 16px;
	padding: 16px;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.64);
	background: #ededed;
}

.forpwd .tip_chgpwd {
	margin: 0 0 16px 0;
}

.tip_chgpwd b,
.tip_forpwd b {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}

.text_msg {
	display: block;
	width: 100%;
	line-height: 16px;
	margin-top: 16px;
	text-align: center;
	font-size: 12px;
	color: #19805c;
}

.text_msg.error {
	color: #ce3636;
}

.btn_chgpwd {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 16px;
}

.btn_chgpwd>div {
	display: inline-block;
	flex: 1 1 auto;
	width: 50%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
}

.btn_chgpwd>div~div {
	margin-left: 16px;
}

.btn_chgpwd .btn_submit,
.box_help_btn .btn_submit {
	background-color: var(--comm_btn_bg);
	color: var(--comm_btn_tx);
}

.btn_sendcode {
	width: 100%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	color: #fff;
	background: #9b8d79;
}

/* Change the password */
.chg_psw_title {
	width: 100%;
	height: 48px;
	background: #503F32;
	line-height: 48px;
	text-align: center;
}

.chg_psw_title.no_login {
	color: #fff;
}

.chg_psw_title i {
	display: block;
	position: absolute;
	width: 32px;
	height: 32px;
	margin: 8px;
	padding: 8px;
	line-height: 32px;
	background-position: center;
	background-repeat: no-repeat;
}

.noteBox {
	margin-bottom: 24px;
}

.noteBox1 {
	display: block;
	width: 100%;
	line-height: 20px;
	color: #000;
	font-size: 14px;
	margin-bottom: 8px;
}

.EN .noteBox1 {
	margin-bottom: 1rem;
}

.noteBox2 {
	display: block;
	width: 100%;
	line-height: 20px;
	color: #000;
	font-size: 14px;
}

.noteBox2 li {
	list-style-type: decimal;
	margin-left: 1rem;
	margin-bottom: 1rem;
	padding-left: 1rem;
}

.noteBox2 li:last-child {
	margin-bottom: 0;
}

.btn_cancel {
	display: block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	transition: background 0.3s ease;
	color: #fff;
	background: #7a7a7a;
}

/* Help set mail */

.deepGrayBtn {
	display: block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	-webkit-box-flex: 1;
	background: #19805c;
	color: #fff;
}

.betSubmitBtn.error,
.deepGrayBtn.error {
	background: rgba(0, 0, 0, 0.24);
}

.forpwd_help li {
	margin: 16px 0 16px 16px;
	margin-bottom: 16px;
	list-style: decimal;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.64);
}

.forpwd_help li:first-child {
	margin-top: 0px;
}

.img_chgpwd {
	width: 100%;
	height: 584px;
	margin-top: 16px;
	background-repeat: no-repeat;
	background-position: center center;
}

.TW .img_chgpwd1 {
	background-image: url(../images/img_chgid_1_tw.jpg);
}

.TW .img_chgpwd2 {
	background-image: url(../images/img_chgid_2_tw.jpg);
}

.TW .img_chgpwd3 {
	background-image: url(../images/img_chgid_3_tw.jpg);
}

.TW .img_chgpwd4 {
	background-image: url(../images/img_chgid_1_tw.jpg);
}

.CN .img_chgpwd1 {
	background-image: url(../images/img_chgid_1_tw.jpg);
}

.CN .img_chgpwd2 {
	background-image: url(../images/img_chgid_2_tw.jpg);
}

.CN .img_chgpwd3 {
	background-image: url(../images/img_chgid_3_tw.jpg);
}

.CN .img_chgpwd4 {
	background-image: url(../images/img_chgid_1_tw.jpg);
}

.EN .img_chgpwd1 {
	background-image: url(../images/img_chgid_1_en.jpg);
}

.EN .img_chgpwd2 {
	background-image: url(../images/img_chgid_2_en.jpg);
}

.EN .img_chgpwd3 {
	background-image: url(../images/img_chgid_3_en.jpg);
}

.EN .img_chgpwd4 {
	background-image: url(../images/img_chgid_1_en.jpg);
}

.title_chgpwd .btn_close {
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
	margin-top: 4px;
	padding: 8px;
}

.title_chgpwd .btn_close i {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 8px;
	background-image: url(../images/icon_close.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 16px;
	opacity: 0.56;
}

.title_chgpwd .btn_close svg {
	display: block;
	width: 100%;
	height: 100%;
	fill: #fff;
}

.help_pwd {
	width: 100%;
}

.title_help {
	display: flex;
	width: 100%;
	height: 48px;
	align-items: center;
	flex: none;
	background-image: url('../images/bg_acc_title.jpg');
	background-position: bottom;
}

.title_help .btn_back {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 8px;
	flex: 0 0 32px;
	transition: background 0.3s ease;
}

.title_help .btn_back i {
	display: block;
	width: 100%;
	height: 100%;
	padding: 8px;
}

.btn_back svg {
	fill: var(--comm_titleBtn_fi);
}

.title_help span {
	display: inline-block;
	width: calc(100% - 96px);
	height: 24px;
	line-height: 24px;
	padding: 0 4px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	flex: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: var(--comm_title_tx);
}

.box_help_pwd {
	width: 100%;
}

.text_help_pwd {
	width: 100%;
	margin-bottom: 24px;
	padding: 0 16px;
	line-height: 16px;
	font-size: 14px;
	color: #000;
}

.box_help_input {
	width: 100%;
	padding: 0 16px;
}

.box_help_pwd .text_error {
	display: block;
}

.box_help_btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 16px;
}

.box_help_btn+.box_help_btn {
	margin-top: 16px;
}

.box_help_pwd .btn_cancel,
.box_help_pwd .btn_next,
.box_help_pwd .btn_submit,
.box_help_pwd .btn_safecode {
	display: inline-block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	flex: 1 1 auto;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	color: #fff;
}

.btn_next {
	background: #19805c;
}

.btn_safecode {
	background: #9b8d79;
}

@media screen and (min-width: 1024px) {
	.box_help_pwd {
		width: 100%;
		max-width: 650px;
		margin: 0 auto;
	}

	.box_help_note {
		margin: 16px 0;
	}

	.box_pwd_mail,
	.box_help_pwd .text_help_pwd,
	.box_help_pwd .box_help_input,
	.box_help_pwd .box_help_btn {
		padding: 0;
	}
}


/* help_pwd02 */
.box_pwd_mail {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 48px;
	margin-bottom: 16px;
	padding: 0 8px 0 16px;
	border-bottom: 2px solid #e6e6e6;
}

.box_pwd_mail span {
	display: block;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

.box_pwd_mail .btn_edit,
.box_pwd_mail .btn_delet {
	display: block;
	width: 32px;
	height: 32px;
	padding: 8px;
	flex: none;
}

.box_pwd_mail .btn_delet {
	margin-left: 8px;
}

.box_pwd_mail .btn_edit svg,
.box_pwd_mail .btn_delet svg {
	width: 100%;
	height: 100%;
	fill: rgba(0, 0, 0, 0.56);
}

.box_help_note {
	width: auto;
	margin: 16px;
	padding: 16px;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.64);
	background: #ededed;
}

.box_help_note span {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}

.help_pwd04 .text_help_pwd {
	margin: 16px 0;
}

.msg_help_pwd {
	position: fixed;
	bottom: 16px;
	width: 100%;
	padding: 0 16px;
}

.msg_help_pwd .box_msg {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 64px;
	padding: 0 0 0 16px;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.88);
	background: rgba(0, 0, 0, 0.72);
}

.msg_help_pwd .box_msg span {
	display: block;
	width: 100%;
	flex: 1 1 auto;
	text-align: left;
}

.msg_help_pwd .btn_msg {
	width: 48px;
	height: 48px;
	line-height: 48px;
	margin-left: 24px;
}

.lab_input .btn_delet {
	display: none;
}

.input_safecode {
	text-transform: uppercase;
}

/* 1st login set user id */
.chgid_input {
	position: relative;
}

.chgid_input .error~.error .btn_clear {
	display: none !important;
}

.chgid_input input::selection,
.chgid_input input::-moz-selection {
	color: #fff;
	background: #449bf9;
}

.chgid_input .lab_input>input {
	padding: 0 40px 0 16px;
}


/* System Requirements */
.sys {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	width: 100%;
	height: 100%;
}

.sys:empty {
	display: none;
	height: auto;
}

.title_sys {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 48px;
	line-height: 48px;
	padding: 0 8px 0 16px;
	margin-bottom: 32px;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background: #503f32;
}

.title_sys span {
	font-size: 16px;
}

.title_sys .btn_back {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 8px;
	flex: 0 0 32px;
	cursor: pointer;
	transition: background 0.3s ease;
}

.title_sys .btn_back i {
	display: block;
	width: 100%;
	height: 100%;
	padding: 8px;
	transform: rotate(180deg);
}

.title_sys .btn_back svg {
	fill: #fff;
}

.content_sys {
	width: 100%;
	padding-top: 80px;
	padding-bottom: 32px;
	flex: none;
}

.box_l .content_sys {
	max-width: unset;
	padding-top: 0;
	transform: translate3d(0, 0, 0);
	will-change: opacity;
}

.content_sys .title_help {
	margin-bottom: 32px;
	background-image: url(../images/bg_title.png), var(--title_bg);
	background-position: center;
	background-repeat: no-repeat;
}

.box_sys {
	max-width: 650px;
	margin: 0 auto;
	color: var(--help_tx);
}

@media screen and (max-width: 1023px) {
	.box_sys {
		padding: 0 16px;
	}
}

.text_sys {
	display: block;
	margin-bottom: 16px;
	line-height: 16px;
	font-size: 14px;
	color: var(--help_tx);
}

.subtitle_sys {
	display: block;
	margin-bottom: 16px;
	line-height: 16px;
	font-size: 14px;
	font-weight: bold;
}

.table_sys {
	width: 100%;
	margin-bottom: 16px;
	font-size: 14px;
	table-layout: fixed;
	border-collapse: collapse;
}

.table_sys tr {
	padding: 0 8px;
}

.table_sys tr {
	border-bottom: #e6e6e6 solid 1px;
}

.table_sys tr.table_sys_title,
.table_sys tr:last-child {
	border-bottom: none;
}

.table_sys tr.table_sys_title {
	background-color: var(--help_th_bg);
}

.table_sys th {
	height: 32px;
	padding: 0 8px;
	line-height: 16px;
	font-size: 14px;
	text-align: left;
	font-weight: 400;
}

.table_sys td {
	height: 48px;
	padding: 0 8px;
	line-height: 16px;
}

.table_sys a {
	color: var(--help_link_tx);
	cursor: pointer;
}

.box_sys p {
	font-size: 14px;
	font-weight: 400;
}

.btn_sys {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 288px;
	height: 48px;
	margin: 32px auto 0 auto;
	padding: 4px 8px;
	font-size: 14px;
	font-weight: 700;
	border-radius: 4px;
	color: #525252;
	border: #525252 solid 1px;
	background: #fff;
	cursor: pointer;
}

/* IP Access Guide */
.title_ipguide {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 48px;
	line-height: 48px;
	padding: 0 8px 0 16px;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background: #503f32;
	z-index: 1;
}

.title_ipguide span {
	font-size: 16px;
}

.title_ipguide .btn_back {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 8px;
	flex: 0 0 32px;
	cursor: pointer;
	transition: background 0.3s ease;
}

.title_ipguide .btn_back i {
	display: block;
	width: 100%;
	height: 100%;
	padding: 8px;
	transform: rotate(180deg);
}

.title_ipguide .btn_back svg {
	fill: #fff;
}

.tab_ipguide {
	width: calc(100% + 32px);
	height: 48px;
	margin: 0 0 16px -16px;
	flex: none;
	background-image: url('../images/bg_acc_title.jpg');
	background-position: bottom;
	background-color: #e1dbd8;
	background-repeat: no-repeat;
}

.tab_ipguide label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 320px;
	margin: 0 auto;
}

.btn_tab_ipguide {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	flex: 1 1 auto;
	color: rgba(0, 0, 0, 0.64);
	cursor: pointer;
	transition: color 0.3s ease, background 0.3s ease;
}

.btn_tab_ipguide.on {
	padding-top: 2px;
	color: #A78025;
	border-bottom: 2px solid #A78025;
}

.content_ipguide .loading {
	position: absolute;
	top: 96px;
	display: none;
	width: 100%;
	height: calc(100% - 96px);
}

.content_ipguide .loading_on {
	display: flex;
}

.loading_on .content_ipguide .loading_on~.intro_ipguide,
.content_ipguide .loading_on~.intro_system,
.content_ipguide .loading_on~.btn_vist {
	display: none;
}

.content_ipguide {
	width: calc(100vw - env(safe-area-inset-right) * 2);
	margin: 0 auto;
	padding: 48px 16px 0 16px;
	flex: none;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.72);
}

.intro_ipguide {
	width: 100%;
	max-width: 650px;
	margin: 0 auto 16px auto;
	padding: 16px;
	line-height: 16px;
	font-size: 14px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.04);
}

.intro_ipguide b {
	display: block;
	margin-bottom: 16px;
	color: #000;
}

.title_step {
	display: flex;
	width: 100%;
	max-width: 650px;
	height: 32px;
	margin-bottom: 16px;
	padding: 8px 16px 8px 12px;
	align-items: center;
	font-weight: 700;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.04);
	border-left: 4px solid rgba(0, 0, 0, 0.08);
}

.title_step span {
	color: #A78025;
}

.intro_system {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.img_ipguide {
	position: relative;
	display: block;
	width: 290px;
	margin-bottom: 16px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.img_ipguide:last-child {
	margin-bottom: 0;
}

.btn_vist {
	display: block;
	width: 100%;
	margin-top: 16px;
	padding: 20px 24px;
	font-size: 14px;
	color: #0066cc;
}

.btn_vist div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	cursor: pointer;
}

.firefox .title_system {
	display: block;
	width: 100%;
	max-width: 650px;
	line-height: 16px;
	margin-bottom: 16px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.72);
}

@media screen and (min-width: 1px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5) {

	/* zh-tw */
	.TW .chrome .img_ipguide_1 {
		height: 383px;
		background-image: url('../images/img_ipguide_chrome_ph1_tw.png');
	}

	.TW .chrome .img_ipguide_2 {
		height: 258px;
		background-image: url('../images/img_ipguide_chrome_ph2_tw.png');
	}

	.TW .safari .img_ipguide_1 {
		height: 336px;
		background-image: url('../images/img_ipguide_safari_ph1_tw.png');
	}

	.TW .safari .img_ipguide_2 {
		height: 421px;
		background-image: url('../images/img_ipguide_safari_ph2_tw.png');
	}

	.TW .safari .img_ipguide_3 {
		height: 505px;
		background-image: url('../images/img_ipguide_safari_ph3_tw.png');
	}

	.TW .firefox .img_ipguide_1 {
		height: 502px;
		background-image: url('../images/img_ipguide_firefox_ph1_tw.png');
	}

	.TW .firefox .img_ipguide_2 {
		height: 355px;
		background-image: url('../images/img_ipguide_firefox_ph2_tw.png');
	}

	.TW .firefox .img_ipguide_3 {
		height: 365px;
		background-image: url('../images/img_ipguide_firefox_ph3_tw.png');
	}

	.TW .firefox .img_ipguide_4 {
		height: 366px;
		background-image: url('../images/img_ipguide_firefox_ph4_tw.png');
	}

	/* zh-cn */
	.CN .chrome .img_ipguide_1 {
		height: 383px;
		background-image: url('../images/img_ipguide_chrome_ph1_cn.png');
	}

	.CN .chrome .img_ipguide_2 {
		height: 258px;
		background-image: url('../images/img_ipguide_chrome_ph2_cn.png');
	}

	.CN .safari .img_ipguide_1 {
		height: 336px;
		background-image: url('../images/img_ipguide_safari_ph1_cn.png');
	}

	.CN .safari .img_ipguide_2 {
		height: 421px;
		background-image: url('../images/img_ipguide_safari_ph2_cn.png');
	}

	.CN .safari .img_ipguide_3 {
		height: 505px;
		background-image: url('../images/img_ipguide_safari_ph3_cn.png');
	}

	.CN .firefox .img_ipguide_1 {
		height: 502px;
		background-image: url('../images/img_ipguide_firefox_ph1_cn.png');
	}

	.CN .firefox .img_ipguide_2 {
		height: 355px;
		background-image: url('../images/img_ipguide_firefox_ph2_cn.png');
	}

	.CN .firefox .img_ipguide_3 {
		height: 345px;
		background-image: url('../images/img_ipguide_firefox_ph3_cn.png');
	}

	.CN .firefox .img_ipguide_4 {
		height: 366px;
		background-image: url('../images/img_ipguide_firefox_ph4_cn.png');
	}

	/* en-us */
	.EN .chrome .img_ipguide_1 {
		height: 383px;
		background-image: url('../images/img_ipguide_chrome_ph1_en.png');
	}

	.EN .chrome .img_ipguide_2 {
		height: 258px;
		background-image: url('../images/img_ipguide_chrome_ph2_en.png');
	}

	.EN .safari .img_ipguide_1 {
		height: 336px;
		background-image: url('../images/img_ipguide_safari_ph1_en.png');
	}

	.EN .safari .img_ipguide_2 {
		height: 450px;
		background-image: url('../images/img_ipguide_safari_ph2_en.png');
	}

	.EN .safari .img_ipguide_3 {
		height: 505px;
		background-image: url('../images/img_ipguide_safari_ph3_en.png');
	}

	.EN .firefox .img_ipguide_1 {
		height: 482px;
		background-image: url('../images/img_ipguide_firefox_ph1_en.png');
	}

	.EN .firefox .img_ipguide_2 {
		height: 372px;
		background-image: url('../images/img_ipguide_firefox_ph2_en.png');
	}

	.EN .firefox .img_ipguide_3 {
		height: 345px;
		background-image: url('../images/img_ipguide_firefox_ph3_en.png');
	}

	.EN .firefox .img_ipguide_4 {
		height: 366px;
		background-image: url('../images/img_ipguide_firefox_ph4_en.png');
	}
}

@media screen and (min-width: 1px) and (max-width: 1023px) and (-webkit-max-device-pixel-ratio: 1.49) {

	/* zh-tw */
	.TW .chrome .img_ipguide_1 {
		height: 383px;
		background-image: url('../images/img_ipguide_chrome_ph1_tw.jpg');
	}

	.TW .chrome .img_ipguide_2 {
		height: 258px;
		background-image: url('../images/img_ipguide_chrome_ph2_tw.jpg');
	}

	.TW .safari .img_ipguide_1 {
		height: 336px;
		background-image: url('../images/img_ipguide_safari_ph1_tw.jpg');
	}

	.TW .safari .img_ipguide_2 {
		height: 421px;
		background-image: url('../images/img_ipguide_safari_ph2_tw.jpg');
	}

	.TW .safari .img_ipguide_3 {
		height: 505px;
		background-image: url('../images/img_ipguide_safari_ph3_tw.jpg');
	}

	.TW .firefox .img_ipguide_1 {
		height: 502px;
		background-image: url('../images/img_ipguide_firefox_ph1_tw.jpg');
	}

	.TW .firefox .img_ipguide_2 {
		height: 355px;
		background-image: url('../images/img_ipguide_firefox_ph2_tw.jpg');
	}

	.TW .firefox .img_ipguide_3 {
		height: 365px;
		background-image: url('../images/img_ipguide_firefox_ph3_tw.jpg');
	}

	.TW .firefox .img_ipguide_4 {
		height: 366px;
		background-image: url('../images/img_ipguide_firefox_ph4_tw.jpg');
	}

	/* zh-cn */
	.CN .chrome .img_ipguide_1 {
		height: 383px;
		background-image: url('../images/img_ipguide_chrome_ph1_cn.jpg');
	}

	.CN .chrome .img_ipguide_2 {
		height: 258px;
		background-image: url('../images/img_ipguide_chrome_ph2_cn.jpg');
	}

	.CN .safari .img_ipguide_1 {
		height: 336px;
		background-image: url('../images/img_ipguide_safari_ph1_cn.jpg');
	}

	.CN .safari .img_ipguide_2 {
		height: 421px;
		background-image: url('../images/img_ipguide_safari_ph2_cn.jpg');
	}

	.CN .safari .img_ipguide_3 {
		height: 505px;
		background-image: url('../images/img_ipguide_safari_ph3_cn.jpg');
	}

	.CN .firefox .img_ipguide_1 {
		height: 502px;
		background-image: url('../images/img_ipguide_firefox_ph1_cn.jpg');
	}

	.CN .firefox .img_ipguide_2 {
		height: 355px;
		background-image: url('../images/img_ipguide_firefox_ph2_cn.jpg');
	}

	.CN .firefox .img_ipguide_3 {
		height: 345px;
		background-image: url('../images/img_ipguide_firefox_ph3_cn.jpg');
	}

	.CN .firefox .img_ipguide_4 {
		height: 366px;
		background-image: url('../images/img_ipguide_firefox_ph4_cn.jpg');
	}

	/* en-us */
	.EN .chrome .img_ipguide_1 {
		height: 383px;
		background-image: url('../images/img_ipguide_chrome_ph1_en.jpg');
	}

	.EN .chrome .img_ipguide_2 {
		height: 258px;
		background-image: url('../images/img_ipguide_chrome_ph2_en.jpg');
	}

	.EN .safari .img_ipguide_1 {
		height: 336px;
		background-image: url('../images/img_ipguide_safari_ph1_en.jpg');
	}

	.EN .safari .img_ipguide_2 {
		height: 450px;
		background-image: url('../images/img_ipguide_safari_ph2_en.jpg');
	}

	.EN .safari .img_ipguide_3 {
		height: 505px;
		background-image: url('../images/img_ipguide_safari_ph3_en.jpg');
	}

	.EN .firefox .img_ipguide_1 {
		height: 482px;
		background-image: url('../images/img_ipguide_firefox_ph1_en.jpg');
	}

	.EN .firefox .img_ipguide_2 {
		height: 372px;
		background-image: url('../images/img_ipguide_firefox_ph2_en.jpg');
	}

	.EN .firefox .img_ipguide_3 {
		height: 345px;
		background-image: url('../images/img_ipguide_firefox_ph3_en.jpg');
	}

	.EN .firefox .img_ipguide_4 {
		height: 366px;
		background-image: url('../images/img_ipguide_firefox_ph4_en.jpg');
	}
}

@media screen and (min-width: 1024px) {
	.img_ipguide {
		width: 652px;
	}

	.firefox .title_system,
	.firefox .title_ios,
	.firefox .img_ipguide_3,
	.firefox .img_ipguide_4 {
		display: none;
	}

	.firefox .img_ipguide_2 {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5) {

	/* zh-tw */
	.TW .chrome .img_ipguide_1 {
		height: 419px;
		background-image: url('../images/img_ipguide_chrome_pc1_tw.png');
	}

	.TW .chrome .img_ipguide_2 {
		height: 454px;
		background-image: url('../images/img_ipguide_chrome_pc2_tw.png');
	}

	.TW .safari .img_ipguide_1 {
		height: 220px;
		background-image: url('../images/img_ipguide_safari_pc1_tw.png');
	}

	.TW .safari .img_ipguide_2 {
		height: 283px;
		background-image: url('../images/img_ipguide_safari_pc2_tw.png');
	}

	.TW .safari .img_ipguide_3 {
		height: 419px;
		background-image: url('../images/img_ipguide_safari_pc3_tw.png');
	}

	.TW .firefox .img_ipguide_1 {
		height: 418px;
		background-image: url('../images/img_ipguide_firefox_pc1_tw.png');
	}

	.TW .firefox .img_ipguide_2 {
		height: 419px;
		background-image: url('../images/img_ipguide_firefox_pc2_tw.png');
	}

	/* zh-cn */
	.CN .chrome .img_ipguide_1 {
		height: 419px;
		background-image: url('../images/img_ipguide_chrome_pc1_cn.png');
	}

	.CN .chrome .img_ipguide_2 {
		height: 449px;
		background-image: url('../images/img_ipguide_chrome_pc2_cn.png');
	}

	.CN .safari .img_ipguide_1 {
		height: 220px;
		background-image: url('../images/img_ipguide_safari_pc1_cn.png');
	}

	.CN .safari .img_ipguide_2 {
		height: 283px;
		background-image: url('../images/img_ipguide_safari_pc2_cn.png');
	}

	.CN .safari .img_ipguide_3 {
		height: 419px;
		background-image: url('../images/img_ipguide_safari_pc3_cn.png');
	}

	.CN .firefox .img_ipguide_1 {
		height: 419px;
		background-image: url('../images/img_ipguide_firefox_pc1_cn.png');
	}

	.CN .firefox .img_ipguide_2 {
		height: 419px;
		background-image: url('../images/img_ipguide_firefox_pc2_cn.png');
	}

	/* en-us */
	.EN .chrome .img_ipguide_1 {
		height: 419px;
		background-image: url('../images/img_ipguide_chrome_pc1_en.png');
	}

	.EN .chrome .img_ipguide_2 {
		height: 427px;
		background-image: url('../images/img_ipguide_chrome_pc2_en.png');
	}

	.EN .safari .img_ipguide_1 {
		height: 419px;
		background-image: url('../images/img_ipguide_safari_pc1_en.png');
	}

	.EN .safari .img_ipguide_2 {
		height: 419px;
		background-image: url('../images/img_ipguide_safari_pc2_en.png');
	}

	.EN .safari .img_ipguide_3 {
		height: 419px;
		background-image: url('../images/img_ipguide_safari_pc3_en.png');
	}

	.EN .firefox .img_ipguide_1 {
		height: 419px;
		background-image: url('../images/img_ipguide_firefox_pc1_en.png');
	}

	.EN .firefox .img_ipguide_2 {
		height: 419px;
		background-image: url('../images/img_ipguide_firefox_pc2_en.png');
	}
}

@media screen and (min-width: 1024px) and (-webkit-max-device-pixel-ratio: 1.49) {

	/* zh-tw */
	.TW .chrome .img_ipguide_1 {
		height: 419px;
		background-image: url('../images/img_ipguide_chrome_pc1_tw.jpg');
	}

	.TW .chrome .img_ipguide_2 {
		height: 454px;
		background-image: url('../images/img_ipguide_chrome_pc2_tw.jpg');
	}

	.TW .safari .img_ipguide_1 {
		height: 220px;
		background-image: url('../images/img_ipguide_safari_pc1_tw.jpg');
	}

	.TW .safari .img_ipguide_2 {
		height: 283px;
		background-image: url('../images/img_ipguide_safari_pc2_tw.jpg');
	}

	.TW .safari .img_ipguide_3 {
		height: 419px;
		background-image: url('../images/img_ipguide_safari_pc3_tw.jpg');
	}

	.TW .firefox .img_ipguide_1 {
		height: 418px;
		background-image: url('../images/img_ipguide_firefox_pc1_tw.jpg');
	}

	.TW .firefox .img_ipguide_2 {
		height: 419px;
		background-image: url('../images/img_ipguide_firefox_pc2_tw.jpg');
	}

	/* zh-cn */
	.CN .chrome .img_ipguide_1 {
		height: 419px;
		background-image: url('../images/img_ipguide_chrome_pc1_cn.jpg');
	}

	.CN .chrome .img_ipguide_2 {
		height: 449px;
		background-image: url('../images/img_ipguide_chrome_pc2_cn.jpg');
	}

	.CN .safari .img_ipguide_1 {
		height: 220px;
		background-image: url('../images/img_ipguide_safari_pc1_cn.jpg');
	}

	.CN .safari .img_ipguide_2 {
		height: 283px;
		background-image: url('../images/img_ipguide_safari_pc2_cn.jpg');
	}

	.CN .safari .img_ipguide_3 {
		height: 419px;
		background-image: url('../images/img_ipguide_safari_pc3_cn.jpg');
	}

	.CN .firefox .img_ipguide_1 {
		height: 419px;
		background-image: url('../images/img_ipguide_firefox_pc1_cn.jpg');
	}

	.CN .firefox .img_ipguide_2 {
		height: 419px;
		background-image: url('../images/img_ipguide_firefox_pc2_cn.jpg');
	}

	/* en-us */
	.EN .chrome .img_ipguide_1 {
		height: 419px;
		background-image: url('../images/img_ipguide_chrome_pc1_en.jpg');
	}

	.EN .chrome .img_ipguide_2 {
		height: 427px;
		background-image: url('../images/img_ipguide_chrome_pc2_en.jpg');
	}

	.EN .safari .img_ipguide_1 {
		height: 419px;
		background-image: url('../images/img_ipguide_safari_pc1_en.jpg');
	}

	.EN .safari .img_ipguide_2 {
		height: 419px;
		background-image: url('../images/img_ipguide_safari_pc2_en.jpg');
	}

	.EN .safari .img_ipguide_3 {
		height: 419px;
		background-image: url('../images/img_ipguide_safari_pc3_en.jpg');
	}

	.EN .firefox .img_ipguide_1 {
		height: 419px;
		background-image: url('../images/img_ipguide_firefox_pc1_en.jpg');
	}

	.EN .firefox .img_ipguide_2 {
		height: 419px;
		background-image: url('../images/img_ipguide_firefox_pc2_en.jpg');
	}
}

/* PC hover effect */
@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.lab_input>input:hover {
		border-color: var(--comm_inp_bd_hv);
	}

	.lab_input.on>input:hover~.text_input:after {
		color: var(--comm_inp_tx_hv);
	}

	.btn_passcode:hover {
		background: var(--log_btnCode_bg_hv);
	}

	.btn_browser:hover i {
		background-position: bottom center;
	}

	.box_browser a:hover,
	.btn_forgot:hover {
		color: #0070E0;
	}

	/* first_login */
	.btn_language:hover {
		color: var(--log_btnLan_tx_on);
	}

	.btn_login:hover,
	.btn_choose:hover,
	.btn_chgpwd .btn_submit:hover,
	.box_help_btn .btn_submit:hover {
		background: var(--comm_btn_bg_hv);
	}

	.btn_cancel:hover {
		background: #8f8f8f;
	}

	.btn_help:hover svg {
		fill: var(--comm_titleHelp_fi_hv);
	}

	.lab_radio:hover .checkmark {
		border: 1px solid var(--comm_rdo_bd_hv);
	}

	/* Help set mail */
	.betSubmitBtn:hover,
	.deepGrayBtn:hover {
		background-color: #379e7a;
	}

	.cancleBtn:hover,
	.btn_cancel:hover {
		background: #8f8f8f;
	}

	.btn_sendcode:hover {
		background: #aca190;
	}

	.pswPopBtnBox3>div:hover {
		background: #5c5c5c;
	}

	.btn_edit:hover svg,
	.btn_delet:hover svg {
		fill: #000;
	}

	.btn_next:hover {
		background: #20a275;
	}

	.title_chgpwd .btn_close:hover i {
		opacity: 1;
	}

	/* System Requirements */
	.btn_sys:hover {
		background: rgba(0, 0, 0, 0.04);
	}

	.table_sys a:hover {
		color: var(--help_link_tx_hv);
	}

	.btn_tab_ipguide:hover {
		color: #A78025;
	}

	.btn_vist:hover div {
		color: #0070E0;
	}
}

/* All active effect */
.btn_language:active {
	background-color: var(--log_btnLan_bg_ac);
	color: var(--log_btnLan_tx_on);
}

.btn_login:active,
.btn_choose:active,
.btn_chgpwd .btn_submit:active,
.box_help_btn .btn_submit:active {
	background: var(--comm_btn_bg_ac);
}

.btn_forgot:active {
	color: #0052A3;
}

.btn_passcode:active {
	background: #867864;
}

.btn_browser:active i {
	background-position: bottom center;
}

.btn_browser:active {
	background: rgba(0, 0, 0, 0.08);
}

.box_browser a:active {
	color: #0052A3;
}

/* first_login */
.btn_cancel:active {
	background: #666;
}

.btn_help:active,
.title_chgpwd .btn_close:active i {
	opacity: 1;
	background-color: #3c2f26;
}

.btn_help:active svg {
	fill: #fff;
}

/* Help set mail */
.betSubmitBtn:active,
.deepGrayBtn:active {
	background-color: #056b48;
}

.cancleBtn:active {
	background: #666666;
}

.btn_sendcode:active {
	background: #867864;
}

.pswPopBtnBox3>div:active {
	background: #333333;
}

.btn_edit:active,
.btn_delet:active {
	background: rgba(0, 0, 0, 0.08);
}

.btn_edit:active svg,
.btn_delet:active svg {
	fill: #000;
}

.btn_cancel:active {
	background: #666;
}

.btn_next:active {
	background: #125e43;
}

/* Change the password */
.chg_psw_title i:active {
	background-color: rgba(0, 0, 0, 0.08);
	background-image: url(../images/icon_backbtn.svg);
	background-position: center;
	background-repeat: no-repeat;
}

/* help_pwd02 */
.btn_back:active {
	background: rgba(0, 0, 0, 0.08);
}

/* System Requirements */
.table_sys a:active {
	color: var(--help_link_tx_ac);
}

.btn_sys:active {
	background: rgba(0, 0, 0, 0.08);
}


.btn_tab_ipguide:active {
	color: #A78025;
	background: rgba(0, 0, 0, 0.08);
}

.btn_vist:active div {
	color: #0052A3;
}

.title_help .btn_back:active {
	background-color: var(--comm_titleBtn_bg_ac);
}

@media screen and (min-width: 1023px) {
	.show_cr .box_login_pic._cr {
		display: block;
	}
}

.show_cr .box_login_logo._cr {
	display: block;
}

.box_terms {
	position: relative;
	width: 100%;
	line-height: 48px;
}

.box_terms_txt {
	position: absolute;
	top: 0;
	left: 35px;
	white-space: nowrap;
	font-size: 14px;
	color: var(--comm_rdo_tx);
}


.box_terms_txt span {
	cursor: pointer;
	transition-duration: .3s;
	border-bottom: 1px solid #0c2565;
	color: #0c2565;
}

.warn .box_terms_txt span,
.warn .box_terms_txt {
	color: red !important;
	border-color: red !important;
}

.warn .checkmark {
	border-color: red !important;
}

@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.box_terms_txt span:hover {
		color: #000;
	}
}

.box_terms_txt span:active {
	color: #000;
}

.login .footer {
	order: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.login .footer_logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login .footer .img_a {
	height: 35px;
}

.login .footer .img_b {
	height: 27px;
}

.login .footer .img_c {
	height: 30px;
}

.pupup_img+.pupup_img {
	margin-left: 10px;
}