i > svg {
	display: block;
	width: 100%;
	height: 100%;
}
input[type="text"] {
	transform: translate3d(0, 0, 0);
}
input[type="button"] {
	cursor: pointer;
}
.login {
	background: var(--comm_bg);
}
.bg_login {
	display: flex;
	width: 100%;
	min-height: 100%;
	padding: 16px;
	flex: none;
	flex-direction: column;
}
.ios15 .bg_login {
	height: -webkit-fit-content;
	padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
}

.pupup_img+.pupup_img {
    margin-left: 10px;
}
.box_language {
	display: flex;
	width: 100%;
	padding: 12px 0;
	text-align: center;
	font-size: 14px;
	justify-content: center;
	flex-wrap: wrap;
	border-top: 1px solid var(--log_btnLan_bd);
}
.btn_language {
	display: inline-block;
	line-height: 24px;
	margin: 6px 8px;
	cursor: pointer;
	color: var(--log_btnLan_tx);
	transition: all 0.3s ease;
}
.btn_language.on {
	color: var(--log_btnLan_tx_on);
}
.box_login {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 16px auto;
}
/* .box_login_pic */
.box_login_pic {
	display: none;
	width: 100%;
	max-width: 600px;
	height: 570px;
	margin-right: 10px;
	background: url("../images/login_pic_cr.png") no-repeat center/contain;
}
.box_login_info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	max-width: 320px;
	text-align: center;
}
.box_login_logo {
	display: none;
	width: 100%;
	height: 80px;
	margin-bottom: 30px;
	background: url("../images/login_cr.png") no-repeat center/contain;
}
.lab_input {
	position: relative;
	display: block;
	width: 100%;
	height: 48px;
	margin-bottom: 16px;
}
.input_chgpwd .lab_input {
	margin-bottom: 0;
}
.lab_input > input {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 32px 0 16px;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid var(--comm_inp_bd);
	color: var(--comm_inp_tx);
	background: var(--comm_inp_bg);
	box-shadow: none;
	transition: all 0.3s ease;
	pointer-events: auto;
}
.text_input {
	line-height: normal !important;
	pointer-events: none;
}
.text_input:after {
	content: attr(data-tooltip);
	position: absolute;
	top: 0px;
	left: 14px;
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 4px;
	font-size: 16px;
	color: var(--comm_inpP_tx);
	background: var(--comm_inpP_bg);
	transition: all 0.3s ease, background 0.1s 0.1s;
}
.lab_input > input:valid ~ .text_input:after {
	top: -8px;
	height: 16px;
	font-size: 12px;
	color: var(--comm_inpP_tx_vl);
	background: var(--comm_inpP_bg_vl);
}
.lab_input.error > input {
	border: 2px solid var(--comm_inp_er) !important;
}
.lab_input.error > input:valid ~ .text_input:after,
.lab_input.on.error .text_input:after {
	color: var(--comm_inp_er) !important;
}

.text_error {
	display: block;
	width: 100%;
	line-height: 16px;
	margin-bottom: 16px;
	text-align: center;
	font-size: 12px;
	color: var(--comm_msg_tx_er);
}
.lab_input .btn_clear {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 32px;
	height: 32px;
	padding: 8px;
	/*
	background-image: url(../images/icon_close_b.svg);
	background-repeat: no-repeat;
	background-position: center;
*/
	transition: none !important;
	pointer-events: auto;
	z-index: -1;
}

.lab_input .btn_clear svg {
	width: 100%;
	height: 100%;
	/* opacity: 0; */
	fill: var(--comm_inp_fi);
	pointer-events: none;
}

.btn_login {
	width: 100%;
	height: 48px;
	line-height: 48px;
	margin-bottom: 16px;
	padding: 0 16px;
	border-radius: 4px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	border: none;
	color: var(--comm_btn_tx);
	background: var(--comm_btn_bg);
	transition: background 0.3s ease;
}
.box_remember {
	width: 100%;
	height: 48px;
	line-height: 48px;
	margin-bottom: 11px;
	text-align: left;
}
.lab_radio {
	position: relative;
	float: left;
	display: block;
	color: var(--comm_rdo_tx);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.check_remember {
	height: 48px;
	margin-right: 8px;
}
.lab_radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 3px;
	vertical-align: middle;
	border-radius: 50%;
	border: 1px solid var(--comm_rdo_bd);
}
.lab_radio tt {
	display: inline-block;
	margin-left: 4px;
	vertical-align: middle;
	font-size: 14px;
	color: var(--comm_rdo_tx);
}
input:checked ~ .checkmark {
	border: none !important;
	background: url("../images/icon_check.svg") no-repeat var(--comm_rdo_bg);
}
.btn_forgot {
	float: right;
	display: block;
	margin-top: 1px;
	text-align: right;
	font-size: 14px;
	color: #007ba8;
	cursor: pointer;
}
.btn_passcode {
	width: 100%;
	height: 48px;
	line-height: 48px;
	margin-bottom: 16px;
	padding: 0 16px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 600;
	border: none;
	color: #fff;
	background: #9b8d79;
	transition: background 0.3s ease;
	display: none !important;
}
.btn_oldsite {
	width: 100%;
	height: 48px;
	line-height: 48px;
	padding: 0 16px;
	border-radius: 4px;
	font-size: 14px;
	border: none;
	color: #007ba8;
	background: #fff;
	transition: background 0.3s ease;
	/* display: none!important; */
}

.gridContainer.clearfix.login {
	background: none;
}
.gridContainer.clearfix {
	width: 100%;
}

.open_bet,
.open_bet.chg_psw_title {
	background-image: url(../images/bg_all_sport.png);
	background-position: bottom;
}

.box_img {
	display: block;
	width: 100%;
	max-width: 320px;
	margin: 16px auto 0 auto;
}
.img_ip {
	position: relative;
	display: block;
	/* display: none; */
	width: 100%;
	padding-bottom: 48.75%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.img_ip.no_ip {
	pointer-events: none;
}
.img_ip span {
	position: absolute;
	display: inline-flex;
	height: 32px;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	color: #0499c8;
	align-items: center;
}
.TW .img_ip span,
.CN .img_ip span {
	top: 90px;
	left: 16px;
}
.EN .img_ip span {
	top: 97px;
	left: 16px;
}

.TW .img_ip {
	background-image: url("../images/img_ip_tw.png");
}
.CN .img_ip {
	background-image: url("../images/img_ip_cn.png");
}
.EN .img_ip {
	background-image: url("../images/img_ip_en.jpg");
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.TW .img_ip {
		background-image: url("../images/img_ip_tw2.png");
	}
	.CN .img_ip {
		background-image: url("../images/img_ip_cn2.png");
	}
	.EN .img_ip {
		background-image: url("../images/img_ip_en2.jpg");
	}
}

.img_festival {
	display: none;
	/* display: block; */
	width: 100%;
	padding-bottom: 40.625%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.TW .img_festival {
	background-image: url("../images/festival_tw.jpg");
}
.CN .img_festival {
	background-image: url("../images/festival_cn.jpg");
}
.EN .img_festival {
	background-image: url("../images/festival_en.jpg");
}

.lab_input.on > input {
	border: 2px solid var(--comm_inp_bd_on);
}
.lab_input.on .text_input:after {
	top: -8px;
	height: 16px;
	font-size: 12px;
	color: var(--comm_inpP_tx_on) !important;
	background: var(--comm_inpP_bg_on);
}
.lab_input.error.on > input {
	border: 2px solid var(--comm_inp_er) !important;
}
.lab_input.error.on .text_input:after {
	top: -8px;
	font-size: 12px;
	color: var(--comm_inp_er);
}
.lab_input.on > input:valid ~ .btn_clear {
	z-index: 1;
	cursor: pointer;
}
.lab_input .btn_clear:active {
	z-index: 1;
}
.lab_input .btn_clear {
	z-index: -1;
}

.lab_input.on .icon_status {
	visibility: hidden;
}

.box_browser {
	display: flex;
	width: 100%;
	max-width: 320px;
	margin: 16px auto;
	padding: 16px;
	line-height: 16px;
	font-size: 14px;
	flex-direction: column;
	align-content: center;
	flex: none;
	color: #000;
	background: #fff;
}
.box_browser > span {
	width: 100%;
	font-weight: bold;
}
.box_browser a {
	display: inline-block;
	color: #007ba8;
	cursor: pointer;
}
.wrap_browser {
	display: flex;
	width: 100%;
	margin: 16px 0;
	align-items: center;
	justify-content: center;
}
.btn_browser {
	display: flex;
	width: 64px;
	height: 84px;
	margin-right: 8px;
	line-height: 16px;
	font-size: 12px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	color: #000;
	cursor: pointer;
}
.btn_browser span {
	font-size: 12px;
}
.btn_browser:last-child {
	margin-right: 0;
}
.btn_browser i {
	width: 56px;
	height: 56px;
	margin-bottom: 4px;
	border-radius: 50%;
	background-position: top center;
	background-size: cover;
}
.icon_chrome {
	background-image: url("../images/icon_chrome.svg");
}
.icon_uc {
	background-image: url("../images/icon_uc.svg");
}
.icon_safari {
	background-image: url("../images/icon_safari.svg");
}
.icon_firefox {
	background-image: url("../images/icon_firefox.svg");
}

/* first_login */
.title_chgpwd {
	display: flex;
	width: 100%;
	height: 56px;
	line-height: 56px;
	padding: 0 8px 0 16px;
	margin-bottom: 16px;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background: #503f32;
}
.mobile .btn_oldsite {
	display: none !important;
}

.title_chgpwd span {
	display: inline-block;
	font-size: 16px;
}
.btn_help {
	position: absolute;
	top: 0;
	right: 8px;
	display: inline-block;
	width: 32px;
	height: 32px;
	padding: 8px;
	margin: 12px 0;
}
.btn_help svg {
	display: block;
	width: 100%;
	height: 100%;
	fill: #fff;
	opacity: 0.64;
}
.content_chgpwd {
	margin: 0 auto;
	padding: 0 16px 16px 16px;
}
@media screen and (min-width: 1024px) {
	.title_chgpwd {
		margin-bottom: 32px;
	}
	.content_chgpwd {
		width: 100%;
		max-width: 650px;
		padding: 0 0 16px 0;
	}
}

.content_chgpwd .text_sub,
.content_chgpwd .text_normal {
	font-size: 14px;
	color: #000;
}
.content_chgpwd .text_sub {
	display: flex;
	height: 16px; /* 1123TAG */
	align-items: center;
}
.content_chgpwd.forpwd .text_sub {
	margin: 16px 0 24px 0;
}
.content_chgpwd.forpwd .text_normal {
	margin: 0 0 24px 0;
}
.forpwd .text_sub.text_sub_st4 {
	margin: 0 0 16px 0;
}
.forpwd_help .text_normal {
	margin: 0 0 16px 0;
}

.content_chgpwd .text_sub ~ .text_sub {
	margin-top: 8px;
}
.input_chgpwd {
	display: flex;
	margin-top: 24px;
	align-items: center;
	justify-content: space-between;
}
.input_chgpwd .lab_login {
	margin-bottom: 0;
	flex: 1 1 auto;
}
.icon_status {
	position: absolute;
	top: 0px;
	right: 87px;
	display: block;
	width: 40px;
	height: 100%;
	background: url("../images/icon_allow.svg") no-repeat center left;
	z-index: 1;
}
.icon_status.error {
	display: block !important;
	visibility: visible !important;
	background: url("../images/icon_disallow.svg") no-repeat center left;
}
.btn_choose {
	width: 79px;
	height: 48px;
	line-height: 48px;
	margin-left: 8px;
	flex: 0 0 79px;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	background: #19805c;
	cursor: pointer;
}
.btn_choose.unable {
	background: rgba(0, 0, 0, 0.24);
	pointer-events: none;
}
.tip_chgpwd {
	width: 100%;
	margin-top: 16px;
	padding: 16px;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.64);
	background: #ededed;
}
.forpwd .tip_chgpwd {
	margin: 0 0 16px 0;
}
.tip_chgpwd b,
.tip_forpwd b {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}
.text_msg {
	display: block;
	width: 100%;
	line-height: 16px;
	margin-top: 16px;
	text-align: center;
	font-size: 12px;
	color: #19805c;
}
.text_msg.error {
	color: #ce3636;
}
.btn_chgpwd {
	display: flex;
	width: 100%;
	margin-top: 16px;
	align-items: center;
	justify-content: space-between;
}
.btn_chgpwd > div {
	display: inline-block;
	width: 50%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	flex: 1 1 auto;
}
.btn_chgpwd > div ~ div {
	margin-left: 16px;
}
.btn_cancel {
	color: #fff;
	background: #7a7a7a;
}
.btn_chgpwd .btn_submit,
.box_help_btn .btn_submit {
	color: var(--comm_btn_tx);
	background: var(--comm_btn_bg);
}
.btn_sendcode {
	width: 100%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	color: #fff;
	background: #9b8d79;
}

/* Change the password */
.chg_psw_title {
	width: 100%;
	height: 48px;
	background: #503f32;
	line-height: 48px;
	text-align: center;
}

.chg_psw_title.no_login {
	color: #fff;
}

.chg_psw_title i {
	display: block;
	position: absolute;
	width: 32px;
	height: 32px;
	line-height: 32px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 8px;
	padding: 8px;
}
.noteBox {
	margin-bottom: 24px;
}

.noteBox1 {
	display: block;
	width: 100%;
	line-height: 20px;
	color: #000;
	font-size: 14px;
	margin-bottom: 8px;
}
.EN .noteBox1 {
	margin-bottom: 1rem;
}

.noteBox2 {
	display: block;
	width: 100%;
	line-height: 20px;
	color: #000;
	font-size: 14px;
}
.noteBox2 li {
	list-style-type: decimal;
	margin-left: 1rem;
	margin-bottom: 1rem;
	padding-left: 1rem;
}
.noteBox2 li:last-child {
	margin-bottom: 0;
}

.btn_cancel {
	display: block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	color: var(--comm_btnF_tx);
	background-color: var(--comm_btnF_bg);
	transition: background 0.3s ease;
}

/* Help set mail */

.deepGrayBtn {
	color: #fff;
	display: block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	-webkit-box-flex: 1;
	background: #19805c;
}

.betSubmitBtn.error,
.deepGrayBtn.error {
	background: rgba(0, 0, 0, 0.24);
}

.forpwd_help li {
	margin: 16px 0 16px 16px;
	margin-bottom: 16px;
	list-style: decimal;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.64);
}
.forpwd_help li:first-child {
	margin-top: 0px;
}
.img_chgpwd {
	width: 100%;
	height: 584px;
	margin-top: 16px;
	background-repeat: no-repeat;
	background-position: center center;
}

.TW .img_chgpwd1 {
	background-image: url(../images/img_chgid_1_tw.png);
}
.TW .img_chgpwd2 {
	background-image: url(../images/img_chgid_2_tw.png);
}
.TW .img_chgpwd3 {
	background-image: url(../images/img_chgid_3_tw.png);
}
.TW .img_chgpwd4 {
	background-image: url(../images/img_chgid_1_tw.png);
}

.CN .img_chgpwd1 {
	background-image: url(../images/img_chgid_1_tw.png);
}
.CN .img_chgpwd2 {
	background-image: url(../images/img_chgid_2_tw.png);
}
.CN .img_chgpwd3 {
	background-image: url(../images/img_chgid_3_tw.png);
}
.CN .img_chgpwd4 {
	background-image: url(../images/img_chgid_1_tw.png);
}

.EN .img_chgpwd1 {
	background-image: url(../images/img_chgid_1_en.png);
}
.EN .img_chgpwd2 {
	background-image: url(../images/img_chgid_2_en.png);
}
.EN .img_chgpwd3 {
	background-image: url(../images/img_chgid_3_en.png);
}
.EN .img_chgpwd4 {
	background-image: url(../images/img_chgid_1_en.png);
}

.title_chgpwd .btn_close {
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
	margin-top: 4px;
	padding: 8px;
}
.title_chgpwd .btn_close i {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 8px;
	background-image: url(../images/icon_close.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 16px;
	opacity: 0.56;
}
.title_chgpwd .btn_close svg {
	display: block;
	width: 100%;
	height: 100%;
	fill: #fff;
}

.help_pwd {
	width: 100%;
}
.title_help {
	display: flex;
	align-items: center;
	flex: none;
	width: 100%;
	height: 48px;
	background-position: bottom;
}
.title_help .btn_back {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 8px;
	flex: 0 0 32px;
	transition: background 0.3s ease;
}
.title_help .btn_back i {
	display: block;
	width: 100%;
	height: 100%;
	padding: 8px;
}
.btn_back svg {
	fill: var(--comm_titleBtn_fi);
}
.title_help span {
	display: inline-block;
	width: calc(100% - 96px);
	height: 24px;
	line-height: 24px;
	padding: 0 4px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	flex: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: var(--comm_title_tx);
}
.box_help_pwd {
	width: 100%;
}
.text_help_pwd {
	width: 100%;
	line-height: 16px;
	margin-bottom: 24px;
	padding: 0 16px;
	font-size: 14px;
	color: #000;
}
.box_help_input {
	width: 100%;
	padding: 0 16px;
}
.box_help_pwd .text_error {
	display: block;
}
.box_help_btn {
	display: flex;
	width: 100%;
	padding: 0 16px;
	align-items: center;
	justify-content: space-between;
}
.box_help_btn + .box_help_btn {
	margin-top: 16px;
}
.box_help_pwd .btn_cancel,
.box_help_pwd .btn_next,
.box_help_pwd .btn_submit,
.box_help_pwd .btn_safecode {
	display: inline-block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	flex: 1 1 auto;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	color: #fff;
}
.btn_cancel {
	background: var(--comm_btnF_bg);
}
.btn_next {
	background: #19805c;
}
.btn_safecode {
	background: #9b8d79;
}

@media screen and (min-width: 1024px) {
	.box_help_pwd {
		width: 100%;
		max-width: 650px;
		margin: 0 auto;
	}

	.box_pwd_mail {
		padding: 0;
	}
	.box_help_note {
		margin: 16px 0;
	}
	.box_help_pwd .text_help_pwd {
		padding: 0;
	}
	.box_help_pwd .box_help_input {
		padding: 0;
	}
	.box_help_pwd .box_help_btn {
		padding: 0;
	}
}

/* help_pwd02 */
.box_pwd_mail {
	display: flex;
	width: 100%;
	height: 48px;
	margin-bottom: 16px;
	padding: 0 8px 0 16px;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid #e6e6e6;
}
.box_pwd_mail span {
	display: block;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.box_pwd_mail .btn_edit,
.box_pwd_mail .btn_delet {
	display: block;
	width: 32px;
	height: 32px;
	padding: 8px;
	flex: none;
}
.box_pwd_mail .btn_delet {
	margin-left: 8px;
}
.box_pwd_mail .btn_edit svg,
.box_pwd_mail .btn_delet svg {
	width: 100%;
	height: 100%;
	fill: rgba(0, 0, 0, 0.56);
}

.box_help_note {
	width: auto;
	margin: 16px;
	padding: 16px;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.64);
	background: #ededed;
}
.box_help_note span {
	display: block;
	font-weight: bold;
	margin-bottom: 8px;
}
.help_pwd04 .text_help_pwd {
	margin: 16px 0;
}

.msg_help_pwd {
	position: fixed;
	bottom: 16px;
	width: 100%;
	padding: 0 16px;
}
.msg_help_pwd .box_msg {
	display: flex;
	width: 100%;
	height: 64px;
	padding: 0 0 0 16px;
	font-size: 12px;
	align-items: center;
	justify-content: space-between;
	color: rgba(255, 255, 255, 0.88);
	background: rgba(0, 0, 0, 0.72);
}
.msg_help_pwd .box_msg span {
	display: block;
	width: 100%;
	flex: 1 1 auto;
	text-align: left;
}
.msg_help_pwd .btn_msg {
	width: 48px;
	height: 48px;
	line-height: 48px;
	margin-left: 24px;
}

.lab_input .btn_delet {
	display: none;
}

.input_safecode {
	text-transform: uppercase;
}

/* 1st login set user id */
.chgid_input {
	position: relative;
}
.chgid_input .error ~ .error .btn_clear {
	display: none !important;
}

.chgid_input input::selection,
.chgid_input input::-moz-selection {
	color: #fff;
	background: #449bf9;
}
.chgid_input .lab_input > input {
	padding: 0 40px 0 16px;
}

/* System Requirements */
.title_sys {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 48px;
	line-height: 48px;
	padding: 0 8px 0 16px;
	margin-bottom: 32px;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background: #503f32;
}
.title_sys span {
	font-size: 16px;
}
.title_sys .btn_back {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 8px;
	flex: 0 0 32px;
	cursor: pointer;
	transition: background 0.3s ease;
}
.title_sys .btn_back i {
	display: block;
	width: 100%;
	height: 100%;
	padding: 8px;
	transform: rotate(180deg);
}
.title_sys .btn_back svg {
	fill: #fff;
}
.content_sys {
	width: 100%;
	/* padding-top: 80px;
	padding-bottom: 32px; */
	flex: none;
}
.box_l .content_sys {
	max-width: 1024px;
	margin: auto;
	transform: translate3d(0, 0, 0);
	will-change: opacity;
}
.content_sys .title_help {
	margin-bottom: 32px;
	background-image: url(../images/bg_title.png), var(--title_bg);
	background-position: center;
	background-repeat: no-repeat;
}
.box_sys {
	/* max-width: 650px; */
	margin: 0 auto;
	padding: 0 50px;
	color: var(--help_tx);
}
.info_sys {
	box-sizing: content-box;
	padding: 0 50px 20px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
	color: #ffffff;
	border-radius: 5px;
}
.info_sys ul {
	font-size: 14px;
	font-weight: 400;
	/* background-color: var(--help_text_bg); */
	color: var(--help_tx);
	border-radius: 5px;
}

.browser {
	display: flex;
	justify-content: center;
	max-width: 1024px;
	margin: 0 auto 30px;
}
.browser li {
	position: relative;
	width: 100px;
	height: 115px;
	background-repeat: no-repeat;
	background-color: var(--help_browser_bg);
	border: 1px solid var(--help_browser_bd);
	border-radius: 5px;
	transition-duration: 0.3s;
}
.browser li::after {
	content: attr(data-txt);
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	color: var(--help_browser_tx);
	text-align: center;
	pointer-events: none;
}
.browser li a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}
.browser li svg {
	width: 70%;
	height: 70%;
	padding-top: 15px;
	fill: var(--help_browser_tx);
}
.browser li + li {
	margin-left: 10px;
}
@media screen and (max-width: 1023px) {
	.box_sys {
		padding: 0 16px;
	}
	.info_sys {
		padding: 0 16px 20px;
	}
}

.text_sys {
	display: block;
	margin: 0 15px 16px;
	padding: 7px 0;
	background-color: var(--help_text_bg);
	color: var(--help_tx);
	line-height: 16px;
	border-radius: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
.subtitle_sys {
	display: block;
	margin-bottom: 16px;
	line-height: 16px;
	font-size: 14px;
	font-weight: bold;
	/* color: #000; */
}
.table_sys {
	width: 100%;
	margin-bottom: 16px;
	font-size: 14px;
	table-layout: fixed;
	border-collapse: collapse;
}
.table_sys tr {
	padding: 0 8px;
}
.table_sys tr {
	border-bottom: #e6e6e6 solid 1px;
}
.table_sys tr.table_sys_title,
.table_sys tr:last-child {
	border-bottom: none;
}
.table_sys tr.table_sys_title {
	background-color: var(--help_th_bg);
}
.table_sys th {
	height: 32px;
	padding: 10px 20px;
	line-height: 16px;
	font-size: 14px;
	text-align: left;
	font-weight: 400;
	/* color: rgba(0,0,0,0.72); */
}
.table_sys th:nth-child(odd) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.table_sys th:nth-child(even) {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.table_sys td {
	height: 48px;
	padding: 10px 20px;
	line-height: 16px;
	/* color: #000; */
}
.table_sys a {
	color: var(--help_link_tx);
	cursor: pointer;
}

.btn_sys {
	display: flex;
	width: 288px;
	height: 48px;
	margin: 32px auto 0 auto;
	padding: 4px 8px;
	font-size: 14px;
	font-weight: 700;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	color: #525252;
	border: #525252 solid 1px;
	background: #fff;
	cursor: pointer;
}

/* PC hover effect */
@media (pointer: fine) and (max-resolution: 2dppx),
	screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
	(-moz-touch-enabled: 0),
	screen and (-ms-high-contrast: active),
	(-ms-high-contrast: none) {
	.lab_input > input:hover {
		border-color: var(--comm_inp_bd_hv);
	}
	.lab_input.on > input:hover ~ .text_input:after {
		color: var(--comm_inp_tx_hv);
	}
	.btn_passcode:hover {
		background: var(--log_btnCode_bg_hv);
	}
	.btn_browser:hover i {
		background-position: bottom center;
	}
	.box_browser a:hover {
		color: #008abd;
	}
	.btn_forgot:hover {
		color: #008abd;
	}
	/* first_login */
	.btn_language:hover {
		color: var(--log_btnLan_tx_on);
	}
	.btn_login:hover,
	.btn_choose:hover,
	.btn_chgpwd .btn_submit:hover,
	.box_help_btn .btn_submit:hover {
		background: var(--comm_btn_bg_hv);
	}
	.btn_cancel:hover {
		background: #8f8f8f;
	}
	.btn_help:hover svg {
		fill: var(--comm_titleHelp_fi_hv);
	}
	.lab_radio:hover .checkmark {
		border: 1px solid var(--comm_rdo_bd_hv);
	}

	/* Help set mail */
	.betSubmitBtn:hover {
		background: #379e7a;
	}
	.deepGrayBtn:hover {
		background: #379e7a;
	}
	.cancleBtn:hover {
		background: #8f8f8f;
	}
	.btn_sendcode:hover {
		background: #aca190;
	}
	.pswPopBtnBox3 > div:hover {
		background: #5c5c5c;
	}
	.btn_edit:hover svg,
	.btn_delet:hover svg {
		fill: #000;
	}
	.btn_cancel:hover {
		background: #8f8f8f;
	}
	.btn_next:hover {
		background: #20a275;
	}

	.title_chgpwd .btn_close:hover i {
		opacity: 1;
	}

	/* System Requirements */
	.btn_sys:hover {
		background: rgba(0, 0, 0, 0.04);
	}
	.table_sys a:hover {
		color: var(--help_link_tx_hv);
	}

	.browser li:hover {
		background-color: var(--help_browser_bg_hv);
		border-color: var(--help_browser_bd_hv);
	}

	.title_help .btn_back:hover {
		background-color: var(--comm_titleBtn_bg_hv);
	}
}

/* All active effect */
.btn_language:active {
	color: var(--log_btnLan_tx_on);
	background: var(--log_btnLan_bg_ac);
}
.btn_login:active,
.btn_choose:active,
.btn_chgpwd .btn_submit:active,
.box_help_btn .btn_submit:active {
	background: var(--comm_btn_bg_ac);
}
.btn_passcode:active {
	background: #867864;
}
.btn_browser:active i {
	background-position: bottom center;
}
.btn_browser:active {
	background: rgba(0, 0, 0, 0.08);
}
.box_browser a:active {
	color: #005e80;
}

/* first_login */
.btn_cancel:active {
	background: #666;
}
.btn_help:active,
.title_chgpwd .btn_close:active i {
	opacity: 1;
	background-color: #3c2f26;
}
.btn_help:active svg {
	fill: #fff;
}
.btn_forgot:active {
	color: #005e80;
}
/* Help set mail */
.betSubmitBtn:active {
	background: #056b48;
}
.deepGrayBtn:active {
	background: #056b48;
}
.cancleBtn:active {
	background: #666666;
}
.btn_sendcode:active {
	background: #867864;
}
.pswPopBtnBox3 > div:active {
	background: #333333;
}
.btn_edit:active,
.btn_delet:active {
	background: rgba(0, 0, 0, 0.08);
}
.btn_edit:active svg,
.btn_delet:active svg {
	fill: #000;
}
.btn_cancel:active {
	background: #666;
}
.btn_next:active {
	background: #125e43;
}
/* Change the password */
.chg_psw_title i:active {
	background-color: rgba(0, 0, 0, 0.08);
	background-image: url(../images/icon_backbtn.svg);
	background-position: center;
	background-repeat: no-repeat;
}
/* help_pwd02 */
.btn_back:active {
	background: rgba(0, 0, 0, 0.08);
}

/* System Requirements */
.table_sys a:active {
	color: var(--help_link_tx_ac);
}
.btn_sys:active {
	background: rgba(0, 0, 0, 0.08);
}

.browser li:active {
	background-color: var(--help_browser_bg_ac);
	border-color: var(--help_browser_bd_ac);
}
.browser li:active::after {
	color: var(--help_browser_ac);
}
.browser li:active svg {
	fill: var(--help_browser_ac);
}

.title_help .btn_back:active {
	background-color: var(--comm_titleBtn_bg_ac);
}

@media screen and (min-width: 1023px) {
	.show_cr .box_login_pic._cr{
		display: block;
	}
}

.show_cr .box_login_logo._cr {
	display: block;
}

.box_terms {
	position: relative;
	width: 100%;
	line-height: 48px;
}

.box_terms_txt {
	position: absolute;
	top: 0;
	left: 35px;
	white-space: nowrap;
	color: var(--comm_rdo_tx);
	font-size: 14px;
}


.box_terms_txt span {
	color: #0c2565;
	cursor: pointer;
	transition-duration: .3s;
	border-bottom: 1px solid #0c2565;
	/* font-weight: bold; */
}
.warn .box_terms_txt span,
.warn .box_terms_txt {
	color: red !important;
	border-color: red !important;
}
.warn .checkmark{
	border-color: red !important;
}
@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.box_terms_txt span:hover {
		color: #000;
	}
}

.box_terms_txt span:active {
	color: #000;
}
.login .footer{
	order: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
.login .footer_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .footer .img_a {
	height: 35px;
}

.login .footer .img_b {
	height: 27px;
}

.login .footer .img_c {
	height: 30px;
}

.pupup_img+.pupup_img {
	margin-left: 10px;
}