i>svg {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 0;
}

/* home page */
.title_game {
	position: relative;
	width: 100%;
	height: 56px;
	line-height: 56px;
	margin-bottom: 8px;
	text-align: center;
	flex: none;
	z-index: 0;
}

.title_game tt {
	display: inline-block;
	height: 100%;
	padding: 0 16px;
	font-size: 20px;
	font-weight: 700;
	background-color: var(--comm_bg);
	color: var(--comm_tx);
}

.theme_txt.title_game {
	margin-bottom: 0;
}

.theme_txt.title_game tt {
	font-size: 16px;
	font-weight: 600;
	color: var(--comm_tx);
}

.title_game:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	z-index: -1;
	background: #d8d8d8;
	transform: translateZ(0px);
}

.home_page.no_event {
	width: 100%;
	margin: 34px 0 8px 0;
	padding: 0 8px;
	flex: none;
}

.no_event i {
	display: block;
	width: 45px;
	height: 45px;
	margin: 8px auto;
	background: url('../images/img_nodata.svg') no-repeat;
	background-size: cover;
	background-position: var(--bet_no_event_bg);
}

.no_event span {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: var(--comm_tx);
}

.box_game {
	flex: none;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	margin-bottom: 8px;
	padding: 16px 8px;
}

.btn_sport {
	overflow: hidden;
	display: inline-block;
	margin: 0 8px 16px 8px;
	border-radius: 8px;
	transition: all 0.3s ease;
	will-change: opacity;
	border: solid 1px rgba(0, 0, 0, 0.08);
	background-color: #fff;
}

.btn_sport i {
	text-align: center;
	background-color: #faf9f5;
	transition: background 0.3s ease;
	will-change: opacity;
}

.btn_sport i svg {
	fill: rgba(0, 0, 0, 0.64);
	transition: fill 0.3s ease;
}

.btn_sport span {
	display: flex;
	align-items: center;
	font-size: 14px;
	text-align: center;
	color: rgba(0, 0, 0, .8);
}

.btn_sport span tt {
	overflow: hidden;
	overflow-wrap: break-word;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.btn_sport span p {
	overflow: hidden;
	overflow-wrap: break-word;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}


/* 360 setting*/
@media screen and (min-width: 1px) and (max-width: 639px) {
	.box_img {
		width: 400%;
	}

	.box_img article {
		padding: 0 16px;
	}

	.box_img.img_01 {
		left: 0;
	}

	.box_img.img_02 {
		left: -100%;
	}

	.box_img.img_03 {
		left: -200%;
	}

	.box_img.img_04 {
		left: -300%;
	}

	.btn_sport {
		width: calc((100% - 48px) / 3);
		height: 133px;
	}

	.btn_sport i {
		display: block;
		width: 100%;
		height: 84px;
		padding: 26px 0;
	}

	.btn_sport i svg {
		width: 32px;
		height: 32px;
		margin: 0 auto;
	}

	.btn_sport span {
		width: 100%;
		height: 48px;
		line-height: 17px;
		padding: 8px;
		justify-content: center;
		flex: 1 1 auto;
	}
}


/* 640setting*/
@media screen and (min-width: 640px)
/*  and (max-width: 1023px) */
	{
	.box_img {
		width: 200%;
	}

	.box_img article:nth-child(2n+1) {
		padding: 0 8px 0 16px;
	}

	.box_img article:nth-child(2n+2) {
		padding: 0 16px 0 8px;
	}

	.box_img.img_01 {
		left: 0;
	}

	.box_img.img_02 {
		left: 00%;
	}

	.box_img.img_03 {
		left: -100%;
	}

	.box_img.img_04 {
		left: -100%;
	}

	.btn_sport {
		display: flex;
		width: calc((100% - 32px) / 2);
		height: 56px;
		align-items: center;
		justify-content: flex-start;
	}

	.btn_sport i {
		display: inline-block;
		width: 54px;
		height: 54px;
		padding: 15px;
		flex: 0 0 54px;
	}

	.btn_sport i svg {
		width: 24px;
		height: 24px;
		margin: 0 auto;
	}

	.btn_sport span {
		padding: 4px 16px 4px 8px;
		justify-content: flex-start;
		flex: 1 1 auto;
	}

	.btn_sport span p {
		text-align: left;
	}
}


/* nav menu */
.menu_bottom {
	/* 	position: fixed;
	left: 0;
	bottom: 0; */
	display: block;
	text-align: center;
	background-color: var(--menu_bg);
	/* padding-bottom: env(safe-area-inset-bottom); */
}

.btn_nav,
.btn_betslip {
	position: relative;
	display: inline-block;
	width: 20%;
	max-width: 128px;
	height: 56px;
	margin-right: -4px;
	padding: 8px 0 4px 0;
	vertical-align: top;
	transition: background 0.3s ease;
	overflow: hidden;
}

.btn_nav i,
.btn_betslip i {
	display: block;
	width: 100%;
	height: 24px;
	margin-bottom: 4px;
	background-size: 24px;
	background-position: center center;
	background-repeat: no-repeat;
}

.btn_nav span,
.btn_betslip span {
	display: block;
	width: 100%;
	height: 16px;
	line-height: 16px;
	font-size: 11px;
	text-align: center;
	color: rgba(255, 255, 255, 0.64);
	transition: color 0.3s ease;
}

.btn_betslip span {
	padding: 0 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.btn_nav .icon_star {
	display: block !important;
}

.btn_nav i svg {
	fill: var(--menu_btn_fi);
	transition: fill 0.3s ease;
}

.btn_nav.off {
	pointer-events: none;
}

.btn_nav.on:first-child {
	pointer-events: none;
}

.btn_nav.on span {
	color: var(--menuB_btn_tx_on);
}

.btn_nav.on svg {
	fill: var(--menuB_btn_tx_on);
}

.btn_nav.off,
.btn_nav.mygame_off {
	opacity: 0.375;
}

.num_betslip {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	min-width: 16px;
	height: 16px;
	padding: 0 2px;
	font-size: 11px;
	border-radius: 8px;
	color: #fff;
	background: #19805c;
	z-index: 2;
}

.num_betslip.on {
	display: flex;
}

.btn_nav .num_betslip {
	top: 4px;
	left: 50%;
	margin-left: 8px;
}

.dot_green {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #3DB893;
}

.btn_nav .dot_green {
	position: absolute;
	top: -4px;
	left: 50%;
	margin-left: 16px;
	transition: top 0.3s cubic-bezier(0.68, -0.55, 0.265, 1);
}

.btn_nav .dot_green.on {
	top: 8px;
}

.dot_red {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #e53c50;
}

.btn_nav .dot_red {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.btn_nav .dot_red.on {
	opacity: 1;
}

.btn_nav .text_new {
	position: absolute;
	top: 2px;
	right: calc(50% + 6px);
	display: flex;
	width: 24px;
	height: 12px;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	color: #FFF;
	background: #CE3636;
}

.btn_nav .text_new p {
	display: block;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	font-weight: 400;
	transform: scale(0.5);
}

/* ADD MY EVENT play on_ani */
.on_ani.btn_nav i svg,
.off_ani.btn_nav i svg {
	fill: #fff;
}

.on_ani.btn_nav span,
.off_ani.btn_nav span {
	color: #fff;
}

.btn_nav .ani_mygame {
	position: absolute;
	top: calc(50% - 24px);
	left: calc(50% - 24px);
	width: 48px;
	height: 48px;
	opacity: 0;
}

.btn_nav.on_ani .on_wave,
.btn_nav.on_ani .on_wave2,
.btn_nav.off_ani .off_wave {
	opacity: 1;
}

.on_ani .on_wave {
	animation: circle_ani 500ms ease both;
}

.on_ani .on_wave2 {
	animation: circle_ani 800ms 200ms ease both;
}

.off_ani .off_wave {
	animation: circle_ani 500ms ease both;
}

@keyframes circle_ani {
	0% {
		opacity: 1;
		transform: scale(0);
	}

	100% {
		transform: scale(1);
		opacity: 0;
	}
}

.btn_betslip {
	background-color: var(--menuB_bet_bg);
}

.btn_betslip i {
	display: block;
	width: 100%;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 32px;
	color: #fff;
}

/* showCleanData */
.clean_Main {
	width: 100%;
	height: 100%;
	padding: 64px 16px 32px 16px;
	overflow-y: auto;
}

.clean_Main img {
	display: block;
	width: 112px;
	height: 111px;
	margin: 0px auto 16px;
}

.clean_Main .title {
	display: block;
	width: 100%;
	height: 24px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #9b8d79;
	margin-bottom: 16px;
}

.clean_Main span p {
	font-size: 14px;
	text-align: center;
	color: #000;
}

.clean_Main span p tt {
	font-weight: bold;
	color: #19805c;
}

/* Regular&Scheduled_Maintenance */
.Reg_Sch_Main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: auto;
	min-height: 100%;
}

.Reg_Sch_content {
	width: 100%;
	margin: 24px 0;
	padding: 0 16px;
	flex: 1 1 auto;
}

.Reg_Sch_Main1 {
	width: 100%;
	height: 100%;
	padding-top: 24px;
	padding: 0 16px;
	flex: 1 1 auto;
	background-color: #fff;
}

.Reg_Sch_Main img,
.Reg_Sch_Main1 img {
	display: block;
	width: 100%;
	max-width: 220px;
	margin: 0px auto 24px;
}

.Reg_Sch_Main .title {
	display: block;
	width: 100%;
	font-size: 18px;
	text-align: center;
	color: #30DFF2;
}

.Reg_Sch_Main1 .title {
	display: block;
	width: 100%;
	font-size: 18px;
	text-align: center;
	color: #5d5d9b;
}

.Reg_Sch_Main .title_cn {
	font-weight: 600;
}

.Reg_Sch_Main .title_tw {
	font-weight: 500;
}

.Reg_Sch_Main .title_en {
	font-weight: bold;
}

.Reg_Sch_Main .title:nth-of-type(3) {
	margin-bottom: 16px;
}

.Reg_Sch_Main p {
	font-size: 14px;
	text-align: center;
	color: #fff;
}

.Reg_Sch_Main1 p {
	font-size: 14px;
	text-align: center;
	color: #000;
}

.Reg_Sch_Main p:nth-child(1) {
	white-space: nowrap;
}

.Reg_Sch_Main a {
	font-weight: bold;
}

.Reg_Sch_Main b {
	font-weight: 500;
}

.text_phone .mrg8 {
	margin-right: 8px;
}

@media (min-width: 639px) {
	p.text_break br {
		display: none;
	}
}

@media (max-width: 639px) {
	.Reg_Sch_Main p:nth-child(1) {
		white-space: pre-line;
	}
}

/* Urgent Pre Login Maintenance Page */
.UPL_Main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.UPL_content {
	width: 100%;
	margin: 24px 0;
	padding: 0 16px;
	flex: 1 1 auto;
}

.UPL_Main img {
	display: block;
	width: 112px;
	height: 111px;
	margin: 0px auto 24px;
}

.UPL_Main .title {
	display: block;
	width: 100%;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #9b8d79;
	margin-bottom: 16px;
}

.UPL_Main p {
	font-size: 14px;
	text-align: center;
	color: #000;
}

.UPL_Main p:nth-child(1) {
	white-space: nowrap;
}

.UPL_Main a {
	font-weight: 600;
}

.text_copyright {
	width: 100%;
	height: 32px;
	line-height: 16px;
	padding: 8px 0;
	flex: none;
	font-size: 12px;
	text-align: center;
	color: #fff;
	background: #9b8d79;
}

@media (max-width: 639px) {
	.UPL_Main p:nth-child(1) {
		white-space: pre-line;
	}
}

/* 部分網址隱藏聯絡資訊 */
.none_tel .hidden_tel {
	display: none;
}

/* Urgent Maintenance */
.Urgent_Main {
	padding: 0px 16px;
	margin-top: 64px;
}

.Urgent_Main img {
	display: block;
	width: 112px;
	height: 111px;
	margin: 0px auto 16px;
}

.Urgent_Main .title {
	display: block;
	height: 24px;
	margin-bottom: 14px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #9b8d79;

}

.Urgent_Main p {
	font-size: 14px;
	text-align: center;
	color: rgba(0, 0, 0, 0.64);
}

@media screen and (min-width: 1024px) {

	.UPL_content,
	.Reg_Sch_content {
		margin: 32px 0;
	}

	.Reg_Sch_Main1 .Reg_Sch_content {
		padding-top: 32px;
		margin-top: 0;
	}
}

/* error 404 */
.error_Main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 1 1 auto;
}

.error_Main img {
	display: block;
	width: 150px;
	height: 60px;
	margin: 0px auto 5px;
}

.error_Main p {
	display: block;
	height: 48px;
	line-height: 48px;
	margin: 0px 16px;
	font-size: 12px;
	text-align: center;
	color: rgba(0, 0, 0, 0.56);
}

.error_Main p:empty {
	display: none;
}

.error_Main tt {
	color: #007ba8;
}

/* Account View Only */
.view_only {
	margin: 64px 0 16px 0;
	padding: 0px 16px;
	transform: translate3d(0, 0, 0);
}

.view_only img {
	display: block;
	width: 120px;
	height: 120px;
	margin: 0px auto 24px auto;
}

.view_only span {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	color: var(--comm_tx);
}

.text_bold {
	font-weight: bold;
}

.btn_viewonly {
	cursor: pointer;
}

/* contactus */
.box_mail {}

.icon_mail {
	display: block;
	width: 64px;
	height: 64px;
	margin: 0 auto 8px auto;
	background: url(../images/contact_email.svg) center no-repeat;
	background-size: cover;
}

.icon_phone {
	display: block;
	width: 64px;
	height: 64px;
	margin: 32px auto 8px auto;
	background: url(../images/contact_phone.svg) center no-repeat;
	background-size: cover;
}

.box_mail p,
.box_phone p {
	display: block;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	text-align: center;
}

.box_phone p {
	margin-bottom: 4px;
}

.box_mail a,
.box_phone a {
	display: inline-block;
	color: #000;
}

/* help_odds */
.help_odds table {
	width: 100%;
	background: #fff;
}

.help_tr_odd td,
.his_tr td {
	text-align: center;
	font-size: 14px;
	color: #000
}

.help_odds .f_red {
	color: #ce3636;
}

.his_title {
	width: 100%;
	height: 56px;
	line-height: 56px;
	margin-bottom: 8px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	background-color: #352a21;
}

.his_title th {
	line-height: 16px;
	padding: 0px 8px;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	border: none;
	background-color: #352a21;
}

.hp_left {
	text-align: left;
}

.subtitle_help {
	height: 48px;
	line-height: 48px;
	margin: 16px 0px 0px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	background-color: #503f32;
}

.EN .subtitle_help {
	font-size: 16px;
}

.help_odds_bottom {
	margin-top: 16px;
}

.help_odds_bottom table {
	table-layout: fixed;
}

.help_odds_top .help_td,
.help_odds_bottom .help_td {
	width: 78px;
	height: 113px;
	line-height: 113px;
}

.TW.help_odds_top .help_td,
.CN.help_odds_top .help_td {
	width: 78px;
}

.EN .help_odds_top .help_td {
	width: 110px;
	white-space: nowrap;
}

.help_odds_top .help_td {
	padding-left: 16px;
	text-align: left;
}

.help_odds_bottom .help_td {
	text-align: center;
}

.help_odds_top tr:nth-child(4),
.help_odds_top tr:nth-child(5),
.help_odds_top tr:nth-child(8),
.help_odds_top tr:nth-child(9) {
	background-color: #e6e6e6;
}

.help_odds_bottom tr:nth-child(odd) {
	background-color: #e6e6e6;
}

.help_odds_top .help_td {
	box-shadow: inset -1px 0px 1px rgba(0, 0, 0, 0.16)
}

.help_td_odd.up {
	border-bottom: 1px rgba(0, 0, 0, 0.16) solid;
}

.help_td_odd {
	padding: 0px 4px;
	height: 56px;
	line-height: 56px;
}

.help_odds_bottom .help_td {
	height: 56px;
	line-height: 56px;
}

.title_help {
	display: flex;
	align-items: center;
	width: 100%;
	height: 48px;
	margin-bottom: 16px;
	flex: none;
	background-image: url('../images/bg_acc_title.jpg');
	background-position: bottom;
	background-color: #e1dbd8;
	/* 1123 */
}

.title_help .btn_back {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 8px;
	flex: 0 0 32px;
	transition: background 0.3s ease;
}

.title_help .btn_back i {
	display: block;
	width: 100%;
	height: 100%;
	padding: 8px;
}

.title_help span {
	overflow: hidden;
	display: inline-block;
	width: calc(100% - 96px);
	height: 24px;
	padding: 0 4px;
	line-height: 24px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	flex: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #000;
}

/* App download page */
.content_app {
	width: 100%;
	height: 100%;
	padding-bottom: 16px;
}

.content_app .title_help {
	justify-content: center;
	font-size: 16px;
	font-weight: bold;
}

.content_app ul {
	display: block;
	width: 100%;
	padding: 0 16px 16px 16px;
}

.content_app li {
	display: block;
	margin-bottom: 16px;
}

.content_app li:last-child {
	margin-bottom: 0;
}

.content_app .text_app {
	display: block;
	margin-bottom: 16px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.64);
}

.btn_app {
	display: block;
	width: 100%;
	max-width: 140px;
	height: 48px;
	line-height: 48px;
	margin: 16px auto;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	color: #fff;
	background: #19805c;
}

.img_app1,
.img_app2,
.img_app3,
.img_app4 {
	width: 192px;
	margin: 0 auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.img_app1 {
	height: 205px;
}

.img_app2 {
	height: 208px;
}

.img_app3 {
	height: 208px;
}

.img_app4 {
	height: 192px;
}

.TW .img_app1 {
	background-image: url('../images/img_app1_tw.jpg');
}

.TW .img_app2 {
	background-image: url('../images/img_app2_tw.jpg');
}

.TW .img_app3 {
	background-image: url('../images/img_app3_tw.jpg');
}

.TW .img_app4 {
	background-image: url('../images/img_app4_tw.jpg');
}

.CN .img_app1 {
	background-image: url('../images/img_app1_cn.jpg');
}

.CN .img_app2 {
	background-image: url('../images/img_app2_cn.jpg');
}

.CN .img_app3 {
	background-image: url('../images/img_app3_cn.jpg');
}

.CN .img_app4 {
	background-image: url('../images/img_app4_cn.jpg');
}

.EN .img_app1 {
	background-image: url('../images/img_app1_en.jpg');
}

.EN .img_app2 {
	background-image: url('../images/img_app2_en.jpg');
}

.EN .img_app3 {
	background-image: url('../images/img_app3_en.jpg');
}

.EN .img_app4 {
	background-image: url('../images/img_app4_en.jpg');
}

.footer_app {
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.64);
}

.footer_app span {
	display: inline-block;
	max-width: 212px;
	text-align: left;
	vertical-align: middle;
}

.icon_app {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-right: 16px;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../images/icon_app.svg');
}

.content_help_app {
	width: 100%;
	padding: 16px;
}

.help_app_gold {
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	color: #a78025;
}

.box_btn {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 48px;
	margin-top: 16px;
}

.btn_app_download {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 48px;
	margin-right: 8px;
	padding: 4px 8px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	color: #fff;
	background: #19805c;
}

.btn_googleplay {
	display: inline-block;
	width: 100%;
	height: 48px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	background: url('../images/img_googleplay.png') no-repeat center;
	background-size: auto 100%;
	border: 1px solid #19805c;
}

.content_acchelp {
	width: 100%;
	will-change: opacity;
}

/* right_panel */
.wrap_event {
	width: 100%;
}

.box_event {
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 16px;
	background-color: var(--event_box_bg);
}

.box_event:last-child {
	margin-bottom: 0;
}

.box_event.event_0 {
	background: #DD761A;
}

.box_event.event_newPD {
	background: #232323;
}

.box_event.event_timeset {
	background-color: var(--comm_bg);
}

.box_event.event_ioc2024 {
	background: #0e2e62;
}

.event_ioc2024 .img_event {
	position: unset;
}

.box_event button.no_event {
	pointer-events: none;
	cursor: default;
}

.img_event {
	position: relative;
	max-width: 480px;
	margin: 0 auto;
	background-size: cover;
	background-position: center center;
}

.img_event:before {
	/* content: ''; */
	display: block;
	width: 100%;
	max-width: 480px;
	padding-bottom: 51.1143%;
	opacity: 0;
}

.img_event img {
	display: block;
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
	background-position: center;
}

.img_event button {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.downloadapp .btn_link1 {
	top: 57%;
	left: 6.3%;
	width: 34.5%;
	height: 14%;
}

.downloadapp .btn_link2 {
	top: 73%;
	left: 6.3%;
	width: 34.5%;
	height: 14%;
}

.box_news {
	position: relative;
	display: flex;
	width: 100%;
	margin-bottom: 16px;
	padding-bottom: 22.4%;
	background: #352a21;
}

.box_news>div {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.img_news {
	display: inline-block;
	width: 40%;
	height: 100%;
	flex: 1 0 40%;
	vertical-align: top;
	/* background: #909090; */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.content_news {
	display: inline-flex;
	width: 60%;
	height: 100%;
	margin-left: -5px;
	padding: 8px 16px 16px 16px;
	flex-direction: column;
	vertical-align: top;
	color: #fff;
}

.title_news {
	display: block;
	width: 100%;
	margin-bottom: 8px;
	line-height: 24px;
	font-size: 14px;
	font-weight: bold;
}

.title_news>span {
	overflow: hidden;
	display: block;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text_news {
	display: flex;
	width: 100%;
	min-height: 17px;
	flex: 1 1 auto;
	align-items: center;
	font-size: 14px;
}

.text_news>span {
	overflow: hidden;
	display: block;
	width: 100%;
	overflow-wrap: break-word;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.text_news>span {
		-webkit-line-clamp: 1;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
	.text_news>span {
		-webkit-line-clamp: 2;
	}
}

@media screen and (min-width: 1600px) {
	.text_news>span {
		-webkit-line-clamp: 3;
	}
}

/* right_panel scored board*/
.box_r_score {
	width: 100%;
}

/* PC hover effect */
@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.box_banner label:hover button {
		background: #debb69;
	}

	.btn_sport:hover {
		border: 1px solid #a78025;
	}

	.btn_sport:hover i {
		background-color: #f5f2e5;
	}

	.btn_sport:hover i svg {
		fill: #a78025;
	}

	.btn_sport:hover span {
		color: #a78025;
	}

	.btn_nav:hover {
		background-color: var(--menuB_btn_bg_hv);
	}
}

/* All active effect */
.box_banner label:active button {
	background: #a78025;
}

.btn_sport:active {
	border: 1px solid #a78025;
}

.btn_sport:active i {
	background-color: #a78025;
}

.btn_sport:active i svg {
	fill: #fff;
}

.btn_sport:active span {
	color: #a78025;
}

.btn_nav:active {
	background-color: var(--menuB_btn_bg_ac);
}

.btn_nav:active span {
	color: var(--menuB_btn_tx_ac);
}

.btn_nav:active svg {
	fill: var(--menuB_btn_tx_ac);
}

.btn_betslip:active {
	background-color: var(--menuB_bet_bg_ac);
}

/* STAG 2 */
@media screen and (min-width: 1024px) {

	.title_game~.no_event,
	.box_game {
		width: calc(100% - 32px);
		margin: 0 16px;
	}

	.title_game {
		width: calc(100% - 32px);
		margin: 8px 16px;
	}

	.theme_txt.title_game {
		margin: 0 16px;
	}

	.title_inplay {
		margin-top: 32px;
	}

	.content_acchelp,
	.help_pwd {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.box_chgpwd,
	.box_help_pwd {
		width: 100%;
		max-width: 650px;
	}

	.content_acchelp .help_odds_top,
	.content_acchelp .help_odds_bottom {
		width: 100%;
		padding: 0 16px;
	}

	.view_only {
		margin: 144px 0 16px 0;
	}

	.clean_Main {
		padding-top: 112px;
	}

	.title_help {
		margin-bottom: 32px;
	}
}

.TW img.tw,
.CN img.cn,
.EN img.en {
	display: block;
}

.img_event img {
	background-size: cover;
}

.sideshow_5 .btn_link2,
.event_5 .btn_link2 {
	display: none !important;
}

/* footer */
.content_footer {
	display: grid;
	padding: 24px 32px;
	flex-direction: column;
	background: #F5F5F5;

	gap: 16px;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		"a"
		"b"
		"c";
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.content_footer {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto 1fr;
		grid-template-areas:
			"a b"
			"a c";
	}
}

@media screen and (min-width: 1280px) {
	.content_footer {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		grid-template-areas:
			"a b c";
	}
}

.box_footer:nth-child(1) {
	grid-area: a;
	display: grid;
	gap: 8px;
}

.box_footer:nth-child(2) {
	grid-area: b;
}

.box_footer:nth-child(3) {
	grid-area: c;
}


.box_copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 64px;
	padding: 24px 32px;
	font-size: 12px;
	color: #fff;
	background: #534C46;
}

.btn_footer {
	position: relative;
	display: flex;
	width: 100%;
	height: 32px;
	line-height: 16px;
	padding: 8px 0;
	font-size: 14px;
	align-items: center;
	color: #503F32;
	fill: #503F32;
}

.btn_footer i {
	display: block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
}

.btn_footer svg {
	display: block;
	width: 100%;
	height: 100%;
	z-index: unset;
}

@media screen and (min-width: 1024px) {
	.btn_footer_app {
		display: none !important;
	}
}

.btn_footer .icon_lang {
	background-image: url('../images/flag_lang.svg');
	background-size: 100% auto;
}

.icon_lang.icon_tw,
.icon_lang.icon_hk {
	background-image: url('../images/flag_tw.svg');
}

.icon_lang.icon_cn {
	background-image: url('../images/flag_cn.svg');
}

.icon_lang.icon_en {
	background-image: url('../images/flag_en.svg');
}

.btn_footer .btn_acc_sub {
	display: block;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #a78025;
}

.btn_footer select {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.box_footer .box_popup_selec {
	z-index: 3;
	position: absolute;
	top: 36px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 217px;
	padding: 0;
	visibility: collapse;
	background-color: var(--comm_bg);
	/* 
	top: -9px;
	left: 8px;
	width: 244px; */
}

.box_footer .box_popup_selec.on {
	visibility: visible;
}

.box_footer .box_popup_selec.on .mask_popup {
	opacity: 1;
}

.mobile .btn_footer select,
.main_ios .btn_footer select {
	display: block !important;
}

.mobile .box_popup_selec,
.main_ios .box_popup_selec {
	display: none !important;
}

.btn_popup_selec {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	padding: 0 16px;
	cursor: pointer;
}

.btn_popup_selec.on {
	color: var(--comm_txTitle);
}

.contantus_footer {
	display: grid;
	gap: 8px;
}

.contantus_footer span {
	display: block;
	width: 100%;
	height: 24px;
	line-height: 24px;
	/* margin-bottom: 8px; */
	font-size: 14px;
	font-weight: 700;
	color: #503F32;
}

.contantus_footer p {
	display: flex;
	width: 100%;
	height: 24px;
	line-height: 16px;
	font-size: 12px;
	align-items: center;
}

.contantus_footer a {
	color: #503F32;
}

.contantus_footer a~a {
	margin-left: 1em;
}

.box_relating {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 48px;
	padding: 16px;
	font-size: 14px;
	color: #007ba8;
	cursor: pointer;
}

.title_relating {
	width: 100%;
	height: 100%;
	line-height: 16px;
	text-align: center;
	font-size: 14px;
	color: var(--comm_tx);
}

@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.btn_footer select {
		display: none;
	}

	.btn_footer {
		cursor: pointer;
	}

	.btn_footer:hover span,
	.btn_footer:hover i {
		color: #A78025;
		fill: #A78025;
	}

	.btn_popup_selec:hover {
		background: rgba(0, 0, 0, 0.04);
	}

	.box_relating:hover {
		color: #008abd;
	}

	.btn_betslip:hover {
		background-color: var(--menuB_bet_bg_ac);
	}
}

.btn_footer:active span,
.btn_footer:active i {
	color: #86661E;
	fill: #86661E;
}

.btn_popup_selec:active {
	border-color: var(--comm_rdo_bd_ac);
	color: var(--menuR_secSel_tx_ac);
	fill: var(--menuR_secSel_tx_ac);
}

.box_relating:active {
	color: #005e80;
}

.footer .div_space {
	order: -1;
	display: block;
	width: 100%;
	height: 170px;
}

.notice_text:not([style="display: none;"])+.div_space {
	height: 16px;
}

.notice_text {
	width: 100%;
	margin-bottom: 64px;
	padding: 16px 8px 0 8px;
	flex: none !important;
}

.notice_text span {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 75px;
	padding: 16px 8px;
	border-radius: 4px;
	color: var(--comm_tx);
	border: 1px dashed var(--menuB_notice_bd);
}

.notice_text tt {
	display: block;
	line-height: 14px;
	vertical-align: middle;
	font-size: 12px;
}

.notice_text p {
	display: block;
	line-height: 21px;
	margin-top: 8px;
	font-size: 16px;
	font-weight: bold;
}

/* 1024 setting */
@media screen and (min-width: 1024px) {
	.notice_text {
		width: 100%;
		padding: 16px 16px 0 16px;
	}

	.footer .div_space {
		height: 64px;
	}
}

/* FAQ */
.box_faq {
	max-width: 650px;
	margin: -16px auto 0 auto;
}

.txt_date {
	display: flex;
	width: 100%;
	height: 48px;
	padding: 0 16px;
	line-height: 16px;
	align-items: center;
	font-size: 12px;
	gap: 4px;
	color: rgba(0, 0, 0, .64);
}

.box_faq article {
	display: block;
	width: 100%;
	margin-bottom: 16px;
}

.title_faq {
	display: flex;
	width: 100%;
	height: 48px;
	padding: 0 16px;
	line-height: 16px;
	align-items: center;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
}

.list_faq {
	position: relative;
	display: grid;
	width: 100%;
	padding: 16px;
	line-height: 16px;
	font-size: 12px;
	color: rgba(0, 0, 0, .64);
	border-bottom: 1px solid #EAEAE6;

	grid-template-rows: auto auto;
	grid-template-columns: 1fr 16px;
	column-gap: 16px;
	grid-template-areas:
		'qn btn'
		'ans ans';
}

.list_faq:last-child {
	border-bottom: none;
}

.list_faq input[type="checkbox"] {
	grid-area: btn;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.list_faq p {
	grid-area: qn;
	font-size: 14px;
	color: #000;
}

.btn_faq_switch {
	position: absolute;
	top: 16px;
	right: 16px;
	display: block;
	width: 16px;
	height: 16px;
	padding: 2px;
	fill: rgba(0, 0, 0, .4);
	pointer-events: none;
}

.btn_faq_switch svg {
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
}

.box_ans {
	grid-area: ans;
	display: none;
	margin-top: 16px;
}

.box_ans ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.box_ans a {
	color: #0083B3;
	cursor: pointer;
}

.list_faq input:checked~.box_ans {
	display: block;
}

.list_faq input:checked~.btn_faq_switch svg {
	transform: rotate(0deg);
}

@media screen and (min-width: 1024px) {
	.box_faq {
		margin: -32px auto 0 auto;
	}
}

/* 202401 new home page */
.wrap_sport_bg {
	position: relative;
	padding-top: 8px;
	flex: 0 1 auto;
	z-index: 0;
}

@media screen and (min-width: 1024px) {
	.wrap_sport_bg {
		padding-top: 16px;
	}
}

.wrap_sport_bg::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	/* background: #EEEEEC; */
	z-index: -1;
}

.wrap_sport_bg~.home_page.no_event {
	width: 100%;
	margin: 56px 0 0 0;
	padding: 25px 8px 25px 8px;
	flex: none;
	grid-column: 1 / span 1;
	z-index: 0;
}

.wrap_sport {
	position: relative;
	display: grid;
	padding: 0 16px;
	grid-auto-rows: 96px;
	grid-template-columns: 1fr;
	gap: 16px;
	z-index: 0;
}

@media screen and (min-width: 640px) {
	.wrap_sport {
		grid-template-columns: 1fr 1fr;
	}
}

.box_sport {
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	background-color: var(--home_sport_bg);
}

.title_sport {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: calc(52% + 20px);
	height: 32px;
	padding: 7px 8px;
	line-height: 18px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	flex: none;
	background-color: var(--home_sportTitle_bg);
	color: var(--home_sportTitle_tx);
}

.ES .pic_sport tt {
	position: absolute;
	right: 0;
	bottom: 0;
	width: calc(100% - 45px);
	height: 18px;
	text-align: center;
	line-height: 18px;
	font-size: 12px;
	color: #FFF;
	background: #503F32;
	cursor: pointer;
	pointer-events: auto;
	display: none;
}

.ES .pic_sport tt.no_event {
	min-height: unset;
	cursor: default;
	pointer-events: none;
	display: none;
}

.ES .pic_sport tt:active {
	color: #DEBB69;
	background: #3C2F26;
}

.ES .title_sport:after {
	content: attr(data-new);
	position: absolute;
	right: 0;
	display: flex;
	width: 68px;
	height: 32px;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: 400;
	text-transform: capitalize;
	background: url("data:image/svg+xml,%3Csvg width='68' height='32' viewBox='0 0 68 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 0H49.1602L67.825 32H18.5L0.5 0Z' fill='%23E76565'/%3E%3C/svg%3E%0A");
}


/* PC hover effect */
@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.ES .pic_sport tt:hover {
		color: #DEBB69;
	}
}

.title_sport span {
	display: block;
	max-width: calc(100% - 8px);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.pic_sport {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	width: 48%;
	height: 100%;
	align-items: center;
	justify-content: flex-end;
	overflow: hidden;
	pointer-events: none;
	-webkit-mask-image: url('../images/img_home_mask.svg');
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: auto 100%;
	mask-image: url('../images/img_home_mask.svg');
	mask-size: auto 100%;
	mask-position: center left;
	z-index: 1;
}

.pic_sport img {
	max-height: 100%;
	padding-left: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.box_sport_btn {
	display: grid;
	width: 58%;
	height: 100%;
	padding: 12px 0 12px 8px;
	gap: 4px;
	grid-template-columns: repeat(3, minmax(56px, 1fr));
	grid-template-rows: 40px;
	/* 1fr old ios been wrong */
}

@media screen and (min-width: 432px) and (max-width: 640px),
screen and (min-width: 848px) and (max-width: 1023px),
screen and (min-width: 1272px) {
	.box_sport_btn {
		gap: 4px;
	}
}

.btn_sport_new {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 3px 0;
	border-radius: 2px;
	z-index: 0;
	cursor: pointer;
}

.btn_sport_new>span {
	overflow: hidden;
	display: block;
	width: 100%;
	padding-right: 10px;
	line-height: 16px;
	font-size: 13px;
	font-weight: 700;
	color: var(--home_sportInfo_tx);
	flex: 1 1 auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.btn_sport_new:before {
	content: '';
	position: absolute;
	left: -4px;
	top: -4px;
	display: block;
	width: calc(100% + 8px);
	height: 48px;
	background-color: var(--home_sportInfo_bg_hv);
	border-radius: 2px;
	opacity: 0;
	z-index: -1;
	color: var(--home_sportNum_tx_hv);
}

.btn_sport_new:active::before {
	background-color: var(--home_sportInfo_bg_ac);
}

.num_sport_game {
	/* 	position: relative; */
	display: flex;
	width: 100%;
	height: 18px;
	padding: 1px 0;
	align-items: center;
}

.num_sport_game tt {
	display: block;
	margin-right: 4px;
	flex: none;
	line-height: 16px;
	font-size: 20px;
	font-weight: 700;
	color: var(--home_sportNum_tx);
}

.num_sport_game:before {
	/* 	content: ''; */
	display: block;
	max-width: 15px;
	min-width: 1px;
	height: 100%;
	flex: 1 100 15px;
}

.num_sport_game:after {
	/* 	content: ''; */
	display: block;
	width: 15px;
	height: 100%;
	flex: none;
}

.num_sport_game i {
	/* 	position: absolute;
	top: 5px;
	right: 0; */
	display: block;
	width: 4px;
	height: 8px;
	margin: 0 6px 0 0;
	flex: none;
	fill: var(--home_sportIcon_fi);
	flex: none;
}

@media screen and (min-width: 1024px) {
	.wrap_sport_bg~.home_page.no_event {
		margin: 48px 0 0 0;
	}
}

/* PC hover effect */
@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.btn_sport_new:hover:before {
		opacity: 1;
	}

	.btn_sport_new:hover * {
		color: var(--home_sportInfo_tx_hv);
		fill: var(--home_sportIcon_fi_hv)
	}
}

.btn_sport_new:active:before {
	opacity: 1;
}

.btn_sport_new:active * {
	color: var(--home_sportInfo_tx_ac);
	fill: var(--home_sportIcon_fi_ac)
}

.home_live_scroll {
	margin-bottom: 24px;
}

.live_sport {
	text-align: center;
}

.live_sport label {
	display: inline-flex;
	gap: 8px;
}

.btn_live_sport {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	width: 80px;
	height: 88px;
}

.btn_live_sport tt {
	position: absolute;
	top: 1px;
	left: 44px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 28px;
	height: 28px;
	padding: 0 6px;
	flex: none;
	font-size: 14px;
	font-weight: bold;
	color: var(--game_sportCount_tx);
	background-color: var(--game_sportCount_bg);
	border-radius: 28px;
	border: 1px solid var(--game_sportCount_bd);
}

.btn_live_sport tt:empty {
	display: none;
}

.btn_live_sport i {
	flex: none;
	display: flex;
	width: 40px;
	height: 40px;
	margin-bottom: 4px;
	padding: 8px;
	border-radius: 50%;
	fill: var(--game_sportBtn_tx);
	transition: background 0.3s ease;
}

.btn_live_sport span {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: var(--game_sportBtn_tx);
	transition: color 0.3s ease;
}

/* PC hover effect */
@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.btn_live_sport:hover i {
		fill: var(--game_sportBtn_tx_hv);
	}

	.btn_live_sport:hover span {
		color: var(--game_sportBtn_tx_hv);
	}
}

.btn_live_sport:active i {
	fill: var(--game_sportBtn_tx_ac);
}

.btn_live_sport:active span {
	color: var(--game_sportBtn_tx_ac);
}

.live_sport {
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
	height: 100%;
	flex: 1 1 auto;
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.live_sport::-webkit-scrollbar {
	display: none;
}

.home_live_scroll .btn_go_l,
.home_live_scroll .btn_go_r {
	background: #FFF;
	box-shadow: 0px 0px 2px 0px #00000066;
}

/* MOBILE setting */
@media (pointer: coarse),
(hover: none),
(-moz-touch-enabled: 1) {

	.home_live_scroll .btn_go_l,
	.home_live_scroll .btn_go_r {
		display: none;
	}
}

.home_appdw {
	overflow: hidden;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 48px;
	margin-top: 16px;
	margin-bottom: 24px;
	background: #A59B78;
	cursor: pointer;
}

.home_appdw img {
	width: auto;
	height: 100%;
}

@media screen and (min-width: 1024px) {
	.home_appdw {
		display: none !important;
	}
}

.footer_logo {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 32px;
	background-color: var(--footerBg);
}

.footer_logo>.img_a {
	height: 35px;
}

.footer_logo .img_b {
	height: 27px;
}

.footer_logo .img_c {
	height: 30px;
}

.pupup_img+.pupup_img {
	margin-left: 10px;
}