@charset "utf-8";

* {
	font-size: 14px;
	color: rgba(0, 0, 0, .64);
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
	font-weight: normal;
}

button {
	padding: 0;
	background-color: transparent;
	border: 0;
}

button *,
div *,
span * {
	font-size: inherit;
	color: inherit;
}

i svg {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.ord_down_style {
	overflow: hidden;
	position: relative;
	display: none;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
	width: 100%;
	max-width: 640px;
	max-height: 100%;
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
	box-shadow: 0 0 20px rgba(0, 0, 0, .32);
	pointer-events: none;
	background-color: var(--bet_content_bg);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.on .ord_down_style {
	display: flex;
	transform: translate3d(0, 0%, 0);
}

/*ios有動畫*/
.main_ios .ord_down_style {
	transition: transform .3s ease;
}

.main_ios .off .ord_down_style {
	transform: translate3d(0, 100%, 0);
}

/*非行動裝置有動畫*/
@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.ord_down_style {
		transition: transform .3s ease;
	}

	.off .ord_down_style {
		transform: translate3d(0, 100%, 0);
	}
}

._no_animation {
	transition: none !important;
}

.ord_full_style {
	position: relative;
	top: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
	width: 100%;
	max-width: 640px;
	height: 100%;
}

.ord_title {
	position: relative;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex: 0 0 48px;
	-ms-flex: 0 0 48px;
	flex: 0 0 48px;
	width: 100%;
	height: 48px;
	pointer-events: auto;
	background-color: var(--bet_bet_bg);
	color: #fff;
}

.ord_betset .ord_title {
	padding: 0 16px;
}

.ord_title.remove {
	position: absolute;
	top: 0;
	display: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 2;
}

.ord_title.active {
	display: flex;
}

.qk .ord_title {
	display: none;
}

.main_ios .ord_title.remove {
	display: flex;
	transition: all 0.3s ease-in-out;
	transform: translate3d(100%, 0, 0);
}

/*ios有動畫*/
.main_ios .ord_title.active {
	transform: translate3d(0%, 0, 0);
}

/*非行動裝置有動畫*/
@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.ord_title.remove {
		display: flex;
		transition: all 0.3s ease-in-out;
		transform: translate3d(100%, 0, 0);
	}

	.ord_title.active {
		transform: translate3d(0%, 0, 0);
	}
}

.ord_full_style .ord_title {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.ord_title_center {
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	/* text-align: center; */
}

.btn_ord_close {
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
}

.btn_ord_close i {
	display: block;
	width: 14px;
	height: 14px;
	margin: auto;
}

.btn_ord_close svg {
	fill: rgba(255, 255, 255, .64);
}

.ord_betset .btn_ord_close svg {
	fill: var(--bet_close_fi);
}

.btn_ord_remove+.btn_ord_close {
	position: relative;
	-webkit-flex: 0 0 48px;
	-ms-flex: 0 0 48px;
	flex: 0 0 48px;
}

.ord_fullslip,
.ord_qkslip,
.ord_function,
.ord_mask {
	width: 100%;
	pointer-events: auto;
}

/*快捷下注單*/
.ord_qkslip,
.ord_slip_model {
	position: relative;
}

.btn_ord_miniclose {
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
	background: url(../images/icon_grayclose.svg) no-repeat center;
	z-index: 3;
}

.btn_ord_miniclose.icon_print {
	width: 32px;
	height: 32px;
	margin: 6px;
	padding: 6px;
	fill: var(--bet_close_tx);
}

.btn_ord_miniclose svg {
	display: block;
	width: 100%;
	height: 100%;
}

.btn_ord_miniclose.icon_close {
	width: 32px;
	height: 32px;
}

.receipt .btn_ord_miniclose {
	background: url(../images/icon_print.svg) no-repeat center;
}

.btn_ord_miniclose.icon_close svg {
	display: block;
	width: 100%;
	height: 100%;
	fill: var(--bet_close_tx);
}

.ord_slip_info {
	padding: 16px;
	color: var(--bet_content_tx);
}

.ord_slip_model+.ord_slip_model,
.ord_slip_model+.ord_total {
	border-top: 1px solid var(--bet_content_bd);
}

.ord_slip_info.locked {
	background: url(../images/bg_locked.svg) rgba(0, 0, 0, .04) right bottom no-repeat;
}

.ord_slip_info.parlay {
	background-color: var(--bet_contentParlay_bg);
}

.ord_name {
	color: var(--bet_namet_tx);
}

.ord_odd_txt {
	width: calc(100% - 32px);
	max-height: 999999px !important;
	color: var(--bet_content_tx);
	font-size: 14px;
	/*Text Autosizer*/
}

.ord_odd_txt li:not(.type):not(.load_inorder) {
	min-height: 16px;
	margin-bottom: 5px;
	line-height: 16px;
}

.ord_odd_txt li:first-child .word_yellow {
	position: relative;
	top: -1px;
	margin-left: 5px;
}

.ord_odd_txt .type {
	position: relative;
	min-height: 24px;
	line-height: 24px;
	font-size: 16px;
	font-weight: bold;
}

.ord_odd_txt .mouse {
	margin: 0 4px;
	font-weight: normal;
}

.no_parlayin {
	position: relative;
}

.no_parlayin:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: -10px;
	display: block;
	width: 5px;
	height: 5px;
	margin: auto;
	border-radius: 50%;
	background-color: #e76565;
}

.ord_amount {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	padding-top: 16px;
}

.ord_amount_enter {
	position: relative;
	font-size: 16px;
	border-radius: 2px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex: 0 0 272px;
	-ms-flex: 0 0 272px;
	flex: 0 0 272px;
	height: 40px;
	width: 272px;
	background-color: #fff;
}

.locked .ord_amount_enter,
.ord_amount_enter.noenter {
	background-color: transparent;
	pointer-events: none;
}

.ord_amount_enter input {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 0;
	height: 0;
	background: transparent;
	border: none;
}

.ord_amount_enter .pc_typing {
	display: block;
	width: 100%;
	height: 100%;
	padding: 8px;
	border-radius: 4px;
	box-sizing: border-box;
}

.ord_amount_enter div {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 2px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 8px;
	cursor: text;
	border-radius: 4px;
}

.ord_amount_enter .normal {
	border: 1px solid rgba(0, 0, 0, .32);
	z-index: 2;
}

.ord_amount_enter .normal._pc {
	display: none;
	border: none;
}

.pc_typing:focus::-webkit-input-placeholder {
	color: transparent;
}

.pc_typing:focus:-moz-placeholder {
	color: transparent;
}

/* FF 4-18 */
.pc_typing:focus::-moz-placeholder {
	color: transparent;
}

/* FF 19+ */
.pc_typing:focus:-ms-input-placeholder {
	color: transparent;
}

/* IE 10+ */

.ord_amount_enter .normal:before {
	content: '輸入下注金額';
	color: rgba(0, 0, 0, .24);
}

/*cn*/
.cn .ord_amount_enter .normal:before {
	content: '输入下注金额';
	color: rgba(0, 0, 0, .24);
}

/*en*/
.en .ord_amount_enter .normal:before {
	content: 'Enter Stake';
	color: rgba(0, 0, 0, .24);
}

.ord_amount_enter .typing,
.ord_amount_enter .pc_typing {
	border: 1px solid rgba(0, 0, 0, .32);
	background-color: #fff;
	font-weight: bold;
	color: #000;
}

.ord_amount_enter .pc_typing::placeholder {
	color: var(--bet_input_tx);
	font-weight: normal;
}

.ord_amount_enter .pc_typing:focus::-webkit-input-placeholder {
	color: transparent;
}

.ord_amount_enter .pc_typing:focus:-moz-placeholder {
	color: transparent;
}

/* FF 4-18 */
.ord_amount_enter .pc_typing:focus::-moz-placeholder {
	color: transparent;
}

.ord_amount_enter .pc_typing.on,
.ord_amount_enter .typing.on {
	border-color: var(--bet_input_bd_on);
	color: #000;
}

.ord_amount_enter .typing.on:after {
	content: '|';
	-webkit-animation: cursorAnimate 1s ease infinite;
	animation: cursorAnimate 1s ease infinite;
}

.typing.on~.normal,
.pc_typing.on~.normal,
.ord_amount_enter .typing:not(.on):empty {
	display: none !important;
}

.ord_amount_enter .typing:not(.on):empty:after {
	content: none;
}

@keyframes cursorAnimate {
	50% {
		opacity: 1;
	}

	55% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes cursorAnimate {
	50% {
		opacity: 1;
	}

	55% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

/*不能按*/
.locked .typing {
	border-color: rgba(0, 0, 0, 0.15);
	color: rgba(0, 0, 0, .11);
	background-color: transparent;
}

.locked .typing.on:after {
	content: none;
}

.locked .normal {
	border-color: rgba(0, 0, 0, .15);
}

.locked .normal:before,
.locked .normal:focus:before {
	content: '輸入下注金額';
}

/*cn*/
.cn .locked .normal:before,
.cn .locked .normal:focus:before {
	content: '输入下注金额';
}

/*en*/
.en .locked .normal:before,
.en .locked .normal:focus:before {
	content: 'Enter Stake';
}

.locked .normal:before,
.locked .normal:focus:before,
.cn .locked .normal:before,
.cn .locked .normal:focus:before,
.en .locked .normal:before,
.en .locked .normal:focus:before {
	-webkit-animation: none;
	animation: none;
	color: rgba(0, 0, 0, .11);
}

.parlay_x {
	position: relative;
}

.parlay_x:after {
	content: 'x' attr(data-more);
	position: absolute;
	display: block;
	width: 23px;
	right: -31px;
	font-weight: normal;
}

.ord_maxbet {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	font-size: 12px;
	text-align: right;
	text-transform: uppercase;
	color: var(--bet_maxbet_tx);
}

.ord_amount_txt {
	font-size: 12px;
	text-align: right;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	color: var(--bet_maxbet_tx);
}

.ord_err {
	margin-top: 15px;
	font-size: 12px;
	color: #ce3636;
}

.ord_lasterr {
	margin-top: 2px;
	padding: 6px 16px;
	font-size: 12px;
	background-color: #fff;
	color: #ce3636;
}

.ord_lasterr.no_parlayin:before {
	left: 5px;
}

/*快捷收據*/
.ord_status {
	padding: 14px 0;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.ope_fantasy:not([style="display: none;"])~.ord_status,
.ope_fantasy:not([style="display: none;"])~div>.ord_status {
	padding: 16px 0;
}

.load_inorder {
	display: flex;
	align-items: center;
}

.ope_reason {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
}

.ope_reason svg {
	fill: #00a1db;
}

.load_inorder .load_ring {
	display: none;
}

.load_inorder .word_yellow {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.status_word.word_red:after {
	content: '已拒絕';
}

.status_word.word_red_unsuccess:after {
	content: "已拒絕（交易失敗）";
}

.status_word.word_red_wallet:after {
	content: "已拒絕(額度不足)";
}

.status_word.word_fail:after {
	content: '';
}

.status_word.word_green:after {
	content: '已確認';
}

.status_word.word_yellow:after {
	content: '確認中';
}

/*cn*/
.cn .status_word.word_red:after,
.CN .status_word.word_red:after {
	content: '已拒绝';
}

.cn .status_word.word_red_unsuccess:after,
.CN .status_word.word_red_unsuccess:after {
	content: "已拒绝（交易失败）";
}

.cn .status_word.word_red_wallet:after,
.CN .status_word.word_red_wallet:after {
	content: "已拒绝(额度不足)";
}

.cn .status_word.word_fail:after,
.CN .status_word.word_fail:after {
	content: '';
}

.cn .status_word.word_green:after,
.CN .status_word.word_green:after {
	content: '已确认';
}

.cn .status_word.word_yellow:after,
.CN .status_word.word_yellow:after {
	content: '确认中';
}

/*en*/
.en .status_word.word_red:after,
.EN .status_word.word_red:after {
	content: 'Rejected';
}

.en .status_word.word_red_unsuccess:after,
.EN .status_word.word_red_unsuccess:after {
	content: "Rejected (transaction failed)";
}

.en .status_word.word_red_wallet:after,
.EN .status_word.word_red_wallet:after {
	content: "Rejected(balance is insufficient)";
}

.en .status_word.word_fail:after,
.EN .status_word.word_fail:after {
	content: '';
}

.en .status_word.word_green:after,
.EN .status_word.word_green:after {
	content: 'Confirmed';
}

.en .status_word.word_yellow:after,
.EN .status_word.word_yellow:after {
	content: 'Pending';
}

.load_inorder .word_yellow .load_ring {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 8px;
	border-width: 1px;
	border-color: transparent #a78025 #a78025 #a78025;
}

.ord_betwin {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.ord_betwin ul:last-child {
	text-align: right;
}

.ord_betwin li:last-child {
	font-size: 16px;
	font-weight: bold;
	color: var(--bet_currency_tx);
}

.ord_betwin .betwin_x:after {
	content: '(x' attr(data-betwin) ')';
	position: relative;
	top: -1px;
	margin-left: 5px;
}

.ope_fantasy,
li.ope_fantasy>span {
	color: var(--bet_fantasy_tx);
}

li.ope_fantasy+.load_inorder {
	margin-top: 16px;
}

.ope_fantasy[style="display: none;"]+.load_inorder {
	margin-top: 0;
}

/*完整下注單*/
.ord_fullslip {
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	-webkit-overflow-scrolling: touch;
	-webkit-flex: 1 1 100vh;
	-ms-flex: 1 1 100vh;
	flex: 1 1 100vh;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: var(--bet_content_bg);
}

.ord_fullslip * {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}

.ord_full_bg {
	position: absolute;
	width: 100%;
	height: calc(100% - 48px);
}

.ord_full_group {
	-webkit-flex: 1 1 100%;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.ord_info {
	position: relative;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
	-webkit-flex: 1 1 calc(100% - 48px);
	-ms-flex: 1 1 calc(100% - 48px);
	flex: 1 1 calc(100% - 48px);
	min-width: calc(100% - 48px);
	height: 100%;
	padding-left: 16px;
}

.ord_info.collapse {
	padding-left: 56px;
}

.qk .ord_info.collapse {
	padding-left: 16px;
}

.ord_collapse {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 48px;
	height: 48px;
}

.ord_collapse i {
	display: block;
	width: 16px;
	height: 16px;
	margin: auto;
}

.mini .ord_collapse i,
.minimize .ord_collapse i {
	transform: rotate(180deg);
}

.ord_collapse svg {
	fill: rgba(255, 255, 255, 0.64);
}

.ord_collapse:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 48px;
	height: 48px;
	background-color: rgba(0, 0, 0, .24);
	opacity: 0;
}

.ord_info .title_txt {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
}

.ord_sline {
	display: block;
	width: 1px;
	height: 16px;
	margin: 0 8px;
	background-color: rgba(255, 255, 255, .24);
}

.ord_info .balance {
	color: var(--comm_money_tx);
	font-size: 12px;
}

.currency {
	position: relative;
}

.currency_color,
.ord_amount_txt li:nth-child(2) {
	color: var(--bet_currency_tx);
}

.currency:after {
	content: attr(data-currency);
	margin-left: 4px;
	text-transform: uppercase;
}

.ord_ins_box,
.ord_ins {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 8px;
	display: flex;
	align-items: center;
	margin: auto;
	padding: 0 2px;
	font-size: 12px;
	font-weight: bold;
	color: var(--mybet_tx);
}

.ord_ins_box._appt {
	overflow: hidden;
	right: 0;
	padding-right: 16px;
	user-select: none;
}

.ord_ins_box .ord_ins {
	position: relative;
}

.ord_ins_box li+li {
	margin-left: 8px;
}

.ord_ins {
	display: flex;
	align-items: center;
	height: 24px;
	padding: 4px;
	border: 1px solid var(--mybet_bd);
	font-size: 12px;
	font-weight: bold;
	border-radius: 3px;
}

.ord_title .ord_ins {
	color: #fff;
	border: 1px solid #fff;
}

.ord_ins tt {
	display: inline-block;
	margin-left: 1px;
	transform: scale(.75);
	opacity: .8;
}

.ord_link {
	display: block;
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.ord_link svg {
	width: 100%;
	height: 100%;
	fill: var(--mybet_link_fi);
}

/* 預約住單 */
.ord_trash,
.ord_close {
	display: block;
	width: 40px;
	height: 40px;
	padding: 4px;
	background-color: var(--bet_apptTrash_bg);
	cursor: pointer;
	transition-duration: 0.3s;
}

.ord_close {
	padding: 14px;
	border-radius: 0 4px 4px 0;
}

.ord_trash {
	position: absolute;
	top: 0;
	right: 16px;
	bottom: 0;
	margin: auto 0;
	border-radius: 4px;
}

.ord_trash svg {
	width: 100%;
	height: 100%;
	fill: #fff;
}

.ord_trash._un {
	background-color: var(--bet_apptTrash_un);
	opacity: 0;
	cursor: default;
}

._un svg {
	fill: var(--bet_apptTrash_fi);
}

.ord_close svg {
	height: 100%;
	fill: #fff;
}

._appt .ord_appt {
	overflow: hidden;
	position: relative;
	display: flex;
	height: 40px;
	margin-left: 0;
	transition-duration: 0.3s;
	transform: translateX(calc(100% + 16px));
	border-radius: 4px 0 0 4px;
}

._appt._on .ord_appt {
	width: auto;
	margin-left: 8px;
	transform: translateX(0);
}

._appt._on .ord_trash {
	opacity: 0;
	margin: auto 0;
	padding: 0;
}

.ord_appt .ord_appt_cancel {
	margin: 0;
}

.ord_appt_cancel {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 8px;
	background-color: #ec6e63;
	color: #fff;
	font-size: 14px;
	white-space: nowrap;
	cursor: pointer;
}

.ord_apptBtn {
	display: none;
	justify-content: center;
	align-items: center;
	min-width: 53px;
	height: 40px;
	color: var(--bet_apptBtn_tx);
	font-size: 16px;
	font-weight: 700;
	background-color: var(--bet_apptBtn_bg);
	border-radius: 0px 4px 4px 0px;
	cursor: pointer;
}

.btn_ord_remove {
	-webkit-flex: 1 1 calc(100% - 48px);
	-ms-flex: 1 1 calc(100% - 48px);
	flex: 1 1 calc(100% - 48px);
	min-width: calc(100% - 48px);
	height: 100%;
	line-height: 48px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background-color: #ce3636;
	color: #fff;
}

.btn_ord_del {
	position: relative;
	-webkit-flex: 0 0 48px;
	-ms-flex: 0 0 48px;
	flex: 0 0 48px;
	width: 48px;
	height: 48px;
}

.btn_ord_del i {
	display: block;
	width: 30px;
	height: 30px;
	margin: auto;
}

.btn_ord_del.icon_print i {
	width: 20px;
	height: 20px;
}

.btn_ord_del svg {
	fill: rgba(255, 255, 255, .64);
}

.ord_total {
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	margin-top: 2px;
	padding: 16px;
	background-color: var(--bet_content_bg);
	font-size: 14px;
}

.ord_total_title,
.ord_total_amount {
	min-width: calc(100% / 3);
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.ord_total_amount {
	min-width: calc(100% / 3 * 2);
	text-align: right;
	-webkit-align-items: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.ord_total_title span,
.ord_total_amount span {
	height: 20px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.ord_total_title tt {
	color: var(--bet_content_tx);
}

.ord_total_title span,
.ord_total_amount .currency:not(.currency_color) {
	color: var(--bet_contentTotal_tx);
}

.ord_total_title .ord_sline {
	background-color: rgba(0, 0, 0, .24);
}

.ord_empty {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex: 1 1 100%;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	padding: 16px;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	background-color: #fff;
	color: rgba(0, 0, 0, .56);
}

/*完整下注收據*/
.ord_multiple {
	height: 48px;
	padding: 0 16px;
	line-height: 48px;
	font-size: 16px;
	background-color: var(--bet_multi_bg);
	color: var(--bet_multi_tx);
}

/*鍵盤+訊息+按鈕*/
.ord_function {
	position: relative;
	flex: none;
	background-color: var(--keyboard_content_bg);
}

.ord_msg {
	font-size: 14px;
	background-color: var(--bet_msg_bg);
	color: var(--bet_msg_tx);
	text-align: center;
}

.ord_levelmsg:not(.bg_red):not(.bg_green):not(.bg_yellow) ul {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 8px 16px 0;
	height: auto;
	max-height: 112px;
}

.bg_red ul,
.bg_green ul,
.bg_yellow ul {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 24px;
	padding: 4px 16px;
}

.ord_msg ul:empty,
.ord_msg button {
	display: none;
}

.ord_levelmsg button {
	display: block;
	width: 100%;
	height: 32px;
	box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, .16);
	font-size: 14px;
}

.ord_msg ul:empty+button {
	border-top: 2px solid #e6e6e6;
	box-shadow: none;
}

.ord_levelmsg li {
	margin-bottom: 8px;
	/* color: #ce3636; */
}

.ord_keyboard {
	font-size: 14px;
	background-color: var(--keyboard_normal_bg);
	color: var(--keyboard_normal_tx);
	border-top: 1px solid var(--keyboard_normal_bd);
}

.bg_red li,
.bg_green li,
.bg_yellow li {
	margin-bottom: 0;
	line-height: 16px;
	color: #fff;
	text-transform: uppercase;
}

.ord_keyboard_num,
.ord_keyboard_more {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.ord_keyboard_num button,
.ord_keyboard_more button {
	position: relative;
	text-align: center;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 10%;
	height: 48px;
	-webkit-user-select: none;
}

.ord_keyboard_num button {
	background-color: var(--keyboard_normal_bg);
	color: var(--keyboard_normal_tx);
}

.ord_keyboard_more {
	background-color: var(--keyboard_addMore_bg);
	color: var(--keyboard_addMore_tx);
}

.ord_keyboard_more button {
	width: 20%;
	padding: 8px;
}

.ord_keyboard button:disabled,
.nobet button:not(.del):not(.dom) {
	color: var(--keyboard_normal_tx_db);
	pointer-events: none;
}

.nobet .ord_keyboard_more button:not(.del):not(.dom) {
	color: rgba(255, 255, 255, 0.24);
}

.ord_keyboard_more .del {
	background: url(../images/icon_backspace.svg) no-repeat center;
	order: -1;
}

.ord_order_button {
	height: 56px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

.btn_ord_betterbet {
	position: relative;
	width: 48px;
	height: 100%;
	background-color: var(--bet_bet_bg);
	-webkit-flex: 0 0 48px;
	-ms-flex: 0 0 48px;
	flex: 0 0 48px;
}

.btn_ord_betterbet svg,
.btn_ord_betterbet:disabled svg {
	fill: var(--bet_bet_tx);
}

.btn_ord_betterbet i {
	display: block;
	width: 16px;
	height: 16px;
	margin: auto;
}

.btn_ord_rem {
	max-width: 50%;
	-webkit-flex: 1 1 50%;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%;
	background-color: var(--bet_bet_bg);
	color: var(--bet_betBtn_tx_db);
}

.btn_ord_rem label {
	height: 100%;
	padding: 4px 8px 4px 16px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.btn_ord_rem input,
.ord_betset_switch input {
	display: none;
}

.btn_ord_rem input+i {
	position: relative;
	display: block;
	width: 12px;
	height: 12px;
	margin: 2px 10px 2px 2px;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, .64);
	border-radius: 12px;
}

.btn_ord_rem input+i:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	border: 1px solid transparent;
	margin: auto;
}

.btn_ord_rem input:checked+i {
	background-color: #33997a;
	border: 0;
}

.btn_ord_rem input:checked+i:before {
	border-color: #ededed;
}

.btn_ord_addslip {
	position: relative;
	padding: 4px 8px;
	border-left: 1px solid #fff;
	-webkit-flex: 1 1 calc(50% - 48px);
	-ms-flex: 1 1 calc(50% - 48px);
	flex: 1 1 calc(50% - 48px);
	background-color: var(--bet_bet_bg);
	color: var(--bet_bet_tx);
}

.btn_ord_addslip:disabled {
	color: var(--bet_bet_tx);
}

.btn_ord_pLacebet {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex: 1 1 50%;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%;
	padding: 4px 8px;
	background-color: var(--bet_betBtn_bg);
	color: var(--bet_bet_tx);
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}

.btn_ord_pLacebet:disabled {
	background-color: var(--bet_betBtn_bg_db);
	color: var(--bet_betBtn_tx_db);
}

.btn_ord_pLacebet .load_ring {
	width: 28px;
	height: 28px;
	border-width: 2px;
	border-color: transparent #fff #fff #fff;
}

.delay_loading {
	text-transform: none;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.delay_animate {
	width: 16px;
	height: 16px;
	margin-top: 3px;
}

.delay_animate div {
	transform-origin: 8px 8px;
	animation: delay_animate 1.2s linear infinite;
}

.delay_animate div:after {
	content: '';
	display: block;
	position: absolute;
	top: 0px;
	left: 7px;
	width: 2px;
	height: 3px;
	border-radius: 3px;
	background: rgba(255, 255, 255, .9);
}

.delay_animate div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}

.delay_animate div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}

.delay_animate div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}

.delay_animate div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}

.delay_animate div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}

.delay_animate div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}

.delay_animate div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}

.delay_animate div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}

.delay_animate div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}

.delay_animate div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}

.delay_animate div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}

.delay_animate div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}

@-webkit-keyframes delay_animate {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}


@keyframes delay_animate {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.btn_ord_reselect {
	position: relative;
	-webkit-flex: 1 1 50%;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%;
	padding: 4px 8px;
	background-color: var(--bet_bet_bg);
	color: #fff;
}

.btn_ord_ok {
	font-size: 14px;
	font-weight: bold;
	-webkit-flex: 1 1 50%;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%;
	padding: 4px 8px;
	background-color: var(--bet_betBtn_bg);
	color: #fff;
}

/*下注單設定*/
.ord_setting {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	z-index: 6;
	visibility: hidden;
	pointer-events: auto;
}

.ord_setting.on {
	visibility: visible;
}

.ord_full_mask,
.ord_nobet_mask {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, .32);
	pointer-events: auto;
	transition: opacity 0.3s ease;
}

.ord_nobet_mask {
	background: none;
	z-index: 10;
}

.ord_betset {
	overflow: hidden;
	width: 100%;
	max-width: 640px;
	height: auto;
	/* height: 320px; */
	transform: translate3d(0, 100%, 0);
	transition: all 0.3s ease;
	border-radius: 8px 8px 0 0;
}

.ord_setting.on .ord_betset {
	transform: translate3d(0, 0%, 0);
}

.ord_setting.on>.ord_full_mask {
	opacity: 1;
}

.ord_betset_txt {
	height: calc(100% - 48px);
	padding: 16px;
	background-color: var(--bet_content_bg);
	color: var(--bet_content_tx);
}

.ord_betset_txt h1 {
	margin-bottom: 16px;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
}

.ord_betset_function {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	height: 52px;
}

.ord_betset_function tt {
	font-size: 14px;
}

.ord_betset_txt h1,
.ord_betset_function tt {
	color: var(--bet_content_tx);
}

.ord_betset_switch {
	position: relative;
	width: 40px;
	height: 24px;
	border-radius: 24px;
}

.ord_betset_switch::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 40px;
	height: 24px;
	margin: auto;
	background-color: var(--bet_switch_bg);
	border-radius: 24px;
}

.ord_betset_switch input+span {
	position: absolute;
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 22px;
	top: 1px;
	-webkit-transition: .3s;
	-ms-transition: .3s;
	transition: .3s;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	background-color: rgba(0, 0, 0, .24);
}

.ord_betset_switch input:checked+span {
	background-color: var(--bet_switchBall_bg);
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18px);
	transform: translateX(18px);
}

.ord_betset_switch_txt {
	position: absolute;
	top: 100%;
	display: flex;
	width: 100%;
	margin: 4px 0;
	overflow: hidden;
	justify-content: flex-start;
}

.ord_betset_switch_txt tt {
	display: block;
	width: 100%;
	text-align: center;
	flex: none;
	font-weight: bold;
	color: var(--bet_switch_tx);
	transform: translate3d(-100%, 0, 0);
	transition: 0.3s ease;
}

.ord_betset_switch input:checked~.ord_betset_switch_txt tt {
	transform: translate3d(0%, 0, 0);
}

/*橫向阻擋*/
.ord_rotate_ph {
	min-height: 88px;
	padding: 12px 32px;
	background-color: #fff;
	-webkit-flex: 1 1 100%;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	display: none;
}

.ord_fullslip .ord_rotate_ph {
	padding-top: 32px;
}

.ord_rotate_ph span {
	line-height: 32px;
	pointer-events: auto;
}

.btn_ord_rotate {
	color: #007ba8;
}

/*下注整頁loading*/
.ord_betload {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-flex: 1 1 100%;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	background-color: var(--comm_bg);
	z-index: 7;
}

.ord_loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: var(--comm_bg);
}

.ord_betload .load_ring,
.ord_loading .load_ring {
	width: 30px;
	height: 30px;
	border-width: 2px;
	border-color: transparent #a78025 #a78025 #a78025;
}

.ord_fullslip+.ord_betload {
	position: fixed;
	/* height: calc(100% - 104px); */
	height: calc(100% - 104px - env(safe-area-inset-bottom));
	top: 48px;
}

/*帳戶歷史*/
.his_info_tb {
	width: 100%;
	text-align: center;
}

.his_info_tb .dark_head {
	background-color: hsl(27, 23%, 0%);
}

.his_info_tb th {
	height: 56px;
	background-color: var(--history_th_bg);
	color: var(--history_th_tx);
}

.his_info_tb td {
	height: 56px;
	color: var(--history_td_tx);
}

.his_info_tb .date {
	padding-left: 16px;
}

.his_info_tb tr:nth-child(odd) td {
	background: var(--history_td_bg);
}

.his_noinfo {
	width: 100%;
	-webkit-flex: 1 1 100%;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	margin: auto;
	padding: 0 16px;
	color: var(--history_title_tx);
	font-size: 12px;
	text-align: center;
}

/*交易狀況*/
.ope_info_title {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 56px;
	padding: 8px 8px 8px 16px;
	font-size: 16px;
	background-color: var(--mybet_head_bg);
	color: var(--mybet_tx);
}

.ope_info_title.off {
	overflow: hidden;
	height: 0;
	min-height: auto;
	padding: 0;
}

.ope_info_normal.off .ope_info_txt {
	padding: 0;
}

.ope_info_normal.off .ope_info_txt li {
	overflow: hidden;
	min-height: 0;
	height: 0;
	margin: 0;
}

.ope_info_title tt.word_lightyellow {
	margin-left: 8px;
}

.ope_info_title tt.word_lightyellow,
tt.ope_count {
	margin-left: 8px;
}

.ope_info_title span {
	margin: 0 8px;
}

.ope_info_title .ope_appointment_title {
	flex: none;
	margin-left: 0;
}

.ope_info_normal,
.ope_info_more {
	position: relative;
}

.ope_info_more+.ope_info_more,
.ope_info_txt+.ope_info_txt {
	border-top: 1px solid rgba(0, 0, 0, 0.16);
}

.ope_info_txt {
	padding: 8px 16px 0;
	color: var(--mybet_tx);
}

.ope_info_txt li:not(.ope_txt_team) {
	min-height: 16px;
	margin-bottom: 8px;
	line-height: 16px;
}

.ope_info_name {
	color: var(--mybet_teamName_tx);
}

.ope_info_txt li.load_inorder,
.ope_info_normal .ope_info_txt li.delay_reason {
	margin-bottom: 16px;
}

.show_delay_reason li.load_inorder,
.fore_wagers .ope_info_txt.show_delay_reason li.load_inorder,
.fore_wagers .ope_info_txt li.delay_reason {
	margin-bottom: 8px;
}

.show_delay_reason .delay_reason {
	display: block;
}

.ope_txt_team {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 24px;
	line-height: 24px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}

.ope_txt_team.history {
	display: flex;
	justify-content: space-between;
}

.ope_txt_team span:not(.acc_remind_txt) {
	width: 50%;
	flex: 1 1 50%;
	font-family: Arial, "Microsoft YaHei", SimSun;
}

.ope_txt_team span {
	width: 50%;
	flex: 1 1 50%;
}

.ope_point {
	font-size: 14px;
	font-weight: normal;
	text-align: right;
	color: var(--bet_custom_score_tx);
}

.ope_txt_team tt {
	position: relative;
	top: -2px;
	font-size: 14px;
	font-weight: normal;
}

.ope_txt_team tt.big {
	font-size: 16px;
}

.ope_txt_vs tt,
.ope_txt_odd tt {
	font-weight: bold;
}

.ope_txt_win,
.ope_txt_time {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.ope_txt_win tt {
	font-weight: bold;
}

.ope_info_foot {
	/* margin-top: 8px; */
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	height: 48px;
	padding: 0 16px;
	background-color: var(--mybet_head_bg);
	color: var(--mybet_tx);
	font-weight: bold;
}

.btn_forecast {
	flex: none;
	width: 32px;
	height: 32px;
}

.btn_forecast i {
	display: block;
	width: 16px;
	height: 16px;
	margin: auto;
}

.btn_forecast svg {
	fill: #00A1DB;
}

/* 額度修改記錄 */
.credit_color th {
	color: rgba(255, 255, 255, 0.64);
}

.ord_no_event {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	min-height: 200px;
	margin-bottom: 16px;
	padding: 0 8px;
}

.ord_no_event i {
	display: block;
	width: 120px;
	height: 85px;
	margin: 0 auto 25px;
	background: url('../images/img_nodata.svg') no-repeat center/cover;
}

.ord_no_event span {
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: rgba(0, 0, 0, 0.56);
	font-size: 12px;
	text-align: center;
}

.credit_color th:nth-child(1) {
	width: 16%;
}

.credit_color th:nth-child(2),
.credit_color th:nth-child(3),
.credit_color th:nth-child(4),
.credit_color th:nth-child(6) {
	width: 21%;
}

.credit_color th:nth-child(5) {
	width: 0;
}

/*loding*/
.ord_inn_loading {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100% + 56px);
	background: #fff;
	z-index: 5;
	display: none;
}

/*hand*/
.ord_keyboard:not(.nobet) button,
.del,
.dom,
.btn_ord_rem i,
.ord_maxbet span,
.ord_collapse:hover:after,
.btn_ord_miniclose:before {
	-webkit-transition: color .3s linear, background-color .3s linear, opacity .3s linear, box-shadow .3s linear, border-color .3s linear;
	-ms-transition: color .3s linear, background-color .3s linear, opacity .3s linear, box-shadow .3s linear, border-color .3s linear;
	transition: color .3s linear, background-color .3s linear, opacity .3s linear, box-shadow .3s linear, border-color .3s linear;
}

[class^="btn_"],
.ord_betset_switch,
.ord_keyboard:not(.nobet) button,
.del,
.dom,
.ord_maxbet span,
.ord_collapse,
.ope_reason,
.date.word_bold,
.ord_msg button {
	cursor: pointer;
}

/*no hand*/
button:disabled,
.ord_keyboard button:disabled {
	cursor: default;
}

/* PC hover effect */
@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.ord_keyboard:not(.nobet) .ord_keyboard_num button:hover {
		background-color: var(--keyboard_normal_bg_hv);
	}

	.ord_keyboard:not(.nobet) .ord_keyboard_more button:hover,
	.del:hover,
	.dom:hover {
		background-color: #474747;
	}

	.ord_keyboard:not(.nobet) .ord_keyboard_num button:disabled:hover {
		background-color: unset;
	}

	.ord_keyboard:not(.nobet) .ord_keyboard_more button:disabled:hover {
		background-color: rgba(0, 0, 0, .24)
	}

	.ord_maxbet span:hover {
		color: #0070E0;
	}

	.ord_levelmsg button:hover,
	.btn_ord_rotate:hover,
	.ope_reason:hover {
		color: var(--bet_leavemsg_tx_hv);
	}

	/* 日間版hover 不要有點擊效果 */
	.light .ord_levelmsg button:hover {
		color: var(--bet_msg_tx);
	}

	.btn_ord_pLacebet:hover:not(:disabled),
	.btn_ord_ok:hover {
		background-color: var(--bet_betBtn_bg_hv);
	}

	.ord_betset_switch:hover span {
		background-color: var(--bet_switchBall_bg);
	}

	.btn_ord_rem input:hover+i {
		border: 1px solid #33997a;
	}

	.btn_ord_remove:hover {
		background-color: #d65757;
	}

	.ord_collapse:hover svg {
		fill: #fff;
	}

	.btn_ord_betterbet:not(:disabled).mouse_hover:hover:before,
	.btn_ord_addslip.mouse_hover:hover:before,
	.btn_ord_reselect.mouse_hover:hover:before {
		background-color: rgba(0, 0, 0, .04);
	}

	.ord_amount_enter:hover .pc_typing,
	.ord_amount_enter .normal:hover,
	.ord_amount_enter .typing:hover {
		border-color: var(--bet_input_bd_hv);
	}

	.btn_ord_del:hover svg,
	.btn_ord_close:hover svg {
		fill: #fff;
	}

	.btn_forecast:hover svg {
		fill: #05BDFF;
	}

	.btn_ord_close.mouse_hover:hover:before,
	.btn_ord_del.mouse_hover:hover:before .btn_ord_miniclose:hover {
		background-color: var(--bet_close_bg_hv);
	}

	.ord_betset .btn_ord_close:hover::before {
		background-color: var(--bet_close_bg_hv2);
	}


	.btn_ord_betterbet:hover {
		background-color: var(--bet_bet_bg_hv);
	}

	.box_chg:not(.off):not(.check) .ord_chg_btn:hover,
	.box_chg:not(.off):not(.check) .ord_icon:hover {
		/* background-color: var(--mybet_chg_bg_hv); */
		opacity: 0.8;
	}

	.btn_ord_miniclose:hover {
		background-color: var(--bet_close_bg_hv);
	}

	/* 預約住單 */
	.ord_trash:not(._un):hover,
	.ord_appt_cancel:hover,
	.ord_apptBtn:hover,
	.ord_close:hover {
		opacity: 0.8;
	}

	.ord_apptBox_add:hover,
	.ord_apptBox_minus:hover {
		background-color: var(--bet_apptBox_bg_hv);
	}
}

/* 預約住單 */
.ord_trash:not(._un):active,
.ord_appt_cancel:active,
.ord_apptBtn:active,
.ord_close:active {
	opacity: 0.8;
}

/* All active effect */
.ord_keyboard:not(.nobet) .ord_keyboard_num button:active {
	background-color: var(--keyboard_normal_bg_ac);
}

.ord_keyboard:not(.nobet) .ord_keyboard_more button:active,
.del:active,
.dom:active {
	background-color: #1f1f1f;
}

.ord_keyboard:not(.nobet) .ord_keyboard_num button:disabled:active {
	background-color: unset;
}

.ord_keyboard:not(.nobet) .ord_keyboard_more button:disabled:active {
	background-color: rgba(0, 0, 0, .24)
}

.ord_maxbet span:active {
	color: #0052A3;
}

.ord_levelmsg button:active,
.btn_ord_rotate:active,
.ope_reason:active {
	color: #008abd;
}

/* 日間版active 不要有點擊效果 */
.light .ord_levelmsg button:active {
	color: var(--bet_msg_tx);
}

.btn_ord_pLacebet:active:not(:disabled),
.btn_ord_ok:active {
	background-color: var(--bet_betBtn_bg_ac);
}

.ord_betset_switch:active span {
	background-color: #439684;
}

.btn_ord_rem input:active+i {
	background-color: #33997a;
}

.btn_ord_rem input:active+i:before {
	border-color: #ededed;
}

.btn_ord_remove:active {
	background-color: #b02b2b;
}

.ord_collapse:active:after,
.btn_ord_miniclose:active:before {
	opacity: 1;
}

.btn_ord_betterbet:not(:disabled).mouse_hover:active:before,
.btn_ord_addslip.mouse_hover:active:before,
.btn_ord_reselect.mouse_hover:active:before {
	background-color: rgba(0, 0, 0, .08);
}

.ord_collapse:active svg,
.btn_ord_del:active svg,
.btn_ord_close:active svg {
	fill: #fff;
}

.btn_ord_miniclose:active,
.btn_ord_close.mouse_hover:active:before,
.btn_ord_del.mouse_hover:active:before,
.ord_betset .btn_ord_close.mouse_hover:active:before {
	background-color: var(--bet_close_bg_ac);
}

.ord_betset .btn_ord_close:active::before {
	background-color: var(--bet_close_bg_ac2);
}

.btn_forecast:active {
	background: rgba(0, 0, 0, .24);
}

.btn_forecast:active svg {
	fill: #0083B3;
}

/*RWD*/
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
	.ord_amount_enter {
		width: 147px;
		-webkit-flex: 0 0 147px;
		-ms-flex: 0 0 147px;
		flex: 0 0 147px;
	}

	.ord_keyboard_num button {
		width: 20%;
	}
}

@media only screen and (min-width: 1024px) {
	.ord_full_mask {
		position: absolute;
		height: calc(100% - 56px);
	}

	.ord_setting {
		top: unset;
		bottom: 0;
		height: calc(100% - 56px);
	}

	.ord_setting .ord_full_mask {
		position: fixed;
		top: 56px;
		left: auto;
		right: 0;
		width: calc(100% / 3);
		height: 100%;
	}

	/* mini無動畫狀態 避免注單切換時造成動畫閃退 */
	.mini .ord_down_style,
	.minimize .ord_down_style {
		display: flex;
		transform: translateY(100%) translateY(-48px);
		transform: translate3d(0, calc(100% - 48px), 0);
	}

	.mini .ord_down_style._bounce {
		transform: translateY(100%) translateY(-32px);
		transform: translateY(calc(100% - 32px));
	}

	.ord_outside_box,
	.ope_info_box,
	.his_info_box {
		padding: 0 16px;
	}

	.ord_no_event {
		margin-bottom: 32px;
	}
}

@media only screen and (max-width: 1023px) {

	.mini .ord_down_style,
	.minimize .ord_down_style {
		transform: translate3d(0, 100%, 0);
	}

	.bet_slip.on>.ord_full_mask {
		opacity: 1;
	}

	.bet_slip.off>.ord_full_mask {
		height: 0;
	}

	#total_print.btn_ord_del,
	.receipt .btn_ord_miniclose {
		display: none;
	}

	.qk .ord_title {
		display: flex;
	}

	.qk .btn_ord_miniclose.icon_close {
		display: none;
	}
}

@media screen and (min-width: 1px) and (max-width: 639px) {
	.ord_amount_enter {
		width: 136px;
		-webkit-flex: 0 0 136px;
		-ms-flex: 0 0 136px;
		flex: 0 0 136px;
	}

	.ord_keyboard_num button {
		width: 20%;
	}

	.pc_td {
		display: none;
	}

	.ph_td {
		display: table-cell;
	}

	.credit_color th:nth-child(1) {
		width: 21%;
	}

	.credit_color th:nth-child(2) {
		width: 25%;
	}

	.credit_color th:nth-child(5),
	.credit_color th:nth-child(6) {
		width: 27%;
	}
}

@media screen and (min-width: 1px) and (max-width: 320px) {
	.en.credit_color tt {
		display: block;
	}
}

/*橫向阻擋*/
@media (pointer: coarse) and (max-height:428px) and (max-width:926px),
(-moz-touch-enabled: 1) and (max-height:428px) and (max-width:926px),
screen and (pointer: fine) and (min-resolution: 2dppx) and (max-height:428px) and (max-width:926px) {
	.ord_down_style.qk {
		overflow: unset;
		box-shadow: none;
		pointer-events: none;
	}

	.ord_qkslip {
		background-color: transparent;
		padding-bottom: 96px;
		pointer-events: none;
	}

	.ord_fullslip {
		pointer-events: none;
	}

	.qk .ord_rotate_ph {
		box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, .24);
	}

	.ord_slip_model,
	.ord_empty,
	.ord_lasterr,
	.ord_total,
	.ord_function,
	.ord_slip_info,
	.ord_multiple {
		display: none;
	}

	.ord_rotate_ph {
		display: flex;
	}

	.his_noinfo {
		min-height: 160px;
		/*margin-top: 64px;*/
	}

	.ord_betset {
		height: calc(100% - 48px);
	}
}

.ord_apptBtn {
	display: none;
	justify-content: center;
	align-items: center;
	min-width: 53px;
	height: 40px;
	font-size: 16px;
	font-weight: 700;
	border-radius: 0px 4px 4px 0px;
	cursor: pointer;
	background-color: var(--bet_apptBtn_bg);
	color: var(--bet_apptBtn_tx);
}

.apptOn .ord_apptBtn {
	background-color: #6778a1;
	color: #fff;
}

.locked .ord_apptBtn {
	cursor: default;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.12);
	color: #fff;
}

.ord_apptBox {
	display: none;
	align-items: center;
	width: 100%;
	height: 48px;
	padding: 0 16px;
	background-color: #6778a1;
}

.show_appt .ord_apptBtn,
.apptOn+.ord_apptBox {
	display: flex;
}

.locked+.ord_apptBox {
	background-color: rgba(0, 0, 0, 0.12);
}

.ord_apptBox_item {
	display: flex;
	align-items: center;
}

.ord_apptBox_item+.ord_apptBox_item {
	margin-left: 10px;
}

.ord_apptBox_item::before {
	content: attr(data-txt);
	margin-right: 3px;
	font-size: 16px;
	color: #fff;
}

.locked+.ord_apptBox .ord_apptBox_item::before {
	color: #949eb5;
}

.d_none+.ord_apptBox_item {
	margin-left: 0;
}

.ord_apptBox_calc {
	display: flex;
	align-items: center;
	height: 32px;
	font-size: 18px;
	border-radius: 4px;
	border: 1px solid #d5dcec;
	background-color: #fff;
	color: #0c2565;
}

.locked+.ord_apptBox .ord_apptBox_calc {
	background-color: #b9bdc5;
	color: #6778a1;
}

.ord_apptBox_minus,
.ord_apptBox_add {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 100%;
	cursor: pointer;
	user-select: none;
	background-color: var(--bet_apptBox_bg);
}

.locked+.ord_apptBox .ord_apptBox_minus,
.locked+.ord_apptBox .ord_apptBox_add {
	cursor: default;
	pointer-events: none;
}

.ord_apptBox_minus {
	border-right: 1px solid #d5dcec;
}

.ord_apptBox_add {
	border-left: 1px solid #d5dcec;
}

.ord_apptBox_info {
	width: 70px;
	background-color: transparent;
	border: none;
	text-align: center;
}

.ord_apptBox_info.off {
	pointer-events: none;
}

.ord_apptBox_info[type="number"]::-webkit-outer-spin-button,
.ord_apptBox_info[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.ord_apptBox_info[type="number"] {
	-moz-appearance: textfield;
}

/* 預約住單 */
.ord_cashOut {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 584px;
	margin: 8px auto;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: var(--mybet_cashOut_tx);
}

.ord_icon {
	display: none;
	align-self: flex-start;
	width: 48px;
	height: 42px;
	padding: 6px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s linear, opacity 0.3s linear;
	background-color: var(--mybet_chg_bg);
}

.ord_cashOut svg {
	width: 100%;
	height: 100%;
	fill: var(--mybet_chg_tx);
}

.ord_chg_money {
	width: 100%;
	color: var(--mybet_chg_tx);
}

.ord_chg_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 42px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s linear, opacity 0.3s linear;
	background-color: var(--mybet_chg_bg);
}

.ord_chg_money tt {
	display: inline;
	margin: 0 4px;
}

.ord_chg_money .ord_chg_text {
	color: var(--mybet_cashOut_tx);
}

.ord_chg_money .ord_chg_off,
.ord_chg_wait {
	display: none;
}

.ord_chg_btn::before {
	content: attr(data-normal);
}

.ord_chg_money p {
	margin-top: 8px;
	color: #75829b;
	font-size: 12px;
}

.ord_chg_money~.ord_icon {
	margin-left: 8px;
}

/*橫向阻擋*/
@media (pointer: coarse) and (orientation: landscape) and (max-height: 428px) {
	.ord_down_style.qk {
		box-shadow: none;
		overflow: unset;
		pointer-events: none;
		background: transparent;
	}

	.ord_qkslip {
		background-color: transparent;
		padding-bottom: 96px;
		pointer-events: none;
	}

	.ord_fullslip {
		pointer-events: none;
	}

	.qk .ord_rotate_ph {
		box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.24);
	}

	.ord_slip_model,
	.ord_empty,
	.ord_lasterr,
	.ord_total,
	.ord_function,
	.ord_slip_info,
	.ord_multiple {
		display: none;
	}

	.ord_rotate_ph {
		display: flex;
	}

	.his_noinfo {
		min-height: 160px;
		/*margin-top: 64px;*/
	}

	.ord_betset {
		height: calc(100% - 48px);
	}
}

.ord_delay~.ord_order_button .load_ring:not(._inside) {
	display: none !important;
}

.ord_delay~.ord_order_button .delay_loading {
	display: flex;
}

.delay_loading .load_ring {
	width: 18px;
	height: 18px;
}

.settle .show_unsettle,
.unsettle .show_settle {
	display: none;
}

.ord_maxbet_bookNote {
	display: none;
	pointer-events: none;
	color: var(--bet_apptBtn_tx);
}

/* 兌現功能 - 無法使用 */
.box_chg.off {
	pointer-events: none;
}

.off .ord_chg_off {
	display: inline;
	color: var(--mybet_chgOff_tx);
}

.off .ord_chg_btn {
	opacity: 0.4;
	cursor: default;
}

.off .ord_chg_btn::before {
	color: var(--mybet_chg_tx);
}

.off .ord_icon {
	cursor: default;
}

.off ._setting {
	display: block;
	opacity: 0.4;
}

/* 兌現功能 - 異動 */
.change .ord_chg_btn::before {
	content: attr(data-change);
	color: var(--mybet_chgMoney_tx);
}

.change .ord_chg_btn {
	background-color: var(--mybet_chgMoney_bg);
	color: var(--mybet_chgMoney_tx);
}

.change .ord_chg_text {
	color: var(--mybet_chgNum_tx);
}

/* 兌現功能 - 確定狀態 */
.confirm .ord_chg_btn::before {
	content: attr(data-confirm);
}

.confirm .ord_chg_btn {
	background-color: var(--mybet_chgChk_bg);
	color: var(--mybet_chgChk_tx);
}

.confirm .ord_chg_text {
	color: var(--mybet_chgChk_tx);
}

/* 兌現功能 - 成功 */
.box_chg.success {
	pointer-events: none;
}

.success .ord_chg_btn::before {
	content: attr(data-success);
}

.change .ord_chg_curr,
.change .ord_chg_text,
.confirm .ord_chg_curr,
.confirm .ord_chg_text,
.success .ord_chg_curr,
.success .ord_chg_text {
	display: inline;
}

.success .ord_chg_btn {
	background-color: var(--mybet_chg_bg);
	color: var(--mybet_chg_tx);
}

.success .ord_chg_text {
	color: var(--mybet_chgSuccess_tx);
}

/* 兌現功能 - 確認中 */
.box_chg.check {
	pointer-events: none;
}

.check .ord_chg_btn::before {
	content: attr(data-check);
}

.check .ord_chg_btn {
	pointer-events: none;
	background-color: var(--mybet_chgChk_bg);
	color: var(--mybet_chgChk_tx);
}

/* 兌現功能 - 失敗 */
.fail .ord_chg_btn::before {
	content: attr(data-fail);
}

.fail .ord_chg_btn {
	background-color: var(--mybet_chgChk_bg);
	color: var(--mybet_chgChk_tx);
}

._setting,
.ord_maxbet_bookNote.on,
.change ._close,
.confirm ._close,
.check .ord_chg_wait {
	display: block;
}

.ord_maxbet .currency_color~span {
	margin-left: 5px;
	white-space: nowrap;
}

.acc_remind {
	position: relative;
	top: 2px;
	display: inline-block;
	margin-right: 3px;
}

.acc_remind_txt {
	position: absolute;
	top: 30px;
	left: 0;
	display: block;
	width: auto;
	max-width: 100%;
	padding: 8px;
	text-align: center;
	border-radius: 3px;
	visibility: hidden;
	border-width: 1px;
	border-style: solid;
	text-align: left;
	background-color: var(--bet_gameMsg_bg);
	color: var(--bet_gameMsg_tx);
	z-index: 1;
	font-weight: normal;
	font-size: 14px;
}

.icon_wageri {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 16px;
	fill: var(--bet_gameMsg_fi);
}

.icon_wageri svg {
	width: 100%;
	height: 100%;
}

.acc_remind:hover~.acc_remind_txt,
.acc_remind_txt:hover {
	visibility: visible;
}

.d_none,
.off .ord_chg_text,
.off .ord_chg_curr,
.confirm ._setting,
.success ._link,
.success ._setting,
.check ._link,
.check .ord_chg_normal,
.check .ord_chg_curr,
.check ._setting,
.fail ._close,
.fail ._link,
.fail .ord_chg_curr,
.fail ._setting,
.api_list_bet .acc_remind,
.ph_td,
.delay_reason,
.his_noinfo:empty,
.ope_info_title tt:empty {
	display: none;
}