.box_help_btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 0;
	padding: 0 16px;
}

.box_help_btn .btn_cancel {
	margin-right: 16px;
}

.box_help_pwd .btn_cancel,
.box_help_pwd .btn_next,
.box_help_pwd .btn_submit,
.box_help_pwd .btn_safecode {
	display: inline-block;
	flex: 1 1 auto;
	width: 100%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	color: #fff;
}

.btn_submit {
	display: block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	-webkit-box-flex: 1;
	text-transform: uppercase;
	cursor: pointer;
	background-color: var(--comm_btn_bg);
	color: var(--comm_btn_tx);
}

.btn_cancel {
	display: block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	background-color: #7a7a7a;
	color: #fff;
}

/* popup msg model */
.popup_bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	padding: 16px 0;
	z-index: 1;
	background: var(--comm_bg);
	visibility: collapse;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	transition: transform 0.3s ease, visibility 0s 0.3s;
}

.ios15 .popup_bottom {
	padding-bottom: calc(16px + env(safe-area-inset-bottom));
}

.popup_bottom.on,
.popup_bottom.now {
	-webkit-transform: translate3d(0, 0%, 0);
	transform: translate3d(0, 0%, 0);
	visibility: visible;
	transition: transform 0.3s ease, visibility 0s;
}

.popup_content {
	width: 100%;
	margin-bottom: 16px;
	padding: 0 16px;
	line-height: 16px;
	color: var(--comm_tx);
}

.popup_btnbox {
	display: flex;
	width: 100%;
	padding: 0 16px;
}

.mem333 .popup_btnbox {
	flex-direction: column;
}

.popup_btnbox>div~div {
	margin-left: 16px;
}

.mem333 .popup_btnbox>div~div {
	margin-left: 0;
	margin-top: 16px;
}

/* popup game model */
.popup_game {
	overflow: hidden;
	position: absolute;
	display: flex;
	flex-direction: column;
	width: calc(100% - 32px);
	min-width: 288px;
	max-width: 640px;
	height: auto;
	max-height: calc(100% - 32px);
	margin: 16px auto;
	border-radius: 8px;
	z-index: 1;
	background: #fff;
	visibility: collapse;
	-webkit-transform: translate3d(0, calc(50vh + 50%), 0);
	transform: translate3d(0, calc(50vh + 50%), 0);
	transition: transform 0.3s ease, visibility 0s 0.3s;
}

.popup_bet {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	height: auto;
	border-radius: 8px 8px 0 0;
	z-index: 1;
	background: #fff;
	visibility: collapse;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	transition: all 0.3s ease;
}

.popup_game.on,
.popup_bet.on {
	-webkit-transform: translate3d(0, 0%, 0) !important;
	transform: translate3d(0, 0%, 0) !important;
	visibility: visible;
	transition: transform 0.3s ease, visibility 0s;
}

.popup_title {
	position: relative;
	flex: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 48px;
	line-height: 16px;
	padding: 4px 0;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: var(--popup_head_bg);
	color: var(--popup_head_tx);
}

.popup_title span {
	display: block;
	width: 100%;
	margin-left: 16px;
	padding-right: 48px;
}

.popup_game .btn_close,
.popup_bottom._ordDetail .btn_close,
.pop_chg .btn_close {
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
	padding: 8px;
	transition: all 0.3s linear;
}

.popup_game .btn_close i,
.popup_bottom._ordDetail i,
.pop_chg i {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 8px;
	/* opacity: 0.56; */
}

.popup_game .btn_close svg,
.popup_bottom._ordDetail .btn_close svg,
.pop_chg .btn_close svg {
	display: block;
	width: 100%;
	height: 100%;
	fill: var(--popup_close_tx);
	transition: all 0.3s linear;
}

.popup_title .icon_information {
	display: block;
	width: 16px;
	height: 16px;
	margin-left: 16px;
	pointer-events: none;
}

.popup_title .icon_information svg {
	width: 100%;
	height: 100%;
	fill: #00a1db;
}

.fore_popup .popup_title {
	align-content: center;
	flex-wrap: wrap;
	line-height: normal;
}

.fore_popup .popup_title span {
	overflow: hidden;
	height: 17px;
	line-height: 17px;
	font-size: 13px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-transform: capitalize;
}

.fore_popup .popup_title:before {
	display: block;
	width: 100%;
	margin-left: 16px;
	padding-right: 48px;
	line-height: 16px;
	font-size: 14px;
	font-weight: bold;
}

.TW .fore_popup .popup_title:before {
	content: attr(data-TW);
}

.CN .fore_popup .popup_title:before {
	content: attr(data-CN);
}

.EN .fore_popup .popup_title:before,
.JP .fore_popup .popup_title:before,
.VN .fore_popup .popup_title:before,
.TH .fore_popup .popup_title:before,
.KR .fore_popup .popup_title:before,
.ID .fore_popup .popup_title:before,
.IN .fore_popup .popup_title:before,
.KH .fore_popup .popup_title:before,
.MM .fore_popup .popup_title:before,
.ES .fore_popup .popup_title:before,
.TR .fore_popup .popup_title:before,
.PT .fore_popup .popup_title:before {
	content: attr(data-EN);
}

.popup_game .btn_close,
.popup_bet .btn_close,
.fore_popup .btn_close,
.fore_more_popup .btn_close {
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
	padding: 8px;
}

.popup_game .btn_close i,
.popup_bet .btn_close i,
.fore_popup .btn_close i,
.fore_more_popup .btn_close i {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 9px;
}

.popup_game .btn_close svg,
.popup_bet .btn_close svg,
.fore_popup .btn_close svg,
.fore_more_popup .btn_close svg {
	display: block;
	width: 100%;
	height: 100%;
	fill: var(--popup_close_tx);
}

.popup_game .popup_content,
.popup_bet .popup_content,
.fore_popup .popup_content {
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 16px;
	flex: 1 1 auto;
}

.popup_game .popup_content p~p,
.popup_bet .popup_content p~p {
	margin-top: 1rem;
}

.popup_bet .popup_content,
.popup_game .popup_content {
	background-color: var(--popup_content_bg);
}

/*passcode*/
.popup_txt li {
	margin-bottom: 13px;
}

.popup_txt li:last-child {
	margin-bottom: 12px;
}

.popup_checkbox {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	padding: 16px 16px 0;
	color: rgba(0, 0, 0, .64);
	font-size: 14px;
}

.popup_checkbox input {
	display: none;
}

.popup_checkbox input+i {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 11px;
	vertical-align: middle;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, .64);
}

.popup_checkbox input:checked+i {
	background: url(../images/icon_tick.svg) no-repeat #33997a;
	background-size: cover;
	border-color: #33997a;
}

.popup_checkbox input+i {
	-webkit-transition: color .3s linear, background-color .3s linear, opacity .3s linear, box-shadow .3s linear, border-color .3s linear;
	-ms-transition: color .3s linear, background-color .3s linear, opacity .3s linear, box-shadow .3s linear, border-color .3s linear;
	transition: color .3s linear, background-color .3s linear, opacity .3s linear, box-shadow .3s linear, border-color .3s linear;
}

.popup_checkbox tt {
	display: inline-block;
	vertical-align: middle;
}

/* toast msg*/
.popup_toast {
	position: fixed;
	left: 0;
	right: 0;
	bottom: -16px;
	width: 100%;
	z-index: 1;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	transition: all 0.3s ease;
	visibility: collapse;
}

.popup_toast.on {
	bottom: 56px;
	-webkit-transform: translate3d(0, 0%, 0);
	transform: translate3d(0, 0%, 0);
	margin-bottom: 16px;
	margin-bottom: calc(env(safe-area-inset-bottom) + 16px);
	visibility: visible;
}

.popup_toast.high_set.on {
	margin-bottom: 80px;
	margin-bottom: calc(80px + constant(safe-area-inset-bottom));
	margin-bottom: calc(80px + env(safe-area-inset-bottom));
}

.ios15 .popup_toast.high_set.on {
	margin-bottom: calc(env(safe-area-inset-bottom) + 80px);
}

.popup_toast.log_bef {
	bottom: 0px !important;
}

.box_toast {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 640px;
	min-height: 64px;
	margin: 0 auto;
	padding: 6px 8px 6px 16px;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.88);
	background: #474747;
}

.no_btn .box_toast {
	justify-content: center;
	min-height: 48px;
	padding: 4px 16px;
	text-align: center;
	font-size: 14px;
}

.btn_toast {
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
}

/* POPUP Center*/
.popup_center {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	max-height: 640px;
	padding: 16px;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	transition: all 0.3s ease;
	z-index: 2;
	visibility: collapse;
}

.popup_center.on {
	-webkit-transform: translate3d(0, 0%, 0);
	transform: translate3d(0, 0%, 0);
	visibility: visible;
}

.popup_center>div {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 480px;
	max-height: 100%;
	background: #fff;
	z-index: 1;
	border-radius: 8px;
}

.popup_center .popup_title {
	justify-content: center;
	flex: none;
}

.popup_center .popup_content {
	overflow-y: auto;
	margin: 0;
	padding: 16px 16px 0 16px;
}

.popup_center .popup_btnbox {
	padding: 16px;
}

/* POPUP kick */
.popup_kick>div {
	min-width: 288px;
	max-height: 640px;
}

/* PC hover effect */
@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.btn_popup_selec:hover .checkmark {
		border: 2px solid #33997a;
	}

	.popup_title .btn_close:hover svg,
	.popup_title .btn_fullscr:hover svg {
		fill: var(--popup_close_tx_hv);
	}

	.btn_toast:hover {
		background: #5c5c5c;
	}

	.btn_submit:hover {
		background-color: var(--comm_btn_bg_hv);
	}

	.btn_cancel:hover {
		background-color: var(--comm_btnF_bg_hv);
	}
}

/* All active effect */
.popup_title .btn_close:active i,
.popup_title .btn_fullscr:active i {
	background-color: var(--comm_closeBtnV2_bg_ac);
}

.popup_title .btn_close:active svg,
.popup_title .btn_fullscr:active svg {
	fill: var(--popup_close_tx_ac);
}

.btn_toast:active {
	background: #333;
}

.btn_submit:active {
	background-color: var(--comm_btn_bg_ac);
}

.btn_cancel:active {
	background-color: var(--comm_btnF_bg_ac);
}

#alert_show {
	overflow: unset;
	height: auto;
}

.msg_popup {
	position: fixed;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	transition: visibility 0s 0.3s;
}

.msg_popup.on {
	transition: visibility 0s;
}

/* popup mask */
.mask_popup,
.mask_popup_left,
.mask_popup_right {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 0;
	opacity: 0;
	background: var(--comm_mask);
	transition:
		opacity 0.3s ease,
		height 0s ease 0.3s;
}

.mask_popup {
	z-index: 1;
}

.mask_popup_right {
	width: calc(100% / 3);
	left: auto;
	right: 0;
}

.pc_center.on~.mask_popup,
.popup_center.on~.mask_popup,
.pc_left.on~.mask_popup_left,
.pc_right.on~.mask_popup_right {
	opacity: 1;
	height: 100%;
	transition:
		opacity 0.3s ease,
		height 0s ease;
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
	.popup_bet.on~.mask_popup_left {
		opacity: 1;
		height: 100%;
		transition:
			opacity 0.3s ease,
			height 0s ease;
	}
}

/* STAG 2 */
/* Center */
.pc_center.on {
	z-index: 3;
}

@media screen and (min-width: 1024px) {

	/* .mask_popup, */
	.mask_popup_right {
		top: 48px;
	}

	.pc_center.on~.mask_popup {
		z-index: 2;
	}

	.pc_center.on~.mask_popup,
	.popup_center.on~.mask_popup {
		top: 0;
		width: 100%;
	}

	/* Left */
	.mask_popup_left {
		top: 48px;
		width: calc(200% / 3);
	}

	/* Right */
	.pc_right.on>.mask_popup_right {
		top: 48px;
		left: auto;
		right: 0;
		width: calc(100% / 3);
	}
}

/* STAG 2 */
@media screen and (min-width: 1024px) {

	.popup_bottom,
	.popup_game,
	.popup_bet {
		left: 0;
		right: 0;
		width: calc(200% / 3);
		margin-left: calc((66.6% - 640px) / 2);
	}

	.popup_bottom.pc_center {
		margin: 0 auto;
	}

	.popup_game.pc_right,
	.popup_bet {
		top: auto;
		bottom: 0;
		left: auto;
		right: 0;
		width: calc(100% / 3);
		min-width: unset;
		margin-bottom: 0;
		border-radius: 8px 8px 0 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		/* display: none!important; */
	}

	.popup_bet {
		left: auto;
		right: 0;
		width: calc(100% / 3);
		min-width: unset;
		max-height: calc(100% - 32px);
		margin: 16px auto 0px auto;
		-webkit-transform: translate3d(0, calc(50vh + 50%), 0);
		transform: translate3d(0, calc(50vh + 50%), 0);
		transition: transform 0.3s ease, visibility 0s 0.3s;
	}

	.popup_bet.on~.mask_popup_right {
		opacity: 1;
		height: 100%;
		transition:
			opacity 0.3s ease,
			height 0s ease;
	}

	.popup_toast {
		/* position: absolute !important; */
		width: 100% !important;
		max-width: 640px !important;
		margin-left: calc((66.6% - 640px) / 2);
	}

	.popup_toast.log_bef {
		margin-left: auto;
		margin-right: auto;
	}

	.popup_toast.on {
		bottom: 0;
	}

	.popup_toast.high_set.on {
		margin-bottom: 80px;
		margin-bottom: calc(80px + constant(safe-area-inset-bottom));
		margin-bottom: calc(80px + env(safe-area-inset-bottom));
	}

	.bonus_title {
		font-size: 40px;
	}

	.bonus_sectitle {
		font-size: 28px;
	}

	.bonus_popup {
		top: 0;
		left: 0;
		right: 0;
	}

	.bonus_popup:before {
		border-radius: 10px;
	}

	.num_list li {
		font-size: 24px;
	}

	.mem333 .popup_btnbox {
		flex-direction: row;
	}

	.mem333 .popup_btnbox>div~div {
		margin-left: 16px;
		margin-top: 0;
	}
}

@media screen and (min-width: 1920px) {

	.popup_game.pc_right,
	.popup_bet {
		margin-right: calc((50%/3) - 320px);
	}
}


.lab_radio {
	position: relative;
	float: left;
	display: block;
	color: rgba(0, 0, 0, 0.64);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.lab_radio input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 3px;
	vertical-align: middle;
	border-radius: 50%;
	background: url('../images/icon_check.svg') no-repeat;
	background-size: contain;
	background-position: -24px;
	border: 1px solid var(--comm_rdo_bd);
}

.lab_radio tt {
	display: inline-block;
	margin-left: 4px;
	vertical-align: middle;
	font-size: 14px;
	color: var(--comm_rdo_tx);
}

.lab_radio input:checked~.checkmark {
	border: none;
	background-position: 0;
}


/* PC hover effect */
@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.lab_radio:hover .checkmark {
		border: 1px solid var(--comm_rdo_bd_hv);
	}
}

.mask_popup.mask_gray {
	background: #fff;
}

/* Win/Loss Forecast 預測賽果*/
.fore_popup {
	position: absolute;
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	height: auto;
	max-height: calc(100% - 56px);
	margin: 0 auto;
	border-radius: 8px 8px 0 0;
	overflow: hidden;
	z-index: 1;
	background: #fff;
	/*	visibility: collapse;*/
	-webkit-transform: translate3d(0, calc(50vh + 50%), 0);
	transform: translate3d(0, calc(50vh + 50%), 0);
	transition: transform 0.3s ease, visibility 0s 0.3s;
	z-index: 2;
}

.fore_more_popup {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	height: calc(100% - 56px);
	z-index: 3;
	visibility: collapse;
	transform: translate3d(0, calc(50vh + 50%), 0);
	transition: transform 0.3s ease, visibility 0s 0.3s;
}

.fore_more_popup .popup_title {
	border-radius: 8px 8px 0 0;
}

.TW .fore_more_popup .popup_title span:before {
	content: '了解更多';
}

.CN .fore_more_popup .popup_title span:before {
	content: '了解更多';
}

.EN .fore_more_popup .popup_title span:before {
	content: 'LEARN MORE';
}

.fore_more_popup .popup_content {
	overflow-y: auto;
	margin-bottom: 0;
	max-height: calc(100% - 48px);
	padding: 16px;
	background: #fff;
}

.popup_bet.on,
.fore_more_popup.on {
	transform: translate3d(0, 0%, 0) !important;
	visibility: visible;
	transition: transform 0.3s ease, visibility 0s;
}

.forecast.on .fore_popup {
	transform: translate3d(0, 0%, 0) !important;
}

.fore_more_popup .popup_content {
	padding: 16px;
}

/* forecast nodata */
.fore_no_event.no_event {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
	flex: 1 1 auto;
	width: 100%;
	min-height: 320px;
}

.fore_no_event.no_event i {
	display: block;
	width: 120px;
	height: 86px;
	margin: 0 auto 40px auto;
	background: url('../images/img_nodata.svg') no-repeat;
	background-size: cover;
	background-position: center;
}

.fore_no_event.no_event span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	line-height: 16px;
	text-align: center;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.72);
}

.fore_more_popup .fore_more_title {
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 700;
	color: #A78025;
}

.fore_more_popup p {
	display: block;
	margin-bottom: 16px;
	line-height: 16px;
	font-size: 14px;
	color: #000;
}

.fore_more_popup p:last-child {
	margin-bottom: 0;
}

.fore_more_popup tt {
	display: flex;
	align-items: center;
	height: 24px;
	font-size: 12px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.56);
}

.fore_more_popup .fore_more_list {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
	padding: 4px 0;
	gap: 4px;
}

.fore_more_list span {
	display: block;
	line-height: 16px;
	font-size: 14px;
	color: #000;
}

.fore_more_list span:before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 4px;
	margin-right: 8px;
	vertical-align: middle;
	border-radius: 1px;
	background: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 1024px) {
	.popup_game {
		width: calc(200% / 3);
		left: 0;
		right: 0;
		margin-left: calc((66.6% - 640px) / 2);
	}
}

.mask_more_popup {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	width: 100%;
	max-width: 640px;
	height: 0;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.32);

	opacity: 0;
	z-index: 2;
	transition:
		opacity 0.3s ease,
		height 0s ease 0.3s;
}

.mask_gray {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	width: 100%;
	max-width: 640px;
	height: 100%;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.32);
}

.forecast .mask_popup {
	position: fixed;
}

.forecast.on .mask_popup,
.fore_more_popup.on~.fore_popup .mask_more_popup {
	opacity: 1;
	height: 100%;
	transition:
		opacity 0.3s ease,
		height 0s ease;
}

.fore_more_popup.on~.mask_popup.transparent {
	display: block;
}

@media screen and (min-width: 1024px) {
	.es_statistic.on {
		align-items: center;
	}

	.fore_popup,
	.fore_more_popup {
		left: 0;
		right: 0;
		width: calc(200% / 3);
		max-width: 656px;
		margin-left: calc((66.6% - 656px) / 2);
	}

	.mask_more_popup {
		max-width: 656px;
	}

	.fore_popup~.mask_popup {
		width: calc(200% / 3);
		top: 48px;
	}
}

.fore_scroll {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 24px;
	margin-bottom: 16px;
}

.fore_scroll .icon_information {
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.fore_scroll .icon_information svg {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: top;
	fill: #00a1db;
	pointer-events: none;
}

.btn_menu_forecast {
	position: relative;
	display: inline-block;
	width: auto;
	height: 24px;
	line-height: 22px;
	margin-right: 4px;
	padding: 0 8px;
	border-radius: 16px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.72);
	border: 1px solid rgba(0, 0, 0, 0.24);
	transition: background 0.3s ease;
	cursor: pointer;
}

.btn_menu_forecast.on {
	color: #fff;
	background: #a78025;
	border-color: #a78025;
	pointer-events: none;
}

.mask_popup.transparent {
	display: none;
	background: transparent;
}

/* PC hover effect */
@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.btn_menu_forecast:hover {
		color: #fff;
		background: #a78025;
		border-color: #a78025;
	}
}

.btn_menu_forecast:active {
	background: #86661E;
	color: #fff;
}

.box_scored {
	width: 100%;
	min-height: 80px;
	margin-bottom: 16px;
	background: #352a21;
}

.fore_title {
	display: flex;
}

.fore_form .fore_title {
	align-items: center;
	height: 40px;
}

.fore_betlist {
	margin-bottom: 16px;
}

.fore_betlist .fore_title {
	justify-content: center;
	flex-direction: column;
	padding: 7px 0;
}

.fore_betlist .btn_showmore {
	margin-top: 0;
}

.fore_title span {
	display: block;
	flex: 1 1 auto;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #A78025;
}

.fore_title .icon_information {
	width: 16px;
	height: 16px;
	margin-left: 8px;
	fill: #00A1DB;
	cursor: pointer;
}

.fore_title tt {
	display: block;
	margin-top: 2px;
	line-height: 16px;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.64);
}

.fore_title tt b {
	display: inline-block;
	width: 0.3rem;
}

.fore_form_box {
	display: grid;
	grid-template-rows: 20px 192px;
	grid-template-columns: 20px 1fr;
	width: 100%;
	height: 212px;
	margin-bottom: 16px;
}

.fore_teamH,
.fore_teamC {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 12px;
	font-weight: 400;
	color: #000;
}

.fore_teamH {
	overflow: visible;
	position: relative;
	grid-row: 2;
	grid-column: 1;
	padding-top: 26px;
	background: #fff;
}

.fore_teamH:before {
	content: '';
	position: absolute;
	top: 0;
	right: -4px;
	display: block;
	width: 5px;
	height: 100%;
	background: #FFF;
	z-index: 1;
}

.fore_teamC {
	grid-row: 1;
	grid-column: 2;
	padding-left: 28px;
}

.fore_teamH span,
.fore_teamC span {
	overflow: hidden;
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.fore_teamH .fore_team_name {
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr auto;
	width: max-content;
	max-width: 166px;
	flex: none;
	height: 24px;
	line-height: 24px;
	max-height: unset;
	transform: rotate(-90deg);
	transform-origin: center center;
	text-align: center;
}

.fore_table {
	overflow: auto;
	flex: none;
	grid-row: 2;
	grid-column: 2;
	display: grid;
	width: 100%;
	height: 200px;
	gap: 4px;
	grid-template-rows: 24px 1fr;
	grid-template-columns: 24px 1fr;
	transition: height 0.3s ease;
}

.btn_position {
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-row: 1;
	grid-column: 1;
	z-index: 2;
	background: #fff;
	cursor: pointer;
}

.icon_position {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 5px;
	fill: rgba(0, 0, 0, 0.64);
}

.icon_position:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: #fff;
}

.fore_form_h,
.fore_form_c {
	position: sticky;
	position: -webkit-sticky;
	display: grid;
	gap: 4px;
	font-size: 12px;
	color: #000;
	background: #fff;
}

.fore_form_h {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	left: -0.2px;
	grid-template-rows: repeat(var(--score_h, 6), 24px);
}

.fore_form_c {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	top: 0;
	grid-template-columns: repeat(var(--score_c, 6), 90px);
}

.fore_form_h div,
.fore_form_c div,
.fore_form_result div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fore_form_h .on,
.fore_form_c .on {
	font-weight: bold;
}

.fore_form_result {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	display: grid;
	gap: 4px;
	grid-template-columns: repeat(var(--score_c, 6), 90px);
	grid-template-rows: repeat(var(--score_h, 6), 24px);
	grid-auto-flow: column;
}

.fore_form_result div {
	/* width: 90px; */
	padding: 4px;
	border-radius: 1px;
	color: rgba(0, 0, 0, 0.16);
	background: #fff;
	/* border: 1px solid #E6E6E6; */
	outline: 1px solid #E6E6E6;
	/*使用border寬度會有微小差距出現滾軸*/
	outline-offset: -1px;
}

.fore_form_result div.on {
	outline: 2px solid #A78025 !important;
	/*使用border寬度會有微小差距出現滾軸*/
	outline-offset: -2px !important;
	box-shadow: #fff 0 0 0px 4px inset;
}

.fore_form_result div.winMore {
	color: #fff;
	background: #00993D;
	outline: none;
}

.fore_form_result div.winLess {
	color: #fff;
	background: #62B574;
	outline: none;
}

.fore_form_result div.lossMore {
	color: #fff;
	background: #E41A0C;
	outline: none;
}

.fore_form_result div.lossLess {
	color: #fff;
	background: #E66E65;
	outline: none;
}

.fore_form_result div.past {
	color: rgba(0, 0, 0, 0.4);
	background: #E2E2E2;
	outline: none;
}

.fore_note {
	margin-bottom: 16px;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.64);
}

.fore_btn_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.fore_btn_wrap>div {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #0066CC;
	cursor: pointer;
}

/* PC hover effect */
@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.fore_btn_wrap>div:hover {
		color: #0070E0;
	}

	.btn_position:hover .icon_position {
		fill: #A78025;
	}

	.fore_title .icon_information:hover {
		fill: #05BDFF;
	}
}

.fore_btn_wrap>div:active {
	color: #0052A3;
}

.btn_position:active .icon_position::before {
	background: rgba(0, 0, 0, 0.08);
}

.btn_position:active .icon_position {
	fill: #A78025;
}

.fore_title .icon_information:active {
	fill: #05BDFF;
}

/* 輸贏預設 - 投注記錄 */
.fore_wagers .ope_info_txt {
	padding: 8px 0;
}

.fore_wagers .ope_info_normal~.ope_info_normal {
	border-top: 1px solid #E6E6E6;
}

.fore_wagers .ope_info_txt li.load_inorder {
	margin-bottom: 0;
}

.fore_landscape,
.es_landscape {
	display: none;
	justify-content: center;
	align-items: center;
	width: 498px;
	height: 79px;
	padding: 31.5px 16px;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
	z-index: 2;
	background: #fff;
	color: #000;
}

@media (pointer: coarse) and (max-height: 428px) and (max-width: 926px),
not all,
screen and (pointer: fine) and (min-resolution: 2dppx) and (max-height: 428px) and (max-width: 926px) {

	.es_statistic.on {
		align-items: center;
	}

	.fore_popup,
	.fore_more_popup.on,
	.popup_es_statistic {
		display: none !important;
	}

	.forecast.on .fore_landscape,
	.es_statistic.on .es_landscape {
		display: flex;
	}

	.forecast.on .mask_popup~.mask_popup.transparent,
	.es_statistic.on .mask_popup~.mask_popup.transparent {
		display: block;
	}
}


.loading.fore_loading {
	display: none;
}

.fore_loading.page_on,
.fore_loading.page_on.time_on {
	display: flex;
	position: relative;
	height: 420px;
	max-width: 640px;
}

.fore_loading.time_on~.popup_content {
	overflow: hidden;
}

.fore_loading.time_on~.popup_content .fore_wrap {
	opacity: 0;
}

.fore_loading.page_on~.popup_content .fore_table,
.fore_loading.time_on~.popup_content .fore_table {
	height: 199px;
	/* 重置高度 避免滾軸顯示錯誤 */
}

.fore_loading.page_on~.popup_content,
.fore_loading.page_on~.fore_no_event {
	position: absolute;
	z-index: -10;
	visibility: collapse;
	opacity: 0;
}

.fore_loading.time_on {
	top: unset;
	bottom: 0;
	display: flex;
	height: 100%;
	max-height: calc(100% - 184px);
}

/* MODAL */
.league_set_popup {
	overflow: hidden;
	width: 100%;
	max-width: 480px;
	border-radius: 8px 8px 0 0;
	background-color: var(--popup_content_bg);
}

.league_set_popup {
	transform: translate3d(0, calc(50vh + 50%), 0);
	transition: transform 0.3s ease, visibility 0s 0.3s;
}

.league_set.on .league_set_popup {
	transform: translate3d(0, 0%, 0) !important;
	visibility: visible;
	transition: transform 0.3s ease, visibility 0s;
}

.league_set_popup .popup_content {
	margin-bottom: 0;
}

.league_set_popup .popup_league_sort {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding-bottom: 8px;
}

.league_set_popup .popup_league_sort>div {
	padding: 4px 16px 16px;
	background-color: var(--popup_contentInfo_bg);
	border-radius: 4px;
}

.league_set_popup .popup_league_sort>div:nth-child(2) {
	padding: 4px 16px;
}

.league_set_popup .popup_league_sort span {
	display: block;
	height: 32px;
	line-height: 32px;
	font-weight: 700;
}

.league_set_popup .popup_league_sort p {
	display: block;
	height: 16px;
	line-height: 16px;
	margin-bottom: 8px;
	font-size: 13px;
}

.modal_radio {
	overflow: hidden;
	display: flex;
	width: 100%;
	height: 48px;
	border-radius: 4px;
	outline: 1px solid var(--popup_contentInfo_bd);
}

.modal_radio>div {
	position: relative;
	flex: 1 1 50%;
	width: 50%;
	height: 100%;
}

.modal_radio input {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.modal_radio label {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	width: 100%;
	height: 100%;
	color: var(--popup_contentSwitch_tx);
}

.modal_radio input:checked~label {
	background-color: var(--popup_contentSwitch_bg);
	color: var(--popup_contentSwitch_tx_on);
}

.modal_radio i {
	display: block;
	width: 12px;
	height: 12px;
}

/* 聯盟排序 */
.modal_sort i {
	fill: var(--popup_contentInfo_fi);
}

.modal_sort input:checked~label>i {
	fill: var(--popup_contentInfo_fi_ac);
}

/* 賠率開關 */
.modal_filters i {
	border-radius: 2px;
	background-color: rgba(0, 0, 0, .16);
	fill: #F2F4F7;
}

.modal_filters input:checked~label>i {
	background-color: var(--popup_contentCheck_bg_on);
}

.modal_radio>div:hover label {
	background-color: var(--popup_contentSwitch_bg_hv);
	color: var(--popup_contentSwitch_tx_hv);
}

.modal_sort>div:hover i {
	fill: var(--popup_contentInfo_fi_hv);
}

.modal_filters>div:hover i {
	background-color: var(--popup_contentCheck_bg_ac);
}

.modal_radio>div:active label {
	background-color: var(--popup_contentSwitch_bg_ac);
	color: var(--popup_contentSwitch_tx_ac);
}

.modal_sort>div:active i {
	fill: var(--popup_contentInfo_fi_ac);
}

.modal_filters>div:active i {
	background-color: var(--popup_contentCheck_bg_hv);
}

.modal_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	line-height: 32px;
	gap: 4px;
	cursor: pointer;
	z-index: 1;
	fill: var(--popup_contentInfo_fi);
}

.modal_btn i {
	display: block;
	width: 12px;
	height: 12px;
}

.modal_btn:hover {
	color: var(--popup_contentSwitch_tx_hv);
	fill: var(--popup_contentInfo_fi_hv);
}

.modal_btn:active {
	color: var(--popup_contentSwitch_tx_ac);
	fill: var(--popup_contentInfo_fi_ac);
}

.league_set,
.es_statistic {
	align-items: flex-end;
}

.es_statistic .loading {
	display: none;
	height: 192px;
}

.league_set .page_on,
.es_statistic .page_on {
	overflow: hidden;
	display: flex;
	position: relative;
	width: calc(100% - 16px);
	height: calc(420px - 8px);
	margin: 0 auto 8px auto;
	border-radius: 4px;
}

.es_statistic .page_on {
	width: 100%;
	height: 192px;
	max-height: auto;
}

.es_statistic .popup_es_statistic .page_on {
	margin: 0 auto 0 auto;
}

.league_set .page_on~.popup_content,
.es_statistic .page_on~.es_content {
	position: absolute;
	z-index: -10;
	visibility: collapse;
	opacity: 0;
}

.league_set .mask_popup,
.es_statistic .mask_popup {
	z-index: -1;
}

.league_set.on .mask_popup,
.es_statistic.on .mask_popup {
	opacity: 1;
	height: 100%;
	transition:
		opacity 0.3s ease,
		height 0s ease;
}

@media screen and (min-width: 1024px) {
	.league_set {
		width: calc(200% / 3);
		left: 0;
		right: 0;
	}

	.league_set .mask_popup {
		top: 48px;
	}
}

.league_set_popup .popup_title:before,
.es_statistic .popup_title:before {
	display: block;
	width: 100%;
	padding: 4px 16px;
}

.TW .league_set_popup .popup_title:before,
.TW .es_statistic .popup_title:before {
	content: attr(data-TW);
}

.CN .league_set_popup .popup_title:before,
.CN .es_statistic .popup_title:before {
	content: attr(data-CN);
}

.EN .league_set_popup .popup_title:before,
.JP .league_set_popup .popup_title:before,
.VN .league_set_popup .popup_title:before,
.TH .league_set_popup .popup_title:before,
.KR .league_set_popup .popup_title:before,
.ID .league_set_popup .popup_title:before,
.IN .league_set_popup .popup_title:before,
.KH .league_set_popup .popup_title:before,
.MM .league_set_popup .popup_title:before,
.ES .league_set_popup .popup_title:before,
.TR .league_set_popup .popup_title:before,
.PT .league_set_popup .popup_title:before,
.EN .es_statistic .popup_title:before {
	content: attr(data-EN);
}

/*  ES-Statistic */
.popup_es_statistic {
	display: flex;
	width: 100%;
	max-width: 640px;
	max-height: 100vh;
	padding: 0 8px 8px 8px;
	flex-direction: column;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	background: #EDEDED;
	transform: translate3d(0, 100%, 0);
	transition: transform 0.3s ease;
}

.es_statistic.on .popup_es_statistic {
	transform: translate3d(0, 0%, 0);
}

.popup_es_statistic .popup_title {
	width: calc(100% + 16px);
	margin: 0 -8px;
}

.popup_es_statistic .btn_close {
	width: 48px;
	height: 48px;
	flex: none;
}

.es_content {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 16px 16px 14px 16px;
	flex-direction: column;
	border-radius: 4px;
	overflow-y: auto;
	background:
		linear-gradient(#FFF, #FFF),
		linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0) 100%);
	background-color: #FFF;
	background-size: 100% 8px, 100% 8px;
	background-repeat: no-repeat;
	background-attachment: local, scroll;
}

.popup_es_statistic .es_content {
	min-height: 192px;
}

.es_title {
	display: flex;
	width: 100%;
	height: 24px;
	margin-bottom: 8px;
	align-items: center;
	justify-content: center;
	gap: 4px;
	flex: none;
	font-size: 12px;
	color: #FFF;
	background: #7F6E61;
	border-radius: 2px;
	overflow: hidden;
}

.es_title:before {
	display: block;
	width: 10px;
	height: 10px;
}

.ES_MOBA-1 .es_title:before {
	content: '';
	background: url('../images/icon_es_MOBA.svg');
}

.ES_FPS-1 .es_title:before {
	content: '';
	background: url('../images/icon_es_FPS.svg');
}

.TW .ES_MOBA-1 .es_title:after {
	content: attr(data-MOBA-tw);
}

.CN .ES_MOBA-1 .es_title:after {
	content: attr(data-MOBA-cn);
}

.EN .ES_MOBA-1 .es_title:after {
	content: attr(data-MOBA-en);
}

.TW .ES_FPS-1 .es_title:after {
	content: attr(data-FPS-tw);
}

.CN .ES_FPS-1 .es_title:after {
	content: attr(data-FPS-cn);
}

.EN .ES_FPS-1 .es_title:after {
	content: attr(data-FPS-en);
}

.ES_BASIC .es_title {
	display: none;
}

.es_starts {
	display: flex;
	width: 100%;
	height: 41px;
	padding-bottom: 8px;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	color: #000;
	border-bottom: 1px solid #EAEAE6;
}

.popup_es_statistic .popup_content li {
	display: flex;
	width: 100%;
	height: 32px;
}

.box_es_result {
	display: grid;
	width: 100%;
	height: 100%;
	gap: 8px;
	grid-auto-rows: 32px 1px;
}

.box_es_result>div {
	display: grid;
	width: 100%;
	height: 32px;
	padding: 2px 8px;
	grid-template-rows: 15px 13px;
	grid-template-columns: 1fr 4px 96px 4px 1fr;
	grid-template-areas:
		"team_h . game . team_c"
		"team_h . time . team_c";
}

.box_es_result .team_h {
	grid-area: team_h;
}

.box_es_result .team_c {
	grid-area: team_c;
}

.box_es_result .team_h,
.box_es_result .team_c {
	display: flex;
	align-items: center;
}

.box_es_result .team_h p,
.box_es_result .team_c p {
	width: 100%;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	color: #000;
}

.box_es_result .win p {
	font-weight: 700;
}

.box_es_result .icon_state {
	display: block;
	width: 16px;
	height: 16px;
	flex: none;
	border-radius: 50%;
	background: rgba(0, 0, 0, .24);
	overflow: hidden;
}

.box_es_result .win .icon_state {
	background: url('../images/icon_es_win.svg');
}

.box_es_result .lose .icon_state {
	background: url('../images/icon_es_lose.svg');
}

.box_es_result .draw .icon_state {
	background: url('../images/icon_es_draw.svg');
}

.box_es_result .es_game {
	grid-area: game;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	color: #000;
}

.box_es_result .es_time {
	grid-area: time;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	color: rgba(0, 0, 0, .64);
}

.box_es_result .es_time.now {
	color: #A78025;
}

.es_content.es_FPS-1 .es_time,
.es_content.es_BASIC .es_time {
	display: none;
}

.box_es_result hr {
	width: 100%;
	height: 1px;
	border: none;
	border-top: 1px solid #EAEAE6;
}

.box_es_result hr:last-child {
	display: none;
}

.popup_imgbox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-bottom: 16px;
}

.popup_imgbox>.pupup_img {
	display: none;
}

.popup_imgbox .img_a {
	height: 55px;
}

.popup_imgbox .img_b {
	height: 17px;
}

.popup_imgbox .img_c {
	height: 20px;
}

.mem333.on .pupup_img {
	display: block;
}

.popup_imgbox>div~div {
	margin-left: 16px;
}

.pupup_img+.pupup_img {
	margin-left: 5px;
}

@media screen and (min-width: 768px) {

	.popup_imgbox .img_b {
		height: 27px;
	}

	.popup_imgbox .img_c {
		height: 30px;
	}
}

.mem333 .popup_content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 14px;
	background-color: #fff;
	color: #46566d;
}

.img_logo333 {
	display: none;
	width: 135px;
	height: 160px;
	margin-bottom: 20px;
	background: url('../images/img_logo333.jpeg')no-repeat center/contain;
}

.mem333.on .img_logo333 {
	display: block;
}

.popup_btnbox .btn_cancel,
.popup_btnbox .btn_submit {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.mem333 .btn_submit {
	text-transform: none;
}

.btn_submit>span,
.btn_cancel>span {
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 100px;
}

.btn_submit>span::after {
	content: "";
	position: absolute;
	top: -2px;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 13px;
	height: 7px;
	margin: auto;
	border: solid #77ff0f;
	border-width: 3px 3px 0 0;
	transform: rotate(135deg);
	border-top-right-radius: 2px;
}

.btn_cancel>span::before,
.btn_cancel>span:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 16px;
	height: 3px;
	margin: auto;
	background-color: #EC6E63;
}

.btn_cancel>span::before {
	transform: rotate(45deg);
}

.btn_cancel>span::after {
	transform: rotate(-45deg);
}

._ordDetail {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0px 0px 24px #000000;
	z-index: 2;
}

._ordDetail.on,
.pop_chg.on {
	overflow: hidden;
	padding: 0;
	background: none;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0px 0px 24px #000000;
}

._ordDetail .popup_title,
.pop_chg .popup_title {
	padding: 4px 16px;
	text-align: left;
}

._ordDetail .popup_content {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.pop_chg .popup_content {
	margin: 0;
	padding: 16px;
}

.ord_detail_info {
	padding: 16px;
	background-color: var(--popup_content_bg);
}

.ord_detail_info:nth-child(even) {
	background-color: var(--popup_contentEven_bg);
}

.ord_detail_info+.ord_detail_info {
	border-top: 1px solid #485e99;
}

.ord_detail_info li+li {
	margin-top: 4px;
}

.pop_chg .popup_content {
	background-color: var(--popup_content_bg);
}

.pop_chg_title {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

.text_gr_chg {
	color: var(--popup_money_tx);
}

.range_chg {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

/* 兌現功能 - 拉桿樣式設定 */
input[type="range"] {
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 20px;
	margin: 5px 0;
	background: transparent;
}

input[type="range"]:focus {
	outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	background: var(--popup_range_bg);
}

input[type="range"]::-webkit-slider-thumb {
	border: 1px solid #b8b8b8;
	height: 16px;
	width: 16px;
	border-radius: 25px;
	background: var(--popup_rangeBall_bg);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6px;
}

/* input[type=range]:focus::-webkit-slider-runnable-track {
	background: #9ec59d;
} */
input[type="range"]::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	background: var(--popup_range_bg);
	border-radius: 1px;
}

input[type="range"]::-moz-range-thumb {
	border: 1px solid #b8b8b8;
	height: 12px;
	width: 12px;
	border-radius: 25px;
	background: var(--popup_rangeBall_bg);
	cursor: pointer;
}

input[type="range"]::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type="range"]::-ms-fill-lower {
	background: #b5b5b5;
	border-radius: 2px;
}

input[type="range"]::-ms-fill-upper {
	background: var(--popup_range_bg);
	border-radius: 2px;
}

input[type="range"]::-ms-thumb {
	margin-top: 1px;
	border: 1px solid #b8b8b8;
	height: 12px;
	width: 12px;
	border-radius: 25px;
	background: var(--popup_rangeBall_bg);
	cursor: pointer;
}

.bonus_btnBox .bonus_detail:active {
	background-color: #0370dd;
}

.bonus_btnBox .bonus_cofirm:active {
	background: -webkit-gradient(linear,
			left top,
			left bottom,
			from(#a46b2a),
			color-stop(70%, #f8df72),
			to(#fffeae));
	background: linear-gradient(to bottom,
			#a46b2a 0%,
			#f8df72 70%,
			#fffeae 100%);
}

.terms.popup_center>div {
	max-width: 510px;
}

.terms .popup_content {
	padding-bottom: 16px;
}

.terms_secTitle {
	margin-bottom: 16px;
	text-align: center;
	font-size: 16px;
}

.terms_sectxt {
	font-size: 12px;
}

.terms_thirdTitle {
	margin-bottom: 3px;
	font-size: 14px;
}

.terms_sectxt+.terms_thirdTitle,
.terms_sectxt+.terms_sectxt {
	margin-top: 14px;
}

.terms_num>li {
	list-style: decimal;
	counter-increment: count;
}

.terms_num>li::before {
	content: counter(count)".";
	width: 10px;
	margin-right: 5px;
	text-align: center;
}

.terms_str>li {
	display: flex;
	counter-increment: count;
}

.terms_str>li::before {
	content: counter(count, lower-alpha)".";
	display: inline-block;
	width: 10px;
	margin-right: 5px;
	text-align: center;
}

.terms_num::before {
	content: attr(data-num);
	display: inline-block;
	width: 10px;
	margin-right: 5px;
	text-align: center;
}

.terms_foot {
	margin-top: 28px;
	font-size: 12px;
}

/*  */