.title_help {
	display: flex;
	width: 100%;
	height: 48px;
	align-items: center;
	flex: none;
	background-image: url(../images/bg_title.png), var(--title_bg);
	background-position: center;
	background-repeat: no-repeat;
}

.title_help .btn_back,
.title_help .btn_reload {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 8px;
	flex: 0 0 32px;
	transition: background 0.3s ease;
}

.title_help .btn_back i,
.title_help .btn_reload i {
	display: block;
	width: 100%;
	height: 100%;
	padding: 8px;
}

.btn_back svg,
.btn_reload svg {
	fill: var(--comm_titleBtn_fi);
}

.title_help span {
	display: inline-block;
	width: calc(100% - 96px);
	height: 24px;
	line-height: 24px;
	padding: 0 4px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	flex: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: var(--comm_title_tx);
}

.content_result {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	padding-bottom: 32px;
}

/* 使用windows open 開啟畫面卷軸才正常 */
.wrapper.outside {
	position: relative !important;
}

/*  單一頁面才要height:100% 如果原本頁面有加height:100% 相關信息會卡在半空中 */
.outside .content_result {
	overflow-y: auto;
	height: 100%;
}

.select_result {
	display: flex;
	margin-bottom: 8px;
	padding: 0 16px;
	gap: 16px;
}

.box_select {
	position: relative;
	display: block;
	width: 100%;
	height: 48px;
	margin-bottom: 8px;
}

.box_select i.icon_arr {
	position: absolute;
	top: 8px;
	right: 8px;
	display: block;
	width: 32px;
	height: 32px;
	padding: 8px;
	transform: rotate(180deg);
	pointer-events: none;
}

.icon_arr svg {
	fill: var(--comm_sel_tx);
}

.dropdown_pc {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: auto;
	padding: 8px 0;
	border-radius: 4px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
	overflow-x: hidden;
	overflow-y: auto;
	visibility: hidden;
	transform-origin: 10% 10%;
	transform: scale(0.35, 0.35);
	opacity: 0;
	color: var(--comm_sel_tx);
	transition: opacity 121ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		transform 187ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		visibility 187ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	background: var(--comm_sel_bg);
}

.dropdown_pc.on {
	visibility: visible;
	transform: scale(1, 1);
	opacity: 1;
}

.dropdown_select {
	display: none;
	width: 100%;
	height: 100%;
	padding: 4px 32px 4px 16px;
	align-items: center;
	font-size: 14px;
	border-radius: 3px;
	background-color: var(--comm_sel_bg);
	color: var(--comm_sel_tx);
	cursor: pointer;
}

@media (pointer: coarse),
(-moz-touch-enabled: 1),
screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
	.mobile .dropdown_pc {
		display: none !important;
	}
}

@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.sportsdropdown {
		pointer-events: none;
	}

	.dropdown_pc li {
		display: flex;
		width: 100%;
		height: 40px;
		padding: 4px 48px 4px 16px;
		align-items: center;
		font-size: 14px;
		cursor: pointer;
	}

	.dropdown_pc li:hover {
		background: var(--comm_sel_bg_hv);
	}

	.dropdown_pc li.on {
		color: var(--comm_sel_tx_on);
	}

	.dropdown_select {
		display: flex;
	}

	.select_date:hover,
	.cal_month:hover,
	.select_date span:not(.cal_noHand):not(.cal_space):hover,
	.cal_year_label:hover {
		background-color: var(--comm_sel_bg_hv);
	}

	/*
	.box_select select{
		display: none;
	}
*/
	.dropdown_select:hover,
	.dropdown_select:active {
		background: var(--comm_sel_bg_hv);
	}


}

.dropdown_pc li:active {
	background: var(--comm_sel_bg_ac);
}

.btn_tab:hover {
	color: var(--comm_tab_tx_hv);
}

.select_date:active,
.cal_month:active,
.select_date span:not(.cal_noHand):not(.cal_space):active,
.cal_year_label:active {
	background-color: var(--comm_sel_bg_ac);
}

.result_tab {
	position: relative;
	display: flex;
	width: 100%;
	height: 40px;
	line-height: 40px;
	align-items: center;
	justify-content: center;
	color: var(--comm_tab_tx);
}

.btn_tab {
	width: auto;
	height: 100%;
	margin: 0 8px;
	text-align: center;
	cursor: pointer;
}

.btn_tab.on {
	color: var(--comm_tab_tx_on);
	border-bottom: var(--comm_tab_bd_on) solid 2px;
}

.result_btnbox {
	display: flex;
	width: 100%;
	height: 28px;
	margin: 8px 0;
	padding: 0 16px;
	align-items: center;
	justify-content: flex-end;
	z-index: 1;
}

.btn_result_pre,
.btn_result_next {
	display: block;
	width: auto;
	height: 28px;
	line-height: 28px;
	margin-left: 16px;
	padding: 0 8px;
	font-size: 12px;
	border-radius: 4px;
	color: var(--rusult_formBtn_tx);
	background: var(--rusult_formBtn_bg);
}

.result_nodata {
	display: flex;
	width: 100%;
	height: 48px;
	align-items: center;
	justify-content: center;
	color: var(--comm_tx);
	background: var(--rusult_form_bg);
	border-bottom: 1px solid var(--rusult_form_bd);
}

.result_form {
	width: 100%;
}

.result_form table {
	margin-bottom: 8px;
}

.result_form table:last-child {
	margin-bottom: 0;
}

/* 沿用舊PC */
.result_table {
	width: 100%;
	font-size: 14px;
	table-layout: fixed;
	color: var(--comm_tx);
	background: var(--rusult_form_bg);
	border-bottom: 1px solid var(--rusult_form_bd);
}

.result_table_ft,
.result_table_bk,
.result_table_tn,
.result_table_vb,
.result_table_bs,
.result_table_sk,
.result_table_op,
.result_table_fs,
.result_table_sc,
.result_table_tt,
.result_table_es {
	display: none;
}

.result_ft .result_table_ft,
.result_vf .result_table_ft,
.result_bk .result_table_bk,
.result_es .result_table_es,
.result_tn .result_table_tn,
.result_vb .result_table_vb,
.result_bs .result_table_bs,
.result_sk .result_table_sk,
.result_op .result_table_op,
.result_fs .result_table_fs,
.result_sc .result_table_sc,
.result_tt .result_table_tt {
	display: table-row;
}

.result_table_sk .result_td_half,
.result_sk .result_td_half {
	width: 0px;
}

.result_sk .result_td_half span {
	display: none !important;
}

.result_table th,
.result_table td {
	height: 28px;
	padding: 0 2px;
}

.result_table th {
	border: none;
	color: var(--rusult_formTH_tx);
	background: var(--rusult_formTH_bg);
}

.result_table_league {
	color: var(--rusult_formLeTH_tx);
	background: var(--rusult_formLeTH_bg);
	border: 1px solid var(--comm_bg);
}

.result_table_league td {
	height: 40px;
	padding: 4px;
}

.result_table_league span {
	overflow: hidden;
	overflow-wrap: break-word;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.result_tr_last {
	border-bottom: 1px dashed var(--rusult_form_bd);
}

.result_tr_fs td {
	border-bottom: 1px dashed var(--rusult_form_bd);
}

.result_table .result_tr_fs td {
	height: 54px;
}

.result_table_league td {
	height: 40px;
	padding: 4px;
}

.result_table_league span {
	overflow: hidden;
	overflow-wrap: break-word;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.result_tr_last {
	border-bottom: 1px dashed var(--rusult_form_bd);
}

.result_td_time {
	width: 13%;
	white-space: nowrap;
	border-right: 1px dashed var(--rusult_form_bd);
}

.result_td_team {
	width: 32%;
}

.result_td_team>span {
	overflow: hidden;
	overflow-wrap: break-word;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.result_td_team:before {
	content: attr(data-ptype);
	display: block;
	line-height: 28px;
	margin: -4px 0 4px 0;
	opacity: 0.6;
}

.result_tr_top td.result_td_team {
	min-height: 56px;
	height: auto;
}

.result_tr_top td.result_td_team[data-ptype=""] {
	height: 28px;
}

.result_tr_top .result_td_full span,
.result_tr_top .result_td_half span {
	display: block;
	margin-top: 28px;
	line-height: 28px
}

.result_tr_top td.result_td_team[data-ptype=""]~.result_td_full span,
.result_tr_top td.result_td_team[data-ptype=""]~.result_td_half span {
	margin-top: 0;
}


.result_td_time,
.result_td_full,
.result_td_half,
.result_td_btn {
	text-align: center;
}

.result_td_half,
.result_td_btn {
	background: var(--rusult_formHalfTD_bg);
}

td.result_td_btn {
	padding: 0;
}

.btn_result_more {
	display: inline-block;
	width: auto;
	min-height: 28px;
	padding: 8px;
	font-size: 12px;
	border-radius: 3px;
	color: var(--rusult_formBtn_tx);
	background: var(--rusult_formBtn_bg);
	cursor: pointer;
}

/* .result_bs .btn_result_more, */
.result_op .btn_result_more {
	display: none;
}

.acc_select_table_top,
.acc_select_table {
	position: relative;
	display: none;
	width: 100%;
	font-size: 14px;
	table-layout: fixed;
	color: var(--comm_tx);
	background: var(--rusult_form_bg);
	border-bottom: 1px solid var(--rusult_form_bd);
}

.acc_select_table_top.on,
.acc_select_table.on {
	display: table;
}

.acc_select_table_top td,
.acc_select_table td {
	height: 28px;
	padding: 0 4px;
}

.acc_select_title,
.acc_select_text {
	color: var(--rusult_formTH_tx);
	background: var(--rusult_formTH_bg);
}

.acc_select_team,
.acc_select_text_number {
	display: inline-block;
	width: 49%;
}

.acc_select_text_number {
	text-align: right;
}

.acc_select_tr {
	text-align: center;
	color: var(--rusult_formLeTH_tx);
	background: var(--rusult_formLeTH_bg);
	border-bottom: 1px solid var(--comm_bg);
}

.acc_select_table_top tr:not(.acc_select_tr),
.acc_select_table tr:not(.acc_select_tr) {
	display: none;
}

.acc_select_table_top tr.on,
.acc_select_table tr.on {
	display: table-row;
}

.acc_select_table_top tr:not(.acc_select_tr),
.acc_select_table tr:not(.acc_select_tr) {
	display: none;
}

.acc_select_table_top tr.on,
.acc_select_table tr.on {
	display: table-row;
}

.acc_cont_tr td {
	text-align: center;
}

.acc_all_titlewFT,
.acc_all_titlew {
	text-align: left;
}

td.acc_cont_name {
	width: 50%;
	text-align: left;
}

.acc_cont_name,
.acc_cont_namew {
	width: 50%;
}

.acc_cont_tr,
.acc_cont_two_tr {
	border-bottom: 1px dashed var(--rusult_form_bd);
}

.acc_cont_bgw {
	background: var(--rusult_formHalfTD_bg);
}

.acc_cont_bgw2:nth-child(2) {
	border-right: 1px dashed var(--rusult_form_bd);
}

.bs .acc_cont_name {
	text-align: center;
}

.ord_loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: var(--comm_bg);
}

@media screen and (min-width: 650px) {
	.result_nodata {
		width: calc(100% - 32px);
		margin: 0 auto;
	}

	.result_form {
		padding: 0 16px;
	}

	.result_table th,
	.result_table td {
		height: 32px;
		padding: 0 8px;
	}

	.result_table .result_table_league td {
		height: 40px;
		padding: 4px 8px;
	}

	.acc_select_table_top td,
	.acc_select_table td {
		height: 40px;
		padding: 0 8px;
	}

	.acc_select_title td,
	.acc_select_text {
		height: 28px;
	}

	.box_select {
		margin-bottom: 16px;
	}

	.result_td_team:before {
		line-height: 32px;
	}

	.result_tr_top td.result_td_team {
		min-height: 64px;
	}

	.result_tr_top td.result_td_team[data-ptype=""] {
		height: 32px;
	}

	.result_tr_top .result_td_full span,
	.result_tr_top .result_td_half span {
		margin-top: 32px;
		line-height: 32px
	}

}

.result_popup {
	position: absolute;
	top: 24px;
	left: 16px;
	display: flex;
	width: calc(100% - 32px);
	height: auto;
	max-height: calc(100% - 48px);
	flex-direction: column;
	z-index: 8;
}

.ios_scroll .result_popup {
	position: fixed;
}

/* .ios_scroll .result_popup::before,
.ios_scroll .result_popup::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 50%;
}

.ios_scroll .result_popup::before {
	top: 0;
	background-color: var(--rusult_formTH_bg);
}

.ios_scroll .result_popup::after {
	bottom: 0;
	background-color: var(--rusult_form_bg);
} */

.result_mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: var(--comm_mask);
}

.result_more_form {
	position: relative;
	flex: 1 1 auto;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.ios_scroll .result_more_form{
	z-index: 1;
}
/* popup game model */
.content_resultmore {
	display: flex;
	width: 100%;
	min-width: 288px;
	max-width: 640px;
	height: auto;
	max-height: calc(100% - 32px);
	margin: 16px auto;
	flex-direction: column;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: auto;
	background: var(--comm_bg);
}

.popup_title {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	width: 100%;
	height: 48px;
	padding: 4px 48px;
	color: var(--popup_head_tx);
	background: var(--popup_head_bg);
	line-height: normal;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.content_resultmore .result_form {
	padding: 0;
}

.result_popup .btn_close {
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
	padding: 8px;
}

.result_popup .btn_close i {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 8px;
	opacity: 0.56;
}

.result_popup .btn_close svg {
	display: block;
	width: 100%;
	height: 100%;
	fill: var(--popup_head_tx);
}

.acc_cont_name.fs_td {
	display: flex;
	width: 100%;
	height: auto;
	min-height: 40px;
	padding: 0;
	flex-wrap: wrap;
}

.fs_tr .acc_cont_name>div {
	display: flex;
	width: 50%;
	height: 40px;
	padding: 0 8px;
	align-items: center;
	border: 1px dashed var(--rusult_form_bd);
}

.win {
	font-weight: bold;
}

.icon_result_check {
	display: none;
	width: 20px;
	height: 20px;
	margin-left: 8px;
	border-radius: 50%;
	background: url('../../images/icon_result_check.svg') no-repeat center center #047EF6;
}

.win .icon_result_check {
	display: block;
}

@media screen and (max-width: 640px) {
	.fs_tr .acc_cont_name>div {
		width: 100%;
	}
}

@media (pointer: fine) and (max-resolution: 2dppx),
screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

	.btn_result_more:hover,
	.btn_result_pre:hover,
	.btn_result_next:hover {
		background: var(--rusult_formBtn_bg_hv);
	}

	.btn_back:hover,
	.btn_reload:hover {
		background: var(--comm_titleBtn_bg_hv);
	}

	.btn_tab:hover {
		color: var(--comm_tab_tx_hv);
	}

	.new_mod_btn span:hover {
		background: var(--rusult_gameBtn_bg_hv);
	}
}

.btn_result_more:active,
.btn_result_pre:active,
.btn_result_next:active {
	background: var(--rusult_formBtn_bg_ac);
}

.btn_back:active,
.btn_reload:active {
	background: var(--comm_titleBtn_bg_ac);
}

.btn_tab:active {
	color: var(--comm_tab_tx_ac);
	background-color: var(--comm_tab_bg_ac);
}

.new_mod_btn span:active {
	background: var(--rusult_gameBtn_bg_ac);
}


.select_date {
	display: flex;
	align-items: center;
	position: relative;
	width: 50%;
	height: 48px;
	border-radius: 3px;
	background-color: var(--comm_sel_bg);
	color: var(--comm_sel_tx);
}

.select_date ul {
	display: block;
	width: 100%;
	height: 100%;
}

.select_date li {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0 12px;
	align-items: center;
	cursor: pointer;
}

@media only screen and (max-width: 320px) {
	.select_date li {
		padding: 0 4px;
	}
}

.select_page {
	min-width: 64px;
	height: 100%;
	line-height: normal;
	margin-right: auto;
	margin-left: 0;
}

.select_page i.icon_arr {
	top: 0;
	height: 100%;
}

/*select END*/
.cal_goal {
	position: relative;
	z-index: 0;
	font-weight: bold;
}

.cal_goal:before {
	content: '';
	position: absolute;
	top: 2px;
	left: calc(50% - 10px);
	bottom: 0;
	right: 0;
	display: block;
	width: 20px;
	height: 20px;
	background: var(--rusult_goal_bg);
	border-radius: 50%;
	z-index: -1;
}

.cal_noHand {
	color: #cec4c4;
}

.cal_div {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	min-width: 248px;
	padding: 8px;
	border-radius: 4px;
	background-color: var(--comm_sel_bg);
	box-shadow: 0 2px 8px 0 rgb(0 0 0 / 24%);
	z-index: 2;
}

.cal_YearContain {
	display: flex;
	width: 100%;
	height: 28px;
	margin-bottom: 8px;
	gap: 8px;
}

.cal_previous,
.cal_next {
	display: inline-block;
	width: 28px;
	height: 100%;
	flex: none;
	cursor: pointer;
	background-image: url('../../images/icon_arrow.svg');
	background-repeat: no-repeat;
	background-position: var(--rusult_cal_img);
}

.cal_previous {
	transform: rotate(90deg);
}

.cal_next {
	transform: rotate(270deg);
}

.cal_previous.un,
.cal_next.un {
	opacity: 0.3;
	pointer-events: none;
}

/*------------select樣式--------------*/
label.cal_month_label,
label.cal_year_label {
	overflow: hidden;
	position: relative;
	display: block;
	float: left;
	flex: 1 1 auto;
	height: 100%;
	line-height: 28px;
	border: #ccc solid 1px;
	width: auto;
	border-radius: 4px;
}

label.cal_month_label select.cal_month,
label.cal_year_label select.cal_year {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 28px;
	font-size: 12px;
	padding: 0 4px;
	border-radius: 0;
	border: 0;
	appearance: none;
	background-color: var(--comm_sel_bg);
	cursor: pointer;
}

label.cal_month_label:before,
label.cal_year_label:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 100%;
	pointer-events: none;
	background: url('../../images/icon_arrow.svg');
	background-repeat: no-repeat;
	background-position: var(--rusult_cal_img);
}

/*------------select樣式 結束--------------*/
.cal_date,
.cal_date_left,
.cal_week,
.cal_week_left {
	display: inline-block;
	width: 14.28%;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 12px;
}

.cal_contain {
	font-size: 0px;
	/*For display:inline-block; space 父元素加上去，子元素在設定大小*/
}

.cal_week,
.cal_week_left {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	background: var(--rusult_week_bg);
}

.cal_date:not(.cal_space),
.cal_date_left {
	cursor: pointer;
}

.cal_week_left,
.cal_date_left {
	width: 14.28%;
}

.cal_noHand {
	cursor: text;
}

/* 網球新玩法 */
.new_mod_btn span {
	position: relative;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	padding: 0 8px;
	background-color: var(--rusult_gameBtn_bg);
	color: var(--rusult_gameBtn_tx);
	border-radius: 3px;
	cursor: pointer;
}

.new_mod_btn span.on {
	background-color: var(--rusult_gameBtn_bg_on);
	pointer-events: none;
}

.new_mod_btn span.disabled {
	background-color: var(--rusult_gameBtn_bg_dis);
	pointer-events: none;
}

.result_popup.fixed,
.result_mask.fixed {
	position: fixed;
}