* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #262626;
    font-family: "Abhaya Libre", sans-serif;
}

/* 
僅限ios15以上的safari瀏覽器
才加class在html上(高度改為100vh的class)
並於以下狀態
在html加上重整高度class(一秒後移除)
1.從登入頁進入到主框架時
2.鍵盤彈出後收起時 
*/
html.ios15 {
    height: 100vh;
}

.ios15 body {
    height: 100vh;
}


*:hover,
*:focus,
*:active {
    outline: 0;
    -moz-outline: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}
input,
textarea,
button {
    border: none;
    font-family: "Helvetica", sans-serif;
    padding: 0;
    border: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    resize: none;
    font-size: 15px;
}
button {
    border: none;
    background-color: transparent;
}
img {
    width: 100%;
    vertical-align: middle;
}

select {
    border: none;
    -webkit-appearance: none;
}

@media only screen and (min-device-width: 1025px) {
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #c1c1c1;
        border: 1px #f1f1f1 solid;
        border-radius: 3px;
        cursor: pointer;
        -webkit-transition: background 0.5s linear;
        transition: background 0.5s linear;
    }

    *:hover::-webkit-scrollbar-thumb {
        background-color: #a9a9a9;
    }

    ::-webkit-scrollbar-corner {
        background-color: #f1f1f1;
    }
}
