@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f0f0fa;
  font-family: "Source Sans Pro", sans-serif;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -moz-outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  border: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

.imgGroup li img, .func_info p, .func_burger_btn span, .func_car span, .menu li a, .normal_btn {
  transition-duration: 0.3s;
}

.func_info p, .func_burger_btn, .func_car span, .normal_btn {
  cursor: pointer;
}

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v107/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.container {
  overflow: hidden;
  padding: 30px;
}

.scroll_y {
  overflow-x: hidden;
  overflow-y: auto;
}

.normal_inp,
.normal_textarea {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  padding: 15px 22px;
  box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.15);
  font-size: 20px;
}

.normal_inp:focus,
.normal_textarea:focus {
  box-shadow: 0 0 2px 1px #8ebebc;
  background: #fff;
}

.normal_btn {
  margin-top: 45px;
  padding: 23px 55px;
  color: #fff;
  background-color: #8ebebc;
  font-size: 22px;
  border-radius: 8px;
  font-weight: 200;
}
@media (pointer: fine) and (max-resolution: 2dppx), (-moz-touch-enabled: 0) {
  .normal_btn:hover {
    background-color: #9ececc;
  }
}
.normal_btn:active {
  background-color: #9ececc;
}

.normal_btn {
  position: relative;
  margin-top: 42px;
  padding: 15px 35px;
  background-color: #3baeff;
  border: 1px solid #3baeff;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  border-radius: 100px;
}
.normal_btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  height: 100%;
  border-radius: 100px;
  opacity: 0;
  background-color: #222226;
}
.normal_btn:after {
  position: relative;
  content: attr(data-txt);
  color: #fff;
}
@media (pointer: fine) and (max-resolution: 2dppx), (-moz-touch-enabled: 0) {
  .normal_btn:hover {
    color: #ffffff;
    background-color: #222226;
    border-color: #222226;
    transition: background 0.4s 0.4s, border-color 0.4s 0s, color 0.2s 0s;
  }
  .normal_btn:hover::before {
    color: #fff;
    width: 100%;
    opacity: 1;
    transition: width 0.4s, background 0.4s 0.4s, border-color 0.4s 0s, color 0.2s 0s;
  }
}
.normal_btn:active {
  color: #ffffff;
  background-color: #222226;
  border-color: #222226;
  transition: background 0.4s 0.4s, border-color 0.4s 0s, color 0.2s 0s;
}
.normal_btn:active::before {
  color: #fff;
  width: 100%;
  opacity: 1;
  transition: width 0.4s, background 0.4s 0.4s, border-color 0.4s 0s, color 0.2s 0s;
}

.wrap {
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0 15px;
  background-color: #fff;
}

.menu {
  display: flex;
}
.menu li + li {
  margin-left: 26px;
}
@media (pointer: fine) and (max-resolution: 2dppx), (-moz-touch-enabled: 0) {
  .menu li:hover a {
    color: #55b9ff;
    text-decoration: underline;
  }
}
.menu li:active a {
  color: #55b9ff;
  text-decoration: underline;
}
.menu .on a {
  color: #55b9ff;
  text-decoration: underline;
}

.func {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
}
.func > div {
  padding: 25px 30px;
  border-left: 1px solid rgba(34, 34, 38, 0.1);
}
.func_car {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (pointer: fine) and (max-resolution: 2dppx), (-moz-touch-enabled: 0) {
  .func_car span:hover {
    color: #3baeff;
  }
}
.func_car span:active {
  color: #3baeff;
}
.func_burger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.func_burger_btn {
  position: relative;
  width: 24px;
  height: 18px;
  background-color: transparent;
}
.func_burger_btn::before, .func_burger_btn::after {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000;
}
.func_burger_btn::before {
  top: 0;
}
.func_burger_btn::after {
  bottom: 0;
}
.func_burger_btn span {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 2px;
  margin: auto 0;
  background-color: #000;
}
@media (pointer: fine) and (max-resolution: 2dppx), (-moz-touch-enabled: 0) {
  .func_burger_btn:hover span {
    width: 100%;
  }
}
.func_burger_btn:active span {
  width: 100%;
}
.func_info span {
  font-size: 14px;
  color: rgba(34, 34, 38, 0.6);
}
.func_info p {
  margin-top: 6px;
  color: #222226;
  font-size: 24px;
}
@media (pointer: fine) and (max-resolution: 2dppx), (-moz-touch-enabled: 0) {
  .func_info p:hover {
    color: #55b9ff;
  }
}
.func_info p:active {
  color: #55b9ff;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
}
.banner_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.banner_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 38, 0.3);
}
.banner_box {
  position: relative;
  max-width: 1200px;
}
.banner_box_h1 {
  position: relative;
  width: 60%;
  padding-top: 45px;
  font-size: 72px;
  color: #fff;
  font-weight: 700;
}
.banner_box_h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 4px;
  background-color: #3baeff;
}
.banner_box_p {
  width: 60%;
  margin-top: 21px;
  color: #fff;
  font-size: 24px;
}

.content {
  padding: 147px 0;
}

.imgGroup {
  display: flex;
  flex-wrap: wrap;
}
.imgGroup li {
  overflow: hidden;
  width: 25%;
  margin-bottom: 12px;
  padding: 0 6px;
}
@media (pointer: fine) and (max-resolution: 2dppx), (-moz-touch-enabled: 0) {
  .imgGroup li:hover img {
    transform: scale(1.1);
  }
}
.imgGroup li:active img {
  transform: scale(1.1);
}
.imgGroup li img {
  width: 100%;
}/*# sourceMappingURL=all.css.map */