<!DOCTYPE html>
<html id="version" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./css/all.css">
	<link rel="stylesheet" href="../fontawesome-free-5.15.4-web/css/all.css">
</head>

<body>
	<div id="app" class="wrap">
		<header>
			<h1 class="logo">
				<a href="">
					<img src="https://picsum.photos/180/57?random=3" alt="">
				</a>
			</h1>
			<ul class="menu">
				<li class="on">
					<a href="">Home</a>
				</li>
				<li>
					<a href="">About</a>
				</li>
				<li>
					<a href="">Services</a>
				</li>
				<li>
					<a href="">Pricing</a>
				</li>
				<li>
					<a href="">News</a>
				</li>
				<li>
					<a href="">Pages</a>
				</li>
				<li>
					<a href="">Elements</a>
				</li>
			</ul>
			<div class="func">
				<div class="func_car">
					<span class="material-icons">
						shopping_cart
					</span>
				</div>
				<div class="func_burger">
					<button class="func_burger_btn">
						<span></span>
					</button>
				</div>
				<div class="func_info">
					<span>Call Us for any question</span>
					<p>+1 (800) 123 1234</p>
				</div>
			</div>
		</header>
		<div class="banner">
			<div class="banner_item" style="background-image: url('https://picsum.photos/1920/900?random=3')">
				<div class="banner_box">
					<h1 class="banner_box_h1">Computer Repair in Your City</h1>
					<p class="banner_box_p">
						Computer repair, reinstallation of windows, cleaning, repair of laptops with a visit of the
						master.
					</p>
					<button class="normal_btn" data-txt="View All Services"></button>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container">

			</div>
		</div>
		<div class="content">
			<div class="container">
				<ul class="imgGroup">
					<li>
						<span>
							<img src="https://picsum.photos/346/250?random=1" alt="">
						</span>
					</li>
					<li>
						<span>
							<img src="https://picsum.photos/346/250?random=2" alt="">
						</span>
					</li>
					<li>
						<span><img src="https://picsum.photos/346/250?random=3" alt=""></span>
					</li>
					<li>
						<span><img src="https://picsum.photos/346/250?random=4" alt=""></span>
					</li>
					<li>
						<span><img src="https://picsum.photos/346/250?random=5" alt=""></span>
					</li>
					<li>
						<span></span>
					</li>
					<li>
						<span><img src="https://picsum.photos/346/250?random=6" alt=""></span>
					</li>
					<li>
						<span><img src="https://picsum.photos/346/250?random=7" alt=""></span>
					</li>
				</ul>
			</div>
		</div>
		<footer>
			<a href="https://www.templatemonsterpreview.com/demo/191919.html?_gl=1*1666aqx*_ga*NTc3MjcwOTk0LjE2MzI5NjYzMDk.*_ga_FTPYEGT5LY*MTYzNDA4OTQ3MC4xMi4xLjE2MzQwOTAyODguMTg.&_ga=2.53942760.1152837050.1634006327-577270994.1632966309">原始網站</a>
		</footer>
	</div>


	<script src="./js/index.js"></script>


</body>

</html>