<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/all.css" />
</head>

<body>
    <div id="app" class="wrap">
        <header class="header">
            <h1 class="logo">
                <a href="">
                    <img src="./images/logo.png" alt="LOFT HOME">
                </a>
            </h1>
            <ul class="menu_group">
                <li class="menu_item">
                    <router-link to="/">ABOUT US</router-link>
                </li>
                <li class="menu_item">
                    <router-link to="/">ROOMS</router-link>
                </li>
                <li class="menu_item">
                    <router-link to="/">CONTACT</router-link>
                </li>
                <li class="menu_item">
                    <router-link to="/">BOOK NOW</router-link>
                </li>
                <li class="menu_item">
                    <label class="normal_sel">
                        <select>
                            <option>繁體</option>
                        </select>
                    </label>
                </li>
            </ul>
        </header>
        <router-view></router-view>
    </div>

    <script src="./js/libs/vue_2_6_9.js"></script>
    <script src="./js/libs/vue-router.js"></script>
    <script src="./js/libs/http-vue-loader.js"></script>
    <script src="./js/libs/vuex_3_0_1.js"></script>
    <script>
        const routes = [
            {
                path: "",
                components: {
                    default: httpVueLoader("./page/home.vue"),
                },
            },
            // {
            //     path: "/room",
            //     components: {
            //         default: httpVueLoader("./page/room.vue"),
            //     },
            // },
        ];
        const router = new VueRouter({
            // mode: 'history',
            routes: routes, // (缩写) 相当于 routes: routes
        });

        var vue = new Vue({
            el: "#app",
            router,
            data() {
                return {

                };
            },
            watch: {
                // $route(to, from) {
                //     var now = this.$route.path;
                //     if (this.$route.path == "/") {
                //         this.nowPath = 'index';
                //     } else {
                //         this.nowPath = now.split('/')[1]
                //     }
                //     this.showMenu = false;
                // },
            },
            methods: {

            },
        });
    </script>
</body>

</html>