.option {

	// .option_filter
	&_filter {
		z-index: 1;
		position: relative;
		@include d_f(flex, none, center);
		height: 58px;
		margin-top: 30px;
		padding-bottom: 20px;

		>*+* {
			margin-left: 12px;
		}
	}

	// .option_content
	&_content {
		overflow-y: auto;
		@include d_f(flex);
		flex-direction: column;
		height: calc(100% - 56px - 36px);
		padding: 0px 15px 20px 0;


		&._device {
			th {
				&:nth-child(1) {
					width: 212px;
				}

				&:nth-child(2) {
					width: 109px;
				}

				&:nth-child(3),
				&:nth-child(4) {
					width: 120px;
				}

				&:nth-child(5),
				&:nth-child(9),
				&:nth-child(10) {
					width: 100px;

				}

				&:nth-child(6) {
					width: 170px;
				}

				&:nth-child(7),
				&:nth-child(8) {
					width: 115px;
				}

				&:nth-child(11) {
					width: 130px;
				}
			}
		}

		&._linefix {
			th {
				&:nth-child(1) {
					width: 170px;
				}

				&:nth-child(2) {
					width: 83px;
				}

				&:nth-child(3) {
					width: 91px;
				}

				&:nth-child(4) {
					width: 110px;
				}

				&:nth-child(5) {
					width: 618px;
				}

				&:nth-child(6) {
					width: 320px;
				}

				&:nth-child(7) {
					width: 128px;
				}
			}

			th,
			td {

				&:nth-child(3),
				&:nth-child(5),
				&:nth-child(6) {
					text-align: left;
				}
			}
		}

		// .option_content_title
		&_title {
			margin-bottom: 30px;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: -0.015em;
			text-align: left;
			color: #8C95A6;

			&:empty {
				display: none;
			}
		}
	}

	// .option_head
	&_head {
		@include d_f(flex, flex-end, center);
		margin-bottom: 20px;

		&._border {
			padding-top: 16px;
			border-top: 1px solid #DCDCDC;
		}

		.border_btn+.border_btn {
			margin-left: 20px;
		}

		._roleset._edit & {
			display: block;
		}
	}

	// .option_body
	&_body {
		.state {
			margin-bottom: 0;
		}

		._sort {
			margin-left: 6px;
		}

		._filter {
			margin-left: auto;
		}

		td:first-child,
		th:nth-child(3),
		td:nth-child(3) {
			text-align: left;
		}
	}

	// .option_select
	&_select {
		position: relative;
		@include d_f(inline-flex, center, none);
		flex-direction: column;
		// min-width: 112px;
		min-height: 58px;
		padding-top: 3px;
		padding-left: 10px;
		padding-right: 38px;
		border-radius: 10px;
		@extend %transition;
		@extend %hand;

		.title {
			display: block;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			color: #8C95A6;
			@extend %transition;
		}

		.txt {
			overflow: hidden;
			width: 100%;
			height: 0;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			color: #8C95A6;
			@extend %transition;
		}

		&.on,
		&.show {
			min-height: 58px;
			padding-bottom: 7px;
			background-color: rgba(46, 127, 223, 1);
			box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);

			.title {
				font-size: 12px;
				color: #ffffff;
			}

			.txt {
				display: block;
				height: 24px;
				color: #ffffff;
			}

			&::after {
				filter: brightness(100);
			}
		}

		&.show:after {
			transform: rotate(180deg);
		}

		&::after {
			position: absolute;
			right: 6px;
			top: 0;
			bottom: 0;
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			margin: auto;
			background: url('../images/icon_arr_option.svg');
			@extend %transition;
		}

		// .option_select_ul
		&_ul {
			overflow: hidden;
			position: absolute;
			top: calc(100% + 6px);
			left: 0;
			display: none;
			width: 100%;
			padding: 5px 0;
			border: 1px solid rgba(188, 188, 188, 1);
			background-color: rgba(255, 255, 255, 1);
			border-radius: 8px;
			@extend %transition;

			.show & {
				display: block;
			}
		}

		// .option_select_li
		&_li {
			padding: 8px 15px;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			@extend %transition;

			@include hoverHandler {
				background-color: rgba(217, 223, 233, 1);
			}

			&+& {
				margin-top: 5px;
			}
		}

		&+.option_btn {
			margin-left: 12px;
		}

	}

	// .option_btn
	&_btn {
		padding: 10px;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: #8C95A6;
		@extend %hand;

		&.on {
			border-radius: 10px;
			background-color: #2E7FDF;
			color: #fff;
		}


	}
}

.permissions {

	// .permissions_item
	&_item {
		display: inline-block;
		width: calc(100% / 3 - 60px / 3);
		margin-right: 25px;
		margin-bottom: 25px;
		padding: 20px 20px 0 20px;
		border: 1px solid #D3D8EE;
		border-radius: 10px;
		color: #8C95A6;

		&:nth-child(3n) {
			margin-right: 0;
		}

		// .permissions_item_list
		&_list {
			overflow: hidden;
			@include d_f(flex, none, center);
			width: 100%;
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			color: #565656;
			white-space: nowrap;
			text-overflow: ellipsis;

			div:nth-child(1) {
				min-width: 40px;
				margin-right: 10px;
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
				color: #8C95A6;
			}

			div:nth-child(2) {
				overflow: hidden;
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			&._title {
				div:nth-child(1) {
					width: 24px;
					height: 24px;
					background: url('../images/icon_people.svg')no-repeat center/contain;
				}

				div:nth-child(2) {
					font-weight: 700;
					line-height: 24px;
				}
			}

			&+& {
				margin-top: 11px;
			}
		}

		// .permissions_item_btnBox
		&_btnBox {
			position: relative;
			@include d_f(flex, space-between);
			margin-top: 14px;
			padding: 15px 0;

			&::before {
				content: "";
				position: absolute;
				left: -20px;
				top: 0;
				width: calc(100% + 40px);
				height: 1px;
				background-color: #D3D8EE;
			}
		}
	}
}

.pageset {

	// .pageset_title
	&_title {
		margin-bottom: 50px;
		text-align: center;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}


}

.roleset {

	// .roleset_head
	&_head {
		._add {
			margin-left: auto;
		}

		// .roleset_head_title
		&_title {
			@include d_f(flex, center);
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;

			&::before {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				margin-right: 10px;
				background: url('../images/icon_people.svg')no-repeat center/contain;
			}
		}

		// .roleset_head_txt
		&_txt {
			margin-top: 25px;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			text-align: center;
		}
	}

	// .roleset_item
	&_item {
		@include d_f(inline-flex, none, center);
		width: calc(100% / 3 - 60px / 3);
		margin-right: 25px;
		margin-bottom: 25px;
		padding: 20px;
		background-color: #F7F7F8;
		border: 1px solid #D3D8EE;
		color: #8C95A6;
		border-radius: 10px;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		@extend %transition;
		@extend %hand;

		&:before {
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			margin-right: 10px;
			background: url('../images/icon_people.svg')no-repeat center/contain;
		}

		@include hoverHandler {
			background-color: #E8EDF6;
		}

		._trash {
			margin-left: auto;
		}

		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}

.maintain {

	// maintain_head
	&_head {
		@include d_f(flex, flex-end);

		.border_btn+.border_btn {
			margin-left: 10px;
		}
	}

	// .maintain_color
	&_color {
		@include d_f(inline-flex, none, center);
		width: 102px;
		height: 24px;
		@extend %hand;

		&:nth-child(8n+1) {
			margin-top: 20px;
		}

		.state {
			margin-bottom: 0;
			margin-left: 5px;
		}
	}
}

.condition {

	// condition_head
	&_head {
		@include d_f(flex, flex-end, center);

		.border_btn+.border_btn {
			margin-left: 10px;
		}

		.normal_sel {
			margin-right: auto;

			&::before {
				font-size: 12px;
				font-weight: 400;
				line-height: 18px;
			}
		}

		.normal_sel_title {}
	}
}

.device {

	// .device_body
	&_body {
		margin-top: 20px;

		.state {
			margin-bottom: 0;
		}

		._sort {
			margin-left: 6px;
		}

		._filter {
			margin-left: auto;
		}

		th:nth-child(2),
		th:nth-child(5) {
			width: 128px;
		}

		th:nth-child(4) {
			width: 152px;
		}

		td:first-child,
		th:nth-child(3),
		td:nth-child(3) {
			text-align: left;
		}
	}
}