.option {

	// .option_filter
	&_filter {
		z-index: 1;
		position: relative;
		@include d_f(flex, none, center);
		height: 58px;
		margin-top: 30px;
		padding-bottom: 20px;

		>*+* {
			margin-left: 12px;
		}
	}

	// .option_nodata
	&_nodata {
		margin-top: 60px;
		font-size: 20px;
		font-weight: 700;
		line-height: 30px;
		text-align: center;
	}

	// .option_content
	&_content {
		overflow-y: auto;
		@include d_f(flex);
		flex-direction: column;
		height: calc(100% - 56px - 36px);
		padding: 0px 15px 20px 0;


		&._device {
			th {
				&:nth-child(1) {
					width: 212px;
				}

				&:nth-child(2) {
					width: 109px;
				}

				&:nth-child(3),
				&:nth-child(4) {
					width: 120px;
				}

				&:nth-child(5),
				&:nth-child(9),
				&:nth-child(10) {
					width: 100px;

				}

				&:nth-child(6) {
					width: 170px;
				}

				&:nth-child(7),
				&:nth-child(8) {
					width: 115px;
				}

				&:nth-child(11) {
					width: 130px;
				}
			}
		}

		&._linefix {
			th {
				&:nth-child(1) {
					width: 170px;
				}

				&:nth-child(2) {
					width: 83px;
				}

				&:nth-child(3) {
					width: 91px;
				}

				&:nth-child(4) {
					width: 110px;
				}

				&:nth-child(5) {
					width: 618px;
				}

				&:nth-child(6) {
					width: 320px;
				}

				&:nth-child(7) {
					width: 128px;
				}
			}

			th,
			td {

				&:nth-child(3),
				&:nth-child(5),
				&:nth-child(6) {
					text-align: left;
				}
			}
		}

		&._model {
			th {

				&:nth-child(1),
				&:nth-child(2) {
					width: 315px;
					text-align: left;
				}

				&:nth-child(3) {
					width: 128px;
					text-align: center;
				}

				&:nth-child(4) {
					width: 216px;
					text-align: center;
				}

				&:nth-child(5) {
					width: 136px;
				}

				&:nth-child(6) {
					width: 162px;
				}

				&:nth-child(7) {
					width: 128px;
				}
			}

			td {
				&:nth-child(2) {
					text-align: left;
				}

				&:nth-child(3) {
					text-align: center;
				}
			}
		}

		&._working {
			position: relative;
		}

		&._recipe {
			th {
				&:nth-child(2) {
					width: 170px;
				}
			}
		}

		&._parameter {
			th {
				&:nth-child(1) {
					text-align: left;
				}

				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					width: 142px;
					text-align: center;
				}

				&:nth-child(5) {
					width: 130px;
				}
			}

			td {
				&:nth-child(3) {
					text-align: center;
				}
			}
		}

		// .option_content_title
		&_title {
			margin-bottom: 30px;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: -0.015em;
			text-align: left;
			color: #8C95A6;

			&:empty {
				display: none;
			}
		}
	}

	// .option_head
	&_head {
		@include d_f(flex, flex-end, center);
		margin-bottom: 20px;

		&._border {
			padding-top: 16px;
			border-top: 1px solid #DCDCDC;
		}

		&._borderB {
			padding-bottom: 20px;
			border-bottom: 1px solid #DCDCDC;
		}

		.border_btn+.border_btn {
			margin-left: 20px;
		}

		&._rolesetEdit {
			display: block;
		}

		._working &,
		._recipe &,
		._parameter & {
			justify-content: flex-start;
			align-items: flex-end;
			margin-bottom: 0;

			>*+* {
				margin-left: 30px;
			}
		}
	}

	// .option_body
	&_body {
		&._borderT {}

		.state {
			margin-bottom: 0;
		}

		._sort {
			margin-left: 6px;
		}

		._filter {
			margin-left: auto;
		}

		td:first-child,
		th:nth-child(3),
		td:nth-child(3) {
			text-align: left;
		}

		// .option_body_btnbox
		&_btnbox {
			@include d_f(flex, flex-end, center);
			padding: 20px 0;

			.border_btn+.border_btn {
				margin-left: 20px;
			}
		}

		// .option_body_filter
		&_filter {
			@include d_f(flex);
			flex-wrap: wrap;
		}
	}

	// .option_select
	&_select {
		position: relative;
		@include d_f(inline-flex, center, none);
		flex-direction: column;
		// min-width: 112px;
		min-height: 58px;
		padding-top: 3px;
		padding-left: 10px;
		padding-right: 38px;
		border-radius: 10px;
		@extend %transition;
		@extend %hand;

		&._inside {
			margin-right: 20px;
			margin-bottom: 20px;
			background-color: #fff;
		}

		.title {
			display: block;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			color: #8C95A6;
			@extend %transition;
		}

		.txt {
			overflow: hidden;
			width: 100%;
			height: 0;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			color: #8C95A6;
			@extend %transition;
		}

		&.on,
		&.show {
			min-height: 58px;
			padding-bottom: 7px;
			background-color: rgba(46, 127, 223, 1);
			box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);

			&._inside {
				background-color: #E8EDF6;

				.title,
				.txt {
					color: #565656;
				}

				&::after {
					filter: invert(41%) sepia(66%) saturate(1157%) hue-rotate(187deg) brightness(92%) contrast(90%);
				}
			}

			.title {
				font-size: 12px;
				color: #ffffff;
			}

			.txt {
				display: block;
				height: 24px;
				color: #ffffff;
			}

			&::after {
				filter: brightness(100);
			}
		}

		&.show:after {
			transform: rotate(180deg);
		}

		&::after {
			position: absolute;
			right: 6px;
			top: 0;
			bottom: 0;
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			margin: auto;
			background: url('../images/icon_arr_option.svg');
			@extend %transition;
		}

		// .option_select_ul
		&_ul {
			overflow: hidden;
			position: absolute;
			top: calc(100% + 6px);
			left: 0;
			display: none;
			width: 100%;
			padding: 5px 0;
			border: 1px solid rgba(188, 188, 188, 1);
			background-color: rgba(255, 255, 255, 1);
			border-radius: 8px;
			@extend %transition;

			.show & {
				display: block;
			}
		}

		// .option_select_li
		&_li {
			padding: 8px 15px;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			@extend %transition;

			@include hoverHandler {
				background-color: rgba(217, 223, 233, 1);
			}

			&+& {
				margin-top: 5px;
			}
		}

		&+.option_btn {
			margin-left: 12px;
		}

	}

	// .option_btn
	&_btn {
		padding: 10px;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: #8C95A6;
		@extend %hand;

		&.on {
			border-radius: 10px;
			background-color: #2E7FDF;
			color: #fff;
		}


	}

	// .option_clone
	&_clone {
		position: relative;
		margin-bottom: 20px;
		padding: 16px 54px 26px;
		background-color: #E8EDF6;
		border-radius: 20px;

		&:before {
			content: "";
			position: absolute;
			top: -1px;
			left: 0;
			display: block;
			width: 100%;
			height: 1px;
			background-color: #f6f6f6;
		}

		// .option_clone_title
		&_title {
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			color: #2E7FDF;
			text-align: center;
		}

		// .option_clone_info
		&_info {
			@include d_f(flex, none, center);
			margin-top: 20px;

			>*+* {
				margin-left: 30px;
			}
			._parameter &{
				justify-content: center
			}
		}

		// .option_clone_btnbox
		&_btnbox {
			@include d_f(flex, center);
			margin-top: 30px;

			.normal_btn+.normal_btn {
				margin-left: 100px;
			}
		}
	}
}

.permissions {

	// .permissions_item
	&_item {
		display: inline-block;
		width: calc(100% / 3 - 60px / 3);
		margin-right: 25px;
		margin-bottom: 25px;
		padding: 20px 20px 0 20px;
		border: 1px solid #D3D8EE;
		border-radius: 10px;
		color: #8C95A6;

		&:nth-child(3n) {
			margin-right: 0;
		}

		// .permissions_item_list
		&_list {
			overflow: hidden;
			@include d_f(flex, none, center);
			width: 100%;
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			color: #565656;
			white-space: nowrap;
			text-overflow: ellipsis;

			div:nth-child(1) {
				min-width: 40px;
				margin-right: 10px;
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
				color: #8C95A6;
			}

			div:nth-child(2) {
				overflow: hidden;
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			&._title {
				div:nth-child(1) {
					width: 24px;
					height: 24px;
					background: url('../images/icon_people.svg')no-repeat center/contain;
				}

				div:nth-child(2) {
					font-weight: 700;
					line-height: 24px;
				}
			}

			&+& {
				margin-top: 11px;
			}
		}

		// .permissions_item_btnBox
		&_btnBox {
			position: relative;
			@include d_f(flex, space-between);
			margin-top: 14px;
			padding: 15px 0;

			&::before {
				content: "";
				position: absolute;
				left: -20px;
				top: 0;
				width: calc(100% + 40px);
				height: 1px;
				background-color: #D3D8EE;
			}
		}
	}
}

.pageset {

	// .pageset_title
	&_title {
		margin-bottom: 50px;
		text-align: center;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}
}

.roleset {

	// .roleset_head
	&_head {
		._add {
			margin-left: auto;
		}

		// .roleset_head_title
		&_title {
			@include d_f(flex, center);
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;

			&::before {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				margin-right: 10px;
				background: url('../images/icon_people.svg')no-repeat center/contain;
			}
		}

		// .roleset_head_txt
		&_txt {
			margin-top: 25px;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			text-align: center;
		}
	}

	// .roleset_item
	&_item {
		@include d_f(inline-flex, none, center);
		width: calc(100% / 3 - 60px / 3);
		margin-right: 25px;
		margin-bottom: 25px;
		padding: 20px;
		background-color: #F7F7F8;
		border: 1px solid #D3D8EE;
		color: #8C95A6;
		border-radius: 10px;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		@extend %transition;
		@extend %hand;

		&:before {
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			margin-right: 10px;
			background: url('../images/icon_people.svg')no-repeat center/contain;
		}

		@include hoverHandler {
			background-color: #E8EDF6;
		}

		._trash {
			margin-left: auto;
		}

		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}

.maintain {

	// maintain_head
	&_head {
		@include d_f(flex, flex-end);

		.border_btn+.border_btn {
			margin-left: 10px;
		}
	}

	// .maintain_color
	&_color {
		@include d_f(inline-flex, none, center);
		width: 102px;
		height: 24px;
		@extend %hand;

		&:nth-child(8n+1) {
			margin-top: 20px;
		}

		.state {
			margin-bottom: 0;
			margin-left: 5px;
		}
	}
}

.condition {

	// condition_head
	&_head {
		@include d_f(flex, flex-end, center);

		.border_btn+.border_btn {
			margin-left: 10px;
		}

		.normal_sel {
			margin-right: auto;

			&::before {
				font-size: 12px;
				font-weight: 400;
				line-height: 18px;
			}
		}

		.normal_sel_title {}
	}
}

.device {

	// .device_body
	&_body {
		margin-top: 20px;

		.state {
			margin-bottom: 0;
		}

		._sort {
			margin-left: 6px;
		}

		._filter {
			margin-left: auto;
		}

		th:nth-child(2),
		th:nth-child(5) {
			width: 128px;
		}

		th:nth-child(4) {
			width: 152px;
		}

		td:first-child,
		th:nth-child(3),
		td:nth-child(3) {
			text-align: left;
		}
	}
}

.kpitarget {

	// .kpitarget_group
	&_group {
		@include d_f(flex, none, flex-start);
		flex-wrap: wrap;
	}

	// .kpitarget_item
	&_item {
		width: calc(100% / 5 - 40px / 5);
		margin-right: 10px;
		margin-bottom: 10px;
		border-radius: 10px;
		border: 1px solid #D3D8EE;

		&:nth-child(5n) {
			margin-right: 0;
		}

		// .kpitarget_item_content
		&_content {
			padding: 20px 20px 10px;
		}

		// .kpitarget_item_txt
		&_txt {
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;

			&::before {
				content: attr(data-msg);
				margin-right: 20px;
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
				color: #8C95A6
			}

			&+& {
				margin-top: 10px;
			}
		}

		// .kpitarget_item_btnbox
		&_btnbox {
			@include d_f(flex, flex-end, center);
			padding: 10px;
			border-top: 1px solid #D3D8EE;

			.icon_btn+.icon_btn {
				margin-left: 10px;
			}
		}
	}

	// .kpitarget_box
	&_box {
		margin-top: 18px;

		.normal_cicle {
			margin: auto;
		}

		// .kpitarget_box_txt
		&_txt {
			margin-top: 6px;
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			text-align: center;

		}
	}
}

.kpicreaet {

	// .kpicreaet_group
	&_group {
		@include d_f(flex);
		flex-wrap: wrap;
	}

	// .kpicreaet_item
	&_item {
		width: calc(100% / 5 - 100px / 5);
		margin-right: 25px;
		margin-bottom: 20px;
		border: 1px solid #CFD9EA;
		border-radius: 10px;

		&:nth-child(5n) {
			margin-right: 0;
		}

		// .kpicreaet_item_box
		&_box {
			@include d_f(flex);
			padding: 10px;
		}

		// .kpicreaet_item_btnbox
		&_btnbox {
			@include d_f(flex, flex-end, center);
			padding: 10px;
			border-top: 1px solid #D3D8EE;

			.icon_btn+.icon_btn {
				margin-left: 10px;
			}
		}

		// .kpicreaet_item_btnbox
		&_txt {
			margin-left: 10px;
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
			color: #AFAFAF;

			&::before {
				content: attr(data-title);
				display: block;
				margin-bottom: 3px;
				font-size: 14px;
				color: #565656;
			}
		}

		// .kpicreaet_item_detail
		&_detail {
			padding: 10px;
			border-top: 1px solid #D3D8EE;

			li {
				width: 100%;
				font-size: 14px;
				font-weight: 400;
				line-height: 21px;

				&:first-child {
					position: relative;
					padding-right: 40px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				button {
					position: absolute;
					right: 0;
					color: #2e7fdf;
					@extend %hand;
				}
			}
		}
	}
}

.working {

	// .working_detail
	&_detail {
		width: 100%;
		padding: 20px;
		background-color: #B1B9C8;
		color: #FFFFFF;

		// .working_detail_group
		&_group {
			@include d_f(flex);

			&+& {
				margin-top: 20px;
			}
		}

		// .working_detail_item
		&_item {
			line-height: 24px;

			&+& {
				margin-left: 30px;
			}
		}
	}


	// .working_group
	&_group {
		@include d_f(flex);
		flex-wrap: wrap;
	}

	// .working_item
	&_item {
		position: relative;
		width: calc(100% / 4 - 84px / 4);
		margin-right: 28px;
		margin-bottom: 20px;
		border-radius: 10px;
		background-color: #F7F7F8;
		border: 1px solid #D3D8EE;

		&+&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			display: block;
			width: 18px;
			height: 18px;
			transform: translateX(calc(-100% - 5px));
			background: url('../images/icon_next.svg')no-repeat center/contain;
		}

		&:nth-child(4n) {
			margin-right: 0;

		}

		// .working_item_title
		&_title {
			@include d_f(flex, none, center);
			height: 36px;
			padding: 0 20px;
			background-color: #B1B9C8;
			color: #FFFFFF;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;

			&::before {
				content: attr(data-msg);
				margin-right: 10px;
			}
		}

		// .working_item_info
		&_info {
			position: relative;
			@include d_f(flex);


			&:nth-child(2) {
				flex-wrap: wrap;
				padding: 15px 10px 15px 20px;

				.txt+.txt {
					margin-left: 16px;
				}
			}

			&:nth-child(3) {
				padding: 10px 10px 20px 20px;
				border-top: 1px solid #D3D8EE;

				.txt {
					@include d_f(flex);
					width: 100%;
					line-height: 21px;

					span {
						line-height: 21px;
					}
				}

				.txt+.txt {
					margin-top: 6px;
				}
			}

			.name {
				@include d_f(flex, space-between, flex-start);
				flex: 1 1 auto;
				margin-bottom: 20px;
				font-size: 14px;
				font-weight: 400;
				line-height: 21px;

				&::before {
					content: attr(data-msg);
					margin-right: 10px;
					color: #8C95A6;
					white-space: nowrap;
				}

				&:after {
					content: attr(data-count);
					padding: 2px 6px;
					font-size: 12px;
					font-weight: 400;
					line-height: 18px;
					border-radius: 999px;
					background-color: #2E7FDF;
					color: #fff;
				}
			}

			.txt {
				width: calc(50% - 8px);

				&::before {
					content: attr(data-msg);
					display: block;
					margin-bottom: 15px;
				}

				span {
					white-space: nowrap;
				}

				span+span {
					margin-left: 30px;
				}
			}



			.left {
				width: 100%;
			}

			.right {
				@include d_f(flex);

				.icon_btn+.icon_btn {
					margin-left: 10px;
				}
			}
		}
	}

	// .working_edit
	&_edit {
		&+& {
			margin-top: 20px;
		}

		&::before {
			content: attr(data-msg);
			display: block;
			margin-bottom: 6px;
			padding-left: 10px;
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
		}

		// .working_edit_group
		&_group {
			@include d_f(flex, none, center);
			padding: 12px 10px;
			background-color: #fff;
			border-radius: 10px;
			border-bottom: 1px solid #D6D6D6;
			@extend %transition;

			._total &:nth-child(1) {
				border-bottom-left-radius: 0px;
				border-bottom-right-radius: 0px;
				border: none;
			}

			._total &:nth-child(2) {
				position: relative;
				margin-top: 0;
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;

				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					width: calc(100% - 20px);
					height: 1px;
					margin: auto;
					background-color: #D3D8EE;
				}

				.working_edit_item {
					width: 100%;


				}

				.working_edit_item+.working_edit_item {
					margin-left: 21px;
				}
			}

			&+& {
				margin-top: 10px;
			}

			._all &:active {
				box-shadow: 0px 10px 20px 0px #0000004D;
			}
		}

		// .working_edit_item
		&_item {
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;

			&::before {
				content: attr(data-msg);
				display: block;
				margin-bottom: 8px;
			}

			&:nth-child(2) {
				margin-left: auto;
			}

			&:nth-child(3) {
				margin-left: 30px;
			}

			&._name::before {
				margin-bottom: 6px;
				color: #8C95A6;
			}


		}
	}


}