.warroom {

	// .warroom_content 
	&_content {
		overflow: hidden;
		@include d_f(flex, none, flex-start);
		width: 100%;
		height: 100%;
		padding: 20px 0;
	}

	// .warroom_all
	&_all {
		flex: none;
		width: 120px;
		padding: 14px 10px 12px;
		background-color: #0295F7;
		border-radius: 10px;

		// .warroom_all_title
		&_title {
			padding-left: 13px;
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			color: #8DD1FF;
		}

		// .warroom_all_item
		&_item {
			position: relative;
			width: 100px;
			height: 100px;
			margin-top: 10px;
			padding: 10px;
			background-color: #0281D5;
			border-radius: 10px;

			.num {
				color: #ffffff;
				font-size: 26px;
				font-weight: 400;
				line-height: 24px;

				&:after {
					content: attr(data-unit);
					margin-left: 4px;
					font-size: 12px;
					font-weight: 400;
					line-height: 24px;
				}
			}

			.txt {
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				color: #8DD1FF;
			}

			&:after {
				content: "";
				position: absolute;
				right: 10px;
				bottom: 10px;
				display: block;
				width: 24px;
				height: 24px;

			}

			&._people:after {
				background-image: url('../images/icon_warroom_people.svg');
			}

			&._attendance:after {
				background-image: url('../images/icon_warroom_attendance.svg');
			}

			&._input:after {
				background-image: url('../images/icon_warroom_input.svg');
			}

			&._output:after {
				background-image: url('../images/icon_warroom_output.svg');
			}

			&._achievement:after {
				background-image: url('../images/icon_warroom_achievement.svg');
			}
		}
	}

	// .warroom_info
	&_info {
		overflow: hidden;
		width: calc(100% - 120px);
		height: 100%;
		padding-left: 10px;
	}

	// .warroom_head
	&_head {
		width: 100%;
		height: 40px;
		@include d_f(flex, space-between, center);
	}

	// .warroom_body
	&_body {
		overflow-y: auto;
		height: 100%;
		padding-top: 13px;
	}

	// .warroom_machine
	&_machine {
		// overflow: hidden;
		position: relative;
		padding-right: 10px;

		&+& {
			margin-top: 10px;
		}

		.icon_btn {
			z-index: 1;
			display: none;

			.edit & {
				display: block;
			}
		}

		// .warroom_machine_head
		&_head {
			position: relative;
			@include d_f(flex, none, center);
			width: 100%;
			height: 70px;
			padding: 10px 14px;
			background-color: #8C95A6;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
			border-top: 1px solid rgba(216, 216, 216, 1);
			border-left: 1px solid rgba(216, 216, 216, 1);
			border-right: 1px solid rgba(216, 216, 216, 1);
		}

		// .warroom_machine_li
		&_li {
			@include d_f(flex, center, none);
			flex-direction: column;
			height: 100%;
			padding: 4px 0;
			color: #fff;

			font-size: 14px;
			font-weight: 400;
			line-height: 24px;

			&+& {
				border-left: 1px solid #A6AEBC;
			}

			&._title {
				width: 163px;
			}

			&:not(._title) {
				padding-left: 16px;
				padding-right: 20px;
			}

			&._payment {
				align-items: center;
				flex-direction: row;
				padding-left: 10px;
				padding-right: 10px;

				&::before {
					content: "";
					display: block;
					width: 16px;
					height: 16px;
					margin-right: 10px;
					background: url('../images/icon_payment.svg')no-repeat center/contain;
				}

				&:after {
					content: attr(data-unit);
					margin-left: 4px;
				}
			}

			&._water {
				align-items: center;
				flex-direction: row;
				padding-left: 10px;
				padding-right: 10px;

				&::before {
					content: "";
					display: block;
					width: 16px;
					height: 16px;
					margin-right: 10px;
					background: url('../images/icon_water.svg')no-repeat center/contain;
				}

				&:after {
					content: attr(data-unit);
					margin-left: 4px;
				}
			}

			&._total {
				align-items: center;
				flex-direction: row;
				height: auto;
				margin-left: auto;
				border: none;
				font-size: 20px;
				line-height: 18px;

				&::before {
					content: attr(data-l);
					align-self: flex-end;
					font-size: 14px;
					margin-right: 4px;
					line-height: 1;
				}

				&::after {
					content: attr(data-r);
					align-self: flex-end;
					font-size: 14px;
					margin-left: 4px;
					line-height: 1;
				}
			}
		}

		// .warroom_machine_span
		&_span {
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;

			&:after {
				content: attr(data-unit);
			}

			&:nth-child(1) {
				color: #D6E0F1;
			}

			&:nth-child(2) {
				margin-top: 4px;
			}

			._title &:nth-child(1) {
				color: #fff;
				font-size: 16px;
				font-weight: 700;
				line-height: 20px;
			}
		}

		// .warroom_machine_outside
		&_outside {
			@include d_f(flex, none, center);
			height: 136px;
			padding: 0 7px 6px;
			background-color: #fff;
			border-bottom: 1px solid rgba(216, 216, 216, 1);
			border-left: 1px solid rgba(216, 216, 216, 1);
			border-right: 1px solid rgba(216, 216, 216, 1);
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;

			::-webkit-scrollbar {
				width: 6px;
				height: 6px;
				background-color: transparent;
			}

			::-webkit-scrollbar-thumb {
				background-color: rgba(0, 0, 0, 0.1);
				border: 1px transparent solid;
				border-radius: 3px;
				cursor: pointer;
				-webkit-transition: background 0.5s linear;
				transition: background 0.5s linear;
			}

			*:hover::-webkit-scrollbar-thumb {
				background-color: #a9a9a9;
			}

			::-webkit-scrollbar-corner {
				background-color: #f1f1f1;
			}


			.border_btn {
				margin-right: 6px;
			}
		}

		// .warroom_machine_group
		&_group {
			overflow-x: auto;
			@include d_f(flex);
			padding: 4px 0px 5px 0;
			width: 100%;
			background-color: #fff;
		}

		// .warroom_machine_item
		&_item {
			position: relative;
			flex: none;
			width: 100px;
			padding: 6px 9px 7px;
			text-align: center;
			transform: translateX(0px);

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				display: block;
				width: calc(100% - 6px);
				height: 100%;
				margin: auto;
				border: 2px solid rgba(59, 149, 255, 0);
				border-radius: 6px;
				box-sizing: border-box;
				@extend %transition;
			}

			&.top {
				z-index: 999;
				background-color: #fff;
			}

			@include hv {

				&:before {
					border-color: rgba(59, 149, 255, 1);
				}

				.machine_box &::before {
					border-color: transparent;
				}

				&:not(._add):after {
					opacity: 1;
				}

				.edit & {
					cursor: grab;
				}
			}

			@include ac {
				.edit & {
					cursor: grabbing;
				}
			}

			&::after {
				content: attr(data-txt);
				position: absolute;
				top: 20px;
				left: 0px;
				right: 0;
				width: calc(100% - 12px);
				margin: auto;
				padding: 15px 10px;
				background-color: rgba(255, 255, 255, 1);
				box-shadow: 0px 10px 20px 0px rgba(30, 49, 84, 0.55);
				font-size: 14px;
				font-weight: 400;
				line-height: 21px;
				letter-spacing: -0.015em;
				border-radius: 10px;
				opacity: 0;
				box-sizing: border-box;
				@extend %transition;

				.edit &,
				.machine_box & {
					display: none;
				}
			}

			.state {
				width: 54px;
				height: 12px;
				margin: 0 auto 8px;
				border-radius: 21px;
			}

			.name {
				overflow: hidden;
				width: 100%;
				margin-top: 8px;
				white-space: nowrap;
				text-overflow: ellipsis;
				font-family: Noto Sans CJK TC;
				font-size: 14px;
				font-weight: 400;
				line-height: 15px;
			}
		}
	}
}

.machine {
	// overflow: hidden;
	z-index: 10;
	position: absolute;
	top: 0;
	right: 32px;
	@include d_f(flex);
	flex-direction: column;
	width: 478px;
	height: 100%;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);

	// .machine_head 
	&_head {
		@include d_f(flex);
		padding: 25px 20px 15px;
		background-color: #3B95FF;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;

		.pic {
			flex: none;
			overflow: hidden;
			width: 128px;
			height: 128px;
			margin-right: 15px;
			border-radius: 10px;
		}

		.info {

			// .info_item
			&_item {
				@include d_f(flex, none, center);
				font-size: 14px;
				font-weight: 400;
				line-height: 32px;
				text-align: left;
				color: #fff;

				&._line {
					font-size: 20px;
					font-weight: 700;
				}

				&::before {
					content: attr(data-txt);
					font-size: 14px;
					font-weight: 400;
					line-height: 24px;
					text-align: right;
				}
			}
		}
	}

	// .machine_body
	&_body {
		overflow: hidden;
		@include d_f(flex);
		flex-direction: column;
		flex: 1 1 100%;
		padding: 15px 10px;
	}

	// .machine_result
	&_result {
		padding: 20px;
		border-bottom: 1px solid #E0E0E0;

		span {
			display: block;
			font-size: 14px;
			font-weight: 400;

			&:nth-child(1) {
				@include d_f(flex, none, center);
				line-height: 24px;
				color: #E60000;

				&::before {
					content: "";
					display: block;
					width: 6px;
					height: 6px;
					margin-right: 6px;
					background-color: #E60000;
					border-radius: 100%;
				}
			}

			&:nth-child(2) {
				margin-top: 4px;
				color: #565656;
				line-height: 20px;
			}

		}

	}

	// .machine_tbBox
	&_tbBox {
		overflow-y: auto;
		flex: 1 1 100%;
		padding: 15px 0;
		border-bottom: 1px solid #E0E0E0;

		.title {
			margin-bottom: 10px;
			padding-left: 20px;
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			color: #565656;
		}

		th:first-child {
			text-align: left;
		}

		td:first-child {
			text-align: left;
		}
	}

	// .machine_state
	&_state {
		padding: 15px 20px;

		.group {
			@include d_f(flex);
			flex-wrap: wrap;
			margin-top: 10px;
		}

		.item {
			@include d_f(flex);
			flex-wrap: wrap;
			width: calc(50% - 11px);
			padding: 0 14px 5px;
			background-color: #D9DFE9;
			border-radius: 10px;

			&::before {
				content: attr(data-name);
				display: block;
				width: 100%;
				margin-bottom: 4px;
				font-size: 16px;
				font-weight: 400;
				line-height: 32px;
			}

			&:nth-child(even) {
				margin-left: 22px;
			}

			span {
				display: block;
				width: 50%;
				font-size: 24px;
				font-weight: 400;
				line-height: 32px;

				&:after {
					content: attr(data-txt);
					display: block;
					font-size: 12px;
					font-weight: 400;
					line-height: 32px;
					color: #565656;
				}

				&.limit {
					color: #DB0000;
				}
			}
		}
	}

	._close {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	._prev,
	._next {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	._prev {
		left: 0;
		transform: translateX(-50%);
	}

	._next {
		right: 0;
		transform: translateX(50%);
	}
}

.line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 674px;
	padding: 20px;
	background-color: #fff;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: 0px -10px 17px 0px #00000080;

	._close {
		position: absolute;
		right: 10px;
		top: 10px;
	}

	// .line_info
	&_info {
		padding-top: 20px;
	}

	// .line_staff
	&_staff {
		padding-top: 20px;

		// .line_staff_group
		&_group {
			@include d_f(inline-flex);
			margin-right: 20px;
			margin-bottom: 20px;
			padding: 10px;
			border-radius: 20px;
			background-color: #C0ED5F;
		}

		// .line_staff_item
		&_item {
			min-width: 100px;
			padding: 20px 30px;
			background-color: #85C600;
			border-radius: 20px;
			font-size: 20px;
			font-weight: 400;
			line-height: 30px;
			text-align: center;
			color: #fff;

			&:after {
				content: attr(data-txt);
				display: block;
				margin-top: 10px;
				font-size: 14px;
				line-height: 21px;
				color: #324A00;
			}

			&+&,
			&+.line_staff_txt {
				margin-left: 10px;
			}
		}

		// .line_staff_txt
		&_txt {
			@include d_f(flex, center, center);
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
			color: #324A00;

			&::before {
				content: attr(data-txt);
			}
		}
	}
}