.alert{
    position: absolute;
    background: map-get($bg_color, alert_bg);
    border: 1px solid map-get($bg_color, darkgray);
    z-index: 5;

    // 彈出head .alert__title
    &__title{
        @include d_f(flex, center, space-between);
        padding: 3px 5px;
        background: map-get($bg_color, alert_title);
        color: map-get($txt_color, white);

    }
    
    // 彈出內容 .alert__info
    &__info{
        padding: 5px;

        // 內容表格 .alert__info__tb
        &__tb{
            width: 100%;

            .bg_darkred{
                color: map-get($txt_color, white);
            }
            th,
            td{
                padding: 5px;
            }
        }
    }
    //彈出文字內容 .alert__txt
    &__txt{
        max-width: 300px;
        background: map-get($bg_color , white);
        padding: 5px;
    }
}