.BK_dashboard{
    width: 100%;
    height: 100%;
    & > div +div{
        border-top:1px solid map-get($bg_color , black);
    }
    //.BK_dashboard__content
    &__content{
        @include d_f(flex,center,flex-start);
        width: 100%;
        height: 50%;
        & > div + div{
            margin-left: 5px;
            .dashboard_title{
                border-left: 1px solid map-get($bg_color , black);
            }
        }
        //.BK_dashboard__content__item
        &__item{
            @include d_f(flex,center,flex-start);
            width: 50%;
            height: 100%;
        }
    }
    //head
    @at-root .--head .BK_dashboard{
        height: calc(100% - 22px);
    }
}

.dashboard_title{
    @include d_f(flex,center,center);
    border-right: 1px solid map-get($bg_color , black);
    flex: none;
    width: 18px;
    height: 100%;
    word-break: break-all;
    text-align: center;
    margin-right: 5px;
    background: map-get($bg_color, lightgray);
    font-weight: bolder;
}

.BK_count{
    @include d_f(flex,center,flex-start);
    width: 60%;
    height: 100%;
    padding:2px;
    li{
        width: calc(100% / 4);
        height: 100%;
        & + li{margin-left: 5px;}
        border:1px solid map-get($bg_color , black);
        div{
            @include d_f(flex,center,center);
            text-align: center;
            height: 50%;
            font-size: 16px;
            font-weight: bolder;
            & + div{border-top:1px solid map-get($bg_color , black);}
        }
    }
}

.BK_difference{
    @include d_f(flex,center,center);
    width: 40%;
    height: 100%;
    margin-left: 5px;  
    padding: 2px;
    //.BK_difference__pic
    &__pic{
        @include d_f(flex,center,center);
        flex-direction: column;
        width: 40%;
        height: 100%;
        border:1px solid map-get($bg_color , black);
        .note_btn{
            width: 30px;
            height: 30px;
            background: url(../images/control/dash_normal.png)no-repeat center center / cover;
            &.--up{
                background: url(../images/control/dash_pick.png)no-repeat center center / cover;
            }
            &.--down{
                background:url(../images/control/dash_wash.png)no-repeat center center / cover;
            }
        }
    }
    //.BK_difference__txt
    &__txt{
        @include d_f(flex,center,center);
        width: 60%;
        height: 100%;
        padding: 2px;
        border:1px solid map-get($bg_color , black);
        border-left: 0;
        span{
            display:-webkit-box;
            -webkit-box-orient:vertical;
            overflow:hidden;
            -webkit-line-clamp:4;
            word-break: break-all;
            line-height: 1.2;
        }
    }
}

//dashboard背景色設定
@mixin DBcolor($num){
    @if $num <=30{
        background:map-get($bg_color , BKdash_01) ;
    }
    @else if $num <=38{
        background:map-get($bg_color , BKdash_02) ;
    }
    @else if $num <=45{
        background:map-get($bg_color , BKdash_03) ;
    }
    @else if $num <=50{
        background:map-get($bg_color , BKdash_04) ;
    }
    @else if $num <=55{
        background:map-get($bg_color , BKdash_05) ;
    }
    @else if $num <=62{
        background:map-get($bg_color , BKdash_06) ;
    }
    @else if $num <=70{
        background:map-get($bg_color , BKdash_07) ;
    }
    @else if $num <=100{
        background:map-get($bg_color , BKdash_08) ;
    }
}

@for $DBnum from 0 through 100{
    .BKdash_#{$DBnum}{
        @include DBcolor($DBnum);
    }
}