.menuBox{
    @include d_f(flex, center, flex-start);
    position: relative;
    width: calc(100% - 50px);
    min-width: 1024px;
    padding: 3px 0 3px 10px;
    border-bottom: 1px solid map-get($bg_color, black);

    &::after{
        @include pos_a(tl, -6px, calc(100% + 13px));
        content: '';
        width: 1px;
        height: 37px;
        background: map-get($bg_color, black);
        transform: rotate(48deg);
    }

    ul{
        @include d_f(inline-flex, center, flex-start);
        li + li{
            margin-left: 5px;
        }
    }

    // 標題 .menuBox__info
    &__info{
        margin-right: 10px;
    }
    // 玩法選項 .menuBox__list
    &__list{
        @extend %hand;
        color: map-get($txt_color, blue);

        li{
            &.--on{
                @extend %no_hand;
                background: map-get($bg_color, middblue);
                color: map-get($txt_color, white);
            }

            // 手指效果
            @include hoverHandler{
                text-decoration: underline;
                opacity: 0.6;
            }
        }
    }
}