.title{
    @include d_f(flex, unset, space-around);
    padding: 5px 0;
    background: map-get($bg_color, lightgray);
}

.title_BK{
    @include d_f(flex, unset, space-around);
    color:map-get($txt_color , blue);
    background: map-get($bg_color , green );
    padding: 5px 0;
    a{
        @include hoverHandler{
            color: map-get($bg_color , white);
        }
    }
    &.--on{
        background: map-get($bg_color, red);
    }
}

// 聯盟
.league{
    padding: 10px 5px 0;
    .league__group{
        &__name{
            @include d_f(inline-flex,center,flex-start);
            @extend %hand;
        }
        &__detail{
            padding-left: 20px;

            code + code::before{
                content: 'vs';
                color: map-get($txt_color, primary);
                margin-right: 5px;
            }

            li{
                @include d_f(flex,center,flex-start);
                margin-top: 3px;

                // 手指效果
                @include hoverHandler{
                    opacity: 0.7;
                }
                &.txt_red{
                    code + code::before{color: map-get($txt_color, red);}
                }
                &.txt_gray{
                    code + code::before{color: map-get($txt_color, gray);}
                }
                &.txt_blue{
                    code + code::before{color: map-get($txt_color, blue);}
                }
            }
        }
    }

    // 場數計算
    .league_num{
        &::after{
            content: '(' attr(data-txt) ')';
            color: map-get($txt_color, red);
            font-weight: bold;
        }

        @at-root .league__group__detail .league_num::after{
                color: map-get($txt_color, blue);
        }
    }
}

//壓累跳星號
.trigger_tag::after{
    content: "";
    display: inline-block;
    flex: none;
    margin-left: 2px;
    width: 15px;
    height: 15px;
    background: url(../images/control/star.jpg)no-repeat center center/contain;
}