.score{
    @include d_f(flex, unset, flex-start);
    
    // 計分板input
    .score_input{
        width: 100%;
        max-width: 60px;
        height: 20px;
        padding: 0 3px;
        border: 1px solid map-get($bg_color, gray);
        text-align: center;
    }

    // 計分板收合按鈕 .score__control
    &__control{
        @include d_f(flex, unset, space-between);
        flex-direction: column;
        flex-wrap: wrap;
        width: 20px;
        border-right: 1px solid map-get($bg_color, blue);
        margin-right: 5px;

        button{
            width: 18px;
            height: 18px;
            background: center / contain no-repeat;
        }
        .redClose_btn{
            background-image: url(../images/control/icon_redClose.svg);
        }

        .rightPush_btn{
            background-image: url(../images/control/icon_rightPush.svg);
        }
    }

    // 計分板設定區 .score__set
    &__set{
        
        // title .score__set__title
        &__title{
            padding-top: 3px;
        }

        // 條件選擇 .score__set__chice
        &__chice{
            @include d_f(flex, center, flex-start);
            padding-top: 3px;
        }

        // 設定按鈕 .score__set__function
        &__function{
            height: 50px;
            padding: 3px 0;

            .function_box{
                @include d_f(inline-flex, flex-start, space-between);
                flex-direction: column;
                height: 100%;

                li{
                    @include d_f(flex, center, flex-start);
                    width: 100%;
                }
                
                .amount_btn{
                    margin-right: 5px;
                }

                .league_btn{
                    @include radius();
                    min-width: 300px;
                    height: 20px;
                    background: map-get($btn_color, lightblue);
                    border: 1px solid map-get($bg_color, blue);

                    // 手指效果
                    @include hoverHandler{
                        background: map-get($btn_color, lightblue_vl);
                    }
                }
            }
        }
    }

    // 計分板本體 .score__board
    &__board{
        @include d_f(flex, flex-end, flex-start);
        width: 400px;
        padding: 0 5px 2px;

        // .score__board__tb
        &__tb{
            width: 100%;
            height: 100%;
            font-weight: bold;
            text-align: center;

            th{
                font-size: 14px;
            }
        }
        // 一般按鈕
        // .score__board_btn 
        &_btn{
            @include radius();
            width: 100%;
            // height: 20px;
            border: 1px solid map-get($bg_color, gray);
            font-weight: bold;
            font-size: 14px;

            // 賓果按鈕
            &.--bingo{
                box-shadow: inset 2px 2px 2px darken(map-get($btn_color , gray), 20%);
                &.--on{
                    box-shadow:inset 2px 2px 2px darken(map-get($bg_color , gray ), 40%);
                }
            }

            &:disabled{
                opacity: 0.5;
            }

            &.--on{
                box-shadow:inset 1px 1px 0 darken(map-get($bg_color , lightgray ), 20%) ;
                background: map-get($bg_color, gray);
            }

            // 手指效果
            @include hoverHandler{
                background: map-get($btn_color, primary_hover);
            }
        }
    }

    // 備註區
    //.score_textarea
    &_textarea{
        height: 80px;
        border: 1px solid map-get($bg_color, gray);
        margin-top: auto;
    }
    //羽毛球滾三記分板
    @at-root .--BM {
        border: 1px solid map-get($bg_color, blue);
        .score__board_btn{
            border: 1px solid map-get($bg_color, lightblue);
        }
    }
    //籃球滾三記分板
    &.--BK{
        width: 100%;
        height: 100%;
        padding: 5px;
        &.--head{
            width: 100%;
            height: calc(100% - 22px);
        }
    }
    @at-root .--BK &{
        //.score_input
        &_input{
            border: 0;
            width: 100%;
            height: 100%;
            &.--black{
                background: map-get($bg_color , black);
                color:map-get($txt_color , white);
            }
            &.--green{
                background: lighten( map-get($bg_color , green), 20%);
            }
        }
        //.score__board
        &__board{
            width: 75%;
            padding: 0;
            align-items: flex-start;
            margin-left: 5px;
        }
        //.score__set
        &__set{
            width: 25%;
        }
    }
}

.BK_gameSet{
    width: 100%;
    height: 100%;
    li{
        text-align: center;
        input{
            width: calc(50% - 2px);
            text-align: center;
        }
        .score__board_btn{
            width: calc(50% - 2px);
        }
        & + li{
            @include d_f(flex,center,space-between);
        flex-wrap: wrap;
            margin-top: 5px;
        }
    }
}
