// 背景色
$bg_color: (
	BKdash_01: #0081d7,
	BKdash_02: #00a5ef,
	BKdash_03: #70c6eb,
	BKdash_04: #ffffa1,
	BKdash_05: #ffd876,
	BKdash_06: #ffaf63,
	BKdash_07: #ffa33e,
	BKdash_08: #e75d4c,
);

//dashboard背景色設定
// @mixin DBcolor($num){
//     @if $num <=30{
//         background:map-get($bg_color , BKdash_01) ;
//     }
//     @else if $num <=38{
//         background:map-get($bg_color , BKdash_02) ;
//     }
//     @else if $num <=45{
//         background:map-get($bg_color , BKdash_03) ;
//     }
//     @else if $num <=50{
//         background:map-get($bg_color , BKdash_04) ;
//     }
//     @else if $num <=55{
//         background:map-get($bg_color , BKdash_05) ;
//     }
//     @else if $num <=62{
//         background:map-get($bg_color , BKdash_06) ;
//     }
//     @else if $num <=70{
//         background:map-get($bg_color , BKdash_07) ;
//     }
//     @else if $num <=100{
//         background:map-get($bg_color , BKdash_08) ;
//     }
// }

// @extend .error;
@for $DBnum from 0 through 100 {
	$count: 0;
	// .BKdash_#{$DBnum} {
	//     // @include DBcolor($DBnum);
	//     @if $DBnum <=30 {
	//         background: map-get($bg_color, BKdash_01);
	//     } @else if $DBnum <=38 {
	//         background: map-get($bg_color, BKdash_02);
	//     }
	// }
}

// // 寬度設定
// $num: 20;
// $btn-types: (
// 	"": 0,
// 	_5: 0.5,
// );
// @while $num > 0 {
// 	// .w#{$num} {
// 	//     width: $num * 1%;
// 	// }
// 	// .w#{$num}_5 {
// 	//     width: $num * 1% + 0.5;
// 	// }
// 	// @each $key, $value in $btn-types {
// 	//     .w#{$num}#{$key} {
// 	//         width: $num * 1% + $value;
// 	//     }
// 	// }
// 	$num: $num - 1;
// }

// @mixin media($screen) {
// 	@if $screen == 'desktops' {
// 		@media (min-width: 1200px) {
// 			@content;
// 		}
// 	} @else if $screen == 'tablets' {
// 		@media (min-width: 768px) {
// 			@content;
// 		}
// 	} @else if $screen == 'phones' {
// 		@content;
// 	}
// }

// .t1{
// 	@include media(tablets){
// 		width: 50px;
// 	}
// 	@include media(desktops){
// 		width: 100px;
// 	}
// 	@include media(phones){
// 		width: 25px;
// 	}
// }
// .t2{
// 	@include media(desktops){
// 		width: 100px;
// 	}
// 	@include media(tablets){
// 		width: 50px;
// 	}
// 	@include media(phones){
// 		width: 25px;
// 	}
// }
// // .w5 {
// //     width: 5%;
// //   }

// //   .w5_5 {
// //     width: 5.5%;
// //   }
