<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ACHIEVER GAIN INTERNATIONAL LIMITED</title>
	<link rel="stylesheet" href="./css/all.min.css">
</head>

<body>
	<div class="wrap">
		<div class="head">
			<h1 class="logo">
				<a href="#">
					<img src="./images/logo.png" alt="">
				</a>
			</h1>
			<div id="nav" class="nav">
				<ul class="nav_box">
					<li class="nav_item_logo">
						<h1 class="logo">
							<a href="#">
								<img src="./images/logo.png" alt="">
							</a>
						</h1>
					</li>
					<li class="nav_item _on"><a href="#">Home</a></li>
					<li class="nav_item"><a href="#services">Services</a></li>
					<li class="nav_item"><a href="#about">About Us</a></li>
					<li class="nav_item"><a href="#statistics">Statistics</a></li>
					<li class="nav_item"><a href="#skills">Our Skills</a></li>
				</ul>
			</div>
			<button id="nav_btn" class="nav_btn">
				<span></span>
			</button>
		</div>
		<div class="banner">
			<div class="banner_txtBox">
				<h2 class="txt_white">Get Started</h2>
				<div class="banner_txt">
					<h2 class="txt_white">With</h2>
					<div class="banner_txt_ani">
						<h2 id="txtAni" class="txt_primary">ACHIEVER GAIN</h2>
						<h2 class="txt_primary">INTERNATIONAL</h2>
					</div>
				</div>
			</div>
		</div>
		<section class="content provide">
			<div class="container">
				<div class="provide_item">
					<div class="provide_item_pic">
						<img src="./images/icon_provide01.png" alt="">
					</div>
					<h3>
						We Provide <span class="txt_primary">Road</span><br>
						Freight Services
					</h3>
					<p>
						Reliable, efficient overland transportation for goods, using advanced
						fleet management and GPS tracking for secure delivery.
					</p>
				</div>
				<div class="provide_item">
					<div class="provide_item_pic">
						<img src="./images/icon_provide02.png" alt="">
					</div>
					<h3>
						We Provide <span class="txt_primary">Air</span><br>
						Freight Services
					</h3>
					<p>
						Rapid, safe global transportation via air. Ideal for time-sensitive
						cargo, employing real-time tracking and expert handling.
					</p>
				</div>
				<div class="provide_item">
					<div class="provide_item_pic">
						<img src="./images/icon_provide03.png" alt="">
					</div>
					<h3>
						We Provide <span class="txt_primary">Sea</span><br>
						Freight Services
					</h3>
					<p>
						Cost-effective, scalable marine cargo transport solutions. Ensures
						large-volume freight transportation with high environmental
						efficiency.
					</p>
				</div>
				<div class="provide_item">
					<div class="provide_item_pic">
						<img src="./images/icon_provide04.png" alt="">
					</div>
					<h3>
						We Provide <span class="txt_primary">Global</span><br>
						Freight Services
					</h3>
					<p>
						Holistic, international logistics solutions. Integrates road, air,
						and sea freight for seamless, borderless goods movement.
					</p>
				</div>
			</div>
		</section>
		<section id="about" class="content about">
			<div class="container">
				<div class="about_pic">
					<div class="about_pic_1">
						<img src="./images/about01.jpg" alt="">
					</div>
					<div class="about_pic_2">
						<img src="./images/about02.jpg" width="370" height="280" alt="">
					</div>
				</div>
				<div class="about_txt">
					<!-- <div class="about_title"> -->
					<!-- <div class="about_title_line"></div> -->
					<h4 class="txt_primary _leftLine">About Us</h4>
					<!-- </div> -->
					<div class="txt_larget">Modern & Trusted Logistics Company</div>
					<div class="about_txt_mid">
						ACHIEVER GAIN INTERNATIONAL LIMITED, your modern and trusted logistics partner, seamlessly
						streamlines complex transportation processes with innovative, reliable solutions.
					</div>
					<div class="about_txt_small">
						As a contemporary, dependable logistics company, ACHIEVER GAIN INTERNATIONAL LIMITED stands at
						the forefront of the industry. We harness the latest technologies and maintain an unwavering
						commitment to service excellence. Our dynamic approach ensures smooth, efficient, and secure
						transportation, regardless of your cargo’s size or destination. Whether by road, sea, or air,
						we’ve established an enviable reputation for reliability and promptness. Our globally integrated
						services are specifically designed to bridge any distance, making worldwide logistics feel
						local. Trust ACHIEVER GAIN INTERNATIONAL LIMITED with your freight needs and experience the
						difference of modern, trusted logistics solutions.
					</div>
				</div>
			</div>
		</section>
		<section class="contact">
			<div class="container">
				<div class="contact_title">24/7 Active Suport Team</div>
				<div class="contact_need">Need Immediate Support <br> Or Any Help?</div>
				<div class="contact_txt">
					Need immediate assistance? Our dedicated 24/7 support team is always ready to help.
					With real-time responses, experienced personnel, and commitment to problem-solving, we ensure
					uninterrupted, smooth operations for your logistics needs.
				</div>
				<button class="normal_btn">Contact Us</button>
			</div>
		</section>
		<section id="services" class="content services">
			<div class="container">
				<h4 class="_leftLine _rightLine">Our Services</h4>
				<div class="txt_larget">We Are Very Trusted For <br> Our Services</div>
				<ul class="services_group">
					<li class="services_item">
						<div class="services_item_num">01</div>
						<div class="services_item_title">Sea Freight</div>
						<div class="services_item_txt">
							Cost-effective, scalable marine cargo transport solutions. Ensures large-volume freight
							transportation with high environmental efficiency.
						</div>
						<div class="services_item_footer">Sea Freight</div>
					</li>
					<li class="services_item">
						<div class="services_item_num">02</div>
						<div class="services_item_title">Air Freight</div>
						<div class="services_item_txt">
							Rapid, safe global transportation via air. Ideal for time-sensitive cargo, employing
							real-time tracking and expert handling.
						</div>
						<div class="services_item_footer">Air Freight</div>
					</li>
					<li class="services_item">
						<div class="services_item_num">03</div>
						<div class="services_item_title">Road Freight</div>
						<div class="services_item_txt">
							Reliable, efficient overland transportation for goods, using advanced fleet management and
							GPS tracking for secure delivery.
						</div>
						<div class="services_item_footer">Road Freight</div>
					</li>
					<li class="services_item">
						<div class="services_item_num">04</div>
						<div class="services_item_title">Local Delivery</div>
						<div class="services_item_txt">
							Holistic, international logistics solutions. Integrates road, air, and sea freight for
							seamless, borderless goods movement.
						</div>
						<div class="services_item_footer">Local Delivery</div>
					</li>
				</ul>
			</div>
		</section>
		<!-- Explore -->
		<section class="content explore">
			<div class="explore_pic"></div>
			<div class="explore_info">
				<h4 class="txt_primary _leftLine">What We Do</h4>
				<div class="txt_larget">Explore Our Main Goals For Business</div>
				<div class="explore_midtxt">Time Maintenance</div>
				<div class="explore_smalltxt">Our paramount objective is to respect and maintain your schedule. We
					utilize cutting-edge tracking technology and efficient processes to ensure prompt, punctual delivery
					of your cargo and goods.</div>
				<div class="explore_midtxt">Security & Trusted</div>
				<div class="explore_smalltxt">We prioritize securing your goods and earning your trust. Leveraging
					robust security measures and transparency, we guarantee the safe, reliable transit of your freight,
					fostering long-term partnerships.</div>
				<a class="normal_btn" href="#">Connect</a>
			</div>
		</section>

		<section id="skills" class="content skills">
			<div class="skills_info">
				<h4 class="txt_primary _leftLine">Our Skills</h4>
				<div class="txt_larget">Our Professional Experience & Skills</div>
				<ul class="skills_group">
					<li class="skills_item">
						<div class="skills_item_txt">Sea Freight</div>
						<div class="skills_item_line" data-num="10"></div>
					</li>
					<li class="skills_item">
						<div class="skills_item_txt">Air Freight</div>
						<div class="skills_item_line" data-num="10"></div>
					</li>
					<li class="skills_item">
						<div class="skills_item_txt">Road Freight</div>
						<div class="skills_item_line" data-num="10"></div>
					</li>
				</ul>
				<button class="normal_btn">Make Appointment</button>
			</div>
			<div class="skills_pic"></div>
		</section>

		<section id="statistics" class="content statistics">
			<div class="container">
				<h4 class="txt_primary _leftLine _rightLine">Company Statistics</h4>
				<div class="txt_larget">We Are Professional Logistics <br> & Transportations Agency</div>
				<ul class="statistics_group">
					<li class="statistics_item">
						<div class="statistics_item_num">0</div>
						<div class="statistics_item_name">Successful Deliveries</div>
					</li>
					<li class="statistics_item">
						<div class="statistics_item_num">0</div>
						<div class="statistics_item_name">World Wide Clients</div>
					</li>
					<li class="statistics_item">
						<div class="statistics_item_num">0</div>
						<div class="statistics_item_name">Air Transport</div>
					</li>
					<li class="statistics_item">
						<div class="statistics_item_num">0</div>
						<div class="statistics_item_name">Shipments Made</div>
					</li>
				</ul>
			</div>
		</section>

		<section class="content newsletters">
			<div class="container">
				<h4 class="_leftLine">Our Newsletters</h4>
				<div class="txt_larget">
					Don’t Miss Our Offer Tips & Much More
				</div>
			</div>
		</section>
		<div class="footer">
			<div class="container">
				<div class="footer_head">
					<h1 class="logo">
						<a href="#">
							<img src="./images/logo.png" alt="">
						</a>
					</h1>
					<ul class="footer_head_group">
						<li class="footer_head_item">
							Make An Appointment
							<a href="#" class="footer_head_a">REQUEST A QUOTE</a>
						</li>
						<li class="footer_head_item">
							Need Any Help ?
							<a href="#" class="footer_head_a">CONTACT US</a>
						</li>
					</ul>
				</div>
				<div class="footer_content">
					<div class="footer_content_group">
						<div class="footer_title">Menu</div>
						<a href="" class="footer_content_a">Services</a>
						<a href="" class="footer_content_a">About Us</a>
						<a href="" class="footer_content_a">Statistics</a>
						<a href="" class="footer_content_a">Our Skills</a>
						<a href="" class="footer_content_a">Contact Us</a>
					</div>
					<div class="footer_content_group">
						<div class="footer_title">Contact Us</div>
						<a href="" class="footer_content_link">achievergain@gmail.com</a>
						<a href="" class="footer_content_link">
							Room 02, 21/F, Hip Kwan Commercial Building, 38 Pitt Street, Yau Ma Tei, Kowloon, Hong Kong
						</a>
					</div>
					<div class="footer_content_group">
						<div class="footer_title">About Us</div>
						<div class="footer_content_txt">
							ACHIEVER GAIN INTERNATIONAL LIMITED: Modern, reliable freight solutions via road, air, &
							sea. Committed to punctuality, security, and 24/7 support. Your trusted partner in logistics
							and freight services.
						</div>
					</div>
				</div>
			</div>
			<div class="footer_copy">
				Copyright @ 2023<span class="txt_primary">ACHIEVER GAIN INTERNATIONAL LIMITED</span>. All Rights
				Reserved
			</div>
		</div>
	</div>
	<div id="loading" class="loading">
		<div class="loading_ball1"></div>
		<div class="loading_ball2"></div>
	</div>


	<script>
		var loading=document.querySelector("#loading");
		window.onload=function () {
			loading.classList.add("_hide")
			setTimeout(() => {
				loading.style.display="none"
			}, 1100);
		}


		var txtAni=document.querySelector("#txtAni");
		(function () {
			setInterval(() => {
				if (txtAni.classList.contains("_txtani")) {
					txtAni.classList.remove("_txtani")
				} else {
					txtAni.classList.add("_txtani")
				}
			}, 3000);
		})()


		var nav_btn=document.querySelector("#nav_btn");
		var nav=document.querySelector("#nav");
		nav_btn.onclick=function () {
			nav.classList.add("_show");
		}
		nav.onclick=function () {
			nav.classList.remove("_show");
		}
	</script>
</body>

</html>