@function str-split($string, $separator) {
    $split-arr: ();
    $index : str-index($string, $separator);
    @while $index != null {
        $item: str-slice($string, 1, $index - 1);
        $split-arr: append($split-arr, $item);
        $string: str-slice($string, $index + 1);
        $index : str-index($string, $separator);
    }
    $split-arr: append($split-arr, $string);
    @return $split-arr;
}
@mixin poaplus($adds , $values) {
	$add: str-split($adds, ' ');
	// "top" "right" "bottom"
	$value: str-split($values, ' ');
	@for $i from 1 through length($add){
		#{nth($add,$i)}: #{nth($value,$i)}
	}
}
.hello{
	@include poaplus("top right bottom","150px 30px 1px");
}


@function str-split2($string, $separator) {
    $split-arr: ();
    $index : str-index($string, $separator);
    @while $index != null {
        $item: str-slice($string, 1, $index - 1);
        $split-arr: append($split-arr, $item);
        $string: str-slice($string, $index + 1);
        $index : str-index($string, $separator);
    }
    $split-arr: append($split-arr, $string);
    // $split-arr: append($split-arr, ':');
    @return $split-arr;
}
@mixin poaplus2($adds) {
	$add: str-split2($adds, ' ');
	@for $i from 1 through length($add){
		#{nth($add,$i)}: #{nth($add,$i)}
	}
	h2:$add;
}

.hello2{
	height: 2px;
	@include poaplus2("t210px b1px");
}




@function str-split3($string, $separator) {
    $split-arr: ();
    $index : str-index($string, $separator);
    @while $index != null {
        $item: str-slice($string, 1, $index - 1);
        $split-arr: append($split-arr, $item);
        $string: str-slice($string, $index + 1);
        $index : str-index($string, $separator);
    }
    $split-arr: append($split-arr, $string);
    @return $split-arr;
}

@mixin poaplus3($adds) {
	// $add: str-split3($adds, ' ');
	// @for $i from 1 through length($add){
	// 	#{nth($add,$i)}: #{nth($add,$i)}
	// }
	$item: str-slice($adds, 1, 1);
	font-size: $item;
}

.hello3{
	height: 3px;
	@include poaplus3("t20px");
}
$breakpoints: (
	pc: 1366,
	big_pad: 1112,
	pad: 568px,
	ph: 767px,
	mobile: 666px,
	desktop:777px,
);

@mixin for-mobile {
	@media screen and (max-width: map-get($breakpoints, "mobile")) {
		@content;
	}
}

@mixin for-desktop {
	@media screen and (min-width: map-get($breakpoints, "desktop")) {
		@content;
	}
}

.aaa{
	@include for-desktop{
		font-size: 20px;
	}
}
.bbb{
	@include for-desktop{
		font-size: 20px;
	}
}
//



@mixin ifHandler($str){
	@if $str == t{
		top: 1px;
	} @else if $str == b {
		bottom:2px;
	}
}
.if_test{
	@include ifHandler(b);
}


@function return_test(){
	$return_arr:();
	$r_a:51px;
	$r_b:17px;
	$return_arr: append($r_a , ':');
	$return_arr: append($return_arr , $r_b ',');

	@return $return_arr;
}

@mixin returnHandler(){
	$items: return_test();
	// top: $item;
	@each $items  in $items {

	}
}
.return_test{
	@include returnHandler;
}



// 上層class 改變1 start
.box{
	.box1{
		// style ......
		height: 1px;

		.ba4 .box1{
			color: #000;
		}
		font-size: 24px;

		@at-root .mm .box1{
			font-size: 12px;
		}
		@at-root .en .box1{
			font-size: 20px;
		}
	}
}
.vieo{
	&__room{
		height: 1px;
		@at-root .room_title{
			height: 1px;
			&__span{
				font-size: 20px;
			}
		}
	}
}

// 上層class 改變1 end

// 上層class 改變1 start
.ba2{
	$color:#fff;
	.box1{
		height: 1px;
		color:$color;
	}
}
.ba3{
	$color:#000;
	.box1{
		height: 1px;
		color:$color;
	}
}
// 上層class 改變1 end











// .tooltip {
// 	font-size: 20px;
// 	@at-root body.active .tooltip-backdrop {
// 		position: fixed;
// 	}
// }
// ​
// // compiled
// .tooltip {
// 	font-size: 20px;
// }
// ​
// body.active .tooltip-backdrop {
// 	position: fixed;
// }

// .goodroad{
// 	&__item{
// 		&__bg{
// 			height: 1px;
// 		}

// 	}
// 	@at-root &.--player &__item__bg{
// 		height: 2px;
// 	}
// 	// 莊
// 	&.--player {
// 		.goodroad__item__bg {
// 			background: #000;
// 		}
// 		.hover_item {
// 			background: #000;
// 		}
// 	}

// }






// .aaa{
// 	// @include poaHandler(1px , 20px);
// 	@include sss(10px , 20px);
// }
// .ba2{
// 	$btn_color: #ccc;
// 	$btn_bg: #333;
// }
// .ba3{
// 	$btn_color: #000;
// 	$btn_bg: #fff;
// }


// .btn_color{
// 	color: $btn_color;
// }
// .btn_bg{
// 	background-color: $btn_bg;
// }



// .outside_flex {
// 	display: flex;
// 	flex-wrap: wrap;
// }

// /* 左邊按鈕 */
// .ga_menu {
// 	width: 130px;
// 	height: 200px;
// 	background-image: linear-gradient(to right, #3D3022 0%, #160C0D 100%);
// 	&_btn{
// 		@include btn_set(130px, 40px, transparent);
// 		@include btn_border(0, linear-gradient(to right, #EFD673 10%, #fcf7b7 30%, #EFD673 60%, #160C0D 100%) 1);

// 		overflow: hidden;
// 		&::after {
// 			@include btn_txt(center, #EFBE78, hsla(354, 29%, 7%, .5));
// 		}
// 		>span{
// 			@include btn_initem(linear-gradient(to right, #F3CB92 30%, #9C784C 60%));
// 			&::before{
// 				content: '';
// 				position: absolute;
// 				width: 200%;
// 				height: 200%;
// 				border-top-left-radius: 70%;
// 				background-image: linear-gradient(to right, #EBBA74 15%, #9C784C 30%, #160C0D 50%);
// 				top: -10px;
// 				left: -1px;
// 			}
// 		}
// 		// _on效果
// 		@include btn_on(#FEFDAB) {
// 			border-width: 1px 0;
// 		}
// 		// 手指效果
// 		@include btn_hoverHandler(1px 0, #FEFDAB);
// 	}
// }


// /* 桌號按鈕 */
// .ga_table {
// 	display: flex;
// 	width: 500px;
// 	padding: 20px;
// 	background-color: #000;
// 	align-content: flex-start;
// 	flex-wrap: wrap;
// 	&_btn{
// 		@include btn_set(115px, 35px, linear-gradient(127deg,
// 				#F4CA92 40%, #E0B06D 41%,
// 				#9d7448 100%));
// 		border-radius: 3px;
// 		border: 2px solid #F9DEAC;
// 		margin: 0 10px 10px;
// 		&::after {
// 			@include btn_txt(center, #211A17, transparent);
// 			font-weight: bold;
// 		}
// 		>span {
// 			@include btn_initem(linear-gradient(127deg, #776353 41%, #432F20 42%, #160C0D 100%));
// 			box-shadow: 0 0 3px #F9DEAC inset,
// 			0 0 9px #F9DEAC inset;
// 		}
// 		// 狀態
// 		&._i_vip::after {
// 			width: calc(100% - 5px);
// 			padding-left: 5px;
// 			justify-content: flex-start;
// 		}
// 		>i {
// 			position: absolute;
// 			display: block;
// 			width: 30px;
// 			height: 13px;
// 			top: 0;
// 			bottom: 0;
// 			right: 10px;
// 			margin: auto;
// 		}
// 		&._i_vip>i {
// 			background: url(../images/i_vip.svg) no-repeat center/contain;
// 		}
// 		&._i_ex>i::before,
// 		&._i_fast>i::after {
// 			content: '';
// 			position: absolute;
// 			width: 20px;
// 			height: 20px;
// 			background: url(../images/i_ex.svg) no-repeat center/contain;
// 			top: 0;
// 			bottom: 0;
// 			right: -20px;
// 			margin: auto;
// 		}
// 		&._i_fast>i::after {
// 			background-image: url(../images/i_fast.svg);
// 		}
// 		&._i_ex._i_fast>i::before,
// 		&._i_ex._i_fast>i::after {
// 			content: '';
// 			position: absolute;
// 			width: 15px;
// 			height: 15px;
// 			top: -8px;
// 			bottom: auto;
// 			right: -15px;
// 		}

// 		&._i_ex._i_fast>i::after {
// 			top: 8px;
// 		}

// 		// _on效果
// 		@include btn_on(#FEE3AF);

// 		// 手指效果
// 		@include btn_hoverHandler(2px 2px, #FEE3AF);
// 	}
// }

// /* 投注按鈕 */
// .ga_function {
// 	display: flex;
// 	width: 400px;
// 	padding: 10px;
// 	background-image: linear-gradient(to top, #3D3022 0%, #160C0D 100%);
// 	justify-content: center;
// 	&_btn{
// 		@include btn_set(140px, 60px, #3FAFEF);
// 		border: 1px solid #000;
// 		border-width: 1px 0;
// 		border-image: linear-gradient(to right, transparent 5%, #EFD673 30%, #fcf7b7 60%, #EFD673 80%, transparent 100%) 1;
// 		overflow: hidden;
// 		&::before{
// 			content: '';
// 			position: absolute;
// 			width: 150%;
// 			height: 200%;
// 			border-top-left-radius: 60%;
// 			background-image: linear-gradient(to right, #22A0EE 10%, #1B69BC 40%, #151971 70%);
// 			top: -1px;
// 			left: -5px;
// 		}
// 		&::after{
// 			@include btn_txt(center, #FAE1AD, hsla(354, 29%, 7%, 0.5));
// 			font-size: 24px;

// 		}
// 		>span{
// 			@include btn_initem(#3E6ED0);
// 			box-shadow: 0 0 3px #fcf7b7 inset,
// 						0 0 6px #fcf7b7 inset,
// 						0 0 12px #fcf7b7 inset;
// 			&::before {
// 				content: '';
// 				position: absolute;
// 				width: 150%;
// 				height: 200%;
// 				border-top-left-radius: 60%;
// 				background-image: linear-gradient(to right, hsla(223, 77%, 39%, .5) 10%, hsla(222, 80%, 25%, .7) 40%, hsla(354, 29%, 7%, .8) 70%);
// 				top: -1px;
// 				left: -5px;
// 			}
// 		}
// 		// 續押
// 		&._repeat {
// 			background: #46BC64;
// 			&::before {
// 				background-image: linear-gradient(to right, #1AAF3A 10%, #187A30 40%, #113C22 70%);
// 				;
// 			}
// 			>span {
// 				@include btn_initem(#37A566);
// 				&::before {
// 					background-image:
// 					linear-gradient(to right, hsla(145, 83%, 28%, .5) 10%, hsla(144, 75%, 22%, .7) 40%, hsla(147, 56%, 15%, .8) 70%)
// 				}
// 			}
// 		}

// 		// 取消
// 		&._cancel {
// 			background: #FB7F85;

// 			&::before {
// 				background-image: linear-gradient(to right, #FB6168 10%, #963134 40%, #330404 70%);
// 			}

// 			>span {
// 				@include btn_initem(#EF814E);

// 				&::before {
// 					background-image: linear-gradient(to right, hsla(16, 72%, 46%, .5) 10%, hsla(4, 68%, 27%, .7) 40%, hsla(348, 90%, 15%, .8) 70%);
// 				}
// 			}
// 		}

// 		// 手指效果
// 		@include btn_hoverHandler(1px 0, #FAE1AD);
// 	}
// }

// /* 視訊品質 */
// .ga_channel {
// 	height: 30px;
// 	border-radius: 5px;
// 	&_item{
// 		display: flex;
// 		height: 100%;
// 		border-radius: 5px;
// 		overflow: hidden;
// 		>li{
// 			@extend %hand;
// 			@include btn_set(70px, 100%, #160C0D);
// 			font-weight: bold;

// 			&::after{
// 				@include btn_txt(center, #746E6E, transparent);
// 			}
// 			>span{
// 				@extend %btn_initem;
// 				@include btn_initem(linear-gradient(127deg, #F3C991 40%, #E0AF6C 41%, #61462D 100%));
// 				border: 1px solid #F3C991;
// 			}

// 			// _on效果
// 			@include btn_on(#230913);

// 			// 手指效果
// 			@include btn_hoverHandler(0 0, #230913);
// 		}
// 	}
// }

// /* 卡號 */
// .ga_card {
// 	display: flex;
// 	height: 30px;
// 	border-radius: 5px 5px 0 0;
// 	font-size: 0;
// 	overflow: hidden;
// 	>li{
// 		@extend %hand;
// 		@include btn_set(auto, 100%, linear-gradient(to top, #3D3022 0%, #160C0D 100%));
// 		min-width: 80px;
// 		padding: 0 5px;
// 		border: 1px solid #F4CA92;
// 		border-width: 1px 1px 0;
// 		+li{
// 			border-left: none;
// 		}
// 		&::after{
// 			@include btn_txt(center, #F4CA92, transparent);
// 			font-size: 14px;
// 		}
// 		>span{
// 			@extend %btn_initem;
// 			@include btn_initem(linear-gradient(127deg, #F3C991 40%, #E0AF6C 41%, #61462D 100%));
// 		}

// 		// _on效果
// 		@include btn_on(#230913);

// 		// 手指效果
// 		@include btn_hoverHandler(1px 1px 0, #230913);
// 	}
// }

// /* 公關功能 */
// .ga_PR {
// 	height: 30px;
// 	border-radius: 5px;
// 	font-size: 0;
// 	overflow: hidden;
// 	&_btn{
// 		@include btn_set(100px, 100%, linear-gradient(127deg, #37A566 40%, #0A7F39 41%, #0D6932 70%, #123E26 90%));
// 		border: 1px solid #000;
// 		border-width: 1px 0;
// 		border-image: linear-gradient(to right, transparent 5%, #EFD673 30%, #fcf7b7 60%, #EFD673 80%, transparent 100%) 1;

// 		&::after{
// 			@include btn_txt(center, #F4CA92, hsla(354, 29%, 7%, .5));
// 		}
// 		>span{
// 			@include btn_initem(linear-gradient(127deg, #46BC64 40%, #1BAF3A 41%, #167F30 70%, #133E24 90%));
// 			box-shadow: 0 0 3px #fcf7b7 inset,
// 						0 0 6px #fcf7b7 inset;
// 		}

// 		// 打賞
// 		&._tips{
// 			background-image: linear-gradient(127deg, #E67B50 40%, #C94F1F 41%, #902D1C 70%, #4B0510 90%);
// 			>span {
// 				background-image: linear-gradient(127deg, #F77D82 40%, #FC5F67 41%, #A03638 70%, #360504 90%);
// 			}
// 		}

// 		// 飛牌
// 		&._fly {
// 			background-image: linear-gradient(127deg, #3E6FD6 40%, #1642AB 41%, #0A286D 70%, #010714 90%);

// 			>span {
// 				background-image: linear-gradient(127deg, #3FAFEF 40%, #229DEC 41%, #195EAF 70%, #151B72 90%);
// 			}
// 		}
// 		@include btn_hoverHandler(1px 0, #F4CA92);
// 	}
// }

// /* 另開功能分頁 */
// .ga_othpage {
// 	width: 680px;
// 	height: 30px;
// 	border-radius: 5px;
// 	font-size: 0;
// 	overflow: hidden;
// 	&_btn{
// 		@include btn_set(calc(100% / 4), 100%, linear-gradient(127deg, #37A566 40%, #0A7F39 41%, #0D6932 70%, #123E26 90%));
// 		border: 1px solid #000;
// 		border-width: 1px 0;
// 		border-image: linear-gradient(to right, transparent 5%, #EFD673 30%, #fcf7b7 60%, #EFD673 80%, transparent 100%) 1;
// 		&::after{
// 			@include btn_txt(center, #F4CA92, hsla(354, 29%, 7%, .5));
// 		}
// 		>span{
// 			@include btn_initem(linear-gradient(127deg, #46BC64 40%, #1BAF3A 41%, #167F30 70%, #133E24 90%));
// 			box-shadow: 0 0 3px #fcf7b7 inset,
// 			0 0 6px #fcf7b7 inset;
// 		}

// 		// 免佣
// 		&._nocon {
// 			background-image: linear-gradient(127deg, #9C80FB 40%, #654AC0 41%, #342867 70%, #05040A 90%);
// 			>span {
// 				background-image: linear-gradient(127deg, hsl(254, 94%, 85%) 40%, hsl(254, 48%, 65%) 41%, hsl(251, 44%, 45%) 70%, hsl(250, 43%, 15%) 90%);
// 			}
// 		}

// 		// 多桌
// 		&._more_tb {
// 			background-image: linear-gradient(127deg, #E67B50 40%, #C94F1F 41%, #902D1C 70%, #4B0510 90%);
// 			>span {
// 				background-image: linear-gradient(127deg, #F77D82 40%, #FC5F67 41%, #A03638 70%, #360504 90%);
// 			}
// 		}

// 		// 好路追注
// 		&._good_road {
// 			background-image: linear-gradient(127deg, #3E6FD6 40%, #1642AB 41%, #0A286D 70%, #010714 90%);
// 			>span {
// 				background-image: linear-gradient(127deg, #3FAFEF 40%, #229DEC 41%, #195EAF 70%, #151B72 90%);
// 			}
// 		}

// 		// _on效果
// 		@include btn_on(#F4CA92);

// 		// 手指效果
// 		@include btn_hoverHandler(1px 0, #F4CA92);

// 	}
// }