
// @import "bourbon";

$melon: #F97D75;
$black: #2E3641;

* {
	font-size: 14px;
	font-family: 'Titillium Web', sans-serif;
	color: $black;
}

h1 {
	font-size: 32px;
}

input {
	border: 0;
	margin-right: 5px;
	background: transparent;
	border-bottom: 1px solid black;
	width: 80px;
	padding: 8px;
	// @include transition(all .3s ease);

	&:focus,
	&:active {
		outline: 0;
		width: 200px;
		border-bottom-color: $melon;
	}
}

button {
	background-color: $melon;
	border: 0;
	padding: 8px 20px;
	color: white;
	text-transform: uppercase;
	cursor: pointer;

	&:focus,
	&:active {
		outline: 0;
	}
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 25px;
}

li {
	border: 1px solid black;
	display: inline-block;
	padding: 5px 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	text-transform: capitalize;
}

.fa-close {
	cursor: pointer;
}

[contenteditable] {

	&:focus,
	&:active {
		outline: 0;
	}
}

.nor_sec{
	min-width: 300px;
	text-align: center;
}