.header {
	flex: none;
	@include d_f(flex);
	width: 100%;
	height: 56px;
	padding: 8px;
	background-color: map-get($dark_color , headerbg);

	// .header_link
	&_link {
		flex: none;
		@include d_f(inline-flex, center, center);
		height: 40px;
		padding: 0 12px;
		color: map-get($dark_color , headerBtn_txt);
		font-size: 14px;

		&._home {
			width: 48px;
			padding: 0;
			fill: map-get($dark_color , headerBtn_txt);
			// height: calc(100% - 16px);
		}

		&.router-link-active {
			background-color: map-get($dark_color , headerBtn_bg_on);
			color: map-get($dark_color , headerBtn_txt_on);
			fill: map-get($dark_color , headerBtn_txt_on);
		}

		@include hv {
			color: map-get($dark_color , headerBtn_txt_hv);
			fill: map-get($dark_color , headerBtn_txt_hv);
		}

		@include ac {
			background-color: map-get($dark_color , headerBtn_bg_ac);
			color: map-get($dark_color , headerBtn_txt_ac);
			fill: map-get($dark_color , headerBtn_txt_ac);
		}
	}

	// .header_menu
	&_menu {
		width: 100%;
	}

	// .header_info
	&_info {
		flex: none;
		@include d_f(flex);
	}

	// .header_menuBtn
	&_menuBtn {
		flex: none;
		@include d_f(flex, center, center);
		width: 56px;
		height: 40px;
		fill: map-get($dark_color , headerBtn_txt);

		@include hv {
			color: map-get($dark_color , headerBtn_txt_hv);
			fill: map-get($dark_color , headerBtn_txt_hv);
		}

		@include ac {
			background-color: map-get($dark_color , headerBtn_bg_ac);
			color: map-get($dark_color , headerBtn_txt_ac);
			fill: map-get($dark_color , headerBtn_txt_ac);
		}
	}
}

.acc_money {
	@include d_f(flex, none, center);
	margin: 0 8px 0 16px;
	color: map-get($dark_color , money_txt);
	font-size: 14px;
}

.time {
	@include d_f(flex, none, center);
	margin: 0 20px 0 14px;
	font-size: 14px;
	color: map-get($dark_color , headerBtn_txt);
}