.home {

	// .home_title
	&_title {
		position: relative;
		@include d_f(flex, center, center);
		width: calc(100% - 32px);
		height: 56px;
		margin: 8px 16px;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: map-get($dark_color , home_title_bd);
			transform: translateZ(0px);
		}

		span {
			position: relative;
			@include d_f(inline-flex, none, center);
			height: 100%;
			padding: 0 16px;
			font-size: 20px;
			font-weight: 700;
			color: map-get($dark_color , home_title_txt);
			background-color: map-get($dark_color , bodybg);
		}
	}

	// .home_link
	&_link {
		@include d_f(flex, center);
	}

	// .home_sport
	&_sport {
		@include d_f(flex);

		// .home_sport_item
		&_item {
			width: calc(50% - 8px);

			&+& {
				margin-left: 16px;
			}
		}
	}
}