.home {

	// .home_title
	&_title {
		position: relative;
		@include d_f(flex, center, center);
		width: calc(100% - 32px);
		height: 56px;
		margin: 8px 16px;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: map-get($dark_color , home_title_bd);
			transform: translateZ(0px);
		}

		span {
			position: relative;
			@include d_f(inline-flex, none, center);
			height: 100%;
			padding: 0 16px;
			font-size: 20px;
			font-weight: 700;
			color: map-get($dark_color , home_title_txt);
			background-color: map-get($dark_color , bodybg);
		}
	}

	// .home_sport
	&_sport {
		@include d_f(flex);
		flex-wrap: wrap;
		padding: 0 16px;

		// .home_sport_item
		&_item {
			position: relative;
			overflow: hidden;
			@include d_f(flex);
			flex-direction: column;
			width: calc(50% - 8px);
			height: 96px;
			margin-bottom: 16px;
			border-radius: 4px;
			background-color: rgba(112, 117, 128, 66.67%);

			&:nth-child(even) {
				margin-left: 16px;
			}

			@include mw(XS) {
				width: 100%;

				&:nth-child(even) {
					margin-left: 0;
				}
			}
		}

		// .home_sport_title
		&_title {
			height: 32px;
			padding: 7px 8px;
			line-height: 18px;
			font-size: 16px;
			font-weight: 700;
			background-color: #1a2644;
			color: #fff;
		}

		// .home_sport_pic
		&_pic {
			position: absolute;
			top: 0;
			right: 0;
			@include d_f(flex, flex-end, center);
			width: 48%;
			height: 100%;
			mask-image: url("../../images/home/img_home_mask.svg");
			mask-size: auto 100%;

			img {
				max-height: 100%;
				padding-left: 40px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
			}
		}

		// .home_sport_btn
		&_btn {
			@include d_f(flex);
			width: 58%;
			height: 100%;
			padding: 12px 8px;
		}

		// .home_sport_new
		&_new {
			position: relative;
			@include d_f(flex, flex-start, center);
			flex-wrap: wrap;
			width: 100%;
			height: 40px;
			max-width: calc(100% / 3);
			min-width: 56px;
			padding: 3px 0;
			border-radius: 2px;
			z-index: 0;
			color: #30dff2;
			fill: rgba(48, 223, 242, .2);
			@extend %hand;
			@extend %transition;

			span {
				overflow: hidden;
				display: block;
				width: 100%;
				padding-right: 10px;
				line-height: 16px;
				font-size: 13px;
				font-weight: 700;
				color: #fff;
				flex: 1 1 auto;
				white-space: nowrap;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			@include hv {
				background-color: #62c4d9;
				color: #ffffff;
				fill: #ffffff;
			}

			@include ac {
				background-color: #30dff2;
				color: #ffffff;
				fill: #ffffff;
			}
		}

		// .home_sport_num
		&_num {
			@include d_f(flex);
			font-size: 20px;
			line-height: 16px;
			font-weight: 700;

			.icon_homearr {
				display: block;
				width: 4px;
				height: 8px;
				margin-right: 6px;
				margin-left: 4px;
			}
		}
	}
}

// .sportBtn_group
.sportBtn_group {
	@include d_f(flex, center);

	.sportHead & {
		justify-content: flex-start;
		height: 100%;
	}

	// .sportBtn_group_item
	&_item {
		flex: none;
		@include d_f(flex, flex-end, center);
		flex-direction: column;
		width: 80px;
		height: 88px;
		color: map-get($dark_color , sport_btn_txt);
		fill: map-get($dark_color , sport_btn_txt);
		@extend %hand;

		@include hoverHandler {
			color: map-get($dark_color , sport_btn_txt_hv);
			fill: map-get($dark_color , sport_btn_txt_hv);
		}

		.sportHead & {
			width: 72px;
			height: 100%;

			&.on {
				color: map-get($dark_color , sport_btn_txt_hv);
				fill: map-get($dark_color , sport_btn_txt_hv);
			}

			@include ac {
				background-color: rgba(255, 255, 255, 0.45);
			}
		}
	}

	// .sportBtn_group_icon
	&_icon {
		display: block;
		width: 40px;
		height: 40px;
		padding: 8px;

		.sportHead & {
			width: 16px;
			height: 16px;
			margin: 4px auto;
			padding: 0;
		}
	}

	// .sportBtn_group_txt
	&_txt {
		overflow: hidden;
		width: 100%;
		height: 24px;
		line-height: 24px;
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;

		.sportHead & {
			font-size: 12px;
		}
	}
}