.icon {
	&_home {
		display: block;
		width: 24px;
		height: 24px;
	}

	&_menu {
		display: block;
		width: 22px;
		height: 20px;
	}

	&_msg {
		flex: none;
		@include d_f(flex, center, center);
		width: 32px;
		height: 32px;
		background-color: map-get($dark_color , right_msg_bg);
		fill: map-get($dark_color , right_msg_fi);

		svg {
			width: 20px;
			height: 20px;
		}
	}
}