// juc 預設值 flex-start 、 align-items 預設值 stretch
@mixin d_f($flex, $jc: flex-start, $ai: stretch) {
	display: $flex;

	@if ($jc !=none) {
		justify-content: $jc;
	}

	@if ($ai !=none) {
		align-items: $ai;
	}
}

@mixin hoverHandler {

	@media (pointer: fine) and (max-resolution: 2dppx),
	screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
	(-moz-touch-enabled: 0) {
		&:hover {
			@content;
		}
	}

	&:active {
		@content;
	}
}

@mixin hv {

	@media (pointer: fine) and (max-resolution: 2dppx),
	screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2),
	(-moz-touch-enabled: 0) {
		&:hover {
			@content;
		}
	}
}

@mixin ac {
	&:active {
		@content;
	}
}

%hand {
	cursor: pointer;
}

%transition {
	transition: 0.3s ease;
}

// RWD相關
$breakpoints: (
	XXL: 1440px,
	XL: 1280px,
	L: 1023px,
	M: 995px,
	S: 767px,
	XS: 639px,
	XXS: 360px,
	special:1439px,
);
$minbreakpoints: (
	XXL: 1441px,
	XL: 1281px,
	L: 1025px,
	M: 996px,
	S: 768px,
	XS: 600px,
	XXS: 361px
);

@mixin mw($size) {
	@media screen and (max-width: map-get($breakpoints, $size)) {
		@content;
	}
}

@mixin minmw($size) {
	@media screen and (min-width: map-get($minbreakpoints, $size )) {
		@content;
	}
}

@mixin mwrange($min, $max) {
	@media screen and (min-width: map-get($breakpoints, $min)) and (max-width: map-get($breakpoints, $max)) {
		@content;
	}
}