.marquee {
    @include d_f(flex);
    margin-bottom: 15px;
    background-color: map-get($dark_color , right_marquee_bg);
    color: map-get($dark_color , right_marquee_txt);


    // .marquee_box
    &_box {
        @include d_f(flex, none, center);
    }
}

.ad {
    margin-bottom: 16px;
    background-color: map-get($dark_color, right_ad_bg);

    // .ad_box
    &_box {
        max-width: 480px;
        margin: 0 auto;
        background-size: cover;
        background-position: center center;

        &:before {
            content: "";
            display: block;
            width: 100%;
            max-width: 480px;
            padding-bottom: 75%;
            opacity: 0;
        }
    }
}