.wrap {
	@include d_f(flex);
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.normal_btn {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	@extend %transition;

	@include hoverHandler {
		background-color: #3071a9;
		border-color: #285e8e;
	}
}

.content {
	overflow: hidden;
	@include d_f(flex);
	width: 100%;
	height: 100%;

	// .content_l
	&_l {
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;
		flex: 1 1 66.6%;

		.home & {
			padding-top: 16px;
		}
	}

	// .content_r
	&_r {
		overflow-x: hidden;
		overflow-y: auto;
		min-width: 342px;
		flex: 1 1 33.3%;
		padding: 8px 8px 56px 8px;
	}
}

// .sport_btn
.sport_btn {
	@include d_f(flex, flex-end, center);
	flex-direction: column;
	width: 80px;
	height: 88px;
	color: map-get($dark_color , sport_btn_txt);
	fill: map-get($dark_color , sport_btn_txt);
	@extend %hand;

	@include hoverHandler {
		color: map-get($dark_color , sport_btn_txt_hv);
		fill: map-get($dark_color , sport_btn_txt_hv);
	}

	// .sport_btn_icon
	&_icon {
		display: block;
		width: 40px;
		height: 40px;
		padding: 8px;
	}

	// .sport_btn_txt
	&_txt {
		width: 100%;
		height: 24px;
		line-height: 24px;
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}

.sportTitle {
	@include d_f(flex, center, center);
	width: 100%;
	height: 48px;
	margin-bottom: 32px;
	padding: 0 4px;
	background-image: url("../../images/bg_title.png"), map-get($dark_color , title_bg);
	background-position: center;
	background-repeat: no-repeat;

	span {
		display: inline-block;
		width: 100%;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
		text-align: center;
	}
}

.icon_back,
.icon_reload {
	display: block;
	width: 32px;
	height: 32px;
	padding: 8px;
	fill: #fff;
	@extend %hand;

	@include hv {
		background-color: rgba(255, 255, 255, 0.1);
	}

	@include ac {
		background-color: rgba(255, 255, 255, 0.45);
	}
}

.selectBox {
	position: relative;
	@include d_f(flex);
	padding: 0 16px;
	gap: 16px;

	&_date,
	&_tool {
		position: relative;
		@include d_f(flex, none, center);
		width: 100%;
		height: 48px;
		background-color: #262f41;
		border-radius: 3px;
		color: #ffffff;
	}

	// .selectBox_date
	// .selectBox_tool

	// .selectBox_title
	&_title {
		padding: 0 16px;
		color: #fff;
		font-size: 14px;
	}

	// .selectBox_group
	&_group {
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% + 2px);
		padding: 8px 0;
		background-color: #262f41;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);

		// .selectBox_group_list
		&_list {
			@include d_f(flex, none, center);
			min-height: 40px;
			padding: 0 8px;

			&.on {
				color: #30dff2;
			}

			@include hv {
				background-color: rgba(255, 255, 255, 0.1);
			}

			@include ac {
				color: #30dff2;
			}
		}
	}
}

.icon_arr {
	position: absolute;
	top: 8px;
	right: 8px;
	display: block;
	width: 32px;
	height: 32px;
	padding: 8px;
	fill: #fff;
}

.sportHead {

	// .sportHead_league
	&_league {
		background-color: #11051D;
	}

	// .sportHead_menu
	&_menu {
		height: 56px;
		padding: 8px 8px 0 8px;
	}

	// .sportHead_title
	&_title {
		width: 100%;
		height: 48px;
		padding: 7px 8px;

		// .sportHead_title_txt
		&_txt {
			.league {
				@include d_f(flex);
				color: rgba(255, 255, 255, .72);
				fill: rgba(255, 255, 255, .72);
			}

			.name {
				overflow: hidden;
				height: 18px;
				line-height: 18px;
				color: #fff;
				font-size: 18px;
				font-weight: bold;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}