.wrap {
	@include d_f(flex);
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.normal_btn {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	@extend %transition;

	@include hoverHandler {
		background-color: #3071a9;
		border-color: #285e8e;
	}
}

.content {
	overflow: hidden;
	@include d_f(flex);
	width: 100%;
	height: 100%;

	// .content_l
	&_l {
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;
		flex: 1 1 66.6%;

		.home & {
			padding-top: 16px;
		}
	}

	// .content_r
	&_r {
		overflow-x: hidden;
		overflow-y: auto;
		min-width: 342px;
		flex: 1 1 33.3%;
		padding: 8px 8px 56px 8px;
	}
}

.sportTitle {
	@include d_f(flex, center, center);
	width: 100%;
	height: 48px;
	margin-bottom: 32px;
	padding: 0 4px;
	background-image: url("../../images/bg_title.png"), map-get($dark_color , title_bg);
	background-position: center;
	background-repeat: no-repeat;

	span {
		display: inline-block;
		width: 100%;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
		text-align: center;
	}
}

.icon_back,
.icon_reload {
	display: block;
	width: 32px;
	height: 32px;
	padding: 8px;
	fill: #fff;
	@extend %hand;

	@include hv {
		background-color: rgba(255, 255, 255, 0.1);
	}

	@include ac {
		background-color: rgba(255, 255, 255, 0.45);
	}
}

.selectBox {
	position: relative;
	@include d_f(flex);
	padding: 0 16px;
	gap: 16px;

	&_date,
	&_tool {
		position: relative;
		@include d_f(flex, none, center);
		width: 100%;
		height: 48px;
		background-color: #262f41;
		border-radius: 3px;
		color: #ffffff;
	}

	// .selectBox_date
	// .selectBox_tool

	// .selectBox_title
	&_title {
		padding: 0 16px;
		color: #fff;
		font-size: 14px;
	}

	// .selectBox_group
	&_group {
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% + 2px);
		padding: 8px 0;
		background-color: #262f41;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);

		// .selectBox_group_list
		&_list {
			@include d_f(flex, none, center);
			min-height: 40px;
			padding: 0 8px;

			&.on {
				color: #30dff2;
			}

			@include hv {
				background-color: rgba(255, 255, 255, 0.1);
			}

			@include ac {
				color: #30dff2;
			}
		}
	}
}

.icon_arr {
	position: absolute;
	top: 8px;
	right: 8px;
	display: block;
	width: 32px;
	height: 32px;
	padding: 8px;
	fill: #fff;
}

.sportHead {

	// .sportHead_league
	&_league {
		background-color: #11051D;
	}

	// .sportHead_menu
	&_menu {
		height: 56px;
		padding: 8px 8px 0 8px;
	}

	// .sportHead_title
	&_title {
		width: 100%;
		height: 48px;
		padding: 7px 8px 7px 16px;

		// .sportHead_title_txt
		&_txt {
			font-size: 0;

			.league {
				position: relative;
				@include d_f(inline-flex);
				overflow: hidden;
				// height: 16px;
				// line-height: 16px;
				font-size: 12px;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: rgba(255, 255, 255, .72);
				fill: rgba(255, 255, 255, .72);
				@extend %hand;

				@include hv {
					color: #30dff2;
					fill: #30dff2;
				}

				@include ac {
					color: #30dff2;
					fill: #30dff2;
					background-color: rgba(255, 255, 255, .16);
				}

				.icon_arr {
					position: relative;
					top: 0;
					left: 0;
					display: block;
					width: 8px;
					height: 16px;
					margin-right: 4px;
					padding: 0;
					flex: none;
					fill: inherit;
				}
			}

			.name {
				overflow: hidden;
				height: 18px;
				line-height: 18px;
				color: #fff;
				font-size: 18px;
				font-weight: bold;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}

	// .sportHead_tab
	&_tab {
		@include d_f(flex, none, center);
		height: 56px;
		padding: 0 16px;

		// .sportHead_tab_item
		&_item {
			position: relative;
			@include d_f(inline-flex, none, center);
			height: 24px;
			line-height: 1px;
			padding: 4px 12px;
			font-size: 13px;
			font-weight: 700;
			border-radius: 24px;
			background-color: #1E2841;
			color: #75829b;
			border: 1px solid #34446e;
			@extend %hand;

			&+& {
				margin-left: 8px;
			}

			@include hv {
				background-color: #6700F4;
				color: #ffffff;
				border-color: #34446e;
			}

			@include ac {
				background-color: #131a2a;
				color: #30dff2;
			}

			&.on {
				background-color: #6700F4;
				color: #ffffff;
				border-color: #34446e;	
			}
		}
	}
}

.sportBody {
	padding: 0 16px;

	// .sportBody_title
	&_title {
		@include d_f(flex, space-between, center);
		height: 40px;
		padding: 4px 8px;
		background-color: #1E2841;
		border-bottom: 1px solid #060e23;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		@extend %hand;

		@include hv {
			background-color: #2d3c62;
		}

		@include ac {
			background-color: #131a2a;
		}
	}

	// .sportBody_game
	&_game {

		// .sportBody_game_info
		&_info {}

		// .sportBody_game_l
		&_l {
			@include d_f(flex, none, none);
			flex-wrap: wrap;
			width: 29%;

			.detail {
				@include d_f(flex, none, center);
				color: #fff;
				font-size: 12px;

				span {
					@include d_f(flex, none, center);
					line-height: 1;
					white-space: nowrap;
				}
			}

			.state {
				width: 100%;
			}
		}

		// .sportBody_game_r
		&_r {
			width: 71%;
		}
	}

	.icon_heart {
		flex: none;
		display: block;
		width: 32px;
		height: 32px;
		margin: 4px 8px 4px 0;
		padding: 8px;
		fill: rgba(167, 128, 37, 0);
		stroke: #ffffff;
		@extend %hand;

		@include hv {
			padding: 6px;
			fill: rgba(255, 255, 255, 0.5);
			stroke: #ffffff;
		}

		@include ac {
			fill: #7c1fff;
			stroke: #7c1fff;
		}

		&.on {
			fill: #7c1fff;
			stroke: #7c1fff;

			@include ac {
				fill: rgba(167, 128, 37, 0);
				stroke: #ffffff;
			}
		}
	}
}

.no_event {
	@include d_f(flex, center, center);
	flex-direction: column;
	width: 100%;
	height: 100%;
	min-height: 200px;

	i {
		display: block;
		width: 80px;
		height: 80px;
		margin: 8px auto;
		background: url('../../images/img_nodata.svg')no-repeat center bottom/cover;
	}

	span {
		@include d_f(flex, center, center);
		width: 100%;
		height: 40px;
		line-height: normal;
		font-size: 12px;
		color: #fff;
	}
}