$ligth_color: (
	headerbg:#0c2565,
	headerBtn_txt:#949eb5,
	title_bg: linear-gradient(90deg, #ffffff 0%, #d5e4ff 25%, #d9ecff 50%, #d5e4ff 75%, #ffffff 100%),
);

$dark_color: (
	title_bg: linear-gradient(90deg, #00002f 0%, #221758 25%, #0a124c 50%, #221758 75%, #00002f 100%),
	bodybg:#060e23,
	headerbg:#1e2841,
	headerBtn_txt:#75829b,
	headerBtn_txt_hv:#ffffff,
	headerBtn_txt_ac:#ffffff,
	headerBtn_bg_ac:#6700f4,
	headerBtn_txt_on:#ffffff,
	headerBtn_bg_on:#6700f4,
	money_txt: #30dff2,
	home_title_txt:#ffffff,
	home_title_bd:#ffffff,

	sport_btn_txt:rgba(255, 255, 255, 0.45),
	sport_btn_txt_hv:#30dff2,


	right_marquee_txt:#fff,
	right_marquee_bg:#1e2841,
	right_msg_bg:#6700f4,
	right_msg_fi:#fff,

	right_ad_bg:#1e2841,
);