<!DOCTYPE html>
<html id="version" lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title></title>
	<link rel="stylesheet" href="./css/all.css" />
	<style>
		.wrap {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
		}

		.show {
			width: 100%;
			height: 300px;
			background-color: #ccc;
		}

		.btn {
			width: 200px;
			height: 40px;
			margin-left: 10px;
			background-color: #ccc;
		}

		.btnBox {
			display: flex;
			justify-content: center;
		}
	</style>
</head>

<body>
	<div id="app" class="wrap">
		<!-- {{show}} -->
		<div class="show">
			{{show}}
		</div>
		<div class="btnBox">
			<button class="btn" @click="showHandler(-1)">上</button>
			<button class="btn" @click="showHandler(1)">下</button>
		</div>
	</div>

	<script src="./js/libs/vue_2_6_9.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="./js/index.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="./js/libs/vue-router.js"></script>
	<script src="./js/libs/http-vue-loader.js"></script>
	<script src="./js/libs/vuex_3_0_1.js"></script>
	<script src="./store/store.js"></script>
	<script>

		var vue = new Vue({
			el: "#app",
			data() {
				return {
					showData: null,
					showNum: 0
				};
			},
			mounted() {
				axios
					.get(
						"https://data.coa.gov.tw/Service/OpenData/TransService.aspx?UnitId=QcbUEzN6E6DL"
					)
					.then((res) => {
						console.log("test", res.data);
						this.showData = res.data
					});
			},
			computed: {
				show() {
					console.log('???');
					if (this.showData == null) return
					let showObj = [];
					let dataNum = 5;
					let showNum = this.showNum
					for (let i = showNum * dataNum; i < dataNum * showNum + dataNum; i++) {
						console.log(this.showData[i]);
						showObj.push(this.showData[i]);
					}
					return showObj;
				}
			},
			methods: {
				showHandler(num) {
					if (num == -1) {
						if (this.showNum <= 0) {
							this.showNum = 0;
						} else {
							this.showNum--;
						}
					} else {
						this.showNum++;
					}
				}
			},
		});
	</script>

	<!-- <script>
		var tbBox = document.getElementById("tbBox");
		var scroll_y = document.getElementById("scroll_y");
		var scroll_head = document.querySelector("#scroll_y .tbBox_head");
		// 修正有捲軸的誤差
		scroll_head.style.paddingRight =
			tbBox.clientWidth - scroll_y.clientWidth + "px";
	</script> -->
</body>

</html>