* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}
html,
body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Abhaya Libre', sans-serif;
}

*:hover,
*:focus,
*:active {
    outline: 0;
    -moz-outline: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}
input,
textarea,
button {
    border: none;
}
button {
    border: none;
    background-color: transparent;
}
img {
    width: 100%;
    vertical-align: middle;
}

select {
    border: none;
}
