* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #060e23;
}

a {
  text-decoration: none;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* scroll bar style setting */
  ::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #B9BDC5;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
  }
}
.normal_btn {
  transition-duration: 0.3s;
}

.wrap {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.normal_btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_btn:hover {
    background-color: #3071a9;
    border-color: #285e8e;
  }
}
.normal_btn:active {
  background-color: #3071a9;
  border-color: #285e8e;
}

.content {
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.content_l {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  flex: 1 1 66.6%;
}
.home .content_l {
  padding-top: 16px;
}
.content_r {
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 342px;
  flex: 1 1 33.3%;
  padding: 8px 8px 56px 8px;
}

.sport_btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 80px;
  height: 88px;
}
.sport_btn_icon {
  display: block;
  width: 40px;
  height: 40px;
  padding: 8px;
  fill: rgba(255, 255, 255, 0.7);
}
.sport_btn_txt {
  width: 100%;
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #ffffff;
}

.icon_home {
  display: block;
  width: 24px;
  height: 24px;
}
.icon_menu {
  display: block;
  width: 22px;
  height: 20px;
}
.icon_msg {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #6700f4;
  fill: #fff;
}
.icon_msg svg {
  width: 20px;
  height: 20px;
}

.header {
  flex: none;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 56px;
  padding: 8px;
  background-color: #1e2841;
}
.header_link {
  flex: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 12px;
  color: #75829b;
  font-size: 14px;
}
.header_link._home {
  width: 48px;
  padding: 0;
  fill: #75829b;
}
.header_link.router-link-active {
  background-color: #6700f4;
  color: #ffffff;
  fill: #ffffff;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .header_link:hover {
    color: #ffffff;
    fill: #ffffff;
  }
}
.header_link:active {
  background-color: #6700f4;
  color: #ffffff;
  fill: #ffffff;
}
.header_menu {
  width: 100%;
}
.header_info {
  flex: none;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.header_menuBtn {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 40px;
  fill: #75829b;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .header_menuBtn:hover {
    color: #ffffff;
    fill: #ffffff;
  }
}
.header_menuBtn:active {
  background-color: #6700f4;
  color: #ffffff;
  fill: #ffffff;
}

.acc_money {
  display: flex;
  align-items: center;
  justify-content: none;
  margin: 0 8px 0 16px;
  color: #30dff2;
  font-size: 14px;
}

.time {
  display: flex;
  align-items: center;
  justify-content: none;
  margin: 0 20px 0 14px;
  font-size: 14px;
  color: #75829b;
}

.home_title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 32px);
  height: 56px;
  margin: 8px 16px;
}
.home_title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  transform: translateZ(0px);
}
.home_title span {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: none;
  height: 100%;
  padding: 0 16px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #060e23;
}
.home_sport {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.marquee {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 15px;
  background-color: #1e2841;
  color: #fff;
}
.marquee_box {
  display: flex;
  align-items: center;
  justify-content: none;
}

.ad {
  margin-bottom: 16px;
  background-color: #1e2841;
}
.ad_box {
  max-width: 480px;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
}
.ad_box:before {
  content: "";
  display: block;
  width: 100%;
  max-width: 480px;
  padding-bottom: 75%;
  opacity: 0;
}/*# sourceMappingURL=all.css.map */