@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap");
.home_item::before, .home_item, .normal_sel_item, .normal_btn {
  transition: all 0.3s ease-in-out;
}

.login_box_forgot, .home_item, .user, .normal_sel_item, .normal_btn {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Noto Sans TC", "Arial", sans-serif;
  line-height: 1;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  color: #333333;
}

html.ph,
body.ph {
  overflow: hidden;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -moz-outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  border: none;
}

button {
  border: none;
  background-color: transparent;
}

img {
  width: 100%;
  vertical-align: middle;
}

select {
  font-size: 16px;
  border: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @media only screen and (min-device-width: 1025px) {
	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: #f1f1f1;
	}

	::-webkit-scrollbar-thumb {
		background-color: #c1c1c1;
		border: 1px #f1f1f1 solid;
		border-radius: 3px;
		cursor: pointer;
		-webkit-transition: background 0.5s linear;
		transition: background 0.5s linear;
	}

	*:hover::-webkit-scrollbar-thumb {
		background-color: #a9a9a9;
	}

	::-webkit-scrollbar-corner {
		background-color: #f1f1f1;
	}
} */
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: #565656;
}

.logo {
  width: 128px;
  height: 32px;
}
.logo > a {
  display: block;
  width: 100%;
  height: 100%;
}
.login .logo {
  width: 300px;
  height: 75px;
}

.normal_btn {
  height: 30px;
  border-radius: 10px;
}
.login .normal_btn {
  width: 100%;
  height: 70px;
}
.normal_btn._primary {
  background-color: #2E7FDF;
  color: #fff;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_btn._primary:hover {
    background-color: #2E55DF;
  }
}
.normal_btn._primary:active {
  background-color: #1D3EB3;
}
.normal_btn._secondry {
  background-color: #A4B2C2;
  color: #fff;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_btn._secondry:hover {
    background-color: #88A1BD;
  }
}
.normal_btn._secondry:active {
  background-color: #69829F;
}

.icon_btn {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.icon_btn._eyeclose {
  background-image: url("../assets/icon_eye_close.svg");
}
.icon_btn._eyeopen {
  background-image: url("../assets/icon_eye_open.svg");
}

.normal_sel {
  display: none;
  width: 180px;
  padding: 10px 0;
  background-color: #FFFFFF;
  border: 1px solid #BCBCBC;
  border-radius: 8px;
}
.normal_sel.on {
  display: block;
}
.normal_sel_item {
  padding: 8px 15px;
  background-color: #FFFFFF;
  color: #565656;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_sel_item:hover {
    background-color: #D9DFE9;
  }
}
.normal_sel_item:active {
  background-color: #D9DFE9;
}

.wrap {
  width: 100%;
  min-width: 1440px;
  height: 100%;
  background: url("../assets/home_bg.jpg") no-repeat center/cover;
}

.content {
  width: 100%;
  height: calc(100% - 60px);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
}
.user::before, .user:after {
  content: "";
  flex: none;
  display: block;
  width: 24px;
  height: 24px;
}
.user::before {
  margin-right: 10px;
  background: url("../assets/icon_user.svg") no-repeat center/contain;
}
.user:after {
  margin-left: 10px;
  background: url("../assets/icon_arr_down.svg") no-repeat center/contain;
}
.user .normal_sel {
  position: absolute;
  right: 0;
  top: calc(100% + 5px);
}

.system_txt {
  font-size: 32px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #565656;
}

.home {
  padding-top: 60px;
}
.home_group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1060px;
  margin: 10px auto 0;
}
.home_item {
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 250px;
  margin-top: 50px;
  padding: 30px 40px;
  border-radius: 36px;
  background: linear-gradient(137.22deg, #7DF66B 1.74%, #1ABCD7 98.16%);
  box-shadow: 46px 56px 70px 0px rgba(125, 125, 175, 0.4);
}
.home_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 36px;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .home_item:hover::before {
    background-color: rgba(255, 255, 255, 0);
  }
}
.home_item:active::before {
  background-color: rgba(255, 255, 255, 0);
}
.home_item h2 {
  position: relative;
}
.home_item_txt {
  position: relative;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.home_item_pic {
  position: absolute;
  right: 40px;
  bottom: 30px;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 90px;
  background: url("../assets/login_bg.jpg") no-repeat center/cover;
}
.login_txt {
  margin-top: 42px;
  font-size: 32px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.login_box {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 500px;
  margin-top: 50px;
  padding: 40px 96px 40px 100px;
  background: linear-gradient(123.55deg, rgba(0, 108, 146, 0.2) 13.15%, rgba(142, 211, 0, 0.2) 98.35%), linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.6980392157);
}
.login_box_title {
  padding: 10px 0;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
}
.login_box_inp {
  position: relative;
  width: 100%;
  margin-top: 50px;
}
.login_box_inp::before {
  position: absolute;
  top: -6px;
  left: 0;
  content: attr(data-txt);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fff;
  transform: translateY(-100%);
}
.login_box_inp input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border-radius: 10px;
  border: 1px solid #BCBEC0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #565656;
}
.login_box_inp .icon_btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  margin: auto;
  cursor: pointer;
}
.login_box_forgot {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  text-align: right;
}
@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .login_box_forgot:hover {
    text-decoration: underline;
  }
}
.login_box_forgot:active {
  text-decoration: underline;
}
.login_box .normal_btn {
  margin-top: 60px;
}/*# sourceMappingURL=all.css.map */