@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f0f0fa;
  font-family: '微軟正黑體', sans-serif;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -moz-outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  border: none;
}

button {
  border: none;
  background-color: transparent;
}

img {
  width: 100%;
  vertical-align: middle;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v107/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 110px;
  padding: 0 37px 0 23px;
  background-color: #FFFFFF9E;
}

.logo {
  width: 120px;
  height: 60px;
}

.logo img {
  height: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu li + li {
  margin-left: 48px;
}

.container {
  width: 100%;
  height: 100%;
}

.normal_btn {
  background-color: #000000;
  color: #fff;
}

.banner {
  position: relative;
  width: 100%;
  height: calc(100% - 35px);
}

.banner_item {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 185px 0 0 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner_txt {
  display: inline-block;
  padding: 25px 20px;
  background-color: rgba(255, 255, 255, 0.38);
  color: #000;
}

.banner_txt_num {
  color: #fff;
  line-height: 84px;
  font-size: 72px;
  font-style: italic;
}

.banner_txt_title {
  line-height: 56px;
  font-size: 48px;
}

.banner_txt_info {
  color: #3e3e3e;
  line-height: 64px;
}

.banner_txt_price {
  display: inline-block;
  line-height: 36px;
}

.banner_txt_price .normal {
  font-size: 30px;
}

.banner_txt_price .holiday {
  font-size: 16px;
}

.banner_txt .normal_btn {
  width: 120px;
  height: 45px;
  float: right;
}

.page {
  position: absolute;
  left: 30px;
  bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.page li {
  background-color: #fff;
}

.page_prev, .page_next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.page_prev .material-icons, .page_next .material-icons {
  font-size: 12px;
}

.page_prev + .page_dot,
.page_dot + .page_next {
  margin-left: 13px;
}

.page_dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.page_dot + .page_dot {
  margin-left: 6px;
}

.link {
  position: absolute;
}

.link li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.link li + .link li {
  margin-left: 15px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 35px;
  padding-right: 18px;
}
/*# sourceMappingURL=all.css.map */