* {
	margin: 0;
	padding: 0;
	list-style: none;
}

html,
body {
	width: 100%;
}

.wrap {
	width: 100%;
	display: flex;
	justify-content: center;
}


.homestyle {
	width: 100%;
	max-width: 1200px;
	font-family: "Noto Sans TC", sans-serif;
	line-height: 1;
	margin: auto;
}

.homestyle li {
	list-style: none;
}

.exclusive {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.exclusive_txt {
	position: absolute;
	top: 90px;
	left: 105px;
}

.exclusive_txt div:nth-child(1) {
	font-size: 40px;
	font-weight: 400;
	line-height: 75px;
	letter-spacing: 0.04em;
	color: #00543A;
}

.exclusive_txt div:nth-child(2) {
	font-size: 63px;
	font-weight: 700;
	line-height: 75px;
	letter-spacing: 0.04em;
	color: #00543A;
}

.exclusive_panel {
	position: relative;
	top: -50px;
	display: inline-block;
	padding: 40px 50px;
	font-family: Helvetica Neue;
	font-size: 35px;
	font-weight: 500;
	line-height: 55px;
	letter-spacing: 0.06em;
	text-align: center;
	background-color: #00543A;
	color: #fff;
}