.wrap {
    overflow: hidden;
    display: grid;
    grid-template-columns: 300px auto;
    width: 100%;
    height: 100%;
    @extend %transition;
    @at-root &.showMenu  {
        padding-left: 275px;
    }
    @include mw_xl {
        grid-template-columns: 20% auto;
    }
    @include mw_lg {
        grid-template-columns: 100%;
    }
}
.menu {
    background-color: #222629;
    padding-top: 40px;
    @extend %transition;
    @include mw_lg {
        position: absolute;
        height: 100%;
        // left: -275px;
        transform: translateX(-100%);
        // @at-root .showMenu & {
        //     transform: translateX(0);
        // }
    }
    @include mw_lg {
        width: 275px;
    }
    // menu_info
    &_info {
        display: flex;
        justify-content: space-between;
        padding: 10px 35px;
        color: #fff;
        text-align: right;
        @include mw_lg2ml {
            flex-wrap: wrap;
            .pic {
                margin: 0 0 10px auto;
            }
            .txt {
                width: 100%;
            }
        }
        h1 {
            font-size: 22px;
            font-weight: 600;
            line-height: 1;
        }
        p {
            margin-top: 7%;
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;
            line-height: 1;
            @include mw_xl {
                margin-top: 13px;
            }
        }
    }
    &_group {
        padding-top: 35px;
        height: calc(100% - 150px);
        @include mw_xl {
            height: calc(100% - 205px);
        }
        @include mw_lg {
            height: auto;
        }
        &_item {
            padding: 10px 35px;
            font-size: 20px;
            @extend %hand;
            @extend %transition;

            span {
                display: flex;
                justify-content: space-between;
                width: 100%;
                color: #41484c;
                @extend %transition;
                @include mw_lg2ml {
                    justify-content: flex-end;
                    font-size: 13px;
                }
                &::after {
                    content: attr(data-txt);
                    @extend %transition;
                    color: rgba(255, 255, 255, 0.5);

                    @include mw_lg2ml {
                        margin-right: 15px;
                        order: -1;
                    }
                }
            }
            &.active span {
                color: #e27689;
                &::after {
                    color: #fff;
                }
            }
            @include hoverHandler {
                background: rgba(0, 0, 0, 0.15);
                span {
                    color: #e27689;
                }
                ::after {
                    color: #fff;
                }
            }
        }
    }
    &_link {
        display: flex;
        justify-content: center;
        padding: 34px 0 17px;

        li + li {
            margin-left: 10px;
        }
        a {
            color: #41484c;
            font-size: 18px;
            @extend %transition;
            @include hoverHandler {
                color: #fff;
            }
        }
    }
    &_btn {
        display: none;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 60px;
        height: 40px;
        border-radius: 8px;
        background: rgba(128, 136, 144, 0.5);
        @extend %hand;
        @extend %transition;
        @include mw_lg {
            display: block;
        }
        @at-root .showMenu & {
            left: 285px;
        }
        span {
            position: relative;
            display: block;
            width: 15px;
            height: 2px;
            margin: auto;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 3px;
            @extend %transition;
            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                width: 15px;
                height: 2px;
                background-color: #fff;
                border-radius: 3px;
                @extend %transition;
            }
            &::before {
                top: -5px;
            }
            &::after {
                bottom: -5px;
            }
            @at-root .showMenu & {
                background-color: rgba(255, 255, 255, 0);
                &::before {
                    top: 50%;
                    transform: rotate(45deg) translateY(-50%);
                }
                &::after {
                    bottom: 50%;
                    transform: rotate(-45deg) translateY(50%);
                }
            }
        }
    }
}

.main {
    @extend %transition;
    // @at-root .showMenu & {
    //     transform: translateX(275px);
    // }
    &_title {
        margin-bottom: 68px;
        color: #666666;
        font-size: 45px;
        text-align: center;
        @include mw_xl {
            margin-bottom: 42px;
        }
        @include mw_md {
            margin-bottom: 37px;
            font-size: 28px;
        }
    }
    &_txt {
        color: #888888;
        font-size: 22px;
        text-align: center;
        margin-bottom: 45px;
        @include mw_xl {
            margin-bottom: 42px;
        }
        @include mw_md {
            margin-bottom: 37px;
            font-size: 18px;
        }
    }
    &_pic {
        width: 100%;
        margin-bottom: 45px;
    }
}

.intro {
    padding: 226px 0;
    background: url('../images/banner.jpeg') no-repeat center/cover;
    text-align: center;

    @include mw_xxl {
        padding: 115px 0;
    }
    @include mw_md {
        padding: 74px 0;
    }
    h2 {
        color: #fff;
        font-size: 45px;
        font-weight: 300;

        @include mw_md {
            font-size: 28px;
        }
    }
    strong {
        font-weight: 300;
        color: #fff;
    }
    p {
        margin-top: 22px;
        font-size: 22px;
        line-height: 44px;
        color: #fff;
        @include mw_md {
            font-size: 18px;
        }
    }
}

.portfolio {
    background-color: #f5fafa;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05),
        inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.03);
    &_group {
        display: flex;
        justify-content: space-between;
        @include mw_md {
            flex-wrap: wrap;
        }
    }
    &_item {
        width: calc(100% / 3 - 25px);
        @include mw_md {
            width: 100%;

            & + & {
                margin-top: 15px;
            }
        }
        span {
            display: block;
            background-color: #fff;
            box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
            &::after {
                content: attr(data-txt);
                display: block;
                padding: 18px 0;
                color: #888888;
                font-size: 18px;
                text-align: center;
            }
            + span {
                margin-top: 40px;
                @include mw_md {
                    margin-top: 15px;
                }
            }
        }
    }
}
.about {
    background-color: #ecf1f1;
}

.contact {
    background-color: #e8edec;
    &_form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .normal_inp {
            width: calc(100% / 2 - 20px);
            + .normal_inp {
                margin-left: 40px;
            }

            @include mw_md {
                width: 100%;
                + .normal_inp {
                    margin-top: 20px;
                    margin-left: 0;
                }
            }
        }
        .normal_textarea {
            width: 100%;
            min-height: 280px;
            margin-top: 40px;
            @include mw_md {
                margin-top: 20px;
            }
        }
    }
}
footer {
    background-color: #dce3e2;
    color: #888888;
    .copyright {
        padding: 54px 0 72px;
        text-align: center;
        font-size: 18px;
        li {
            display: inline-block;
            + li {
                margin-left: 10px;
                padding-left: 10px;
                border-left: solid 1px rgba(104, 38, 38, 0.35);
            }
            @include mw_md {
                display: block;
                + li {
                    margin-top: 10px;
                    margin-left: 0;
                    padding-left: 0;
                    border-left: none;
                }
            }
        }
    }
}
