<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./css/all.css">
</head>

<body>
	<div id="app" class="wrap">
		<header class="header">
			<div class="username">
				{{username}}
			</div>
			<button id="menu" :class="['menu', menu.menuShow ? 'active' : '']" @click="menuHandler">
				<span class="menu_btn"></span>
			</button>
			<ul class="menu_group">
				<li id="icon_acc" :class="['menu_group_item' , this.menu.menuSecShow == 'icon_acc' ?'active' : '']">
					<h1 class="icon_acc" @click="menuList('icon_acc','icon_acc')">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
							<path :d="icon.acc.path" />
						</svg>
						帳號管理
						<svg class="icon_drop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
							<path :d="icon.drop_down.path" />
						</svg>
					</h1>
					<ul class="menu_group_itemSec">
						<li id="list_ag" name="menuSec" @click="menuList('icon_acc','list_ag')">
							<router-link to="/">代理商</router-link>
						</li>
						<li id="list_acc" name="menuSec" @click="menuList('icon_acc','list_acc')">
							<router-link to="/">會員</router-link>
						</li>
					</ul>
				</li>
				<li id="noname" class="menu_group_item" @click="menuList('noinside','list_ag')">
					<router-link to="/noname">
						<h1>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path :d="icon.noname.path" />
							</svg>
							尚未命名
						</h1>
					</router-link>
				</li>
			</ul>
		</header>
		<div class="ma_main">
			<div class="ma_content">
				<router-view></router-view>
			</div>
		</div>
	</div>

	<script src="./js/libs/vue_2_6_9.js"></script>
	<script src="./js/libs/vue-router.js"></script>
	<script src="./js/libs/http-vue-loader.js"></script>
	<script src="./js/libs/vuex_3_0_1.js"></script>
	<script src="./js/icon_all.js"></script>
	<script src="./store/store.js"></script>

	<script>
		const routes = [
			{
				path: "",
				components: {
					default: httpVueLoader("./page/index.vue"),
				},
			},
			{
				path: "/noname",
				components: {
					default: httpVueLoader("./page/noname.vue"),
				},
			},
		];
		const router = new VueRouter({
			// mode: 'history',
			routes: routes, // (缩写) 相当于 routes: routes
		});

		var vue = new Vue({
			el: "#app",
			router,
			data() {
				return {
					menu: {
						menuShow: false,
						menuSecShow: false,
						pageShow: null,
						path: null,
						first: null,
						second: null
					}
				};
			},
			watch: {
				$route(to, from) {
					this.menu.menuShow = false
					// 		var menuClass = document.getElementById('menu');
					// 		menuClass.classList.remove('active');
					// 		var now = this.$route.path;
					// 		if (this.$route.path == "/") {
					// 			this.nowPath = 'index';
					// 		} else {
					// 			this.nowPath = now.split('/')[1]
					// 		}
					// 		this.showMenu = false;
				},
			},
			methods: {
				menuHandler() {
					this.menu.menuShow = !this.menu.menuShow
				},
				menuList(outside, inside) {
					// console.log(this);
					if (outside == inside) {
						this.menu.menuSecShow = outside
					} else if (outside == 'noinside') {
						this.menu.menuSecShow = null
					} else if (outside == this.menu.menuSecShow) {
						this.menu.pageShow = inside
					} else if (outside !== this.menu.menuSecShow) {
						this.menu.menuSecShow = outside
					}
					// if (str == null) {
					// 	this.menu.menuSecShow = str;
					// } else if (this.menu.menuSecShow == str) {
					// 	this.menu.menuSecShow = null
					// } else {
					// 	this.menu.menuSecShow = str;
					// }
				},
			},
			computed: {
				username() {
					return store.state.username
				},
				icon() {
					return store.state.icon_all
				}
			}
		});
	</script>
</body>

</html>