@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family: "Abhaya Libre", sans-serif;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -moz-outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  border: none;
}

button {
  border: none;
  background-color: transparent;
}

img {
  width: 100%;
  vertical-align: middle;
}

select {
  border: none;
}

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v107/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.wrap {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: auto;
}

.container {
  width: 100%;
  height: calc(100% - 100px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0 40px 0 30px;
}

.logo {
  width: 95px;
  height: 68px;
}

.menu_group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  font-size: 22px;
}
.menu_group li + li {
  margin-left: 60px;
}

.book {
  position: absolute;
  top: 0;
  left: 75px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
  padding: 30px 30px 35px;
  background: url("../images/search_white_80.png") no-repeat center/cover;
  color: #000;
}
.book label {
  width: 100%;
}
.book label + label {
  margin-top: 30px;
}
.book .count {
  position: relative;
  display: inline-flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
}
.book .count p {
  width: 100%;
  max-width: 108px;
}
.book .count_change {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}
.book .count_num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.normal_sel {
  display: block;
  min-width: 65px;
  height: 30px;
  border: 1px solid #747474;
}
.normal_sel select {
  display: block;
  width: 100%;
  height: 100%;
}

.normal_inp {
  display: block;
}
.normal_inp p {
  margin-bottom: 8px;
  font-size: 14px;
}
.normal_inp input {
  width: 100%;
  height: 35px;
  padding-left: 20px;
  background-color: #fff;
  color: #000;
}
.normal_inp .date {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.normal_inp .icon_date {
  position: absolute;
  right: 20px;
  font-size: 20px;
}

.banner {
  position: relative;
}
.photo {
  position: relative;
}
.photo_item {
  width: 31%;
  float: right;
}
.photo_item._big {
  width: calc(69% - 8px);
  float: left;
}
.photo_item:nth-child(2) {
  margin-top: 110px;
}
.photo_item:nth-child(3) {
  margin-top: 10px;
}
.photo_item:not(._big) {
  overflow: hidden;
}
.photo .page {
  display: none;
}
@media screen and (max-width: 995px) {
  .photo {
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
  }
  .photo_item {
    flex: none;
    width: 100%;
    float: none;
  }
  .photo_item._big {
    width: 100%;
    float: none;
  }
  .photo_item:nth-child(2), .photo_item:nth-child(3) {
    margin-top: 0;
  }
  .photo .page {
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 12px;
    margin: 0 auto;
  }
  .photo .page li {
    margin-top: 0;
  }
  .photo .page li + li {
    margin-left: 6px;
  }
  .photo .page_prev + .page_dot, .photo .page_dot + .page_next {
    margin-left: 19px;
  }
}
.photo::after {
  content: "";
  display: block;
  clear: both;
}

.room_box {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 35px;
}
@media screen and (max-width: 995px) {
  .room_box {
    display: block;
  }
}
.room_info {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.room_info h2 {
  font-size: 48px;
}
.room_info_evaluate {
  margin-bottom: 10px;
}
.room_info_evaluate .material-icons {
  font-size: 18px;
}
.room_info_evaluate .evaluate {
  border-bottom: 1px solid #000;
}
.room_info_evaluate .introduce {
  display: none;
}
@media screen and (max-width: 995px) {
  .room_info_evaluate {
    order: -1;
    display: block;
    width: 100%;
  }
  .room_info_evaluate .star {
    display: none;
  }
}
.room_info table {
  width: 100%;
  margin-bottom: 55px;
  text-align: left;
}
.room_info table th {
  font-weight: bold;
  font-size: 18px;
}
.room_info table td {
  font-size: 16px;
}
.room_info table th,
.room_info table td {
  height: 40px;
}
.room_info_txt {
  margin-bottom: 10px;
  color: #656565;
  font-size: 16px;
  line-height: 24px;
}
.room_info_device {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #cbcbcb;
  fill: #cbcbcb;
  width: 90%;
}
.room_info_device li {
  width: 16.6666666667%;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
}
.room_info_device li:first-child {
  width: 100%;
  margin-bottom: 40px;
  color: #000;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}
.room_info_device li span {
  display: block;
}
.room_info_device li.on {
  color: #000;
  fill: #000;
}
.room_reserve {
  flex: 0 0 378px;
  margin-left: 50px;
}
.room_reserve_price {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.room_reserve_price_item {
  font-size: 36px;
}
.room_reserve_price_item::before {
  content: attr(data-bef);
  display: block;
  color: #949494;
  font-size: 16px;
}
.room_reserve_price_item::after {
  content: attr(data-aft);
  font-size: 18px;
}
.room_reserve_price_item + .room_reserve_price_item {
  margin-left: 15px;
}
.room_reserve_box {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}
.room_reserve_box label {
  display: block;
}
.room_reserve_box label + label {
  margin-bottom: 10px;
}
.room_reserve_box p {
  color: #6d6d6d;
  font-size: 16px;
  line-height: 34px;
}
.room_reserve_box input {
  display: block;
  width: 100%;
  max-width: 320px;
  height: 40px;
  background-color: #ededed;
}
.room_reserve_box .date {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 30px;
}
.room_reserve_box .date_start, .room_reserve_box .date_end {
  display: inline-block;
  width: calc(50% - 8px);
}
.room_reserve_box .date_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 10px;
  background-color: #ededed;
}
.room_reserve_box .normal_btn {
  width: 100%;
  max-width: 320px;
  height: 50px;
}/*# sourceMappingURL=all.css.map */