.login {
	@include d_f(flex, none, center);
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding-top: 90px;
	background: url('./assets/images/login_bg.jpg')no-repeat center/cover;

	// .login_txt
	&_txt {
		margin-top: 42px;
		font-size: 32px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
	}

	// .login_box
	&_box {
		@include d_f(flex);
		flex-direction: column;
		width: 700px;
		height: 500px;
		margin-top: 50px;
		padding: 40px 96px 40px 100px;
		background: linear-gradient(123.55deg, rgba(0, 108, 146, 0.2) 13.15%, rgba(142, 211, 0, 0.2) 98.35%),
			linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
		border-radius: 40px;
		border: 1px solid #FFFFFFB2;

		// .login_box_title
		&_title {
			padding: 10px 0;
			color: #fff;
			font-size: 32px;
			font-weight: 400;
			line-height: 47px;
			letter-spacing: 0em;
			text-align: left;
		}

		// .login_box_inp
		&_inp {
			position: relative;
			width: 100%;
			margin-top: 50px;

			&::before {
				position: absolute;
				top: -6px;
				left: 0;
				content: attr(data-txt);
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				text-align: left;
				color: #fff;
				transform: translateY(-100%);
			}

			input {
				width: 100%;
				height: 50px;
				padding-left: 20px;
				border-radius: 10px;
				border: 1px solid #BCBEC0;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				color: #565656;

			}

			.icon_btn {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 12px;
				margin: auto;
				cursor: pointer;
			}
		}

		// .login_box_forgot
		&_forgot {
			margin-top: 15px;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			color: #fff;
			text-align: right;
			@extend %hand;

			@include hoverHandler {
				text-decoration: underline;
			}
		}

		.normal_btn {
			margin-top: 60px;
		}
	}
}