html,
body {
	width: 100%;
	height: 100%;
}

.loading {
	z-index: 20;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 1;
	transition-duration: 1s;

	&._hide {
		opacity: 0;
	}

	&_ball1,
	&_ball2 {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 40px;
		height: 40px;
		margin: auto;
		border-radius: 50%;
		background-color: map-get($bg_color, loading_ball);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
		-khtml-opacity: 0.6;
		-moz-opacity: 0.6;
		opacity: 0.6;
		-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
		animation: sk-bounce 2.0s infinite ease-in-out;
	}

	&_ball2 {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}
}

@-webkit-keyframes sk-bounce {

	0%,
	100% {
		-webkit-transform: scale(0.0)
	}

	50% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bounce {

	0%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}

	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}