:root {
	// font-size: $font-size-root;

	// @if $enable-smooth-scroll {
	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}

	// }
}

h2 {
	font-size: 100px;
	font-weight: bold;

	@include mw(S) {
		font-size: 36px;
	}

	&.txt_white {
		color: map-get($txt_color , white)
	}

	.banner_txt_ani & {
		font-size: 90px;

		@include mw(S) {
			font-size: 36px;
		}
	}
}

h3 {
	font-size: 24px;
	font-weight: bold;
	line-height: 33px;

	.txt_primary {
		font-weight: bold;
	}
}

h4 {
	@include d_f(flex, none, center);
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5em;
	letter-spacing: 0px;
	color: map-get($txt_color , white);

	&._leftLine::before {
		content: "";
		width: 45px;
		height: 3px;
		margin-right: 30px;
		background-color: map-get($bg_color , white);
	}

	&._rightLine::after {
		content: "";
		width: 45px;
		height: 3px;
		margin-left: 30px;
		background-color: map-get($bg_color , white);
	}

	&._leftLine.txt_primary::before,
	&._rightLine.txt_primary::after {
		background-color: map-get($bg_color , primary);
	}

	.services &,
	.statistics & {
		justify-content: center;
	}

	.statistics &::before {
		margin-right: 20px;
	}

	.statistics &::after {
		margin-left: 20px;
	}
}

.txt_primary {
	color: map-get($txt_color , primary);

	.footer_copy & {
		margin-left: 5px;
	}
}

.txt_larget {
	font-size: 50px;
	font-weight: 700;
	line-height: 1.1em;
	letter-spacing: -0.3px;
	color: map-get($txt_color , white);

	@include mw(S) {
		font-size: 32px;
	}

	.skills &,
	.explore &,
	.about & {
		margin-top: 20px;
		color: map-get($txt_color , black);
	}

	.services &,
	.statistics & {
		margin-top: 20px;
		text-align: center;
	}

	.newsletters & {
		max-width: 585px;
		margin-top: 20px;

		@include mw(L) {
			max-width: 100%;
		}
	}
}

.normal_btn {
	position: relative;
	display: inline-block;
	padding: 28px 51px 25px 52px;
	background-color: transparent;
	background-image: radial-gradient(at center left, map-get($bg_color, secondry) 0%, map-get($bg_color, primary) 100%);
	font-weight: 700;
	font-size: 15px;
	line-height: 1em;
	letter-spacing: 0;
	border-radius: 50px;
	color: #fff;
	@extend %hand;
	@extend %transition;

	@include hoverHandler {
		transform: translateY(-8px);
	}

	.explore & {
		margin-top: 20px;
	}

	.skills & {
		margin-top: 45px;
	}
}


.wrap {
	padding-top: 90px;
}

.head {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	@include d_f(flex, space-between, center);
	width: 100%;
	height: 90px;
	padding: 0 50px;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.logo {
	width: 162px;
	height: 50px;
}

.nav {
	@include mw(M) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -999;
		pointer-events: none;

		&._show {
			z-index: 1;
			pointer-events: auto;

			&::before {
				opacity: 1;
			}

			.nav_box {
				transform: translateX(0);
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.8);
			opacity: 0;
			transition-duration: 0.3s;
		}
	}

	// .nav_box
	&_box {
		@include d_f(flex, none, center);

		@include mw(M) {
			position: relative;
			display: block;
			width: 250px;
			height: 100%;
			background-color: #fff;
			transform: translateX(-100%);
			transition-duration: 0.3s;
		}
	}

	// .nav_item
	&_item {
		margin-left: 45px;

		@include mw(M) {
			margin-left: 0;
			padding: 20px;
			border-bottom: 1px solid #28282833;
		}


		a {
			display: block;
			padding: 10px 0;
			font-size: 16px;
			font-weight: bold;
			color: map-get($txt_color , black);
			@extend %transition;
		}

		&._on a {
			color: map-get($txt_color , primary);
		}

		// .nav_item_logo
		&_logo {
			display: none;

			@include mw(M) {
				display: block;
				padding: 20px;
				border-bottom: 1px solid #28282833;
			}
		}

		@include hoverHandler {
			a {
				color: map-get($txt_color , primary);
			}
		}
	}

	// .nav_btn
	&_btn {
		position: relative;
		display: none;
		width: 32px;
		height: 32px;
		@extend %hand;

		@include mw(M) {
			display: block;
		}

		span {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			display: block;
			width: 100%;
			height: 4px;
			margin: auto;
			background-color: #000;

			&::before,
			&:after {
				content: "";
				position: absolute;
				left: 0;
				width: 100%;
				height: 4px;
				background-color: #000;
			}

			&::before {
				top: -10px;
			}

			&:after {
				bottom: -10px;
			}
		}
	}
}

.banner {
	position: relative;
	@include d_f(flex, center, center);
	width: 100%;
	height: 600px;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../images/01.png');
		opacity: 0.5;
	}

	// .banner_txtBox
	&_txtBox {
		position: relative;
		width: 100%;
		max-width: 1170px;
		padding-left: 20px;

		h2 {
			height: 100px;

			@include mw(S) {
				height: 36px;
			}
		}
	}

	// .banner_txt
	&_txt {
		@include d_f(flex);

		@include mw(M) {
			display: block;
		}

		@include mw(S) {
			@include d_f(flex);
		}

		@include mw(XS) {
			display: block;
		}

		.txt_white {
			margin-right: 10px;
		}

		// .banner_txt_ani
		&_ani {
			overflow: hidden;
			height: 100px;

			@include mw(S) {
				height: 36px;
			}

			h2 {
				transition-duration: .5s;
			}

			._txtani {
				margin-top: -100px;

				@include mw(S) {
					margin-top: -36px;
				}
			}
		}
	}
}



.content {
	padding-top: 130px;

	&.about {
		padding-bottom: 130px;
	}

	&.skills {
		padding-top: 0;
	}

	&.newsletters {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

.container {
	max-width: 1210px;
	padding: 0 20px;
	margin: auto;

	@include mw(L) {
		max-width: 1027px;
	}

	.provide & {
		@include d_f(flex);

		@include mw(L) {
			flex-wrap: wrap;
		}
	}

	.about & {
		@include d_f(flex);

		@include mw(L) {
			display: block;
		}
	}
}

.provide {

	// .provide_item
	&_item {
		width: 25%;

		@include mw(L) {
			width: 50%;
			padding-left: 30px;

			&:nth-child(3),
			&:nth-child(4) {
				padding-top: 40px;
			}
		}

		@include mw(S) {
			width: 100%;

			&:nth-child(2) {
				padding-top: 40px;
			}
		}

		// .provide_item_pic
		&_pic {
			position: relative;
			width: 55px;
			height: 55px;
			margin-bottom: 66px;
			background-color: #FFF4EE;

			img {
				transform: translate(50%, 50%);
			}
		}

		p {
			margin-top: 20px;
			padding-right: 50px;
			color: #282828;
			line-height: 1.8em;
			font-size: 14px;
		}
	}
}

.about {
	width: 100%;
	// background-color: #ccc;

	// .about_pic
	&_pic {
		position: relative;
		width: 100%;

		&::before {
			content: "";
			position: absolute;
			top: 90px;
			left: 0;
			width: 300px;
			height: 455px;
			background-color: #FFF4EE;
		}

		// .about_pic_1
		&_1 {
			position: relative;
			padding-right: 45px;
			text-align: center;

			@include mw(XS) {
				padding-right: 0;
			}

			img {
				max-width: 400px;
			}
		}

		// .about_pic_2
		&_2 {
			position: relative;
			padding-right: 45px;
			text-align: right;

			@include mw(S) {
				margin-top: 30px;
			}

			@include mw(XS) {
				padding-right: 0;
			}

			img {
				width: auto;
				transform: translateY(-36px);

				@include mw(S) {
					transform: translateY(0);
				}

				@include mw(XS) {
					max-width: 100%;
				}
			}
		}
	}

	// .about_txt
	&_txt {
		width: 100%;
		padding-top: 17px;
		padding-left: 17px;

		// .about_txt_large
		&_large {
			margin-top: 20px;
			color: #282828;
			font-size: 50px;
			font-weight: 700;
			line-height: 1.1em;
			letter-spacing: -0.3px;

			@include mw(S) {
				font-size: 32px;
			}
		}

		// .about_txt_mid
		&_mid {
			margin-top: 35px;
			color: #282828;
			font-weight: 600;
			font-size: 18px;
			line-height: 28px;
			letter-spacing: 0;
		}

		// .about_txt_small
		&_small {
			margin-top: 20px;
			padding-right: 30px;
			color: #282828;
			font-size: 14px;
			font-weight: 400;
			line-height: 2em;
			letter-spacing: 0;
		}
	}
}

.contact {
	position: relative;
	padding: 120px 0 130px 0;
	background: url('../images/contact_bg.jpg')no-repeat center/cover;
	color: #fff;
	text-align: center;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(40, 40, 40, .6);
	}

	// .contact_title
	&_title {
		position: relative;
		display: inline-block;
		margin-bottom: 35px;
		font-size: 24px;
		font-weight: 700;
		line-height: 1em;
		letter-spacing: 0px;
		border-bottom: 1px solid #fff;
	}

	// .contact_need
	&_need {
		position: relative;
		margin-bottom: 35px;
		font-size: 60px;
		font-weight: 700;
		line-height: 1.08em;
		letter-spacing: -0.3px;

		@include mw(S) {
			font-size: 45px;
		}
	}

	// .contact_txt
	&_txt {
		position: relative;
		margin-bottom: 35px;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0;
	}
}

.services {
	background-color: map-get($bg_color , primary);

	// .services_group
	&_group {
		@include d_f(flex);
		transform: translateY(75px);

		@include mw(L) {
			flex-wrap: wrap;
		}
	}

	// .services_item
	&_item {
		position: relative;
		@include d_f(flex, center);
		flex-direction: column;
		width: calc(25% - 24px);
		margin: 0 12px 30px;
		padding: 228px 30px 21px 30px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		@include mw(L) {
			width: calc(50% - 24px);
			padding: 150px 35px 20px 25px;
		}

		@include mw(S) {
			width: 100%;
			padding: 80px 20px 15px 20px;
		}


		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(40, 40, 40, .85);
		}

		&:nth-child(1) {
			background-image: url('../images/service-01.jpg');
		}

		&:nth-child(2) {
			background-image: url('../images/service-02.jpg');
		}

		&:nth-child(3) {
			background-image: url('../images/service-03.jpg');
		}

		&:nth-child(4) {
			background-image: url('../images/service-04.jpg');
		}

		// .services_item_num
		&_num {
			position: relative;
			margin-bottom: 20px;
			font-size: 80px;
			font-weight: 700;
			line-height: 1em;
			letter-spacing: 0px;
			text-align: center;
			color: map-get($txt_color , white);
		}

		// .services_item_title
		&_title {
			position: relative;
			margin-bottom: 10px;
			font-size: 30px;
			font-weight: 700;
			line-height: 1em;
			letter-spacing: 0px;
			color: map-get($txt_color , white);
			text-align: center;
		}

		// .services_item_txt
		&_txt {
			position: relative;
			height: 100%;
			padding-bottom: 100px;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.8em;
			letter-spacing: 0;
			color: map-get($txt_color , white);
			text-align: center;
		}

		// .services_item_footer
		&_footer {
			position: relative;
			color: map-get($txt_color , white);
			text-align: center;
			font-size: 24px;
			font-weight: 700;
			line-height: 1.2em;
			letter-spacing: 0px;
		}
	}
}

.explore {
	@include d_f(flex);
	width: 100%;
	padding-top: 235px;

	@include mw(L) {
		display: block;
	}

	// .explore_pic
	&_pic {
		width: 50%;
		background: url('../images/bg-02.jpg')no-repeat center/cover;

		@include mw(L) {
			width: 100%;
		}
	}

	// .explore_info
	&_info {
		width: 50%;
		padding: 97px 230px 100px 115px;
		background-color: #F3F6F8;

		@include mw(L) {
			width: 100%;
			padding: 100px 30px 100px 30px;
		}
	}

	// .explore_midtxt
	&_midtxt {
		margin-top: 36px;
		font-size: 22px;
		font-weight: 700;
		line-height: 1em;
		letter-spacing: 0;

	}

	// .explore_smalltxt
	&_smalltxt {
		margin-top: 16px;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.8em;
		letter-spacing: 0;
	}
}

.skills {
	@include d_f(flex);

	@include mw(L) {
		flex-direction: column-reverse;
	}

	// .skills_info
	&_info {
		width: 50%;
		padding: 97px 214px 100px 208px;

		@include mw(XL) {
			padding: 97px 180px 100px 100px;
		}

		@include mw(L) {
			width: 100%;
			padding: 100px 160px 100px 30px;
		}

		@include mw(S) {
			padding: 100px 15px 100px 15px;
		}
	}

	// .skills_pic
	&_pic {
		width: 50%;
		background: url('../images/bg-03.jpg')no-repeat center/cover;

		@include mw(L) {
			width: 100%;
			height: 500px;
		}
	}

	// .skills_group
	&_group {
		margin-top: 34px;
	}

	// .skills_item
	&_item {
		&+& {
			margin-top: 40px;
		}

		// .skills_item_txt
		&_txt {
			margin-bottom: 7px;
			color: map-get($txt_color , black);
			font-size: 18px;
			font-weight: 700;
			line-height: 2em;
			letter-spacing: 0;
		}

		// .skills_item_line
		&_line {
			position: relative;
			height: 5px;
			background-color: #E0E0E0;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 90%;
				height: 5px;
				background-color: map-get($bg_color , primary);
			}

			&:after {
				content: attr(data-num) "%";
				position: absolute;
				bottom: calc(100% + 5px);
				left: 90%;
				display: block;
				font-size: 18px;
				font-weight: 700;
				line-height: 2em;
				letter-spacing: 0px;
				color: map-get($txt_color , black);
				transform: translateX(-100%);
			}
		}
	}
}

.statistics {
	padding: 130px 0px 130px 0px;
	background: url('../images/bg-04.jpg')no-repeat center/cover;

	// .statistics_group
	&_group {
		@include d_f(flex);
		margin-top: 84px;

		@include mw(L) {
			flex-wrap: wrap;
		}
	}

	// .statistics_item
	&_item {
		width: 25%;

		@include mw(L) {
			width: 50%;
		}

		@include mw(S) {
			width: 100%;
		}

		&::before {
			content: "";
			display: block;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&::after {
			content: "";
			display: block;
			height: 7px;
			margin-top: 40px;
			background-color: #fff;
		}

		&:nth-child(1) {
			padding-right: 122px;

			@include mw(L) {
				padding: 0 100px 0 0px;
			}

			@include mw(S) {
				padding: 0px 30px 0 0px;
			}

			&::before {
				width: 75px;
				height: 75px;
				background-image: url('../images/statistics01.png');
			}
		}

		&:nth-child(2) {
			padding: 0 82px 0 40px;

			@include mw(L) {
				padding: 0 100px 0 0px;
			}

			@include mw(S) {
				padding: 50px 30px 0 0px;
			}

			&::before {
				width: 85px;
				height: 75px;
				background-image: url('../images/statistics02.png');
			}
		}

		&:nth-child(3) {
			padding: 0 40px 0 82px;

			@include mw(L) {
				padding: 40px 100px 0 0px;
			}

			@include mw(S) {
				padding: 50px 30px 0 0px;
			}

			&::before {
				width: 75px;
				height: 75px;
				background-image: url('../images/statistics03.png');
			}
		}

		&:nth-child(4) {
			padding-left: 122px;

			@include mw(L) {
				padding: 40px 100px 0 0px;
			}

			@include mw(S) {
				padding: 50px 30px 0 0px;
			}

			&::before {
				width: 85px;
				height: 70px;
				background-image: url('../images/statistics04.png');
			}
		}

		// .statistics_item_num
		&_num {
			position: relative;
			display: inline-block;
			margin-top: 30px;
			color: map-get($txt_color , white);
			font-size: 45px;
			font-weight: 700;
			line-height: 1em;
			letter-spacing: 0;

			&::before {
				content: "+";
				position: absolute;
				top: calc(0% - 15px);
				left: calc(100% + 15px);
				color: map-get($txt_color , primary);
				font-size: 30px;
				font-weight: 600;
				line-height: 1em;
				letter-spacing: 0;
			}
		}

		// .statistics_item_name
		&_name {
			margin-top: 40px;
			color: map-get($txt_color , white);
			font-size: 14px;
			font-weight: 500;
			line-height: 1em;
			letter-spacing: 0;
		}
	}
}

.newsletters {
	background: url('../images/newsletters.png')no-repeat center/cover;
}

.footer {
	padding-top: 80px;
	background-color: #111;

	// .footer_copy
	&_copy {
		padding: 25px 0;
		color: #fff;
		text-align: center;
		background-color: #000;
	}

	// .footer_head
	&_head {
		@include d_f(flex);
		padding-bottom: 60px;
		border-bottom: 2px solid #414141;

		@include mw(L) {
			display: block;
		}

		// .footer_head_group
		&_group {
			@include d_f(flex, flex-end);
			width: 100%;
			margin-left: auto;

			@include mw(L) {
				justify-content: flex-start;
			}

			@include mw(S) {
				flex-direction: column;
			}
		}

		// .footer_head_item
		&_item {
			@include d_f(flex, none, flex-start);
			flex-direction: column;
			width: 25%;
			padding-left: 16px;
			color: #fff;
			font-size: 20px;
			font-weight: 600;
			line-height: 1em;
			letter-spacing: 0;

			@include mw(L) {
				width: 50%;
				padding-top: 30px;
				padding-left: 0;
			}
		}

		// .footer_head_a
		&_a {
			display: inline-block;
			margin-top: 12px;
			padding-bottom: 5px;
			color: #9b9b9b;
			background-color: #FFFFFF00;
			border-bottom: 2px solid #9b9b9b;
			font-size: 15px;
			font-weight: 700;
			line-height: 1em;
			letter-spacing: 0;
			@extend %transition;

			@include hoverHandler {
				color: map-get($txt_color , primary);
				border-color: map-get($txt_color , primary);
			}
		}
	}

	// .footer_content
	&_content {
		@include d_f(flex);
		padding: 60px 0 84px;
		color: #fff;

		@include mw(L) {
			flex-wrap: wrap;
		}

		// .footer_content_group
		&_group {
			@include d_f(flex, none, flex-start);
			flex-direction: column;
			width: calc(100% / 3);

			@include mw(L) {
				width: 50%;
			}

			@include mw(S) {
				width: 100%;
			}

			&:nth-child(2) {
				padding: 0px 70px 0px 16px;
				@include mw(L) {
					padding: 0;
				}
				@include mw(S) {
					padding-top: 40px;
					padding-right: 110px;
				}
			}

			&:nth-child(3) {
				padding-left: 23px;

				@include mw(L) {
					padding-left: 0;
					padding-top: 40px;
				}
			}
		}

		// .footer_content_a
		&_a {
			@include d_f(inline-flex, none, center);
			height: 40px;
			color: #fff;
			font-size: 14px;
			font-weight: 400;
			line-height: 1em;
			letter-spacing: 0px;
			@extend %transition;

			@include hoverHandler {
				color: map-get($txt_color, primary);
			}

			&+& {
				margin-top: 11px;
			}
		}

		// .footer_content_link
		&_link {
			font-size: 18px;
			font-weight: 400;
			line-height: 30px;
			@extend %transition;

			@include hoverHandler {
				color: map-get($txt_color, primary);
			}

			&+& {
				margin-top: 16px;
			}
		}

		// .footer_content_txt
		&_txt {
			font-size: 14px;
			font-weight: 400;
			line-height: 1.8em;

		}
	}

	// .footer_title
	&_title {
		position: relative;
		margin-bottom: 28px;
		font-size: 20px;
		font-weight: 600;
		line-height: 1em;
		letter-spacing: 0;

		&:after {
			content: "";
			display: block;
			width: 45px;
			height: 3px;
			margin-top: 20px;
			background-color: map-get($bg_color , primary);
		}
	}
}