<!DOCTYPE html>
<html id="version" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./css/all.css">
	<link rel="stylesheet" href="../fontawesome-free-5.15.4-web/css/all.css">
</head>

<body>
	<div class="wrap">
		<header></header>
		<div class="banner"></div>
		<footer>
			<a href="http://www.templatemonsterpreview.com/demo/69402.html?_gl=1*t0vh7g*_ga*NTc3MjcwOTk0LjE2MzI5NjYzMDk.*_ga_FTPYEGT5LY*MTYzODc2MDY5Mi4yOS4xLjE2Mzg3NjExOTcuNA..&_ga=2.254955467.2125646.1638760692-577270994.1632966309">原始網站</a>
		</footer>
	</div>
</body>

</html>